[2022-02-04 00:30] vladsud commented on #8963
This query

union Office_Fluid_FluidRuntime_*
| where Data_eventName contains "GenerateSummary"
| where Data_summaryGenTag != 1
| where Data_summarizedDataStoreCount > 2 * Data_opsSinceLastSummary
| summarize count()

Gives me 1688 hits in 30 days.
If you go with 10x multiplier, you get 48K for 1st summary (this bug) and 186 for non-first summary.

Here is my take (without deeply understanding it)

[2022-02-04 01:06] agarwal-navin opened #9009 "Don't resummarize data stores if only their reference state changed."
Currently, we resummarize data stores if it did not receive ops but their reference state changed, i.e., they went from referenced -> unreferenced or vise-versa.
From this https://github.com/microsoft/FluidFramework/issues/8963#issuecomment-1029528450 and the related conversation in that issue, a single op may result in the change in reference state of hundreds of data stores. We should not re-sum

[2022-02-04 01:08] agarwal-navin commented on #8963
Yes, I agree. Although it was an intentional design choice, we should revisit and fix it if possible. I created an issue to track this - https://github.com/microsoft/FluidFramework/issues/9009

[2022-02-04 01:12] #8933 closed

[2022-02-04 01:45] vladsud commented on #8965
Ah, Navin is likely right, we can scratch # 4 then.

Re # 2 - each blob has size. I'd love to see a sum of it. Naturally it will exclude all the metadata size, encoding overhead, or JSON serialization overhead. And "size" may mean different things - it may mean bytes or may mean characters (for strings). But if you trace the code, we can see that getBlobSize() that is used to populate totalBlobSiz

[2022-02-04 02:08] agarwal-navin commented on #8965
Yes, blob size is there. Although, its worth mentioning that it is only available for nodes that are summarized. So its not a good representation of the total blob size of the summary.

I was also looking at the summary telemetry recently and have a couple of thoughts / changes I would like to make. I will probably do that separately but want to call out here;
1. The sequenceNumber in `Summarize_e

[2022-02-04 02:14] agarwal-navin commented on #8965
We log the following telemetry when a summary successfully completes:
[code]
IMO, its not very apparent what the difference between `GenerateSummary`, `SummaryOp` and `Summarize_end` is. Essentially, they indicate different stages of the summary process. We should rename them to indicate that so that it becomes simpler for the person looking at telemetry (our OCEs for example) to reason about the

[2022-02-04 06:37] vladsud commented on #8965
I suggested at the top removing fluid:telemetry:OdspDriver:uploadSummaryWithContext_end.
I'd leave fluid:telemetry:OdspDriver:uploadSummary_end, as that's different layer.
Not sure about GC, but rest likely can be reorganized to be

fluid:telemetry:Summarizer:Running:Summarize_generate
fluid:telemetry:Summarizer:Running:Summarize_Op
fluid:telemetry:Summarizer:Running:Summarize_Ack
fluid:telemetry:

[2022-02-04 07:13] vladsud commented on #8931
I wanted to understand it a bit more, so I poked at some number of sessions and notices some of the load phases that are expensive. I tried to capture it in this query:

| where Data_containerAttachState == "Attached"
| where Data_clientType == "interactive"
| where Data_containerLifecycleState == "loading" and  (
Data_eventName == "fluid:telemetry:OdspDriver:TreesLatest_GetToken_end"
or Data_even

[2022-02-04 11:13] jatgarg opened #9011 "Enable new binary wire format in stress tests."
## Work Item
Enable the new odsp fluid binary wire format to be tested in stress tests.

[2022-02-04 11:16] jatgarg opened #9012 "[ODSP] Implement accept header in api call in fluid binary snapshot format"
## Work Item
 Implement accept header in api call in fluid binary snapshot format. This could also lead to merge of the old and new snapshot apis in trees latest. This is basically client informing server which snapshot format/versions it can accept and server will respond accordingly.

[2022-02-04 16:30] agarwal-navin commented on #8965
That sounds much better. Although we don't have a separate event for Ack. So, it would be:
[code]

[2022-02-04 19:26] ssimic2 opened #9015 "Remove _createDataStoreWithProps"
- [ ] Remove usage around partner repos. Needs solutioning. See https://github.com/microsoft/FluidFramework/issues/3631 for more details.
- [ ] https://github.com/microsoft/FluidFramework/issues/3631
- [ ] https://github.com/microsoft/FluidFramework/issues/8292

[2022-02-04 20:01] agarwal-navin opened #9017 "Add count of data stores whose reference state changed in GC telemetry"
In the GC telemetry, add the count of data stores whose reference state changed since last summary. This will help us in validating that we are only re-summarizing data stores that have changed.
Basically, validating that we don't run into the bug https://github.com/microsoft/FluidFramework/issues/8963 again.
Currently, a data store is re-summarized if:
1. It has received ops, or
2. It's reference

[2022-02-04 20:03] #8286 closed

[2022-02-04 20:49] markfields commented on #8262
Looking at our data again, now that the instrumentation bug is fixed, it's back to what Tony showed above - only errorTypes `DataCorruptionError` and `DataProcessingError`.  With that in mind, I'm going to do a quick PR to update `CreateProcessingError` function to always wrap, getting rid of the special case when `errorType` is already set.

[2022-02-04 21:01] anthony-murphy commented on #8262
that sounds wrong to me. we cover pretty broad pieces of code with createProcessingError which could include driver calls, we shouldn't clobber pre-defined error types

[2022-02-04 21:11] #8963 closed

[2022-02-04 21:47] markfields commented on #8262
Ok... I've had a really hard time accepting that approach, but maybe I'm starting to get it.

Thinking about it with the future world where we don't throw well-understood errors but rather return a failure object, it does feel more intuitive.  At that point, we _could_ switch to wrapping anything that's caught in these places, because they would be true exceptional cases arising as part of process

[2022-02-04 21:55] markfields commented on #8262
Question for you @anthony-murphy -- If there were a spike in DPEs in Office Fluid telemetry, would you expect FFX Triage OCE or FF Hot OCE to take the first look?  Based on the last two comments about how it's instrumented, sound like FFX Triage. There's an immediate determination that the errors are originating in the next layer up (probably the data store or container runtime impl), not the core

[2022-02-04 21:58] markfields commented on #8262
(Side note - asserts in our code do not carry an errorType, because they are exceptional cases, and they would get classified as DPE. This is fine though, that investigation will quickly point back to FF and we can engage at that point)

[2022-02-04 22:41] vladsud opened #9023 "1M limit epic"
A collection of items tracking related issues around 1Mb limit and op optimizations.
For now, it's just a collection to make it easier to find all these issues. We should groom this list and break into some workstream

- #7599
- #7545
- #7137
- #7546
- #7626
- #8179
- #8411
- #7246
- #8888
- #8179
- #7987
- #9028
- #9153
- #9154

[2022-02-04 23:33] markfields commented on #8914
FYI I'm also looking at this one with Si 👌

[2022-02-04 23:42] anthony-murphy commented on #8262
i would expect FFX Triage OCE to take first look for all issues, including these

[2022-02-04 23:56] vladsud commented on #7406
Note - there **MaxBatchWaitTimeExceeded** has been added some time ago to help with some of these investigations

[2022-02-05 00:15] markfields commented on #8262
Of course of course. Wrong question.  Considering parent epic #8260, I'm basically getting back around to what @vladsud already put in that initial comment, point (3):  We would exclude DataProcessingErrors from our "inner-most" triage query (unless it's an assert), because the initial assessment is that these arise from not-our-code.

Although, in more controlled environment like Stress Test, I k

[2022-02-05 00:29] markfields commented on #8954
I'm second-guessing about relegating inner's message to `innerErrorMessage`.  There may be 2 different use cases to consider:

1. Something like #8262 or #8151 where we are wrapping "someone else's" error to get a specific errorType
2. Something like ThrottlingWarning / SummarizerWarning, where we're forking an error (regardless of existing errorType or not) and wrapping it for a secondary purpose

[2022-02-05 00:33] sumedhb1995 opened #9026 "Write-capable client is connected in read-mode and is not available on the quorum's audience"
We are seeing a possible race condition where a client is provided a `clientId` field and reports the `"connected"` event but is not available on the quorum. As such, hosts listening for this event search for the quorum value using the current clientId, i.e. `runtime.getQuorum().getMember(container.clientId)` and get undefined.

Based off of a discussion with @jatgarg , this should only happen if

[2022-02-05 00:37] markfields opened #9027 "CreateProcessingError doesn't play well with normalizeError"
See Point 4 in initial comment of https://github.com/microsoft/FluidFramework/issues/8262.

If a vanilla error is thrown to us under a path instrumented with `CreateProcessingError`, but before it gets there we call `normalizeError` on it (which is considered to be "safe" and without meaningful side effects code-wise), then `CreateProcessingError` will now handle it differently (it will keep error

[2022-02-05 00:44] markfields commented on #9027
#8475 had a different approach, which is to use empty string for `errorType` in `normalizeError`.  I need to consider pros/cons of that v. my proposal above.  Or even `undefined`, except that will break our type guards.

[2022-02-05 00:54] markfields commented on #8623
"This would be helpful in telemetry." -- I need to get a specific use case in here to prioritize.  For now moving to March, if it bumps again it'll be to next

[2022-02-05 04:33] markfields commented on #8954
The only instance of case 2 left in the code after some current PRs is ThrottlingWarning, which is the event arg for DeltaManager's `throttled` event.  This might not warrant a general-purpose function to support it.

We actually have an instance of case 3 in here too - SummarizerWarning.  I left a comment here suggesting we get rid of it, so I'll follow up on that.

Then we'll just be left with c

[2022-02-06 23:32] ssimic2 opened #9032 "Remove drivers and driver defs dependencies on code loader types"
As a part of https://github.com/microsoft/FluidFramework/issues/8193 we want to remove driver defs dependencies on code loader types. Code loader is a container concept and as such, associated types will be moved to container definitions. To be able to do that, we need this item completed. Otherwise, driver definitions would have container definitions dependency (through code loader types) which w

[2022-02-07 01:12] ssimic2 opened #9033 "Move to using ICodeDetailsLoader while ingesting code loader types from container definitions"
At this point we should be able to fully consume code loader types from container definitions.

1. Consume code loader types from @fluidframework/container-definitions
3. Transition FF codebase to use ICodeDetailsLoader instead of ICodeLoader.

[2022-02-07 03:23] ssimic2 opened #9034 "Cleanup code loader types from @fluidframework/core-interfaces"
After ensuring we have transitioned all partner repos to ingest code loader types @fluidframework/container-definitions, let's clean up deprecated types around @fluidframework/core-interfaces.

1. Delete fluidPackage.ts from @fluidframework/core-interface.
2. Remove remaining deprecated code loader types from @fluidframework/core-interface.

Given that reverting code around definitions would be mu

[2022-02-07 03:38] ssimic2 commented on #8491
Closing in favor of #9033 and #9034.

[2022-02-07 03:38] #8491 closed

[2022-02-07 06:00] #6050 closed

[2022-02-07 10:54] milanro commented on #8989
@CraigMacomber Thank you for sharing these brilliant ideas. If I understand well, both partial view of the tree and even history could be retrieved from the b-tree+ storage which is very effective because it allows efficiently reusing unchanged parts of the tree within each new version. In other words, If I have giant tree of millions nodes and I change one node, it might result in maybe adding 4

[2022-02-07 17:51] tylerbutler opened #9036 "PR labeler should exclude members of microsoft organization"

[2022-02-07 18:46] pleath opened #9038 "Rationalize and document telemetry related to Summarizer flow"
## Work Item
Summarizer telemetry is kind of mysterious and gappy. We should make it as clear and discoverable as possible, preferably using types, and document what's there.

[2022-02-07 19:17] anthony-murphy opened #9039 "blobs.spec.ts: Tests should not expect asserts. Likely the code path should throw a UsageError, rather than abuse assert"
Tests should not expect asserts. Likely the code path should throw a UsageError, rather than abuse assert

_Originally posted by @anthony-murphy in https://github.com/microsoft/FluidFramework/pull/9025#r800979603_

[2022-02-07 19:19] anthony-murphy opened #9040 "Broken Test: detachedContainerTests.spec.ts: Fire dataStore attach ops during container attach"
Broken Test: detachedContainerTests.spec.ts: Fire dataStore attach ops during container attach

The test's assert was never handled correctly, so likely has always thrown

_Originally posted by @anthony-murphy in https://github.com/microsoft/FluidFramework/pull/9025#r800981084_

[2022-02-07 21:44] CraigMacomber commented on #8989
Thats the idea, though there are some extra costs. You might need to reapply edits from between summaries, which requires saving those edits in the summaries, and applying them may involve downloading unrelated parts of the tree. There are ways to make this efficient, but its non-trivial (it's very doable, but there are some design trade-offs to work through regarding applying edits to an incomple

[2022-02-07 22:19] agarwal-navin opened #9043 "GC sweep: Handle scenarios where deleted data stores are requested via URL"
The GC sweep process will ensure that objects are deleted after they have been unused for a while (deleteTimeout) and there are no in-memory references to the object.
However, URLs to such objects could be stored in a DDS and the objects can be requested via the URL and used after they have been deleted.
The eventual goal is that we should not allow objects to be retrieved within a container via t

[2022-02-07 22:25] vladsud commented on #7207
Given that issue lists a lot of areas, and it's assigned to current month, can we please break it into smaller issues, and use this issue to clearly articulate priority of each sub-item?

[2022-02-07 23:55] GaryWilber opened #9046 "Ability for the server to disconnect a specific client"
The odsp driver supports multiplexing multiple document connections over a single websocket. So a webpage could connect to multiple ODSP files and end up with just 1 websocket.
The server tracks each client separately. If one client has their permission revoked or downgraded, we need to remove that client from the session / websocket.

Today when this happens, the server will send a `server_discon

[2022-02-08 00:04] chensixx commented on #8965
is blobNodeCount the same with number 7? if so, it's already in the event

[2022-02-08 00:07] agarwal-navin commented on #8965
Yes, I believe is it the same.

[2022-02-08 00:44] agarwal-navin opened #9047 "Stop always summarizing DDS (because of blob aggregation)"
Currently, we always summarize DDSs by calling `summarize` with `fullTree=true`:
https://github.com/microsoft/FluidFramework/blob/3cdb3d842456307a88ec9adc48313a5710966c16/packages/runtime/datastore/src/dataStoreRuntime.ts#L690

This was done because it was needed by blob aggregation. However, blob aggregation isn't enabled so we should stop doing this as this increases the summary size substantial

[2022-02-08 00:51] agarwal-navin commented on #9047
@vladsud FYI.
My understanding is that we need this to saturate before we can enable blob aggregation. We can stage this change as follows:
1. Put the above piece of code behind a feature flag.
2. Put the code to enable blob aggregation behind another feature flag. Once # 1 saturates, we can enable writing blob aggregation via the second feature flag (when we decide to do it of course).

[2022-02-08 01:06] vladsud commented on #9046
Most of the nacks are gone from our workflows (for example, client itself detects it needs "read" -> "write" upgrade and does it itself, instead of relying on a nack).
The only remining are 10K ops, that I think should result in container critical error.
So, I'd prefer not to use nacks for that (and in future treat nacks as critical errors).

How often that condition happens? If it's rare, is it w

[2022-02-08 02:03] vladsud commented on #9047
I'd recommend removing this code for now. Along with disabling blob aggregation altogether (i.e. not make it possible to enable through localStorage). If we bring back blob aggregation, we will figure out how to do it safely.
Assigning to Tyler to take a look next month (we might need to rebalance closer to milestone start)

[2022-02-08 03:02] ChumpChief opened #9049 "Standalone Quorum DDS"
NOTE: We expect a standalone Quorum DDS may be generally useful for a variety of scenarios.  We are currently investigating using it as a mechanism to coordinate safely ending collaboration, as described below.

# Scenario: Safely ending collaboration

Suppose a customer wants to export data from a container with high confidence that no connected client has outstanding unsaved ops.  This is diffic

[2022-02-08 04:48] tylerbutler opened #9050 "Proposal: Remove SharedString from fluid-framework package"
Since we have deprecated the sequence types other than SharedString (see #8526 and #8585), the fluid-framework package contains three DDSes -- SharedMap, SharedDirectory, and SharedString, as well as the two deprecated sequence types.

We shouldn't ship 1.0 with deprecated APIs, so I think there are three options:

1. Change fluid-framework to export only the supported APIs from the sequence packa

[2022-02-08 08:02] vladsud opened #9052 "Design a way to mark blobs / trees in summary not to be included in snapshot"
Design a way to mark blobs / trees in summary not to be included in snapshot.
This capability is useful for these flows:
- Reduce snapshot payload by excluding all GC-based blobs. Such blobs are required only by summarizer and summarizer always works on top of latest summary, so correctness is not affected by storage deleting summary blobs eventually with deletion of old summaries.
- We can levera

[2022-02-08 09:57] milanro commented on #8989
Indeed, I see that the compare of 2 states, if implemented as a part of tree library, will produce stable and immutable deltas which application can easily consume. What do you think about a scenario where huge tree is processed but the changes are rare comparing to size of the tree.

Let's use our hypothetical elastic which is interested in all changes in the tree. The engine would still need to

[2022-02-08 17:32] ChumpChief commented on #8686
New incident is hitting today, on docId WcGeaQ%2BQNVltH41QvEGMWA9dV%2BgXi%2BR6N4c1OB8U1Xg%3D

[2022-02-08 17:47] agarwal-navin opened #9053 "Log an error if an unreferenced data store is loaded after it is inactive"
Currently, a data store is considered inactive if it is unreferenced for a certain period of time (7 days). We log an error when this data store sends an op or is referenced again.
We should also log an event if such data stores are loaded via request / resolveHandle APIs. This should give us data on how often this is happening today.

[2022-02-08 18:00] #6995 closed

[2022-02-08 18:01] ChumpChief commented on #8686
Reopening due to new data.

[2022-02-08 18:17] #9017 closed

[2022-02-08 18:50] vladsud commented on #9026
I'm not sure what this bug wants :)
Yes, "connected" is raised for read and write clients.
I'd say that hosts should not care and should only use Audience. I think that maybe we should not even expose quorum at loader layer (to hosts) - I do not see a good reason why host would need to know about these differences.
This has some caveats, like Audience is very hard to use. But there is some work on

[2022-02-08 19:15] scottn12 opened #9055 "Test Issue"
## Deprecated API

**Context**

**Approach**

**Dependencies**

**Compatibility Concerns**

**Phases**

**Expected Timeline**

**Open Questions**

[2022-02-08 19:25] #8936 closed

[2022-02-08 19:38] #9055 closed

[2022-02-08 20:49] vladsud opened #9057 "Various GC events should log (in addition to data store ID) factory type"
This will make it easier to find similarities in data, and possibly point to offenders.
Events such as inactiveObjectRevived, inactiveObjectChanged

Please note that
- Ideally this is generic code that will be as applicable to child channels (DDSs for now, Data stores in future).
- ID & factory type are properly marked to potentially have PII data (when we do support 3rd party extensibility)
   -

[2022-02-08 21:17] ChumpChief opened #9058 "Remove ability to reject Quorum proposals"
The rejection functionality of Quorum has a limitation that it generally must be used synchronously in processing the `addProposal`, otherwise the MSN likely moves and eliminates the ability to reject.  However, the only current use of Quorum (code proposal) generally wants async processing (e.g. `IFluidCodeDetailsComparer`'s methods are async flows).

To simplify, we should remove the capability.

[2022-02-08 21:24] ChumpChief opened #9059 "Add Quorum tests"
Quorum has basically no testing (see quorum.spec.ts).  We have light coverage in codePropsal.spec.ts, but it's using the prior version of protocol-base (because protocol-base is not part of the client packages) -- so it wouldn't catch regressions until integration of new protocol-base.  Also, codePropsal.spec.ts isn't really intended to be a Quorum test, but rather testing code proposal flows spec

[2022-02-08 21:27] ChumpChief opened #9060 "Extract quorum proposal functionality to an experimental package"
Initial standup and checkin of new Quorum DDS package, supporting #9049

[2022-02-08 21:48] #8937 closed

[2022-02-08 22:11] tyler-cai-microsoft opened #9062 "Move the setLongTimeout API in garbageCollection.ts to a common util"
Based on this comment https://github.com/microsoft/FluidFramework/pull/9054#discussion_r802056644:

We should move the function created here to common utils.

[2022-02-08 22:39] jatgarg opened #9064 "Add ability to stress test for odsp domain move."
## Work Item
 Add ability to stress test for odsp domain move. For this we would need something from odsp to automate this and hence test it.

[2022-02-08 22:44] jatgarg opened #9067 "Handle 308 flow in trees latest for odsp domain move"
## Work Item
FF to change TreesLatest flow to leverage 308 flow and return unique error to host so as to enable them to remember redirect such that next instantiation of container happens faster. Failure at first would result in container not loading (there will be no container returned to host), and host would need to restart.

[2022-02-08 23:10] markfields commented on #8488
Looking back at history and discussing with Vlad, neither of us feel this is particularly high priority.

If we hear from a host (or have a more concrete notion ourselves) that they would really need to know the distinction between a request that timed out v. one that was cancelled by the client, in terms of programmatically reacting to these errors, then we can bump up the priority accordingly.

[2022-02-08 23:12] markfields commented on #8488
Btw, the link to the original discussion does not really work for me, so here's a screenshot:

![image](https://user-images.githubusercontent.com/12305068/153091277-eee11914-559e-41ee-991f-02f11ab20e02.png)

[2022-02-09 00:40] #8570 closed

[2022-02-09 01:19] anthony-murphy commented on #8942
https://github.com/microsoft/FluidFramework/issues/9039
https://github.com/microsoft/FluidFramework/issues/9040

[2022-02-09 01:20] agarwal-navin commented on #9062
We can update the `Timer` utility in `common-utils\src\timer.ts` to incorporate this functionality.

[2022-02-09 06:00] #5762 closed

[2022-02-09 16:19] agarwal-navin opened #9072 "Lint errors in connectionManager.spec.ts"
CI loop is failing with the following lint errors. Looks like these tests were added in https://github.com/microsoft/FluidFramework/pull/8964.

@fluidframework/container-loader: /mnt/vss/_work/1/s/packages/loader/container-loader/src/test/connectionManager.spec.ts
@fluidframework/container-loader:    72:15  error  Multiple spaces found before '('  no-multi-spaces
@fluidframework/container-loader:

[2022-02-09 16:20] agarwal-navin commented on #9072
@markfields FYI

[2022-02-09 17:42] tylerbutler commented on #8767
Related to #6616.

[2022-02-09 17:46] markfields commented on #9072
@tylerbutler - Looks like your lint changes and my PR conflicted.  Your checks must have run before my PR merged. https://dev.azure.com/fluidframework/internal/_build?definitionId=12

I can make a quick fix

[2022-02-09 17:50] tylerbutler commented on #9072
@markfields Sorry about that! Please let me know if I can help with anything.

[2022-02-09 18:46] tylerbutler commented on #9050
I prefer option 2 to option 1 for the following reasons:

- SharedString is a complex DDS with specific use-cases, which contrasts with Map and Directory, which are more general-purpose (albeit less powerful). Moving it out of the fluid-framework package, like we do with TaskManager, Matrix, etc. reduces the size of the fluid-framework package, and makes it clear that the SharedString is _not_ a D

[2022-02-09 19:16] #9072 closed

[2022-02-09 19:46] tylerbutler commented on #6463
@microsoft/fluid-cr-loader Can you folks take a look this issue?

[2022-02-09 20:50] vladsud opened #9075 "Rename and hide internal IDs for data stores (and possibly for DDSs)"
See https://github.com/microsoft/FluidFramework/pull/8168
In order to pull it off, we need to do proper prep, namely
- have a doc describing why, what how
- Have discussions with partners (namely FFX) to make sure they are aware of changes coming in.
- Have some staging potentially, to keep them around on public surface (for a while?) but rename, to have very clear separation between internal ID a

[2022-02-09 21:08] anthony-murphy commented on #6463
with some of the current discussions around externalizing the request flow from the platform to the application layer, and unifying the platform on handles i don't think we should invest much here. i'd rather tell partners to keep using resolve. if anything we may want to preemptively mark request on the loader as deprecated to push people down the resolve path.

[2022-02-09 21:30] DLehenbauer commented on #8989
@milanro - The new changeset format has the additive property you're looking for: given two consecutive changes C[3] and C[4], you can compute a new squashed change C[3..4] that accumulates the effects of both C[3] and C[4].

To support partial checkouts, it's important to us that computing C[3..4] does not require downloading any tree data.  However, computing C[3..4] may require caching some pre

[2022-02-09 22:03] leeviana commented on #6463
Hmm interesting, we've been moving to use Loader.request instead of resolve for getting the component based on the results of this issue: https://github.com/microsoft/FluidFramework/issues/4169

If we want to move back towards Container.request for getting components instead then we'll need a way to get the component id from the driver code, we just removed all of this code and moved to Loader.req

[2022-02-09 22:05] anthony-murphy opened #9078 "Remove Backcompt getProvider function from Dependency Container"
_Originally posted by @heliocliu in https://github.com/microsoft/FluidFramework/pull/9076#r803126917_

[2022-02-09 22:09] milanro commented on #8989
@DLehenbauer thanks for the clarification. I went through the changeset design which already exists under packages/dds/tree and it is really detailed. I understand the squashing, I am not 100% following the need for caching preceding changes when clients are not up to date, would it mean that C[3] might happen when C[2] is not yet loaded on the client and the final squash will need all of them (do

[2022-02-10 00:04] vladsud commented on #9052
I think that would not be sufficient for GC tombstones, or rather any tombstone solution will need more tools.
Let's look at scenario:
1. Some violation happens (or it's part of main flow) and data store is loaded that is marked that way by client A
2. This client mutates it by issuing ops.
3. Summarizer summarizes it.
4. Over time, original summary with original blobs is deleted by ODSP.

A clien

[2022-02-10 00:05] vladsud commented on #9052
We still need this functionality for gc blobs, so I want to keep it in the list of things we are tracking but using it for tombstones is not easy - see above.

[2022-02-10 00:15] vladsud commented on #9052
And for trees, should unreferenced automatically mean - not include into snapshot?
Is all the usage the same, where we can use unreferenced and "not bring in snapshot" as one and the same (at some point in future)?

[2022-02-10 00:18] markfields opened #9082 "Reenable eslint rule @typescript-eslint/unbound-method"
_Originally posted by @markfields in https://github.com/microsoft/FluidFramework/pull/8547#r803187283_

More info on the rule is here:  https://github.com/typescript-eslint/typescript-eslint/blob/main/packages/eslint-plugin/docs/rules/unbound-method.md

Things will break badly if we start breaking it, as far as I can tell.

[2022-02-10 00:27] ungrokkable commented on #8273
Hi @DLehenbauer, I'm officially requesting a PropertyDDS-like interface for TreeDDS.  I realize that #8989 is more for discussing the internal API.  Do we have something equivalent for the higher level API?  We obviously are flexible and won't require a perfect PropertyDDS interface, but we do want to ensure some of the functionality like binders are there.  Thanks, and if I can help with anything

[2022-02-10 00:44] chensixx commented on #8914
just to confirm, to sample one in 100, we are just recording the `latency` of one ping, instead of `this.socketLatency`

[2022-02-10 01:07] vladsud commented on #8914
Yep.
Bonus point - if we can figure out a way for same op to report all the data at once, like latency, full ack time, msn info, etc.
Data comes from different angles, so it's not always possible to do so directly, but here (as an example), we can remember duration of last ping, and use it as a property on an event that reports other op-related statistics. Then we can use it as a proxy for how lon

[2022-02-10 01:21] ssimic2 commented on #8870
@skylerjokiel could you drop off here if you know of any specific scenarios where we run into data corruption scenarios and subsequent actions. Or anything (anyone) pointing in that direction. I just wanted to get more background on practical use cases, what led to them, how we acted on them etc.

[2022-02-10 03:10] tylerbutler commented on #9082
According to the comment in the minimal config: "This rule has false positives in many of our test projects."

[2022-02-10 07:09] tylerbutler commented on #9082
The rule is only completely disabled in [the eslint7 config](https://github.com/microsoft/FluidFramework/blob/main/common/build/eslint-config-fluid/eslint7.js#L178), which is no longer used by any package in the repo since the upgrade to eslint 8.

The default config is now "minimal," which does disable the rule, but [only for test files.](https://github.com/microsoft/FluidFramework/blob/0271ff4cb

[2022-02-10 19:39] DLehenbauer commented on #8989
Hi @dstanesc - Thank you for the context.  We also have a similar system in mind where all writes are funneled through Fluid, but then asynchronously replicated to additional read-only data stores that support specialized queries and views (or just for increased scale.)

It's fuzzily captured as M7/M8.  I'll drop a note in #8273 to remind myself to come back to your comment and borrow from your de

[2022-02-10 19:41] DLehenbauer commented on #8273
For M7/M8, [this comment](https://github.com/microsoft/FluidFramework/issues/8989#issuecomment-1035197914) nicely describes what integration with external systems and indexed queries look like at scale.

[2022-02-10 20:03] markfields commented on #8914
@vladsud - We were trying to learn when the "pong" is emitted, just for context.  I don't see anyone in the FF repo emitting "pong" on the server.  Or us sending a "ping" or anything.  Can you explain what this event and its latency means exactly and how it's used?  Thanks!

[2022-02-10 20:19] markfields commented on #8914
(btw, it was computing average, which is different from P50 aka mean)

[2022-02-10 20:28] DLehenbauer commented on #8989
@milanro - I'm pretty sure the changeset format and our rebase algorithm supports what you want to do (esp. since we want to do the same kinds of things.)

You can take a consecutive sequence of changesets C[i] ... C[j] and squash them into a single self-contained changeset Cij that can be trivially applied to a tree in state S[i-1] to "fast-forward" it to state S[j].

However (as you guessed) the

[2022-02-10 21:42] vladsud commented on #8914
You would need to refer to socket.io documentation :) It's part of that layer.

[2022-02-10 22:24] markfields opened #9093 "Some lint rules are not working"
This is probably a bug in eslint or a plugin, but I've noticed at least two rules that are not being enforced properly in the code.  For these two I can paste in the "Incorrect" code examples from the docs and it builds just fine.  They are both enabled in the eslint config, as far as I can tell.

[typescript-eslint/promise-function-async.md at main · typescript-eslint/typescript-eslint (github.co

[2022-02-10 22:27] markfields commented on #9093
Assigning to March milestone but ideally we can get to the bottom of this sooner than that.

[2022-02-10 22:30] markfields commented on #9082
Hmmm that's interesting.  As-is I can write a violation of the rule but not see an error.  On the other hand, when I added it directly to the package's eslint.js it did get caught.

[2022-02-10 22:47] markfields commented on #9082
I see it's disabled for test files, but... where is it _enabled_ to begin with? Are we missing something in the `extends` list?

[2022-02-10 22:48] markfields commented on #9082
Can we delete it from main?

[2022-02-10 22:49] markfields commented on #9093
Closing this - I was looking at eslint7.js, which is no longer used. These rules are just not enabled.  Following up in https://github.com/microsoft/FluidFramework/issues/9082

[2022-02-10 23:02] ChumpChief opened #9096 "Stub out demo for export/import migration flow"
Demo doesn't need to do anything interesting on first checkin, just need a place for iteration.

Recommend modelling on the multiview demo's structure (examples\data-objects\multiview) -- in this case it would be three distinct packages under the demo's directory:

- examples/hosts/export-import/app (@fluid-example/export-import-app)
    - This should eventually have the app startup logic, code lo

[2022-02-11 00:18] markfields commented on #9082
@ChumpChief - Assigning this to you since you're looking into restoring this and bunch of other rules to the common config.

[2022-02-11 01:02] pleath commented on #8995
In all the cases of LastSummaryProposedHandleMismatch that I've looked at, the handle comparison fails because OdspSummaryUploadManager.lastSummaryProposalHandle is empty, which seems to indicate that this instance of the upload manager hasn't successfully uploaded a summary before. In all these cases, I see no uploadSummary event prior to the LastSummaryProposedHandleMismatch for the given contai

[2022-02-11 01:57] pleath commented on #8995
RefreshGetLatestSnapshot does seem to indicate that there are summary acks that are newer than the snapshot that was used to load the summarizer client. I don't know why that would be, though it doesn't seem to be directly related to the summarizer itself. I've seen similar behavior while investigating SummaryMetadataMismatch errors here: https://github.com/microsoft/FluidFramework/issues/8066. Th

[2022-02-11 02:43] #9057 closed

[2022-02-11 14:45] markfields commented on #8954
New proposal:

### retypeError for cases 2/3

This function will replace `wrapError`, and will copy over not just `message` and `stack` but also all `errorInstanceId` and telemetry props (from `getTelemetryProperties()`.  Basically, it clones the error using `newErrorFn` which yields an error with a different errorType.  No longer supports logging as well - callers should do that only if they care

[2022-02-11 17:25] KRyan commented on #9026
This is manifesting in a high-priority product bug, more information for those with internal access here: https://teams.microsoft.com/l/message/19:53328301da384b33bcc81111124e3ab4@thread.skype/1643315191678?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&groupId=422665a0-7ad3-4d0d-9171-e8881d0397d9&parentMessageId=1643315191678&teamName=FFX%20(Fluid%20Framework%20and%20Experiences)&channelName=Bugs%

[2022-02-11 17:57] vladsud commented on #9026
@KRyan, can you please clarify what is the bug? I mention that description above is by design.
I can see two possible angles here:
1. What the bug is - clientID does not show up in Audience. That's true, and while it's how system works, it's likely possible to improve it
2. Code that uses FF has a bug / wrong expectation, and should not use Quorum

Hard to say which one it is, but having clarify i

[2022-02-11 18:18] KRyan commented on #9026
Makes sense, and I have not been able to investigate deeply myself. @sumedhb1995 can you confirm which case we are seeing regarding the attribution bug?

[2022-02-11 18:59] #9058 closed

[2022-02-11 19:03] jatgarg opened #9106 "Add dispose event recursively to whole tree of sub-directories on deletion."
Add dispose event recursively to whole tree of sub-directories on deletion in shared directory..

_Originally posted by @vladsud in https://github.com/microsoft/FluidFramework/issues/9087#issuecomment-1035844334_

[2022-02-11 22:08] #8914 closed

[2022-02-11 22:09] agarwal-navin opened #9108 "Timestamp to use when GC is run in the absence of ops"
This issue talks about what happens when GC (and summarize) runs in the absence of ops. Currently, GC uses the timestamp of the last processed op as the current reference time. Ideally, there should be an op available when GC runs so we should be fine. However, there are cases (such as testing) where we run GC in the absence of ops.

For example, in the snapshot tests, we load old snapshots which

[2022-02-11 22:13] agarwal-navin commented on #9108
@vladsud FYI

[2022-02-11 22:22] agarwal-navin opened #9109 "Aliases should be considered only when `getRootDataStore` API is used"
The `getDataStore` function in `dataStores.ts` always checks whether the given id is an alias. However, we should only do this if the data stores is requested via the `getRootDataStore` API since that should be only entry point for aliased data stores. All other data stores should be retrieved via their handles.

However, currently root data stores can still be requested via the `request` / `resol

[2022-02-11 23:03] vladsud commented on #8995
@pleath, I'm not sure all the issues here are resolve.
fluid:telemetry:Summarizer:RefreshLatestSummaryGetSnapshot_end  shows up in 7% of summaries, and that's quite an additional load on service (and extra latency and bandwidth for client). I think we need to understand it better why it happens and what we can do about it (or conclude why it's hard to improve and that we are Ok with extra cost).

[2022-02-12 00:20] #9053 closed

[2022-02-12 00:25] #8965 closed

[2022-02-12 01:21] pleath commented on #8995
Right. I still need to find out why Container's are loaded from older snapshots. The reason I let this issue close is that RefreshLatestSummaryGetSnapshot is also at the heart of the SummaryMetadataMismatch bug. I'll note the linkage between the 2 issues in that one.

[2022-02-14 06:01] #6714 closed

[2022-02-14 18:48] tyler-cai-microsoft opened #9124 "Fix and re-enable the gc container runtime expiry tests"
The tests in gcContainerRuntimeExpiry.ts have been intermittently failing. Fix this and then re-enable these tests.

Here's the suspect PR: https://github.com/microsoft/FluidFramework/pull/9054

[2022-02-14 21:27] agarwal-navin opened #9127 "Adding handle to data store in detached container doesn't bind the data store"
This bug prevents the removal of `bindToContext` API that is called on a data store after its creation. We need to remove this asap as that affects GC.

In detached container, when a handle to a data store is attached to a bound DDS (DDS in root data stores), the data store is not bound. So, requesting it via the `request` API hangs forever. See the test added by this PR for an example of this - h

[2022-02-14 22:31] dstanesc opened #9130 "PropertyDDS Rebase Issue"
## Describe the bug
We document below the behavior (`^0.57.0`) that a PropertyDDS client (C1) is loosing pending (uncommitted) changes in case of competing clients (C2) modifying in parallel the same state. Notable is also the inconsistency in behavior - while first C2 commit was not reflected by C1 bound/displayed state, second C2 change & commit modifies the C1 state.

The fundamental question t

[2022-02-15 03:35] #9032 closed

[2022-02-15 06:01] #6419 closed

[2022-02-15 06:01] #4685 closed

[2022-02-15 15:16] dstanesc commented on #9130
## Note
The current findings build upon longer lived edit sessions and manual commits. It is our belief however that same behavior will manifest, this time as more difficult to detect race conditions, even with shorter edit sessions and automated commits.

[2022-02-15 17:37] agarwal-navin commented on #9127
The bug here is that in detached container, root data stores and their DDSs have their `graphAttachState` as `Detached`. Their `bindState` is however `Bound`.
When a non-root data store handle is stored in a root data store, it is not bound because the `graphAttachState` is detached. Essentially, nothing in a detached container has their `graphAttachState` as attached.

The fix for this can be one

[2022-02-15 17:38] DLehenbauer commented on #8273
@taylorsw04 - Notes on pending key decisions.

- Data Model
  - Subset of JS, C++, or something else (e.g., Intentional Unified Data Model)
  - Which parts of schema are enforced on read vs. write
- High-level API: General flavor and how early to start? (See @ungrokkable's [request](https://github.com/microsoft/FluidFramework/issues/8273#issuecomment-1034351901) above)
- Responsibility of low-leve

[2022-02-15 17:50] anthony-murphy commented on #9127
I never understood the difference between bindState, and graphAttachState, I think @jatgarg understands it. It always seemed redundant to me, as we should only really need attach and bind. Anything unbound is detached, anything bound to anything attached is also attached. On attach, all bound things to that attached thing are also attached.

[2022-02-15 17:55] anthony-murphy opened #9133 "Tinylicious hangs/freezes when many containers are created"
hanging forever on tinylicious, i also worry about it DOSing odsp. will file a bug once its in

_Originally posted by @anthony-murphy in https://github.com/microsoft/FluidFramework/pull/8377#r792252591_

[2022-02-15 18:02] anthony-murphy commented on #9127
looking at the code, this seems wrong. graphAttachState should only matter during the attach process. where is this in the code?

[2022-02-15 18:05] agarwal-navin commented on #9127
In the handle's bind method -https://github.com/microsoft/FluidFramework/blob/03a57776939a5cab5305b62c275046b417b1832f/packages/runtime/datastore/src/fluidHandle.ts#L65

[2022-02-15 18:11] anthony-murphy commented on #9127
if not attached or graph attach state is not detached. in a detached container attach is false, and graph attach state should be detached, so this condition should be skipped, and the datastore is just bound.

I think the problem with that code is that when the container is attached or attaching, and the graph attach state is attached or attaching we return, so we never bind it, which seem wrong.

[2022-02-15 18:30] agarwal-navin commented on #9127
This is super confusing because of 3 different state tracking :-). But I think we are on the same page regarding how this should work.

My understanding is that graphAttachState exists only to break cycles when attaching an object. So, it should not be used to make decision of whether to bind an object or not.
The way it should probably work is - if a handle is added to a bound object, it should a

[2022-02-15 19:06] agarwal-navin opened #9134 "GC: Add last summary timestamp and last message timestamp to inactive event"
Currently, in order to determine if an object is inactive (has been unreferenced for more than 7 days), we use the following:
1. The timestamp of the last message processed.
2. If 1) doesn't exists, we use the timestamp when the client connected.
3. If 2) also doesn't exist, we use the current time.

We use the same logic to determine how long an object has been unreferenced when logging inactivit

[2022-02-15 19:12] ZeguangWu commented on #9026
Hi @vladsud, here is what we found:
- current Scriptor code listens to the `connected` event on the componentRuntime object, and upon connected, the current client id is neither found in quorum nor audience.
- Then Scriptor code listens to the `addMember` event on the audience object. The `addMember` event fires with a different client id, and the current client id never appears in the `addMember`

[2022-02-15 19:40] ChumpChief opened #9137 "Split Quorum implementation into clients vs. proposals"
Aligning with the split interfaces, we should be able to split the implementation of the Quorum for the same reason (the two responsibilities are not really related).

First implementation of this should do it under the covers, keeping a wrapping Quorum class that is used by consumers.  Later, we might choose to import/use the split classes directly, and the proposals class can be extracted to an

[2022-02-15 19:54] ChumpChief opened #9138 ""Merge tree insert failed" in telemetry"
We're seeing some instances of "Merge tree insert failed" errors in telemetry at low volume (ICM 288583185).  Opening this bug to track investigation of these issues.

[2022-02-15 20:16] vladsud commented on #8823
I have some second thoughts here. Mostly due to two things:
- main [solution](https://github.com/microsoft/FluidFramework/issues/8823#issuecomment-1026065494)  proposed earlier is complicated and hard to explain.
- It uses a combination of LWW (last writer wins) and FWW (first-writer-wins) for different kinds of interactions, which is not consistent (LWW for keys, and FWW for nodes).
   - Sidenote

[2022-02-15 20:27] vladsud commented on #8823
Put summary of discussions in first description for easier navigation

[2022-02-15 20:57] anthony-murphy commented on #8823
so i've briefly skimmed this. My 2cents are that directory should be a simple dds, and basically a map but with a slightly nicer api that lets you get partitions (directories). Thes partitions(directories) can be passed around, and to consumers it just looks like they have a map. To me this is option 1, directories implicitly exist if they have keys, and do not if they do not have keys. The api ca

[2022-02-15 21:27] taylorsw04 commented on #8273
My WIP aggregation of the open decisions we have. I plan to build a topology at some point to help focus our efforts, and this is absolutely not complete. I'll keep folding in new information here.

Urgent (either impending or have implications for impending work):
- Tree abstraction
  - Is the consumer-facing API different from the underlying representation?
    - Regardless, what is desired for

[2022-02-15 21:55] markfields commented on #8410
I'm taking care of updating the above `prepareErrorObject` function in Office Web Host to leverage `getTelemetryProperties`, see https://dev.azure.com/office/OC/_workitems/edit/5758898

[2022-02-16 00:29] vladsud commented on #8823
Thanks Tony! I've updated description in original post with a bit more cases based on our offline discussion.
_obliterate_ and _replace_ are very similar in nature as they essentially provide FWW resolution. The shape might be different - it can CAS (compare-and-swap), limited CAS (replace if undefined), or something similar. The only difference I see is how such primitive interacts with LWW opera

[2022-02-16 00:30] tronguye opened #9142 "Move odsp-driver public contracts to odsp-driver-definitions"
# Action items
1. Rename odsp-driver-definitions to clearly indicate it tracks only interfaces that have to stay compatible across versions, i.e. it tracks what is consumed and produced by driver factory
2. Create another package for all other contracts that driver has and move definitions there.
3. (Optional) Break driver into two packages, according to above split.

# Earlier discussion

## Work

[2022-02-16 01:13] anthony-murphy commented on #8823
The first above scenario seems to assume that directories are real things that can be created and removed, but i'm not sure we need that. If we say they are just virtual then a and b both get a local instance of virtual directory foo (no ops). it is empty. a sets some keys, maybe sets and delete keys, b sees whatever keys still exist. If it was useful there could be events that say directory foo h

[2022-02-16 01:49] anthony-murphy commented on #8823
so looking at the directory code. it looks like it has existing ops for directory operations. it also looks like the real issue is the second scenario. I think this can be pretty easily fixed my appropriately managing sequence numbers. Basically, on create the dir gets a seq, and only sets after that seq apply, those below that are just dropped on the floor. you can also allow coalescing creates.

[2022-02-16 02:18] vladsud commented on #8823
Just fix it :) And yes, I'm gravitating toward # 1 (virtual directories).
I believe your last post is describing solution # 2 or # 3. I.e., depending on how overlapping creates, create + delete compose (LWW or FWW), it's hard to say what exactly you mean. sets are easier, as it's somewhat expected that if two clients concurrently created and populated sub-direction in one batch, then only one set

[2022-02-16 02:27] anthony-murphy commented on #8823
if i were just going to fix it i'd do something like this (super hacky and untested proof of concept):
https://github.com/microsoft/FluidFramework/compare/main...anthony-murphy:dir-fix

basically, dirs need a create seq and only actions above the create seq or by the create client are allowed to go through. it's very similar how we coalesce deletes in merge tree, only this coalesces inserts. there

[2022-02-16 03:40] vladsud commented on #9142
At the moment, odsp-driver-definitions tracks all the types that must have higher compat requirements due to being used by driver factory. I explicitly did not put any more stuff there.
I'd say that we likely want to rename it and keep this higher bar, and have separate package for other definitions, as well as split driver (actual code) into two packages - factory and all the rest (uri resolvers,

[2022-02-16 08:03] vladsud commented on #9026
@ZeguangWu, thanks for details. Which layer do you refer to? Is this IContainer/Container, IContainerRuntime(Base) or some other layer that raises connected events?

Based on your final state, client 69f42594-a3ce-4e27-9bca-dda10a46b6ba is the current clientID and it's present in both Quorum and Audience. So final state seems to be correct.

So, the only thing that looks wrong in your description

[2022-02-16 08:04] vladsud commented on #9026
Assigning to Mark to follow up, as well as explore how we can make this system simpler.

[2022-02-16 12:17] milanro commented on #9130
### Further debug insight.
As mentioned above, in the method :
[code]
there is the cleanup of pending changes by calling :
`this._root.cleanDirty(BaseProperty.MODIFIED_STATE_FLAGS.PENDING_CHANGE);`

However, after this call there is reapply of the previous pending changes by
`this._root.applyChangeSet(pendingChanges);`

The execution leads to
`experimental/PropertyDDS/packages/property-properties/

[2022-02-16 17:11] andre4i opened #9148 "`ensureSynchronized` from the test utilities is vulnerable to race conditions"
`LoaderContainerTracker.ensureSynchronized` (accessed via `(I)TestObjectProvider`) is sporadically hanging during real service tests ([for example](https://github.com/microsoft/FluidFramework/pull/9143)), ending up with test timeouts which provide no information as to why exactly the test could not catch up with the tracked containers.

If there is a race condition within the function itself, it n

[2022-02-16 17:23] vladsud commented on #7889
There are two reasons / angles where audience is not reliable:
1. Lack of global order of signals and no guaranteed delivery of signals
2. Potential reliability of redis

We are going to address #1 - this is tracked (for now) in internal [document](https://www.office.com/launch/fluid/content?auth=2&action=edit&drive=b!-LGon2SERESaUEtDjVeQCQGlntvDqQxInIB2-Tt0tikQ-h6_dlUfQZzxXnTazrK9&item=012NT7JKZK

[2022-02-16 17:23] #7889 closed

[2022-02-16 18:24] jatgarg commented on #8823
@anthony-murphy "basically, dirs need a create seq and only actions above the create seq or by the create client are allowed to go through. it's very similar how we coalesce deletes in merge tree, only this coalesces inserts."
Does this mean that creating a sub directory which already exists would be a noop and then any modifications by any client on that subdirectory would merge the changes(i.e.

[2022-02-16 19:31] tronguye commented on #9142
Hey @vladsud I think that proposed change makes a lot of sense! Should this issue be edited to capture that split/rename? For my own curiosity, what do you mean exactly by "higher compat requirements?"

[2022-02-16 21:51] DLehenbauer opened #9151 "SharedTree: Design Rationale"
# WIP: (Ignore for now)

## Terminology
We prefer to use terminology that is consistent with JavaScirpt/TypeScript and Git when possible.

## Requirements
Because the broadcast path is COGS and latency sensitive, we have avoided solutions that require I/O (which has both a latency and $ cost) and instead focused on designing a changeset format that includes enough information to allow us to unders

[2022-02-16 22:55] vladsud opened #9153 "Add telemetry to report batch size (op count)"
Given that we do not want to report every batch (it would be too chatty / expensive), I'd propose that we do these two things:
1. Report an error every time we have over 1K ops in a batch. It's an error, because this is very close to 1Mb limit for batches or is over the limit. We can start with a bit lower number initially (128 ops?) and adjust upwards if it's too noisy (or other way around).
2. D

[2022-02-16 23:06] vladsud opened #9154 "Re-evaluate op chunking algorithm"
Today, we break ops with content larger than 16K into smaller chunks (ops).
This feature was added before batches existed, and we were hitting 1Mb limits as described in other bugs (see #9023).

With addition of batches, and further switching to batching being by default at JS turn, we can expect most ops to be in a batch. I.e. large op be part of batch that has at least one other op (in a batch)

[2022-02-16 23:45] vladsud commented on #9142
We promise that one version driver factory can be used with a different version of loader or container runtime.
This applies only to driver factory (and any objects that it produces), but it's not true for other parts of driver package, like URI resolver.
I.e. URI resolver is bundled into host app and ships with it (along with loader), but host app may dynamically (or statically) run against anoth

[2022-02-16 23:49] vladsud commented on #9142
I've updated description a bit.

[2022-02-17 03:57] vladsud commented on #8995
So, I think that means this issue should be active, right? Such that we have something to track it?
I do not want to tie it to other bugs that track other kind of telemetry errors, even if it turns out to be same issue.
I'd rather track the core issue here, and if we have enough info, dedup bugs later.

[2022-02-17 04:22] heliocliu opened #9163 "Fix and re-enable disabled stashedOps tests"
A lot of `stashedOps` tests from the end-to-end tests are failing when run under t9s or r11s-frs because they are timing out consistently. A few of them have been disabled to help clean up CI runs and should be fixed and re-enabled (deemed to not be release-blocking).
A few of them are also failing for odsp occasionally mostly due to [this change](https://github.com/microsoft/FluidFramework/pull/8

[2022-02-17 04:26] vladsud commented on #8483
So, glancing through the code, and telemetry, I think there is some mismatch that I want us to get to the bottom of.
First, here is how to observe it:

| where Data_eventName contains "_Disconnect"
| where Data_loaderVersion  contains "0.54"
| where Data_reason contains "Nack"
| summarize count() by Data_reason

First of all, looking through the code, and specifically - tracking `downgradedConnect

[2022-02-17 04:33] vladsud commented on #8483
Here is a way to find sessions that hit nack, but did not hit ReadConnectionTransition :

Office_Fluid_FluidRuntime_Performance
| where Event_Time > ago(1d)
| where Data_eventName contains "ReadConnectionTransition" or (Data_eventName contains "_Disconnect" and Data_reason contains "nonexistent")
| where Data_loaderVersion  contains "0.53" or Data_loaderVersion  contains "0.54" or Data_loaderVersi

[2022-02-17 04:38] vladsud commented on #7137
Here is what I'd suggest doing:
- I no longer think that getting rid of all nacks is possible, at least due to a race condition that I've described in #8483. I think we should still reduce them to a minimum and understand the system, but we should decouple that issue from this issue.
- For this issue, we should look in debugger for the right way to identify it (ideally not based on text of error m

[2022-02-17 13:43] AlexBerner commented on #9130
Thanks for the detailed description, we're having a look!

[2022-02-17 13:51] ruiterr commented on #9130
This sounds like a bug.

The expected behaviour you describe is correct. The C2 state should be updated.

Thanks for posting this and preparing the detailed repo case. We will investigate the bug.

[2022-02-17 15:30] scottn12 opened #9166 "Move `ReconnectMode` to container-definitions"
As part of the plan to use `ReconnectMode` enum as an argument in the reworked `setAutoReconnect()` (see https://github.com/microsoft/FluidFramework/issues/9167), `ReconnectMode` will be moved to container-definitions. The new `ReconnectMode` is planned to be defined as:
[code]
The `Custom` enum member will be introduced to enable the developer to use their own callback function to determine when

[2022-02-17 15:31] scottn12 opened #9167 "Deprecate `Container.setAutoReconnect()`, `Container.resume()`, `IContainer.connected`, and `IFluidContainer.connected`."
As described in https://github.com/microsoft/FluidFramework/issues/8745, the following APIs will be deprecated.

### `Contianer.setAutoReconnect()`
This function is being deprecated to keep the reconnection logic internal. To replace its functionality, `Container.connect()` and `Container.disconnect()` were introduced.

### `Container.resume()`
This function is essentially being renamed to `Contai

[2022-02-17 15:31] scottn12 opened #9169 "Expose `setAutoReconnect()`, `connect()`, and `disconnect()` on `IContainer`"
Once #9168 and #9169 are complete, we will add the functions to `IContainer` in container-definitions to allow them to be used by other packages.

[2022-02-17 15:32] scottn12 opened #9170 "Update documentation for connection APIs"
We will create well documentation to demonstrate how a developer can use the new `Container.connect()` and `Container.disconnect()` functions in their applications. Additionally, old documentation for previous code patterns will be updated.

Context: https://github.com/microsoft/FluidFramework/pull/9439

[2022-02-17 16:10] scottn12 opened #9171 "Create functions on `AzureClient` to call `setAutoReconnect()`, `connect()`, and `disconnect()`"
Once https://github.com/microsoft/FluidFramework/issues/9169 is complete, we will create the corresponding functions on `AzureClient` to access the newly created connection management functions.

[2022-02-17 17:19] milanro commented on #9130
Hello @ruiterr

We have an experimental fix, the changes can be found in
https://github.com/dstanesc/FluidFramework/commit/d5a8ffeff3d1c8bb4ff6947db4cb37db69f080ef

The original reproducer with this fix can be found here
https://github.com/dstanesc/FluidFramework/tree/fix-test-pdds-uncommitted-behavior/experimental/PropertyDDS/examples/prop0

Meanwhile we discovered another race condition issue be

[2022-02-17 19:09] #8972 closed

[2022-02-17 20:21] vladsud opened #9177 "Ops cache is slower than storage (at the tail of distribution)!"
There is something really fishy RE how ops cache works.
This is demonstrated by this query:

Office_Fluid_FluidRuntime_Performance
| where Data_eventName == "fluid:telemetry:OdspDriver:CacheOpsUsed"
| where Data_length < 10
| summarize percentile(Data_duration, 95)

It gives me these percentiles:
90 - 1.1s
95 - 1.9s
99 - 5.4s

That's how long it takes to get result back from single request (it can

[2022-02-17 20:24] vladsud commented on #9177
@Zlatkovsky - FYI, I think we need a bug on your side to look deeper into it. Numbers are pretty bad, and they impact boot & getting connected.

@christiango, @markfields - FYI.

[2022-02-17 20:25] vladsud commented on #8931
#9177 tracks perf of fluid:telemetry:OdspDriver:CacheOpsUsed

[2022-02-17 20:28] vladsud commented on #9177
For whatever reason, getting snapshot is faster at 99th percentile:

Office_Fluid_FluidRuntime_Performance
| where Data_eventName contains "fluid:telemetry:OdspDriver:ObtainSnapshot_end"
| summarize percentile(Data_duration, 99) by Data_method

method = cache gives me 585ms.

Given that we chunk ops and each op should never be over 32K, 10 ops payload should not be larger than snapshot (on average

[2022-02-17 20:50] chensixx opened #9178 "Remove containerContext.id deprecation"
Need to remove id again after FFX side removes their usages of continerContext.id

_Originally posted by @heliocliu in https://github.com/microsoft/FluidFramework/pull/9156#discussion_r808552719_

[2022-02-17 22:39] vladsud opened #9181 "ODSP driver: TreesLatest telemetry cleanup"
Couple observations:
1. We should remove `overalltime` property. We have `duration` that tracks same thing.
2. fetchstarttorespendtime, and others - should it be "respond", not "respend"? Also should it be fetchStartToRespondTime (camal case to make it more readable)?
3. At 95% percentile, I see responsenetworkTime > duration. This seems really odd. I'd expect for any session that to be not the ca

[2022-02-17 22:39] vladsud commented on #9181
@jatgarg - FYI, in case I got something wrong.

[2022-02-17 22:41] vladsud commented on #8931
Some of the answers to questions raised above:
1. Many TreesLatest happen after boot is over. If we remove Data_containerLifecycleState filter, then we will see that counts are reasonable RE breakdown of TreesLatest & ObtainSnapshot events. And naturally, faster TreesLatest  results are captured by this query (compared to overall perf of TreesLatest calls)
2. Same thing for token counts - most of

[2022-02-17 22:42] vladsud commented on #8931
I do not think there is any more follow to do here, so closing

[2022-02-17 22:42] #8931 closed

[2022-02-17 22:52] vladsud opened #9183 ""Post API should not be called when in read-only mode" error in telemetry"
Office_Fluid_FluidRuntime_Error
| where Event_Time > ago(7d)
| where Data_eventName == "fluid:telemetry:Container:ContainerWarning"
| where Data_error == "Post API should not be called when in read-only mode"
| summarize count() by Data_loaderVersion, Data_error

I do not know where this error comes from (I assume from ODSP?) and I'm not sure what it means.
It's not new (I see errors in 0.47, 0.52

[2022-02-17 22:54] vladsud opened #9184 "fluid:telemetry:DeltaManager:OpenBatchOnDisconnect"
Office_Fluid_FluidRuntime_Error
| where Event_Time > ago(7d)
| where Data_eventName == "fluid:telemetry:DeltaManager:OpenBatchOnDisconnect"
| summarize count() by Data_loaderVersion, Data_error

I think I was the one who added this error logging.
We should define if this is normal supported flow or not. And react according to it (i.e., either remove this error or figure out why we are getting to t

[2022-02-17 23:02] vladsud opened #9185 "fluid:telemetry:DeltaManager:DeltaConnectionFailureToConnect"
This is not really an error, so I'd love to see it gone from error table.
When I added logNetworkFailure() long time ago, I assume that we can reliably detect offline vs. online.
But there is no way to do it in debugger, so I think we should stop trying and just put these logs to generic table.
I.e. remove dependency on newEvent.online.
I'm not sure about canRetryOnError(error) check. Looking at a

[2022-02-17 23:14] vladsud commented on #7406
Looking at last 7 days only, and loader version 0.5x, I see this:

2.5K hits of this error / 3M container sessions.
interactive container: 1.9K / 2.6M

So basically, one less than one out of 1K sessions will hit this error once (op roundtrip takes over 5 seconds).
That is actually pretty damn good!

So, all of the work that was put in here paid off.  While I'm sure there are more improvements we c

[2022-02-17 23:14] #7406 closed

[2022-02-18 01:17] ChumpChief opened #9188 "Running stress tests on tinylicious results in many NoJoinOp errors"
These risk hiding other errors that would occur after connection.

start tinylicious, then do:
\packages\test\test-service-load>npm run start -- -d tinylicious

[2022-02-18 01:19] anthony-murphy commented on #9188
we may want to get this running in our CI loop to keep tabs on tinylicious

[2022-02-18 01:29] heliocliu opened #9190 "Assert 0x2b9 when running stress tests"
The real service stress tests pipeline is occasionally hitting assert 0x2b9; this can be observed sometimes when running them locally using tinylicious as well.  See pipeline run ids 51442, 51455, 51470.  This assert needs to be investigated to ensure that it's not indicative of some other underlying issue.

[code]

[2022-02-18 01:30] vladsud commented on #8962
@chensixx , any chance you can take a look next week? Sorry to dump on you the last week of February, but that issue is rather important, and pretty well understood. It was raised by Teams team through ICM, and somehow priority of this item (or rather the fact that it's well understood) escaped me.

Please take a look. If you have any questions, I, Andrei or Jatin can help with it.

The core of th

[2022-02-18 06:00] #7039 closed

[2022-02-18 18:05] vladsud commented on #8513
getFileLinkCore -> getFileLink -> getShareLinkPromise
   OdspDriverUrlResolverForShareLink.resolve()
   OdspDriverUrlResolverForShareLink.getAbsoluteUrl()

So OdspDriverUrlResolverForShareLink pre-flights the call and caches promise for future getAbsoluteUrl() resolve faster (using this cache).

Today we cache only string (file link), which is
[code]

There is no type information available.

I see

[2022-02-18 18:21] #9124 closed

[2022-02-18 20:27] nedalhy commented on #9130
Hi @dstanesc  @milanro

Thank you again for reporting the issue and for investigating it.
We have a fix for it in this [PR](https://github.com/microsoft/FluidFramework/pull/9196), it may as well fix the issue you are having with MapProperty.

[2022-02-18 20:41] agarwal-navin opened #9197 "GC: Update existing documents before turning on sweep"
There are currently a few bugs in FFX where components are incorrectly marked as unreferenced. Even after fixing these bugs, there may be documents that are not opened so they don't run with the fix. We need to make sure that these documents run the fixes before we start deleting content.

Note that once we release with the sweep code enabled, documents will have to re-run GC and summarize at leas

[2022-02-18 20:57] vladsud commented on #8745
RE Notes section:
- Building on top of setAutoReconnect() - that's rather orthogonal to how IContainer looks like. And yes, we should favor composition (and separate layers) over putting everything on container. But the way I read that first note - we already have what we need - it's setAutoReconnect(). If higher-level scenarios need to be built, they need to be built as separate layers.
- I've le

[2022-02-18 21:02] vladsud commented on #9167
I think what you are trying to say is that developer wants pull model (FF asks it) vs. push model (developer changing auto-reconnect property as new data on his/her side arrives).
Before making API more complex, I'd love to understand why we believe we need to introduce more complexity and allow polling.

I have bigger issues with continuing to introduce these things on Container - I believe thing

[2022-02-18 22:41] milanro commented on #9130
@nedalhy Thank you for the fix. I tested it and it works in my test cases.

The other problem still persist but I will create another ticket for it. It will need more complex test case so it will take some time.

Just preliminary info is that when we add into map (which in my case is under path W_0.0249997558655648".words) the same key ("1") on both clients and then commit on both clients, and the

[2022-02-19 00:26] jsnoyes opened #9203 "Replace Moniker Dependency"
## Describe the bug
A very old, unlicensed package named Moniker is used in several places inside of Fluid Framework. Since the package is unlicensed, it is legally not considered open source. Businesses that release products using the unlicensed library could be at risk legally.

The package appears to only be used in a few non-production locations inside of Fluid Framework, but it seems like a l

[2022-02-21 05:00] ssimic2 commented on #8870
Various assumptions & considerations:

## Corrupted document – what is it?

If the latest snapshot or pending (not yet summarized) op is producing a state where document accuracy is compromised – we consider document to be “corrupted”. At that point, the client who determined corruption will close the container. This does not guarantee all connected clients will stop producing ops and summaries, t

[2022-02-21 05:16] ssimic2 commented on #8870
Paths we are considering:

### Design path A: new container/doc hydrated from (earlier) snapshot of corrupted doc.

This route is very similar to hydrating from serialized summary of unattached container. The difference here is that we are using sanitized summary of another live container to hydrate newly created one.

New API would encapsulate the following:
1. Fetch snapshot (belonging to corrup

[2022-02-21 05:31] ssimic2 commented on #8870
Azure Fluid Relay API Gaps observed:

At minimum, we would rely on three API calls:
1.	Get snapshot history/versioning for a given container.
2.	Get snapshot/summary at a specific version.
3.	Upload summary.

Current gaps:

- Get snapshot/summary versioning history: timestamps and treeIDs seems to be off or missing.
- Get snapshot/summary at specific version: we always get only the “latest” summar

[2022-02-21 06:00] #5150 closed

[2022-02-21 15:52] dstanesc commented on #9130
@nedalhy Confirm that https://github.com/nedalhy/FluidFramework/commit/15f6542bdd6651a3c3f831e1187979fa478c94a9 fixes the bug reproducer. Thank you!

[2022-02-21 19:59] alexvy86 opened #9208 "Usage of readline-async in NodeJS recipe causes Ctrl-C not to work"
### Issue Category

- Improvement to documentation sample code

### Details
When trying out the sample code for the NodeJS recipe ([here](https://fluidframework.com/docs/recipes/node/)) I noticed that once the console application is running and printing numbers, `Ctrl-C` does not stop it (it still does if hitting it before providing a containerId).

I played around with the code and tracked the is

[2022-02-22 16:24] #4608 closed

[2022-02-22 16:34] ChumpChief commented on #9203
We already use `sillyname` elsewhere in the repo, which is probably a fine replacement:
server\routerlicious\packages\services-client\src\generateNames.ts
server\routerlicious\packages\services-utils\src\generateNames.ts

[2022-02-22 16:46] ChumpChief opened #9213 "Cleanup @types after upgrading to socket.io v4"
Newer versions of socket.io bring their own TS types with them, so we should remove `@types/socket.io-client` dependencies: https://www.npmjs.com/package/@types/socket.io-client

[2022-02-22 17:34] markfields commented on #7884
I'm gearing up to work on the parent epic #7995 in March, moving this hear for now to get incorporated into that planning.

[2022-02-22 17:41] #9190 closed

[2022-02-22 18:01] agarwal-navin commented on #9163
@wes-carlson Assigned this to you since you are working on them.

[2022-02-22 19:05] ssimic2 commented on #9167
This is a good point to consider.

If we do this at a loader level, is it still a natural place to inject `callback`? (Consider more complex FFX use cases around host apps). Also, maybe elaborate on "information which the developer has access to", so it's clear what those can be.

If the container is disconnected (say for an inactive tab), and you come back to it, what/who initiates reconnections?

[2022-02-22 19:46] vladsud commented on #9167
I do not understand why callbacks are needed, so I can't answer that question. Access to information does not matter here though, as you can achieve same thing - the question is really why pull model is preferred over push, IMHO, and is this difference warrants more complicated API? Is there an example of scenario demonstrating it? I have not seen one.

Today, in FFX case, I believe OWH code initi

[2022-02-22 19:53] dstanesc opened #9215 "Fluid Container Lifecycle and States"
### Issue Category
- Insufficiently documented topic

### Details
This issue is describing an insufficiently documented topic  related to `IFluidContainer` [lifecycle and the relevance of the associated states](https://fluidframework.com/docs/build/containers/#container-lifecycle-and-manipulation).

The originating observation is the evidence that under high load there is a substantial eventual co

[2022-02-22 20:14] ssimic2 commented on #9167
Comments were for @scottn12 to clarify "information which the developer has access to", to understand need for callback. Scott - is this is all around "user inputs"?

[2022-02-22 20:23] scottn12 commented on #9167
Yes, user inputs such as mouse movements or clicks which are not accessible by Fluid. There may also be other relevant information, such as browser tab focus, for example. That said, based on feedback I received we probably won't be refactoring `setAutoReconnect()` after all, and I'll be updating the main issue shortly.

[2022-02-22 20:48] #9153 closed

[2022-02-22 22:03] markfields opened #9216 "Replace IFluidErrorBase interface usages with LoggingError"
`IFluidErrorBase` interface was added to represent an error raised by our code, having a `fluidErrorCode`, supporting telemetry props, etc.

In practice, wherever this type is used, in fact the value is an instance of the `LoggingError` class.  There's no benefit I can see to speaking of this interface rather than using the class type.

During the development milestone where it was introduced, the

[2022-02-22 22:03] markfields commented on #9216
Also maybe rename `LoggingError` to `FluidError`?

[2022-02-22 22:04] ssimic2 commented on #8870
@vladsud @agarwal-navin @anthony-murphy I'd love to get some feedback from runtime team on this.

[2022-02-22 22:39] #9067 closed

[2022-02-22 22:42] anthony-murphy commented on #8870
For ODSP the framework doesn't do anything for recovery. ODSP has their versions, which can be rolled back to which the framework is agnostic to. These version roll backs, are also user initiated.  What the framework does support is a storage only mode, which is a read-only mode where the driver tells us not to even connect to the websocket. Odsp uses this to allow users to preview old versions fr

[2022-02-22 23:04] andre4i opened #9219 "ContainerRuntime.ts file is fairly large"
https://github.com/microsoft/FluidFramework/blob/main/packages/runtime/container-runtime/src/containerRuntime.ts currently has > 2500 lines, is getting hard to follow and also triggers some linter warnings.

We need to buy us some more time by extracting some of the stuff out of it, like the schedule managers and some of the definitions.

[2022-02-22 23:19] vladsud commented on #8870
Some corrections and note:
1. Some of the write up assumes access to a file (like reference that OCE knows op that caused trouble). That's not the case. Yes, in most cases we will not sequenceNumber, but not content of op. And we might not have access to a file (any non-MSFT files are out of reach)
2. OCE has no access to file or user identity (production ring). So, no OCE is involved here. User i

[2022-02-22 23:43] leeviana commented on #7256
Comment to remove stale tag.

[2022-02-23 00:37] agarwal-navin commented on #8066
I noticed the following in the documents that have this error:
1. They summarized with version 0.53 / 0.54 till sequence# X.
2. Then they summarized with version 0.47.1 from sequence# > X to sequence# Y.
3. After this, clients running later versions can't load with `summaryMetadataMismatch` error. The runtime sequence# is X and protocol sequence# is Y.

This is strange. It looks like the client is

[2022-02-23 01:06] agarwal-navin commented on #8066
Also, the loaderVersion for # 2 in the above comment in 0.36.0. This could be due to some incompatibility between the driver / loader versions as well.

[2022-02-23 01:37] agarwal-navin commented on #9127
Based on offline discussions, the path forward for this is:
1. Remove `graphAttachState` and use `bindState` to determine whether a handle that is added to a data store should be bound or not.
2. Basically, do what #7917 did but remove `graphAttachState` instead of `bindState`. Additionally, when a data store is attached , explicitly call `markAttached()` on the `LocalChannelContext` for channels

[2022-02-23 01:41] agarwal-navin commented on #8686
I noticed the following in the documents that have this error:

They summarized with version 0.53 / 0.54 till sequence# X.
Then they summarized with version 0.47.1 from sequence# > X to sequence# Y.
After this, clients running later versions can't load with summaryMetadataMismatch error. The runtime sequence# is X and protocol sequence# is Y.
This is strange. It looks like the client is getting th

[2022-02-23 01:41] agarwal-navin commented on #8686
Also, the loaderVersion for # 2 in the above comment is 0.36.0. This bug be due to some incompatibility between the driver / loader versions as well.

[2022-02-23 01:43] agarwal-navin commented on #8995
For the `fluid:telemetry:Summarizer:RefreshLatestSummaryGetSnapshot_end {"fetchLatest":false}` log, we should also add the refSeq# and handles of the downloaded snapshot. That might give some insights into which of a previous summary ack we just got and can help us connect some dots.

[2022-02-23 02:05] agarwal-navin commented on #8995
Added the above properties - https://github.com/microsoft/FluidFramework/pull/9225

[2022-02-23 04:22] markfields commented on #8954
New new proposal - keeping it simple with only minor tweaks to `wrapError`:

* Reuse `errorInstanceId` as discussed above (but also leave current props for ease of transition in queries)
* Properly set `untrustedOrigin` telemetry prop, to reflect whether the original error was external, even after being normalized and/or wrapped, possibly multiple times.

As for how `wrapError` is to be used in th

[2022-02-23 06:15] vladsud commented on #9177
Just realized that we do not report numbers for all invocations, so data is actually skewed toward tail of the curve:

[code]

We also have extra cache requests due to overlapping requests (that does not affect boot of perf, but adds more pressure to indexDb). instead of today's modes of "cache only" and "cache + storage" we should switch to "cache only" & "storage only" and push responsibility in

[2022-02-23 07:36] #3929 closed

[2022-02-23 08:19] scarlettjlee opened #9227 "Attach should use summaries"
IAttachMessage and CreateChildSummarizerNodeParam have ITree properties which should be changed to ISummaryTree instead (also it's confusing that something named "snapshot" is not ISnapshotTree). There are already some usages where conversions to and from summaries are used to create and consume attach messages so that can be avoided. This will have to be done in at least two stages (read first, t

[2022-02-23 16:05] #9137 closed

[2022-02-23 18:04] tylerbutler commented on #7256
@microsoft/fluid-cr-loader Any thoughts on this request?

[2022-02-23 18:11] #8262 closed

[2022-02-23 18:11] #9027 closed

[2022-02-23 19:10] tylerbutler opened #9229 "Staging site deployment should be disabled"
We currently build and deploy staging sites for fluidframework.com when people make documentation changes. These don't work for people outside the team, and since we're already running a build for link checking, we should be able to do the following:

- [ ] Disable the PR trigger for the agreeable-hill GitHub action.
- [ ] If needed set up a new action with a repository dispatch trigger that can b

[2022-02-23 21:38] #9108 closed

[2022-02-23 21:41] #9134 closed

[2022-02-23 21:42] scottn12 commented on #8745
Based on the feedback over the past few days, the solution has been adjusted to take a new approach. In addition, this issue's description has been updated to provide additional context and a high-level overview of the problem/solution. Before moving forward and finalizing the tasks, please leave any feedback/questions you may have here. @vladsud @anthony-murphy @skylerjokiel @heliocliu @ChumpChie

[2022-02-23 22:44] #9208 closed

[2022-02-23 23:20] #9062 closed

[2022-02-23 23:40] tyler-cai-microsoft opened #9233 "Use common-utils setLongTimeout"
Followup to https://github.com/microsoft/FluidFramework/issues/9062,

Use common-utils `setLongTimeout` in `garbageCollection.ts` instead of the `setLongTimeout` function.

Remove the `setLongTimeout` function in `garbageCollection.ts`

[2022-02-23 23:42] DLehenbauer opened #9234 "SharedTree: Data Model and Schema"
## Introduction
This issue discusses how data is internally organized within the shared tree.  Data model is distinct from the runtime objects created by the API layer to expose the working tree to the application.  In particular, API layer implementations may expose their own data models, which the API layer internally maps to the underlying SharedTree data model.

Data model is closely related t

[2022-02-24 03:02] agarwal-navin opened #9235 "Usage pattern for generating URLs to a data store in absence of absolutePath"
There are scenarios where an app wants to generate a URL to a data store. For example:
- A data store created in a document needs to be shared with an external app.
- A data store is copy-pasted in the same document.

Currently, this is implemented by most apps by getting the URL of the data store via `handle.absolutePath` and calling `getAbsoluteUrl` with the URL on the data store context / conta

[2022-02-24 03:07] agarwal-navin commented on #9235
@anthony-murphy @vladsud @leeviana There have been scattered conversation about this for some time. I created this issue so we can discuss this in one place and come to a conclusion.

[2022-02-24 03:08] agarwal-navin commented on #9235
@ssimic2 FYI as this is one of the usages blocking removal of https://github.com/microsoft/FluidFramework/issues/8271

[2022-02-24 03:56] vladsud commented on #8745
I understand connect() & disconnect() flow (that's what setAutoReconnect() does today in one API).

I'm not sure I see the scenario where user wants to control reconnection flow only, but not change current (connected or disconnected) state.
Maybe other way to ask it - why user even needs to know that there is reconnection logic? Can we not expose it at this layer?
I'll use analogy of internet ada

[2022-02-24 06:00] #7186 closed

[2022-02-24 16:38] ssimic2 commented on #9033
Hey Sonali - Are you pulling out "Transition FF codebase to use ICodeDetailsLoader instead of ICodeLoader." as a separate item here ? I think we concluded we will have to wait to transition definitions.

[2022-02-24 16:53] #8902 closed

[2022-02-24 17:13] sdeshpande3 commented on #9033
Yes, this issue essentially captures "Transition FF codebase to use ICodeDetailsLoader instead of ICodeLoader" but this would have to wait until `driver-definitions` does not transition to start using `IContainerPackageInfo`.

[2022-02-24 17:55] vladsud commented on #9235
The right long-term direction - not provide this functionality at all. Internal routing (handles) should stay internal, and how it's done (organization of paths) should not be exposed to API surface. There are two possible sub-solutions here for developers:
1. All external requests to go through a redirection. I.e., containerPath/localPath/Tail?queryArgs external request maps to reading a key "loc

[2022-02-24 18:03] scottn12 commented on #8745
I definitely agree that this is an uncommon scenario, however I do believe it is still something we would like to support. Since we would be pushing the responsibility of connection state to the developer, we want to give the developer proper control over each aspect of connection.

If we are worried about confusing the developer, one option is to call `setAutoReconnect(true)` as part of the `conn

[2022-02-24 18:07] vladsud commented on #9235
I'll add that it's useful exercise to compare what we are building to "traditional software engineering", and clearly articular where we are different, where we are not. I'll argue that there are only two key angles that are unique to Fluid:
- eventual consistency of data
- serializability of in-memory state and ability to rehydrate it back on container load.

When it comes to creating links betwe

[2022-02-24 19:14] ChumpChief opened #9236 "Stop using non-standard protocols in URLs and switch to native URL() over url-parse"
We'd like to drop usage of url-parse and instead use the standard URL.  However, these two do not have compatible behavior for parsing URLs with non-standard protocols, and we currently use non-standard protocols in a few places (e.g. `fluid:`, `fluid-odsp:`, `fluid-test:`).  To successfully move to the standard URL for parsing, we'll want to eliminate this non-standard protocol usage (which we re

[2022-02-24 19:23] markfields opened #9237 "null valued telemetry props are not logged properly"
`getValidTelemetryProps` redacts values of type `object` like so:

[code]

Note that this doesn't handle the case where `val === null` - that should just switch it to the string `null` or something.

[2022-02-24 20:12] leeviana commented on #9235
Option 1 seems like it would require a singleton or container handler, both patterns that we avoid. It also adds more dependencies from component -> container implementation since that means that at the very least a component would need to go through a global root component/DI service, otherwise creation/references would not function. So we'd need something like a base root component (we've discus

[2022-02-24 20:38] vladsud commented on #9235
It has to be singleton from implementation perspective, it does not have to be singleton from API perspective.
As everywhere else, components that need access to some capability should ask for it at construction time and consult with such object later on. I.e., pass around IGlobalUriGenerator implements IFluidLoadable.
Yes, it adds back compat concerns.
I do not think their own "creation/generatio

[2022-02-24 21:51] markfields commented on #8689
Clearing milestone for now.  It's not obvious any of these should be prioritized right now.

[2022-02-24 23:11] anthony-murphy opened #9238 "Tinylicious end to end test error: ResolveRefError"
Seeing errors in our tinylicious end to end test runs:
[code]

Data_testName | Data_error | Data_stack
-- | -- | --
Detached Container compat N-1 - new loader can create DDS in detached container and attach / update it | {"code":"ResolveRefError","data":{"ref":"be291361-9df1-4db2-8281-211bb0b8cf8c"},"caller":"git.log","message":"Could not resolve reference \"be291361-9df1-4db2-8281-211bb0b8cf8c\".

[2022-02-24 23:54] taylorsw04 commented on #9234
A few of us (@yann-achard-MS , @CraigMacomber, @PaulKwMicrosoft) met today to chat about the tree abstraction. We have general agreement on the following lists, though this has not yet been discussed outside of that group yet and should be reviewed to ensure it takes into full consideration the requirements found above.

In the schema-aware application-facing API:
- We agree that:
  - All nodes ca

[2022-02-25 00:38] leeviana commented on #9235
We are aligning on a datastoreservice right now, but the datastoreservice (or any dependency injected layer) has no connection with a particular component/DDS at the moment. We'd need to tightly couple a datastoreservice to a particular root component implementation. This could be put on our future plans and made to aligns with other similar areas like collection management.

We'd essentially be m

[2022-02-25 00:46] scarlettjlee commented on #4683
@vladsud & @agarwal-navin, could you review the updated [sub-]issues list in the original comment up top?

[2022-02-25 02:14] ssimic2 commented on #8870
Great comments. Some new things I learned here. I did not know epoch tracker played a role in killing session.

Why client - In the short term, I was looking for lightweight solution that would be able to handle most common use cases, while still leveraging existing APIs. The solution that covers a smaller scope around “lets recover to the last known good version”, without necessarily requiring lo

[2022-02-25 12:14] jack-williams commented on #9234
QQ regarding schema-on-write.

Schema here includes the ability to to specify the multiplicity of a trait, such as containing at most 0 or 1 items?

What happens if two clients insert into this trait? Locally their edits are valid, but when merged, one will be invalid.

Are there a general class of edits that are well-typed when constructed, but do not remain well typed through merge? Is this a di

[2022-02-25 16:47] vladsud commented on #8870
@ssimic2 , please consider other areas. Whole data center will go down / restore to previous state, there will be fall overs with loss of tail of file, possibly storage provides way to restore files, or overwrite files. All of these scenarios will force client to reason about file identity and what to do when different content is in place of same file (or client is ahead and can't do much, but new

[2022-02-25 17:39] CraigMacomber commented on #9234
The schema on read approach should allow you to use any schema system you want, which validates any particular invariants you have, including this one.

The specific schema system I have been working on focuses on 3 multiplicities (0 or 1, exactly 1, and 0 or more), but if there is demand, could support other restrictions (such as specific counts).

The client makes the edit through a schema aware

[2022-02-25 18:36] #9166 closed

[2022-02-25 18:37] #9169 closed

[2022-02-25 18:37] #9171 closed

[2022-02-25 18:54] wes-carlson opened #9240 "Container should wait for leave message from previous clientId when loaded with stashed ops"
## Work Item
**Describe the outcome you expect**

When a container is loaded with stashed ops, it should treat the clientId in the pendingLocalState (if present) the same as the previous clientId upon normal disconnect/reconnect flow, i.e., if the clientId is still present in the quorum when the container sees its own join op, it should wait for a leave message before transitioning to "connected"

[2022-02-25 19:25] wes-carlson opened #9241 "Container.closeAndGetPendingLocalState() should return still-pending stashed ops"
## Work Item
**Describe the outcome you expect**

Currently, `Container.closeAndGetPendingLocalState()` will only return pending ops generated by the container itself. Instead, it should additionally return stashed ops supplied to the container when it was loaded, if they have not been ACKed.

When `closeAndGetPendingLocalState()` is called, the clientId included in the returned pendingLocalState

[2022-02-25 20:07] wes-carlson opened #9242 "Ability for Container to save state and rehydrate in absence of runtime-level ops"
## Work Item
**Describe the outcome you expect**

Add the ability for Container to snapshot its state and rehydrate when no runtime-level ops have been sequenced since its initial load. Future work will enable runtime to rehydrate when runtime-level ops have been sequenced since load.

Container should snapshot protocol state and anything else required for rehydration upon `Container.closeAndGetPe

[2022-02-25 20:11] Zlatkovsky commented on #9177
@vladsud , I just had an interesting repro that happens consistently with a specific (somewhat complex, but not unreasonable) document, on my rather fast machine:

![image](https://user-images.githubusercontent.com/2230453/155790656-3d42ca05-c307-4c82-a263-90ee71c79d4d.png)

The `ObtainSnapshot` is fast -- so fast that its label doesn't fit. It's under 17ms, with its corresponding `FluidCacheAcces

[2022-02-25 20:15] Zlatkovsky commented on #9177
@vladsud , I didn't have logging turned when I captured that particular profile, but I just re-ran the scenario with logging and got a very similar result. If it helps:
* docId: `HT8xqcoB7q16yQ9FZu4fhX1m3TVDz9cabuiGV2nt3yA%3D`
* hostCorrelationId: `49faad21-c0ca-4f35-bca5-0c5d934b3719`

![image](https://user-images.githubusercontent.com/2230453/155793441-48179a0d-8248-4a86-b787-399634f0fcb8.png)

[2022-02-25 20:25] vladsud commented on #9177
Yes, that's the core of the problem. I'll use this issue to figure out how to optimize it on our end (add parallelism), but I think you need to take a look into why it takes that long.

Note that boot is in particular problematic, and we do not have good solution on our side. That's because
- We do want to apply ops that this client observed in the past before we render. There is really big push b

[2022-02-25 21:50] vladsud commented on #4683
Looks reasonable to me (though it does feel similar to what it used to be when I opened it, maybe minus sub-items).
I'd say the most interesting question is the ordering, and what would we do if we have only 1 month (or whatever amount of time we have). I'd use simple rule to make these decisions - if we do not do some work, does it become more expensive over time (because more usage cripples in),

[2022-02-25 22:11] DLehenbauer commented on #9234
One challenge with the way we're currently talking about 'schema-on-read' is that most customers who want schema are looking for a guarantee that their applications/services cannot encounter out-of-schema data. To them, discussing 'schema error handlers' that fix up violations after the fact *feels* the same as working with no schema.

I realize that this is inaccurate, as the intention of the 'sc

[2022-02-25 22:33] wes-carlson opened #9245 "Ability for ContainerRuntime to save runtime-level ops and use them to rehydrate"
## Work Item
**Describe the outcome you expect**

Follow-up to #9242
Add the ability to save runtime-level ops in ContainerRuntime and return them in `ContainerRuntime.getPendingLocalState()`. Upon rehydration, runtime will use these to rehydrate to the same state.

Should leverage existing stashed ops work to apply pending ops at the correct sequence number as the saved ops are processed one by o

[2022-02-26 00:21] markfields opened #9248 "Combine duplicate implementations of toInstrumentedOdspTokenFetcher"
One is `toInstrumentedOdspTokenFetcher` in `odspUtils.ts` (used by document service factory), and the other is `toInstrumentedTokenFetcher` in `odspDriverUrlResolverForShareLink.ts` (used by url resolver).

I don't think we would need two implementations.  And it tripped me up, because I was expecting the behavior of one when looking at the logs, but it was going through the other which doesn't be

[2022-02-26 00:26] markfields commented on #9248
In particular, the url resolver one doesn't wrap thrown errors with fetchTokenError errorType, so it is basically impossible to aggregate them together in telemetry, which is a big miss.

[2022-02-26 00:41] #8954 closed

[2022-02-26 02:21] scarlettjlee opened #9250 "Remove IDocumentStorageService.write"
This is no longer used and causes another reference to ITree which we want to eliminate. This probably doesn't need to be first deprecated.

[2022-02-26 02:44] scarlettjlee opened #9251 "Replay Tool and Snapshot Tests should use snapshots instead of ITree"
Change code and also update all the snapshots. This will eliminate another place we use ITree (see #4683).

[2022-02-26 03:47] scarlettjlee commented on #4683
@vladsud, I reorganized the task list to try to categorize them. A bunch of the desired work has already happened since this item was first opened. I'd focus any concerted effort toward getting rid of ITree, especially #9227. And then unifying snapshot and summary (which I haven't thought much about yet). The cleanup tasks can be done whenever and aren't causing much trouble (maybe some "good firs

[2022-02-26 19:25] ssimic2 commented on #4683
Related: https://github.com/microsoft/FluidFramework/issues/8979

[2022-02-28 00:48] vladsud commented on #9227
If I'm not mistaken, IAttachMessage is part of file format, i.e. that's the format of data showing up on the wire.
If so, there is no way to get rid of it. We could make new code path that will use different format, but unfortunately, we have to be able to open old files, so there is no way to remove it completely from code base anymore.

That said, ideally, all the code that "summarizes" content

[2022-02-28 00:52] vladsud commented on #4683
Thanks for clarification!
There is no way to unify snapshot & summary interface, as they have different qualities (snapshot does not have blob content, but otherwise self-contained, i.e., can't refer to content from other snapshots. while summaries always include blob content, unless they refer to blobs in storage / previous snapshot).

If you feel like new tasks are very clear and Ok for new hire

[2022-02-28 01:26] vladsud commented on #8745
If we do not have clear scenario or clear partner ask, then we should not add new API. Once it's there, there is no way to remove it, and we will continue to pay support cost.  I believe reconnection logic should stay internal business. Clients should only be exposed to boolean state - either they want to see container connected or disconnected. They express their intention, and framework does its

[2022-02-28 06:00] #7221 closed

[2022-02-28 13:02] jatgarg commented on #9011
Required some server work. So moving to March.

[2022-02-28 13:03] jatgarg commented on #9012
Required some server work. So moving to March.

[2022-02-28 17:36] ssimic2 commented on #8870
@yangg-msft please share details about computing/storage failover work. Let's see what functionality (if there) would make sense to expose for preview/recovery purposes. If we can leverage the mechanism there, great. If not, we'll proceed to explore these other options (short term options, leveraging existing APIs). What I have seen from OCE history, container corruption is legitimate issue - just

[2022-02-28 18:16] marcmasmsft opened #9266 "Odsp Driver: Stop using access_token query string"
We shouldn't use access_token when making calls to ODSP; tokens should be passed via the regular auth header instead.

In most cases (all reads and small writes where the body doesn't exceed 80KB), ump can be used to prevent an extra OPTIONS call.

Based on conversation, that likely includes these two flows:
- file creation, and using either ump path for small summaries, but using existing flow (o

[2022-02-28 18:31] anthony-murphy commented on #9000
in the load case we may want similar semantics to #5679

[2022-02-28 18:33] yangg-msft commented on #8870
We're working on a document for the computing/storage failover. The doc should be ready later this week.

We expect to have a PoC for the Git-based summary storage available for you to experiment with towards the end of March, but the date for switching to it is TBD.

[2022-02-28 18:45] Abe27342 opened #9267 "OdspFileLink_cancel spamming session telemetry"
## Describe the bug

In some Whiteboard sessions, we're seeing periodic looping of the OdspFileLink_cancel, GetSharingLinkToken_end, and OdspFileLink_end events.

### To Reproduce

From code inspection, it looks like there are a few places that kick off this event. Since in most cases we're not seeing crashes or bad behavior, I'd guess it's [this one](https://github.com/microsoft/FluidFramework/bl

[2022-02-28 18:56] jatgarg commented on #7185
Comment

[2022-02-28 18:57] jatgarg commented on #7264
Comment

[2022-02-28 18:58] jatgarg commented on #7094
Duplicate of https://github.com/microsoft/FluidFramework/issues/9011

[2022-02-28 19:24] tylerbutler commented on #9215
@dstanesc I'm a little confused about what you mean here. When you say "substantial eventual consistency gap" are you saying that the newly joining client does **not** converge to a consistent state with the rest of the clients? Or are you referring to the operations that have accrued between the latest snapshot (which the new client loads) and the current time (the "gap")?

I'm unclear if you're

[2022-02-28 19:27] tylerbutler opened #9268 "Move static web app to different subscription"
We need to move our static web app to a different Azure subscription.

[2022-02-28 19:28] tylerbutler opened #9269 "Move website deployment to ADO"
We need to move the website deployment pipeline from GitHub Actions to ADO.

[2022-02-28 20:16] tylerbutler opened #9270 "Replace ditaa with built-in Hugo diagram support"
Hugo 0.93 [supports diagrams natively](https://github.com/gohugoio/hugo/releases/tag/v0.93.0). We should use that to remove our dependency on ditaa.

[2022-02-28 21:33] vladsud commented on #9266
It would be great to provide some info on why it's not advised, given that URI itself (other than domain name) are encrypted on the wire (when using https). Is the issue here browser history?
And if this is a policy, why such support exists in SPO?

[2022-02-28 21:39] vladsud opened #9271 "Consider removing Traces from ops"
Traces property is set on every op, but they are not fully supported today and removed by service.
So we are wasting bandwidth for nothing.

Unless we want to make them work, we should remove them from code base, including server code.

[2022-02-28 22:48] ssimic2 opened #9274 "Submitting new ops while pending ops are present"
One of our dirty flag tests has uncovered state where container is submitting ops while pending ops are still present. Runtime finally ends up calling:  `this.closeFn(new GenericError("containerRuntimeSubmitWithPendingLocalState"));`

Following PR mitigates test failure: https://github.com/microsoft/FluidFramework/pull/9272. However, we still need to determine the root cause. More details in the P

[2022-02-28 23:06] markfields commented on #8903
^ Never mind, `SummarizingWarning.wrap` is not related.  Sonali and I just sync'd up about it - sorry for the distraction!

[2022-02-28 23:13] dstanesc commented on #9215
@tylerbutler Sorry for the confusion, it is my failure in expressing our people concerns.

1. This is just a documentation enhancement needed by our engineers.
2. The new client will properly converge to the consistent state (no bug on FF side), and yes I am referring to the operations being accrued between the latest snapshot (which the new client loads) and the current time (the "gap") which wil

[2022-03-01 00:28] tylerbutler commented on #9215
@dstanesc Thanks for the clarification. I think I know what you're looking for now. Would you or someone on your team be willing to code review doc changes here to make sure we've addressed it properly?

[2022-03-01 02:13] dstanesc commented on #9215
@tylerbutler We can definitely help with the code review. Thank you very much for the pro-activeness!

[2022-03-01 02:34] tylerbutler commented on #5988
This should stay open.

[2022-03-01 02:34] tylerbutler commented on #6715
This should stay open.

[2022-03-01 02:52] scarlettjlee commented on #8979
Does this also include updating the Replay Tool? If so, I can close #9251 as duplicate of this. If not, I'll narrow the other issue for just replay tool.

[2022-03-01 06:00] #7245 closed

[2022-03-01 07:46] scarlettjlee commented on #8460
Updated parent epic.

[2022-03-01 07:46] #8460 closed

[2022-03-01 13:21] ruiterr commented on #9234
I think these are not necessary strictly criteria of a schema on write approach. If I understand the schema on read proposal correctly, there would still be definitions on the primitive nodes that could identify the data-types.

In PropertyDDS, we did distinguish between T and T*, in the sense that only collections (arrays, maps and sets) allowed the use of polymorphism, but this is more a technic

[2022-03-01 13:28] ruiterr commented on #9234
Does this mean that for example a number could have children? How would this be exposed in a JSON API? Would the
number be represented as a JS `Object` and the value would be accessible via a special member (e.g. via a symbol value?). So if a child is added to a primitive node, its type would change in JS from `number` to `Object`?

Could you give examples, where this additional degree of freedom

[2022-03-01 13:55] ruiterr commented on #9234
Which level of guarantee do we provide to users using the JSON APIs? Will they be functionally equivalent to other APIs?
* How do we expose data that does not directly correspond to the JSON data model via the JSON API? (e.g. sequences without an explicit array node in the tree, primitive values stored in inner nodes)?
* Do we guarantee that the topology of the JSON doesn't unexpectedly change, if

[2022-03-01 15:28] pleath commented on #7338
Keeping this alive.

[2022-03-01 15:57] vladsud commented on #7465
@markfields - with your work, this seems not relevant any more?

[2022-03-01 15:58] #7465 closed

[2022-03-01 17:30] ssimic2 commented on #8979
This is mostly around using newer ISnapshotTree format vs the older one (still ISnapshotTree). The snapshot content (within snapshot tests) is using the older format. We should re-generate that content that so we can try and get rid of `convertSummaryTreeToITree`.

It seems different work then #9251, but still round snapshots and various tree formats.

[2022-03-01 17:49] vladsud commented on #7137
I believe this will be addressed (though not directly) by https://github.com/microsoft/FluidFramework/pull/9243 and we likely can close this item.

[2022-03-01 18:01] #8066 closed

[2022-03-01 18:06] andre4i opened #9279 "Chunked op which are part of a batch end up not being processed as such"
The issue may become irrelevant due to https://github.com/microsoft/FluidFramework/pull/9223 if we end up getting rid of chunking altogether.

But in the meantime, just for tracking purposes, when the runtime detects that an [op is larger and needs to be chunked, it is then split and submitted without batching metadata](https://github.com/microsoft/FluidFramework/blob/main/packages/runtime/contain

[2022-03-01 18:30] andre4i commented on #3788
Removal hit this https://github.com/microsoft/FluidFramework/issues/9279. However, https://github.com/microsoft/FluidFramework/pull/9223 should work around that issue and move forward with the change.

[2022-03-01 18:34] andre4i commented on #8179
https://github.com/microsoft/FluidFramework/pull/9243 should serve as a fix for this. Considering we have multiple other issues about the same thing, this one is safe to close.

[2022-03-01 18:34] #8179 closed

[2022-03-01 19:12] vladsud commented on #4691
This item would require understanding of build and multiple mono-repos. Before jumping in, please talk to Scarlet and / or Andrei, so have better sense of what's involved here.

As part of this work, I'd also love to see if we can remove `id` from ISnapshotTree.

[2022-03-01 19:45] agarwal-navin opened #9280 "Some errors thrown by runtime layer don't log the "runtimeVersion" property"
There a few places in the runtime layer where the `runtimeVersion` property is not added to the error that is logged in telemetry:
1. When the runtime calls `container.close`. For example - https://github.com/microsoft/FluidFramework/blob/608f93485d2954121ff4fb64d1deafceb2f3b6c2/packages/runtime/container-runtime/src/containerRuntime.ts#L794.
2. When the runtime throws an error, the error results

[2022-03-01 19:46] agarwal-navin commented on #9280
@markfields FYI, I assigned this to you.

[2022-03-01 19:47] scarlettjlee commented on #9227
From talking to Tony and Navin, we could start only writing in new format, but we'd need to be able to also read from file in old format forever.

[2022-03-01 20:13] vladsud commented on #9227
Yep. That said, it's worth calling out one thing: for normal summary / snapshot flows, service is the one who accepts summary and converts it to snapshot. Client is not involved here and expects snapshots on all load paths.
With attachment flow of objects (data stores, DDSs) to live container, we write in some format and have to consume back same format. I believe (very briefly looking at it) that

[2022-03-01 20:17] vladsud commented on #9049
Given that clients can disconnect at any moment, I'm not sure I'd try to have such capability. I'd rather assume that whatever capability app provides is equivalent to Save-As, it's a state of the document at some point, and doc itself just keeps moving forward, independently from agent doing Save-As.

Also, client that does export may die or hang. Does it block all clients on doc forever?

Unless

[2022-03-01 20:21] vladsud commented on #8084
I think it's time to close this EPIC.

[2022-03-01 20:24] #8084 closed

[2022-03-01 20:29] vladsud commented on #8411
I believe this issue is fully addressed by @andre4i and should be closed with his PR.

[2022-03-01 20:31] andre4i commented on #8411
https://github.com/microsoft/FluidFramework/pull/9243

[2022-03-01 20:31] #8411 closed

[2022-03-01 20:32] ChumpChief commented on #9049
Just for context, this is generally a follow-on to the external data sync investigation I did late last year.

Being robust to client death/hang is part of the scope of this.  With this mechanism, the collaboration comes to a halt so there's no moving forward - it's not intended to be "save as" functionality.  Rather, it's part of a strategy to enable apps to safely enact non-compat schema changes

[2022-03-01 21:03] DLehenbauer opened #9282 "WIP: SharedTree: Distributed Constraint Validation"
## Introduction
This issue proposes a strategy for implementing schema and constraints in a decentralized fashion.  A key motivation and requirement for the proposed design is to avoid additional I/O costs (both latency and $) to fetch portions of the tree from the storage service as a result of schema/constraint validation.

The strategy divides the work between the **sender**, which is trusted t

[2022-03-01 21:22] markfields commented on #8821
Great discussion.  Not going to continue tracking anything here in GitHub for now, but I'm working on a guidance doc for errors that will incorporate this feedback.

[2022-03-01 21:22] #8821 closed

[2022-03-01 22:59] ssimic2 commented on #8870
@yangg-msft if you have any drafts (computing/storage failover) that can just help us evaluate mechanism in the context of being the possible solution for this problem (recovering corrupted containers), please share those.

As for your earlier question, my assumption is that "file" is really just snapshot + ops.

[2022-03-02 00:26] #9269 closed

[2022-03-02 00:54] agarwal-navin opened #9285 "Turn GC on for all end-to-end tests"
GC (mark phase) should be turned on for all end-to-end tests. This will increase the coverage and validate GC in various scenarios.

[2022-03-02 01:09] tyler-cai-microsoft opened #9286 "The rootiness of a data store is not updated correctly for aliased data stores"
When a data store is aliased, it is marked as root by calling `setRoot` on the data store context which updates its `isRootDataStore` property. However, the following places still return the value from the initial snapshot details of the data store context:
- `isRoot()` that is used by garbage collection to determine which data stores are root and should be marked referenced.
- On summarizing a da

[2022-03-02 01:40] agarwal-navin commented on #9286
@andre4i FYI

[2022-03-02 02:02] agarwal-navin opened #9287 ""works in detached container" test in blobs.spec.ts logs 0x204 for tinylicious"
"works in detached container" test expects error 0x202 in the `itExpects` block. However, that error is only thrown by the local driver. Tinylicious throws 0x204 error which is logged and reported as an error:

<html>
<body>
let buildId = 52922;

office_fluid_ffautomation_error
| where Event_Time > ago(7d) and Data_hostName == "@fluidframework/mocha-test-setup"
| where Data_branch == "refs/heads/m

[2022-03-02 02:27] marco-ms commented on #8513
@vladsud
1. I don't know, can you work it out with the the proper team?
2. The whole structure would be best, but if not possible these are the most useful fields:
defaultLinkKind
defaultShareLinkPermission
defaultShareLinkScope
defaultShareLinkToExistingAccess
3. Same as 1.

[2022-03-02 06:00] #7169 closed

[2022-03-02 13:21] christiango commented on #3925
Do not deactive this issue until someone on the FF side confirms we no longer use lodash

[2022-03-02 15:49] osfprieto opened #9288 "Even though IContainerContext.id was re-added, its behavior is different now"
This makes it so one scenario is broken for office-bohemia, [Teams thread update here](https://teams.microsoft.com/l/message/19:2309a5f41d894db984a8efc811dbb4b6@thread.skype/1646203767372?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&groupId=422665a0-7ad3-4d0d-9171-e8881d0397d9&parentMessageId=1644349038923&teamName=FFX%20(Fluid%20Framework%20and%20Experiences)&channelName=Dev%20%F0%9F%91%A9%E2%80

[2022-03-02 17:29] sonalivdeshpande opened #9290 "Consider removing `summarizingError` event"
Context: https://github.com/microsoft/FluidFramework/pull/9275/files#r817128519

[2022-03-02 17:31] #8903 closed

[2022-03-02 17:52] #9203 closed

[2022-03-02 18:27] vladsud commented on #8745
@skylerjokiel, I'm fine with that (expose what setAutoReconnect in different packaging).

I do not see a need for
- exposing to control auto-reconnection logic
- converting from push to pull (i.e. instead of APIs that customers can call switch to providing callback that is called by framework).

Moreover, I think these constructs should stay internal implementation details (not leak) and they will

[2022-03-02 18:30] ssimic2 commented on #8005
I have removed tracking "needs solutioning" and "blocked" to bring this epic towards conclusion. We have new guidelines going forward around tracking/managing deprecation work. The tickets under those 2 categories are still tagged with "API deprecation" so we can track them more easily.

[2022-03-02 18:38] ssimic2 opened #9291 "Deprecated APIs wrap up - tickets and guidelines"
This item is the conclusion of #8005. We need to make sure that all remaining deprecations are captures as git issues and we are following through with guidelines: https://github.com/microsoft/FluidFramework/wiki/API-Deprecation.

@sdeshpande3 we have created a list that you could use that as a reference: https://microsoft-my.sharepoint-df.com/:fl:/p/sdeshpande/EfLHe57A4chKqpud9SSuOs8BDob_GW_m-Irn

[2022-03-02 18:41] DLehenbauer commented on #9234
The below strikes me as a good balance between data integrity and dynamic flexibility:

**Data Integrity**
* There is an explicit schema for the tree expressed as the type of the root node
* Nodes always transitively conform to the schema as expressed by the tree's node types
    * Implies that merges that produce non-conformant nodes are conflicts
* Conflicts must be detected and rejected prior t

[2022-03-02 18:44] heliocliu opened #9292 "Add support for virtual patch versioning"
Add support in build-tools for virtual patch versioning for the beta version format, where a minor change is a 1000 increment to patch and a patch remains a 1 increment to patch (and the minor increment is considered breaking/major).  This allows us to reserve version number space for patches without jumping minor versions, and simulates the 3 part format.

[2022-03-02 18:47] heliocliu opened #9293 "Update release process instructions for virtual patch and 1.0 transition"
The existing release process instructions for OCE need to be updated to account for virtual patch usage during the transition period to 1.0, and for 1.0 after.  Most of the steps are the same, but with minor but critical adjustments.

[2022-03-02 18:54] heliocliu opened #9294 "Separate "3P" packages into their own group separate from the rest of "client" for 1.0"
While we are accelerating the move to 1.0 for the main packages for internal consumption to facilitate slower major releases, we do not yet want to do the same for the external facing "3P" packages such as `azure-client` and `fluidframework` because 1.0 does hold inherent symbolism that we cannot dispel for everyone externally.  These packages should be moved into their own grouping separate from

[2022-03-02 18:57] heliocliu opened #9296 "Automate change integration from current version to next version dev branches"
Under the "main" and "next" model, changes from main can be bulk integrated to next every once in a while.  This however opens the possibility of merge conflicts that whoever is doing the integration will need to resolve.  This should instead be the responsibility of the original change author because they have the correct context to do the merge resolution.

# Issues

- [x] #9867

## April 2022
-

[2022-03-02 19:58] anthony-murphy commented on #9287
i think this is a duplicate of #9039

[2022-03-02 20:02] pleath commented on #8690
One solution @anthony-murphy and I were kicking around involves inserting markers with length=1 at the beginning and end of the obliterated range. It seems like that would let us cordon off an obliterated subtree in a way that would withstand splitting of segments, etc. That in turn could help with conflict resolution. Keep length=1 also avoids all the complexity around making sure that markers th

[2022-03-02 20:04] scottn12 commented on #8745
I agree that we should not convert push to pull, and this is reflected in the updated GitHub descriptions as well.

@vladsud and @skylerjokiel, I just want to clarify that we do **not** want to support a scenario where a container is connected but does not try to automatically reconnect.
If so, we can go ahead and modify the solution design to create/expose `connect()` and `disconnect()` which wil

[2022-03-02 20:17] markfields commented on #7812
We've moved away from error codes and back to messages, see #9249.

[2022-03-02 20:17] #7812 closed

[2022-03-02 20:20] jack-williams commented on #8690
If the solution inevitably involves having to map between the clients view and the merge tree, is it also worth considering the approach that uses a single length 1 marker/token with the content stored in an annotation?

[2022-03-02 20:44] vladsud commented on #8745
That's fine with me, but you probably want to
- merge newly created connect() with existing resume() functionality and have just one API for that.
- Consider changing name form "connect" to something that has less certainty about what would happen, i.e., developers should think about it as "we will try to connect and maintain connection", not "one gets connection right away after this call".
- We

[2022-03-02 21:43] tylerbutler opened #9303 "Website deployment pipeline migration"
This issue tracks the work needed to move the fluidframework.com deployment to ADO.

- [x] #9269
- [x] #9268
- [x] #9270
- [x] #9229
- [x] #9304
- [x] #9277
- [x] Build tool inventory

[2022-03-02 21:49] tylerbutler opened #9304 "Enable SDL on website deployment pipeline"

[2022-03-02 22:04] #9270 closed

[2022-03-02 22:14] #8029 closed

[2022-03-02 22:28] scottn12 commented on #8745
@vladsud, could you expand more on your last point? I'm interested to know the reasoning behind exposing these APIs on the loader level. Are there any other advantages other than applying the action to all containers created by the loader? Also, I'm unsure how these APIs would be accessible from an `AzureClient` perspective, because `AzureClient` users don't directly interact with the loader. They

[2022-03-02 23:29] chensixx commented on #9163
there is also a dirty flag test that is timing out `handles container with pending ops not to be sent out`

[2022-03-02 23:29] chensixx commented on #9163
the stashedOps sometimes fail with odsp because of a recent change by Matt

[2022-03-02 23:47] #9292 closed

[2022-03-02 23:51] agarwal-navin opened #9309 "pending ops tests in containerDirtyFlag.spec.ts are flaky"
The following tests in containerDirtyFlag.spec.ts are failing at times for real service:
[code]
This looks related to https://github.com/microsoft/FluidFramework/issues/9163 and may need to be disabled to get clean test runs.

[2022-03-02 23:51] agarwal-navin commented on #9309
@wes-carlson FYI

[2022-03-02 23:52] anthony-murphy opened #9310 "Shared Intervals: Notification on collection creation"
## Work Item
Currently the interval collection api on shared string assumes the usage of well-known interval collection names, that are pre-loaded. There has been a request to not have to depend on specifically named interval collections, and to get events when a collection is created.

Likely this is a new top level event on sequence, like "sequeceDelta", maybe called something like "intervalColl

[2022-03-02 23:52] tylerbutler opened #9311 "Docs: Remove dependencies on @tylerbu/dl-cli and @tylerbu/markdown-magic"
These are forks of other packages, so we should either upstream our changes (preferred) or make some new util packages within our repo.

[2022-03-02 23:53] #9287 closed

[2022-03-02 23:54] anthony-murphy commented on #9310
Putting this on your plate for now @pleath. Another related this that i'm not sure exist is the ability to enumerate collections? if that doesn't exist, i assume it would be an ask right after this, as if they are not using well-known names they will likely want to enumerate existing collection at some point.

[2022-03-03 00:11] pleath commented on #9310
Thanks. You’re talking about the ability to enumerate all the independent collections, not enumerate the intervals within a given collection, right?

[2022-03-03 00:11] anthony-murphy commented on #9310
exactly

[2022-03-03 00:38] markfields commented on #9290
I spent some more time looking at this code.  I think until it is removed, I'm going to revert the part of the change linked above, such that the Summarizer will raise the summarizingError event (this is the non-interactive client), and then the summaryManager can log about it (this is in the interactive client).  Not sure who is looking at these logs, but there's no reason to move this one at thi

[2022-03-03 00:44] chensixx opened #9314 "Real Service e2e test `Validate attach orders` is flaky with tinylicious"
## Describe the bug
in two runs on release/0.57, and one on release/0.56, we saw Validate attach orders test failure, one is container attach timeout, two are "ResolveRefError"
build id: 53353, 52473, 51661

### Logs
i couldn't find any log in the error table, only in the fluid test generic table. not sure why.

[2022-03-03 00:50] #9288 closed

[2022-03-03 00:51] osfprieto commented on #9288
Thanks for the help with this, @agarwal-navin and @chensixx!

[2022-03-03 00:53] wes-carlson opened #9315 "stashed ops tests are flaky"
The stashed ops tests are failing inconsistently. From debugging, it looks like this is related to #8702 which removed map.wait() and replaced it with ensureSynchronized(). ensureSynchronzied() does not currently work with stashed ops correctly because the dirty flag does not correctly account for stashed ops.

This is related to #9241, since once this work is done, the dirty flag should map to th

[2022-03-03 02:03] #8929 closed

[2022-03-03 03:04] vladsud commented on #8745
Sure!

There are couple reasons. They may not be interesting for 3rd party SDK world where loader === container, but it's not true for more general case where
1. Loader could have multiple containers
2. Loader is caching containers and they could be reused (i.e. request to resolve URI will return existing container that someone else is already using).
3. A container itself can request loader to op

[2022-03-03 05:13] tylerbutler opened #9316 "Replace jquery use in website"
We don't use it for much, and we should just get rid of it.

[2022-03-03 05:37] tylerbutler opened #9317 "Fix unsafe external link in website templates"
Tracking issue for:
- [ ] https://github.com/microsoft/FluidFramework/security/code-scanning/14
- [ ] https://github.com/microsoft/FluidFramework/security/code-scanning/15

[2022-03-03 18:07] #9181 closed

[2022-03-03 18:40] andre4i opened #9322 "Improve the way messages are sent over the sockets"
Original comment: https://github.com/microsoft/FluidFramework/pull/8833#discussion_r818910981

Currently, with the assumption of not having chunked ops and no batch manager, there is no need for the delta connection to emit arrays of arrays of ops. We can make the protocol simpler here and just emit an array of ops.

[2022-03-03 20:02] #9229 closed

[2022-03-03 20:16] #9304 closed

[2022-03-03 23:03] markfields commented on #8623
I had a good conversation with the team about this issue today, discussing the approach in #9334.  Main feedback was to step back and make sure the use case and motivation was clear for why we want to change this API and what the right change would be.

There was some discussion (mostly with @skylerjokiel, @curtisman, @anthony-murphy ) of whether different parties would have a different set of arg

[2022-03-03 23:16] markfields commented on #8745
Following!

[2022-03-03 23:16] #7365 closed

[2022-03-03 23:17] #3788 closed

[2022-03-03 23:51] #9286 closed

[2022-03-04 00:24] #9315 closed

[2022-03-04 01:47] scarlettjlee opened #9344 "Thinnest thread local rollback prototype"
Functional rollback prototype able to exercise the scenario end-to-end. This only needs to support some basic edit, like inserting into a shared string [and rolling it back]. It's okay if it doesn't meet all the feature requirements. This will be used by consumers to validate rollback for their needs. This change is not intended for merge to main.

[2022-03-04 01:52] scarlettjlee opened #9345 "Runtime local rollback capability"
Runtime supports local rollback as described in #8545. This includes the change to orderSequentially and all the plumbing to invoke on DDSes, but not any functional implementation in any DDSes. The API change may not be exposed on IContainerRuntime until this feature/epic is complete.

Can start with prototype: https://github.com/microsoft/FluidFramework/compare/main...anthony-murphy:rollback-prot

[2022-03-04 01:55] scarlettjlee opened #9346 "SharedString local rollback"
SharedString is capable of local rollback to undo edits. See #8545. This should leverage existing code in for undo-redo; which will require refactor and avoid duplication.

This work can be split up further to support each op: insert, annotate, delete. Functionality will be implemented in that order.

Completion of this work is expected in May.

[2022-03-04 01:57] scarlettjlee opened #9347 "Shared Directory local rollback"
Shared Directory is capable of local rollback to undo edits. Map may also be needed; if so, it should be similar to the work for directory.

This work is expected to be complete in June to meet partner date.

Parent epic: https://github.com/microsoft/FluidFramework/issues/8545.

[2022-03-04 06:38] PaulKwMicrosoft commented on #9234
We should be cautious about introducing a type change command, especially given augmented schemas. Would this just be for convenience? Would it be intended just for conversion to newer versions of given schemas? It might be safest to ensure we have very precise requirements before we head in this direction, and then create a very targeted API.

This feels like it might be an unnecessary degree of

[2022-03-04 16:42] agarwal-navin opened #9355 "isRootDataStore in FluidDataStoreContext may not return correct value if getInitialSnapshotDetails isn't called"
With the introduction of aliasing in data stores, the "rootiness" of a data store is not defined when its created but when it is aliased. Basically, a non-root data store can become root later on.
However, for compatibility, we need to support root data stores that are created via the old API where it is a "root" at creation time. This makes determining whether a data store is a root or not a litt

[2022-03-04 18:39] vladsud commented on #8745
I'd add one thing: it's more obvious to users of the system that changing setting on loader has bigger impact (all containers under loader) and thus developers are more likely to create new loader instances if they want unique properties / settings for their containers. When such controls are exposed on container, it's not very clear that same container may have multiple users working with same ob

[2022-03-04 19:03] marco-ms commented on #8513
Another useful field seems to be sharingAbilities > peopleSharingLinkAbilities > canAddNewExternalPrincipals > enabled
Which would tell us if we can add or not guest users right away.

[2022-03-04 19:05] vladsud commented on #8513
Where can I find documentation? I need clear definition of interface, not just some fields.

[2022-03-04 19:09] marco-ms commented on #8513
I asked Brian and will get back at this by Monday.

[2022-03-04 20:19] markfields commented on #6609
Now that #9429 is in, this is a little more difficult.  For external errors, some will be wrapped (de facto if not using `wrapError`) and prefixed like this:  `Fluid error message: inner error message`.

The next iteration here could be a function `wrapExternalError` which returns untouched any fluid error (we have type guards/helpers), and otherwise creates a new fluid error with `message = Fluid

[2022-03-04 20:21] agarwal-navin opened #9360 "Investigate "inactiveObjectX" errors and change them to data processing errors"
The "inactiveObjectX" errors indicate that an unreferenced object is used >7 days after it was unreferenced. This is a potential "use-after-delete" scenario and should be identified and fixed as soon as possible by data store creators.
We need to investigate the current state of these errors and evaluate how actionable and correct they are. Then convert them to data processing errors if they indic

[2022-03-04 20:29] agarwal-navin opened #9361 "Roll out GC session expiry"
The session expiry needed for sweep was added by this PR - https://github.com/microsoft/FluidFramework/issues/7206.
This was shipped dark behind a feature flag added by this PR - https://github.com/microsoft/FluidFramework/issues/8607.

Roll out this out by enabling the feature flag.

[2022-03-04 20:31] agarwal-navin opened #9362 "Documentation on GC "inactiveObjectX" telemetry and next steps"
The "inactiveObjectX" errors will be updated to be data processing errors - https://github.com/microsoft/FluidFramework/issues/9360.
Write a document describing what this error means and what our partners need to do to fix this problem. Also, once sweep is enabled and this error is seen, what are the next steps.

[2022-03-04 20:31] markfields commented on #8260
Update:  All main coding tasks are done. There are some bugs/follow-up items that either exist or need to be opened, I'll get those logged/grouped this month.  I will also be putting together error queries for OCEs and others to use to quickly filter errors by source, for use in evaluating ship-readiness at different points.

Determining source will be a mix of `untrustedOrigin` markup and various

[2022-03-04 20:41] vladsud commented on #9049
I know it's hard to do in short period of time, but I want to point out that we need more general mechanism that does not involve stopping collaboration. The trivial example - we likely not be able to avoid running 3-way merge when coming from offline as a way to reduce impact of losing user intent through ops, and as a way of detecting conflicts and presenting user choice to resolve them. The res

[2022-03-04 20:52] anthony-murphy opened #9364 "Improve FluidObject type errors"
The errors look like this, as typescript tries to be smart, and throw away the IFluidObject typing
[code]
we may need to copy and inline the partial and pick typing, such that the error references IFluidObject directly.

related to #7613

[2022-03-04 21:51] heliocliu opened #9367 "Update pipeline definitions to account for new active development branches"
Pipelines/repo settings currently only expect "main" as the true active development branch.  With the introduction of "next" these need to be updated to accept that as well (as appropriate)

[2022-03-04 22:22] #8748 closed

[2022-03-04 23:19] heliocliu commented on #9367
Following the previous PR, I still need to follow up on package publishing behavior and docs behavior

[2022-03-05 00:00] ChumpChief opened #9370 "Local server logs Lumberjack error on page load and in test runs"
Repros when running our examples in local mode, and for the examples' tests -- e.g. see the test stage of this pipeline run:
https://dev.azure.com/fluidframework/public/_build/results?buildId=55930&view=logs&j=3dc8fd7e-4368-5a92-293e-d53cefc8c4b3&t=5cfe65a4-d7cb-5934-e953-1c67617821f4

[code]

[2022-03-05 00:01] ChumpChief commented on #9370
@hedasilv FYI

[2022-03-05 00:09] agarwal-navin opened #9371 "malformedDataStoreAliasMessage and duplicateDataStoreCreatedWithExistingId errors in end-to-end test telemetry"
From the latest run of end-to-end in tinylicious, `malformedDataStoreAliasMessage` and `duplicateDataStoreCreatedWithExistingId` errors are seen. There is just one hit each. It's coming from the `rootDataStores.spec.ts` tests (see Data_testname property in telemetry). The itExpects block has these events but maybe its not always consistently generating those events.

let buildId = 55640;
office_fl

[2022-03-05 00:09] agarwal-navin commented on #9371
@andre4i Assigned this to you

[2022-03-05 00:13] agarwal-navin opened #9372 "Lots of r11sFetchErrors errors in tinylicious end-to-end test telemetry"
In the last few runs of end-to-end tests against tinylicious end-to-end tests, `r11sFetchError` is seen a lot. It's all coming from the `detachedContainerTests.spec.ts` (see Data_testName field in telemetry).

let buildId = 55640;
office_fluid_ffautomation_error
| where Event_Time > ago(7d) and Data_hostName == "@fluidframework/mocha-test-setup"
| where Data_branch == "refs/heads/main" and Data_bu

[2022-03-05 00:14] agarwal-navin commented on #9372
@jatgarg Assigned this to you because you are familiar with the detachedContainerTests.spec.ts. Feel free to re-assign. Most likely the tests need itExpects block with expected error for t9s.

[2022-03-05 00:16] agarwal-navin commented on #9372
Most likely duplicate of https://github.com/microsoft/FluidFramework/issues/9238.

[2022-03-05 01:17] amruth-ms opened #9374 "odsp-driver throws genericNetworkError for fluidNotSupported error"
## Describe the bug
A tenant disabled fluid by setting "Set-SPOTenant -IsFluidEnabled $false". After that tried to open a .fluid file with the setting and an error was thrown. This is the information in the error message {"error":{"code":"notSupported","innerError":{"code":"fluidNotSupported"},"message":"Fluid protocol not enabled"}}

### To Reproduce
Steps to reproduce the behavior:
1. Disable fl

[2022-03-05 02:09] vladsud commented on #9177
some notes from FRS folks on same subject in https://github.com/microsoft/FluidFramework/pull/9307

[2022-03-05 03:02] vladsud commented on #7137
Resolved by above mentioned PR

[2022-03-05 03:02] #7137 closed

[2022-03-05 03:05] vladsud commented on #9271
Tony removed them from client code, but leaving on the server as they might be used there.

[2022-03-05 03:05] #9271 closed

[2022-03-05 12:26] jvoels commented on #9374
Title could be updated to "odsp-driver throws genericNetworkError for fluidNotSupported error"

For fluid experience developers using odsp-driver it is an important distinction to be able to provide an appropriate UX when fluid is _disabled_ in ODSP. (non-retriable, "contact your system admin")

Today the error="odspFetchError [400]" and errorType="genericNetworkError" is what bubbles out, while t

[2022-03-05 15:21] markfields commented on #9374
@nmsimons - here's a bug to triage, let's talk next week

[2022-03-07 17:57] milanro opened #9381 "PropertyDDS concurrent insert of the same key to Map"
## Describe the bug

- We create map of complex type containing 'person' attribute under the property path W_0.0249997558655648.words and commit.
- On 2 clients we add complex value containing the sub-attribute person under the same key but do not commit.
- On both clients we have uncommitted path W_0.0249997558655648".words[0].person
- We commit on Client 1 and then on Client 2
- We change on the

[2022-03-07 18:38] hedasilv commented on #9370
It seems that the error is caused from this call to `MongoManager`

https://github.com/microsoft/FluidFramework/blob/73fa08a48aeadb4aa334ddb1d55194c9da8206c4/server/routerlicious/packages/local-server/src/localDeltaConnectionServer.ts#L81

since `MongoManager`'s constructor uses `Lumberjack`. `Lumberjack` is this logging infra I added to r11s, and it needs some parameters - so when they are not pr

[2022-03-07 19:16] jack-williams commented on #8690
If you add virtualization over the sequence, is "obliterate" possible to emulate by toggling the markers as "off" and having the rendering logic skipping all content (regardless of tombstone status) between "off" pairs of markers.

This leaves the issue of clearing up concurrently inserted content that does not get rendered by the view, and also deleting the markers.

If there is a process to dele

[2022-03-07 19:27] markfields commented on #8411
I think it's ok to close, but for the record -- Andrei's fix only addresses the case where the connection can't take hold because of a pending op in the runtime.  The case where the host is consistently giving a bad token would not be addressed by that fix.

I'm ok to be data-driven and see what kinds of issues come up in livesite for Loops - or issue reports from others using the ecosystem.

cc @

[2022-03-07 19:44] wes-carlson commented on #9163
Seems to be caused by a known issue in node-fetch where response.clone() will hang if the response is large:
https://github.com/node-fetch/node-fetch/issues/151
https://github.com/node-fetch/node-fetch/issues/396

https://github.com/microsoft/FluidFramework/blob/c1ba5e3da1290a70414acc69b78f6ac98635374c/packages/drivers/routerlicious-driver/src/restWrapper.ts#L85

[2022-03-07 19:53] hedasilv commented on #9370
Digging deeper, I was able to confirm this:

In routerlicious, when running Lumberjack, all packages use the file available here:

- /Users/hedasilv/Desktop/Code/FluidFrameworkCopy/server/routerlicious/packages/services-telemetry/dist/lumberjack.js

When running the examples, which fetch server packages from node_modules, each package - local-server and services-core - use Lumberjack from their ow

[2022-03-07 20:04] vladsud commented on #8411
I think wrong token will not result in infinite reconnects, as we will get 403/401. These errors are retried once (with new token), and then non-recoverable error that closes container. At least that's how it worked and should work.

Note that t may take one cycle of reconnects to materialize, as we do not treat 403/401 errors as critical when received on disconnect - we always try to reconnect an

[2022-03-07 21:24] andre4i opened #9383 "Investigate the ability to enforce a minimum version for connected clients"
There are a couple of scenarios in which it would be preferable for the runtime to be able to enforce a minimum version for all connected clients. Some scenarios include new DDSes, new op types which older runtimes aren't able to process, loading snapshots with such ops, and so on. Currently, if a container does not know how to process an op type, it would fail. But the failure would be harder to

[2022-03-07 21:58] markfields commented on #8411
Hmmm I think you're right.  I wonder what I saw in telemetry, too bad I didn't link to the logs or provide more details.

[2022-03-07 22:00] markfields commented on #8411
The other case recently was around a service outage where JoinSession returned 500 every time.  We may want to consider a loader-level mitigation that would force the container to be read-only if we get stuck in this way.

[2022-03-07 22:06] vladsud commented on #8411
Yes, 500 might be worth following up. I think we still want to keep reconnecting, but maybe have linger back off period, and maybe eventually (after like couple minutes of retries) to bail out. Maybe other way to say it - I think policy here should be slightly different from what we do with other cases, but I'm not sure we have (today) enough data at container / container runtime layer to differen

[2022-03-07 22:28] vladsud commented on #8513
Per Sean Livingston, we have to remove this API call as it's not public and should not be in our code base.
Suggestion is to send email to "ask VROOM" DL and figure out other way to get directUrl (what Fluid needs) and not to expose anything else.

[2022-03-07 22:32] vladsud commented on #8513
Also Sean says that that directUrl is not stable as it can break over time (with site collection rename?), maybe there are other ways to achieve what we need. We should follow up.

[2022-03-07 23:19] markfields commented on #8411
The 500's case is tracked in this internal PBI:  https://dev.azure.com/office/OC/_workitems/edit/5828431/

[2022-03-08 00:30] yann-achard-MS opened #9385 "Missing API: SharedTreeEditor.setValue"
## Feature
The `SharedTreeEditor` API does not expose a `setValue` methods. This is inconsistent with the rest of the API which purports to support all types of edits.

**Describe the solution you'd like**
Add a `setValue(target: NodeId, payload: Payload): EditId` function to the API.

**Current workaround**
`const editId = tree.applyEdit(Change.setPayload(target, payload));`

[2022-03-08 01:00] marcmasmsft commented on #9000
Some more details about the errors:

Both can happen during any write calls, i.e. join session, create attachment blob, post ops, post snapshot.

- ODSP will return 403 with error code "servicereadonly" when the site is in read-only mode
- ODSP will return 507 with error code "quotalimitreached" when the user is out of space

@anthony-murphy let me know if more details are needed
@GaryWilber a sim

[2022-03-08 01:00] jack-williams commented on #9234
For the sake of uniformity (which I agree with the above is worth perusing given that schema can be used to project out as primitives) is it worth introducing annotations and annotation types as further concepts?

At what point are annotations not just qualified properties, and strongly typed annotations are schemas that only apply to the annotations qualifier?

For the schema strongly applied to

[2022-03-08 01:54] vladsud commented on #8690
@anthony-murphy - hm, I was assuming this is about fields in Word, and this issue starts with description of fields. Curious, is this new requirement? Would be great to capture in the top comment of this issue.
I think for fields, there is no ability to implement collaborative editing, it's LWW for whole field (user text and calculated portion)

[2022-03-08 01:58] tylerbutler opened #9388 "Routerlicious: Review code scanning results"
Tracking issue for:
- [ ] https://github.com/microsoft/FluidFramework/security/code-scanning/44
- [ ] https://github.com/microsoft/FluidFramework/security/code-scanning/45
- [ ] https://github.com/microsoft/FluidFramework/security/code-scanning/46
- [ ] https://github.com/microsoft/FluidFramework/security/code-scanning/47
- [ ] https://github.com/microsoft/FluidFramework/security/code-scanning/48

[2022-03-08 01:59] tylerbutler commented on #9388
@microsoft/fluid-cr-server Can you folks take a look at these (and any other server-related code scanning issues you see) and either dismiss them or otherwise deal with them? Thanks!

[2022-03-08 02:11] anthony-murphy commented on #8690
yeah. when we talked to them they brought up a bunch of other cases, like comments that don't fit the field model

[2022-03-08 07:20] heliocliu commented on #9367
Docs should continue to be published out of main for now as there is no means currently for differentiating "current" vs "upcoming" docs.  "Upcoming" docs changes will be pulled into main at the same time as the major releases anyway.

[2022-03-08 07:24] heliocliu opened #9390 "Update public documentation to reflect new breaking change handling"
As part of #8007 we created the `next` branch and adjusted how breaking changes should be merged and staged into the repo.  Public documentation needs to be updated to account for this and the associated process changes as well:

- Main repo README.md
- Wiki page on making cross layer changes
- Adding a wiki page on what a breaking change is and the process for staging and merging it
- Adding a wi

[2022-03-08 15:59] vladsud commented on #8690
Commenting scenario seems like (logically) can be achieved as marker with a handle pointing to another Sequence instance. Not sure RE requirement of CP space / virtualization. I wonder if we are better off investing into cheaper "child" sub-Sequences in some form, also helping other scenarios (like tables).

[2022-03-08 16:58] scottn12 commented on #8745
After more discussion we came to the following conclusions:

1. The new `connect()` and disconnect()` functions will be implemented on the container level.
2. We will want to introduce functionality in the future which uses `Loader` or a new scoping object to change the connection state for multiple containers.
3. `setAutoReconnect()` will be deprecated to keep reconnection logic internal. Its fun

[2022-03-08 18:39] tylerbutler opened #9395 "build-tools: Fix URL parsing in lockfile parsing"
Tracking issue for:
- [ ] https://github.com/microsoft/FluidFramework/security/code-scanning/31

[2022-03-08 18:52] scottn12 opened #9396 "Add `connectionState` to `IFluidContainer`"
To make `IFluidContainer` and `IContainer` consistent, `connectionState` will be added to `IFluidContainer`. This will be preferred over `IFluidContainer.connected` which will be deprecated in https://github.com/microsoft/FluidFramework/issues/9167.

[2022-03-08 18:52] scottn12 opened #9397 "Remove deprecated `Container.setAutoReconnect()`, `Container.resume()`, `IContainer.connected`, and `IFluidContainer.connected`."
Below are the APIs which were deprecated in https://github.com/microsoft/FluidFramework/issues/9167 along with their replacements.

- `Container.setAutoReconnect()` -> `Container.connect()` / `Container.disconnect()`
- `Container.resume()` -> `Container.connect()`
- `IContainer.connected` -> `IContainer.connectionState`
- `IFluidContainer.connected` -> `IFluidContainer.connectionState`

[2022-03-08 19:01] agarwal-navin opened #9398 "Setting FlushMode to Immediate will hit assert 0x16a"
When TurnBased is the default FlushMode, setting it manually to Immediate will hit assert 0x16a here - https://github.com/microsoft/FluidFramework/blob/71cab8a8b36e91d97dcbd0d2c5ed16c17ddf5e91/packages/runtime/container-runtime/src/pendingStateManager.ts#L376.

The bug is that the Immediate FlushMode is added to the pending state queue. When a local message is ack'd after this, it hits this assert

[2022-03-08 19:18] markfields commented on #8686
The alert fired again.  I'm leaving the IcM ticket active at Sev4 to dedupe future hits against.
https://portal.microsofticm.com/imp/v3/incidents/details/293691527

This bug has had a high cost for OCEs over the last 2 months so we should prioritize a mitigation here pretty urgently.

FYI @nmsimons for triage

[2022-03-08 19:45] agarwal-navin commented on #8686
Can you check if it summarized with older versions - loader 0.36.x and runtime 0.47.x?

[2022-03-08 19:51] hedasilv commented on #9370
Digging further, it seems that `examples` and other client packages have been updated to use pre-release version 0.1035.x of server packages, but Tinylicious is still using 0.1034 (for example, Tinylicious still depends on version 0.1034 of server-services-telemetry).

As a result, when npm installs the dependencies, it puts server-services-telemetry @ 0.1034.0 into the "root" of the node_modules

[2022-03-08 20:07] markfields commented on #8686
3 of the 5 docIds hitting this in last 30 days had the Running Summarizer log from Fluid Preview (0.36.0 loader / 0.47.1 runtime).  1 had no Running Summarizer log - i.e. the last time it summarized must have been over 30 days ago.  The remaining one had the Running Summarizer log from a not-so-old loader/runtime (0.47.1 / 0.54.3), but my suspicion is that this doc also had a summary generated on

[2022-03-08 20:10] vladsud opened #9399 "Collect more perf data for TreesLatest call"
Code in question - **fetchLatestSnapshotCore**() API.
How to observer in Dev Tools / network tab: Filter by "**latest**" keyword in URI name

Here is what kind of data we are missing to better understand performance:
1. Record if **compression** was used or not. It sounds like [Content-Encoding](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Encoding) header should be present, a

[2022-03-08 20:11] agarwal-navin commented on #8686
This sound very similar to my analysis here - https://portal.microsofticm.com/imp/v3/incidents/details/289801053/home. Can you please take a look if these docIds are the same as I mentioned in the incident.

[2022-03-08 20:11] ChumpChief commented on #9370
For the first bullet, Tinylicious is restricted to using non-prerelease dependencies, so I'm checking on release plans for those dependencies.

For the second bullet, #6915 is tracking it.

[2022-03-08 20:28] vladsud commented on #9398
Assigning to current month as that's regression. We should assess if hot fix is required.

[2022-03-08 20:35] markfields commented on #8686
Yes your analysis is great!  The problem is, we never drove to a fix or mitigation of any kind, and even though we'd like to ignore these because it's essentially an unsupported scenario, we can't because it keeps happening and draining hours of OCE time and effort and represents a significant amount of noise.  So we need to do something.

Ideas off the top of my head (none are great):
* If we can

[2022-03-08 20:36] andre4i commented on #9398
Do we know the original intention of that assertion? What is it actually validating when it's checking for the value of the pending flushmode state? @agarwal-navin

[2022-03-08 20:38] #9371 closed

[2022-03-08 21:15] anthony-murphy opened #9401 "SummaryAckWithoutOp being logged when running SharedMatrixDeletes snapshot tests"
SummaryAckWithoutOp being logged when running SharedMatrixDeletes snapshot tests
we should figure out why this is being logged, fix it, and remove this supression

_Originally posted by @anthony-murphy in https://github.com/microsoft/FluidFramework/pull/9400#r822077672_

[2022-03-08 21:17] agarwal-navin commented on #9398
Added a test for that repros this bug - https://github.com/microsoft/FluidFramework/pull/9402.

[2022-03-08 21:17] agarwal-navin commented on #9398
Looking at the history to determine this.

[2022-03-08 21:52] #9248 closed

[2022-03-08 22:50] #9268 closed

[2022-03-08 22:50] tylerbutler commented on #9303
Closing since all tasks are done.

[2022-03-08 22:50] #9303 closed

[2022-03-09 00:19] vladsud opened #9406 "Investigate alternative ways for JSON serialization"
Context - JSON serialization of payloads by DDSs, including summary & op payloads.
We use standard way to serialize JSON payloads - through browser provided JSON.serialize().
It is very verbose, due to a lot of quotation marks, commas, etc.
On top of it, there is extra overhead due to escaping when serialized content is a property of object that is serialized (i.e., double serialization). This app

[2022-03-09 00:31] markfields opened #9407 "Real Service Tests: Fault Injection errors should not impact automation health model"
In https://portal.microsofticm.com/imp/v3/incidents/details/293856622/home, the top-hitter for test run 56754 was `Nack (BadRequestError): FaultInjectionNack`.

I believe that these fault injection errors are expected, and should be handled properly by the system and not be counted against the health model.

[2022-03-09 00:32] markfields commented on #9407
@anthony-murphy do you agree with this?  Or is it correct for these errors to impact the health metric.  If so, let's close this and update the alert documentation to explain how to respond to these errors when they bubble up.

[2022-03-09 00:51] vladsud commented on #9406
One important note on priorities: I'd think (based on escalations with 1Mb+ ops) that doing that work for ops would be higher priority. That said, implementing it there requires support of binary payloads (or fallback to base64). I'd rather see us move to binary, and that will take time, as the change is not limited to client only.
On other hand, there is push across the board (mostly from Teams)

[2022-03-09 01:18] agarwal-navin commented on #9398
The pending state manager has two responsibilities:
1. Replay pending message in order and preserve batch state of these messages during replay.
2. Validate that the batch information is preserved when ops round trip from the server.

When `Immediate` is the default `FlushMode`, this is what the tracking looks like:
- `FlushMode.Immediate` - This is tracked only if there is a message before it. Si

[2022-03-09 01:20] agarwal-navin commented on #9398
However, I do think that the validation is complex and can probably be simplified. We can track all the `FlushMode` states irrespective of whether there were ops in between.

[2022-03-09 01:24] agarwal-navin commented on #9398
I am also wondering if the processing of remote op can have an impact since it empties the queue - https://github.com/microsoft/FluidFramework/blob/8e864f77c902c15472ffe1d4cd59362c106477ca/packages/runtime/container-runtime/src/pendingStateManager.ts#L285.

My guess is that it only empties the queue if all it contains were stashed ops but it's not clear if that's what is happening. @wes-carlson @v

[2022-03-09 02:01] agarwal-navin commented on #9401
I repro'd this locally and I think I know what is happening. The snapshot frequency for the stress test is 50 which means that after every 50 ops, it take a snapshot of the container, loads a new container from this snapshot and replays rest of the ops (among other things).
In the `messages.json` file that you added, op# 100 is `summarize` and op# 101 is `summaryAck`. So, at some point, a containe

[2022-03-09 02:10] agarwal-navin commented on #9401
This is actually happening in real documents more often than you would think:
<html>
<body>
union Office_Fluid_FluidRuntime_Error
| where Event_Time > ago(7d)
| where Data_eventName contains "SummaryAckWithoutOp"
| summarize count() by Data_eventName, Data_sequenceNumber, Data_summarySequenceNumber, Data_initialSequenceNumber

Data_eventName | Data_sequenceNumber | Data_summarySequenceNumber | Dat

[2022-03-09 02:11] agarwal-navin commented on #9401
For the snapshot tests / replay tool, I think its fine to ignore this error.
But for real docs, I would not expect this to happen. I think this needs to be looked at.

[2022-03-09 17:12] andre4i commented on #9398
I have some trouble understanding on the conceptual level whether this particular assert is out of place with the current invariants (default flushmode) or if it still guards the system from ending up in an inconsistent state. I can't find any instances of it in Kusto (although that doesn't tell us much). If we have good proof that the latter is not the case, we can just remove it and backlog an i

[2022-03-09 17:48] vladsud commented on #9399
Looks like contentsize is present for non-compressed payloads.
From Marcelo:

Also bug to track adding Redis cache info in response:
https://onedrive.visualstudio.com/SPIN/_workitems/edit/1309956

[2022-03-09 18:13] agarwal-navin commented on #9398
My only concern with removing it is whether it may end up hitting other asserts in that file. I think it should be fine but we should do some testing to validate that. For instance, starting with either of the modes and then switching between them a few times in the same document and making sure that things are working as expected.

[2022-03-09 18:16] wes-carlson commented on #9398
This is only reached when the remote op is from a previous container that we got stashed ops from. It will stop and return the first op it sees so it shouldn't empty the queue.

[2022-03-09 18:40] chensixx commented on #8962
question: when @andre4i said we should let relative loader propagate client type, doesn't request already have the clientType in the headers? am I reading this correctly?

[2022-03-09 19:07] tylerbutler opened #9417 "ODSP driver and utils: Review URL substring sanitization"
Tracking issue for:
- [ ] https://github.com/microsoft/FluidFramework/security/code-scanning/24
- [ ] https://github.com/microsoft/FluidFramework/security/code-scanning/25
- [ ] https://github.com/microsoft/FluidFramework/security/code-scanning/26
- [ ] https://github.com/microsoft/FluidFramework/security/code-scanning/27
- [ ] https://github.com/microsoft/FluidFramework/security/code-scanning/29

[2022-03-09 19:35] malekpour commented on #8725
There are more node dependencies beyond version 0.54. If you upgrade client dependencies, the [repo](https://github.com/alabaki/azure-client-issue) doesn't works anymore.

Since 0.55, @fluidframework/routerlicious-driver depends on node-fetch which requires `stream, http, process, buffer, util` and I was not able to get it to work with vite even after providing polypills.

https://github.com/micro

[2022-03-09 20:05] tylerbutler commented on #9417
@microsoft/fluid-cr-odsp Can you folks take a look at these (and any other ODSP-related code scanning issues you see) and either dismiss them or otherwise deal with them? Thanks!

[2022-03-09 22:50] heliocliu commented on #8725
oof
@znewton Can you comment on the intent of the original change?  It looks like `node-fetch` is targeted for node environments but `routerlicious-driver` needs to be browser-compatible.  The webpack issues described above make these errors less apparent as part of our validation unfortunately.

[2022-03-09 23:34] znewton commented on #8725
Yes absolutely.  The reason for switching to fetch was that Axios doesn't provide streaming capability which was something we wanted to experiment with. Unfortunately, the choice to use `node-fetch` was simply "ODSP driver established a precedent of using node-fetch in browser and Node, so it should be fine." That, plus the fact (unknown to me) that Webpack 4 automatically bundles Node polyfills m

[2022-03-09 23:52] #8657 closed

[2022-03-10 01:28] #9355 closed

[2022-03-10 01:32] tyler-cai-microsoft opened #9426 "Fix GC Outbound Reference Validation"
GC outbound reference validation does not catch the bug in this issue #8859

Essentially references from child nodes to parents are added to explicitReferences when they should not be. Thus, the explicitReferences contain references that were not explicitly added.

[2022-03-10 01:58] curtisman commented on #8725
Just FYI, we currently use `node-fetch` v2, which just bind to the browser version of it fetch in the browser context and should not require the node polyfills.

node-fetch v3 dropped supported for browser support [(see link)](https://github.com/node-fetch/node-fetch/blob/main/docs/v3-UPGRADE-GUIDE.md#dropped-the-browser-field-in-packagejson)

So if we upgrade to it, we will have to put in a shim

[2022-03-10 03:44] malekpour commented on #8725
[Fetch API has landed into Node.js](https://github.com/nodejs/node/commit/6ec225392675c92b102d3caad02ee3a157c9d1b7) since v17.5 and will be a first class citizen in Node.js 18 (LTS). Probably it makes sense to call global `fetch()` in both node and browser instead of referencing `node-fetch` directly. As per suggestion by the `node-fetch` authors, you can call global `fetch()` in node using the fo

[2022-03-10 15:07] NicholasCouri commented on #9399
I'm adding both: Content-Length and Transfer-Encoding as per Marcelo's instructions.  I do see on a large document, the content-encoding: gzip set.   Also, I'm assuming we want them on all the fetches (getSPOAndGraphRequestIdsFromResponse).

- Based on the conversation with Marcelo, it will take 4-6 weeks after his check in, to get the new field to explicitly identify content cached.  I was planni

[2022-03-10 16:14] christiango commented on #7820
@tylerbutler - I wonder if we should enforce that developers should be using node 14 via tooling or the engine field in package.json. It took me a while to realize that I HAD to be on Node 14 to deveop against FF since all other repos I work in support 16

[2022-03-10 17:09] tylerbutler opened #9434 "Consider using engines field in root package.json to indicate developers should use node 14"
See discussion starting here: <https://github.com/microsoft/FluidFramework/issues/7820#issuecomment-1064233169>

[2022-03-10 17:10] tylerbutler commented on #7820
@christiango Definitely open to those suggestions. We do have an `.nvmrc` in the root of the repo to help indicate what version should be used, but it doesn't help much. With your recent experience, was it a problem with Node compat or npm? Last time I looked at this the main problem was npm because of peer deps and lockfile format. If you manually downgrade to npm 6 then it might work. Not that y

[2022-03-10 17:13] christiango commented on #7820
Sorry for the confusion @tylerbutler - yes it was ultimately the npm version included with node 16 that caused the issues, not node 16 itself!

[2022-03-10 17:42] sdeshpande3 commented on #9033
The changes are expected to go in next branch -- release 0.59

[2022-03-10 17:42] sdeshpande3 commented on #9034
The changes are expected to go in next branch -- release 0.59

[2022-03-10 17:57] malekpour commented on #8725
@znewton, wasn't `node-fetch` v3 a better option?

[2022-03-10 18:07] znewton commented on #8725
@malekpour Upgrading to node-fetch v3 would impact everywhere else in the repo that uses node-fetch. If what @curtisman says is true, then our use of node-fetch v2 is important for other places (e.g. odsp-driver) to not require Node.js polyfills. I did not want to take on the scope of altering their fetch usage.

[2022-03-10 18:12] curtisman commented on #8725
Upgrading to  `node-fetch` v3 is possible as long as we add the shim to redirect it to the browser implementation ourselves.

I haven't look into cross-fetch, but I believe it has browser polyfill as well?  My concern would be that it will increase bundle size in the browser context because of the unused polyfill (we don't support browser that doesn't have the 'fetch' API)   Would be good to make

[2022-03-10 18:14] malekpour commented on #8725
I think `cross-fetch` is using `node-fetch` v2 for node and native fetch for browser.

[2022-03-10 18:18] znewton commented on #8725
According to cross-fetch README,

So I guess it does indeed add the polyfill/ponyfill of WhatWG-Fetch :/

My main hesitation for touching ODSP's node-fetch usage is I don't know how to locally validate odsp-driver changes. @vladsud thoughts here?

[2022-03-10 18:50] markfields commented on #9215
At first glance, some of this is related to #7995 so assigning myself here as well.

[2022-03-10 18:53] znewton commented on #8725
In the [section of the `node-fetch` upgrade guide](https://github.com/node-fetch/node-fetch/blob/main/docs/v3-UPGRADE-GUIDE.md#dropped-the-browser-field-in-packagejson) that @curtisman linked to, they seem to recommend using `cross-fetch` "if you are using node-fetch client-side". Switching the r11s-driver to `cross-fetch` would immediately solve this issue, but would indeed increase bundle size a

[2022-03-10 18:53] jatgarg opened #9435 "Add dispose event on deleted sub-directories in shared directory."
## Describe the bug
Add dispose event on deleted sub-directories in shared directory.

[2022-03-10 19:21] agarwal-navin opened #9436 "Add telemetry for size of GC blobs"
The GC blob is currently written as a single blob at the root of the summary tree. The size of this blob can end up being very large and we may not be able to fetch it from the service.
We should log the size and monitor it. If needed, we can break the blobs down and then upload it. The code to read these multiple blobs already exists so it should be trivial to do so.

[2022-03-10 19:38] pleath opened #9437 "Clean up deprecated property ISummaryRuntimeOptions.generateSummaries"
generateSummaries has been replaced by disableSummaries. The property and its references can be deleted once it's no longer in use.

## Deprecated API

**Context**

**Approach**

**Dependencies**

**Compatibility Concerns**

**Phases**

**Expected Timeline**

**Open Questions**

[2022-03-10 20:12] vladsud commented on #9436
We should log total size for now. Once we learn total size is large (relative to number of nodes), then we can do deeper digging / extra telemetry.

[2022-03-10 20:41] vladsud opened #9438 "Log when Data store has too many DDSs"
We got a 70Mb doc that has a lot of nodes:

union Office_Fluid_FluidRuntime_*
| where Data_docId == "aMtUNIYUVCTh9pnXng3MeXBc4k11eKpqrj4xeLK8S3A%3D"
| where Data_eventName contains "GarbageCollection"
| summarize count() by Data_eventName, Data_deletedNodes, Data_totalNodes, Data_deletedDataStores, Data_totalDataStores

Data_eventName | Data_deletedNodes | Data_totalNodes | Data_deletedDataStores

[2022-03-10 21:48] vladsud commented on #4590
We can consider adding an API to fetch whole tree of blobs (to storage interface).

Alternative solution - each blob read does not happen right away, but rather cached by driver and processed on 0-ms timer.
Once timer fires, we aggregate all request that happened during this time and issue multi-blob read request.

In either case, ODSP may return only some blobs, as they plan to do 10Mb limit. Nav

[2022-03-10 22:42] ssimic2 opened #9442 "Azure Client document recovery API"
This item is a follow up item on #8870. It communicates 1.0 goals/deliverables around recovery API.

## Objective ##

For 1.0 we are aiming to surface basic set of tools needed for user to retrieve data from corrupted container. From there we are hoping to learn, validate assumptions and make improvements post 1.0. For example, we need to learn:
- What “minimal data loss” means to our clients, and

[2022-03-10 22:42] #9435 closed

[2022-03-10 22:49] znewton opened #9443 "Use built-in fetch() in Browsers and node-fetch in Node"
## Work Item

#8725 discussion around `node-fetch` in the browser:
- We only support browsers that support Fetch() API, so we should not need to include Fetch polyfills.
- `node-fetch` v2 defers to Browser built-in Fetch() in browser context
- `node-fetch` v3 removes Browser support
- Bundling R11s-driver with Vite and Webpack 5 forces addition of Node polyfills to support `node-fetch`.

#9433 rep

[2022-03-10 22:52] znewton commented on #8725
Merged #9433 to resolve the immediate issue that r11s-driver does not work without host adding their own Node polyfills. Opened #9443 to track improvement of the solution so that we don't include Fetch polyfills (i.e. WhatWG-Fetch).

[2022-03-10 23:11] #9395 closed

[2022-03-11 00:10] markfields commented on #7824
I removed the use of `response.statusText` in error message with #9249, and the other difference is not a big deal.  `createOdspNetworkError` is only used in one other place, and the caller has `retryAfterSeconds` but no `Response`, so it kind of makes sense.  The signature could be tightened down to some helper type that has _either_ `retryAfterSeconds` _or_ `Response` etc, but not worth tracking

[2022-03-11 00:10] #7824 closed

[2022-03-11 00:18] markfields opened #9446 "Blob tests failing in e2e due to unaccounted for error message from assert"
e.g. https://dev.azure.com/fluidframework/internal/_build/results?buildId=56170&view=ms.vss-test-web.build-test-results-tab&runId=1174698&resultId=101272&paneView=debug

Which has a bunch of tests complaining about `Unexpected Errors in Logs: ... { ... "error": "0x204", ... } `

[2022-03-11 00:21] markfields commented on #9446
@wes-carlson - I am planning to skip these tests if not ODSP until they're fixed to reduce noise. Shout if that's a concern.

[2022-03-11 01:21] heliocliu commented on #7820
@tylerbutler Could you clarify the relation to the 1.0 work here?  Maybe I'm just missing some context, but the layering issues for 1.0 are more around our repo organization rather than anything specific to our npm version

[2022-03-11 01:34] agarwal-navin opened #9447 "Turn GC mark phase on by default"
Currently, GC mark phase is off by default and has to be turned on via container runtime options. We should turn GC on by default and provide a way to turn it off via container runtime options. Basically, change GC from opt-in to opt-out.

[2022-03-11 03:31] vladsud commented on #9417
Seems to be valid warnings, I'd keep this bug.

[2022-03-11 03:38] vladsud commented on #9401
I'm not sure I understand the problem. @agarwal-navin, when you say "container loads from snapshot at op# 100", do you say that summary reference sequence number was 100? If so, summary op has to be > 100, it just can't be 100, right?

[2022-03-11 18:29] vladsud commented on #8545
Some observations / questions / clarifications based on reading this issue:
1. "It maybe ok for some operations to have local side effects" - it would be great to clearly spell out what happens if DDS was created and modified in cancelled transaction. I assume attach op would not be undone, but all other ops would be removed.
   - Please note that data store creation today includes initialization

[2022-03-11 18:56] vladsud commented on #8260
I've glanced at one week of latest data. Here are some observations:

1. Some number of our errors are hiding behind Data_untrustedOrigin == 1 (counts are not high today, but I think we should have a plan to look into them somehow and ideally not mark with Data_untrustedOrigin  or have other ways to include them into "our" queries:

fluid:telemetry:Container:ContainerClose	0x16f	dataProcessingErro

[2022-03-11 19:01] tylerbutler commented on #7820
@heliocliu I was specifically thinking of #8105.

I assumed that we'd be using a workspace-aware package manager to help manage everything. How are we going to handle symlinking the right versions of each package as changes are made? E.g. Package B 1.0 depends on Package A 1.2, now you want to test a package A changes with package B?

[2022-03-11 20:10] heliocliu commented on #7820
@tylerbutler I'm with you there; I just got lost on how that relates to the npm version 😅

[2022-03-11 20:29] tylerbutler commented on #7820
@heliocliu Ahhhh, yeah, I wasn't clear about that. npm 6 does not support workspaces, so if we want the tools to help us manage the repo, we'll need to upgrade to npm 7+ or yarn or pnpm. Yarn is my vote since it seems the most mature and best equipped to handle our needs. But that's just an opinion.

Anyway, if you _don't_ think we'll need to upgrade or switch package managers as part of the repo

[2022-03-11 23:51] KRyan commented on #9438
@vladsud would you propose a guideline for telemetry on too many DDSs from the component/dataobject level as well?

(For 1P, there is one automation guideline in place, which is to implement a test to ensure that no ops are generated simply by loading the doc, which is a major source of DDS spam.)

[2022-03-12 02:32] markfields commented on #8260
The query is a little more nuanced than that but yeah that's the idea. Thanks for pointing out those bugs I will open issues.

[2022-03-12 23:10] DanWahlin commented on #8298
I'm hitting a similar issue when trying to upgrade a project to 0.57.2. I also updated react-scripts from 4.0.3 to 5.0.0 which I suspect is causing the webpack issue. Project can be found here:

https://github.com/microsoft/brainstorm-fluidframework-m365-azure

Here are some of the errors I'm seeing:

[code]

[2022-03-13 00:52] tylerbutler commented on #8298
@DanWahlin I think your issue is the same as #8725.

[2022-03-14 16:37] vladsud commented on #9438
Any number above average will do it. I'd start with 10.

[2022-03-14 16:46] vladsud opened #9472 "GC data is duplicated and is very large in table heavy files"
Fluid DocId == “aMtUNIYUVCTh9pnXng3MeXBc4k11eKpqrj4xeLK8S3A%3D”
[Actual File](https://www.office.com/launch/fluid/content?auth=2&action=edit&drive=b!sT6xOCLunUaw96VVvQpfKDMINLoURjxDlZOHWW-VJzmXkPSR7oYpSYFq_u8nsw1D&item=01H3KDHNH6PY5TBAJNXFD3MQGLPCNQTUPZ&file=https:%2F%2Fmicrosoft-my.sharepoint.com%2Fpersonal%2Fdevverma_microsoft_com&siteUrl=https:%2F%2Fmicrosoft-my.sharepoint.com%2Fpersonal%2Fdevv

[2022-03-14 17:35] taylorsw04 opened #9474 "SharedTree: System Layering Design"
[Placeholder]

Related: #9151, #8989

Craig's first take [here](https://github.com/CraigMacomber/FluidFramework/blob/modules-doc/packages/dds/tree/docs/wip/Modules.md)

[2022-03-14 17:37] taylorsw04 opened #9475 "SharedTree: Data Model Design"
The Data Model design describes how tree data is conceptually organized within the SharedTree DDS.  It is useful for understanding what kind of data can be represented by a SharedTree and for interpreting the SharedTree operations, which target the abstract data model.

Our M0 goal is to define the minimal data model we will build in M1. This design is now available in PR #9708.

(Related: #9282 #

[2022-03-14 18:03] taylorsw04 opened #9477 "SharedTree: Initial Changeset Rebase Implementation"
Implement a prototype that handles the rebasing of multiple local commits over a single base commit to produce updated (i.e., rebased) versions of the local commits as well as a changeset that describes the net effect of the base commit on the local branch.

The prototype should support the follow change operations:

- insert
- set-like range delete
- set-like range move
- slice-like range delete

[2022-03-14 18:09] BrianHuf commented on #9234
Regarding M3: Schema and Constraints / Deliverables / Schema / Repsository from [here](https://github.com/microsoft/FluidFramework/issues/8273#issue-1055280965)

I see a clear distinction between the 'application schema', 'container schema', and 'container data'.

Premise: it is not possible to guarantee the application schema (compile time) is the same or a super set of the container schema.  For

[2022-03-14 19:01] agarwal-navin opened #9480 "Make flushMode immutable for a container. Deprecate `ContainerRuntime.setFlushMode()`"
From the conversation in https://github.com/microsoft/FluidFramework/pull/9432, we should make flushMode immutable.

Primary reason for this work is to enable / make it easier to do
- #9481

[2022-03-14 19:03] agarwal-navin opened #9481 "Remove flushMode tracking and validation in PendingStateManager"
From the comment here https://github.com/microsoft/FluidFramework/issues/9432#issuecomment-1065578584_, we don't need to track flushMode. We can track batches and then replay a batch together via orderSequentially. This will make the tracking and validation much simpler.

[2022-03-14 19:28] #9106 closed

[2022-03-14 19:36] markfields opened #9482 "'npm run ci:test' times out intermittently in "Build - client packages" pipeline"
This has been happening for months, on both the [internal](https://dev.azure.com/fluidframework/internal/_build?definitionId=12) and [public](https://dev.azure.com/fluidframework/public/_build?definitionId=11) pipeline, just look at failures with a duration of 1 hour.

The step that is running when the pipeline is canceled is executing `npm run ci:test`, which in successful runs finishes in about

[2022-03-14 20:07] #9213 closed

[2022-03-14 20:50] andre4i commented on #9184
This error has turned into a regular telemetry event with https://github.com/microsoft/FluidFramework/pull/8833 as it seemed to be part of the normal flow. I will add a test to persist the assumption.

[2022-03-14 21:48] marcmasmsft commented on #8995
@pleath are there updates on this issue? Anecdotally, I'm seeing this on scriptor files very recently created. For instance, from a file I created today:

<img width="295" alt="image" src="https://user-images.githubusercontent.com/47159987/158266906-45048be2-b569-429f-af86-0f39a85d1bc0.png">

[2022-03-14 22:31] marcmasmsft commented on #8995
from the last 7 days in SPDF:

<img width="236" alt="image" src="https://user-images.githubusercontent.com/47159987/158271348-99fb65ff-490a-4b02-bb79-d047dde8cc81.png">

For .fluid files, about 10% of the requests to the server were not using the latest keyword
For .loop and .note, that goes up to about 28%
For .whiteboard files, a much healthier 0.4%

[2022-03-15 00:37] pleath commented on #8995
Interesting data. I haven't looked at this lately, because we're waiting for the logging that Navin recently added to show up in telemetry, which should happen after 0.58 is released.

[2022-03-15 00:54] #9398 closed

[2022-03-15 02:03] vladsud commented on #8483
Here is another problem that can be observed by opening a file, making single edit and let it sit there - summaries will keep flowing.
What I see in debugger - AgentScheduler installs “removeMember“ handler that will react to leave op for a client by attempting to assign task to itself. In a sample I’ve caught it was “leader” task, and clientId was self.

I think what happens – PUSH will remove cl

[2022-03-15 18:33] tylerbutler commented on #9093
@ChumpChief Was this addressed by #9135? Are there other rules that need to be re-enabled other than unbound-method (#9082)?

[2022-03-15 19:00] #9038 closed

[2022-03-15 20:05] CraigMacomber commented on #9234
Thats a nice set of terminology to express this. Here is my current vision using those terms:

# definitions

- 'container schema' : a set of constraints it is valid to assume the 'container data' meets, and that must be maintained when editing (including through conflicts).
- 'application schema' : a set of constraints the application wants to make about the data.

# Container schema options

The

[2022-03-15 20:06] ChumpChief commented on #9093
I'd probably close this one since based on @markfields description I think he was just expecting eslint7 to be enabled.  Maybe open a new epic to survey our rules, add missing rules that are worth having, and unify them.

[2022-03-15 21:20] andre4i commented on #9480
To add:

- flushmode may be set via `IContainerRuntimeOptions`
- must follow the guidelines at https://github.com/microsoft/FluidFramework/wiki/API-Deprecation
- must ensure whether or not someone is using actually using this API (add a telemetry event when this property is toggled). My guess is that the feature is not currently used.

[2022-03-15 21:52] ChumpChief commented on #9370
With #9494 we're up to date with latest server (0.1035.x) throughout the repo, but the issue persists.  @hedasilv can you please take another look?

[2022-03-15 22:32] hedasilv commented on #9370
@ChumpChief Even though that is the case, it seems that running `npm install` still causes nested node_modules dependencies. Example:
* @fluidframework
   * server-lambdas @0.1035.1000
   * server-local-server @0.1035.1000
      * node_modules/server-lambdas @0.1035.1000
      * node_modules/server-services-telemetry @0.1035.1000
   * server-services-core @0.1035.1000
      * node_modules/server-s

[2022-03-15 23:33] tylerbutler opened #9499 "Finalize eslint ruleset for repo"
We want to have a standard eslint ruleset across the repo. Currently we have a set but it's overwritten in many places, and it is not nearly as strict as it should be to prevent new projects from introducing known-bad patterns. This leads to inconsistent and hard to maintain code.

## Issues
### Done
- [x] #9502
- [x] #9740
- [x] #3921
- [x] #9082
- [x] #9562
- [x] ~Configure node-module preventio

[2022-03-15 23:39] tylerbutler opened #9500 "strictNullChecks should be true for all projects"
Leaving this as false allows bugs to creep in. Plus several lint rules cannot run without strictNullChecks, which makes the code quality downsides of this even worse.

- [x] #10407

[AB#537](https://dev.azure.com/fluidframework/235294da-091d-4c29-84fc-cdfc3d90890b/_workitems/edit/537)

[2022-03-15 23:42] tylerbutler opened #9501 "Establish lint config and use across repo"
Our lint config used through most of the repo is insufficient. We need to establish a baseline config that has been reviewed by some folks on the team, then use

- [ ] #9499
- [ ] #9500
- [ ] Use new ruleset in all packages.

[2022-03-16 00:09] tylerbutler commented on #9093
The remaining work is tracked by #9501, so closing this.

[2022-03-16 00:09] #9093 closed

[2022-03-16 00:30] vladsud commented on #9000
we should start with clear definition of responses for both SPO & PUSH when that happens.
Sample payload from SPO would be great. I assume that will apply to APIs like summary upload, blob upload, join session.
PUSH is likely less interesting as we always go through full reconnection flow on connection / disconnect error, so as long as join session flow exposes right data, we should be fine.

[2022-03-16 00:54] #4500 closed

[2022-03-16 00:59] tylerbutler commented on #4843
This should not have been closed.

[2022-03-16 01:26] ChumpChief commented on #9370
I observe what you're seeing.  I notice that deleting/regenerating lerna-package-lock.json results in the flat structure expected (both in the file as well as in node_modules), though I don't know why that would be necessary to get the right result offhand.  I also observe that after doing this, the lumberjack errors go away.

Probably a more surgical modification of lerna-package-lock.json is the

[2022-03-16 01:44] curtisman commented on #9370
That's a npm lock file behavior, where it doesn't update existing structure in the lock, even if it has become hoistable.
Likely, the previous version is at the root and the new version is nested.  And when you update the root version, the nested version remains.

Delete the nested entry in the lock and do a reinstall (delete the node_module and install).

[2022-03-16 02:04] marcmasmsft opened #9503 "Fluid debugging tools should use version history for previous snapshots"
Currently, ODSP keeps 3 snapshots in the current Fluid file. The latest, the base (at least 30 days) and an intermediary one (candidate to become base).

The only reason is for debuggability.

We should instead have debugging tools fetch snapshots directly from the version history so the latest file can stay "clean".

[2022-03-16 16:29] vladsud opened #9505 "DeltaScheduler : Unneeded delays on boot"
**(Update)**

Change scope of this item to track two key directions:
1. Unneeded pausing while loading container. We do not have good here, we should collect it (by moving Container.loaded = true down a bit to include op processing).
2. Consider moving DeltaSchedule out of runtime, or providing app more control over it, such that experience controls balance between responsiveness and throughput
__

[2022-03-16 17:34] tylerbutler opened #9506 "Review use of node APIs"
This issue is to track the work related to fully addressing #8725. I'm opening a new issue since #8725 has a lot of discussion on it already.

## Issues

- [x] #9508
- [x] #4843
- [x] #9443
- [x] #10225

### Next
- [ ] Review list and decide, for each, what the "policy" should be for the library.
- [ ] Look at complete dependency chain for the 3P libraries and ensure they're all implicit-dependenc

[2022-03-16 17:51] ChumpChief commented on #9370
I put up a PR to do that - I worry this will be a recurring problem given our current structure/release approach though, as the tinylicious release will always lag the server release.  I think avoiding this will require client packages to defer taking new server packages until they can simultaneously take the new tinylicious that includes those packages too, which shouldn't really be a requirement

[2022-03-16 18:10] tylerbutler commented on #9370
Would deleting the lockfiles and running install also work? Editing lockfiles is always error-prone in my experience.

[2022-03-16 18:27] tylerbutler opened #9508 "List of all node libraries used in repo code"
As of commit b3beb587fc, the node libraries listed below are used in various places within the repo. They're grouped below by the recommended policy/action we should take.

### Use the polyfill package that webpack 4 used.

The full list of polyfills is at https://webpack.js.org/configuration/resolve/#resolvefallback

- [x] #9509
- [x] #9510

### Replace with our isometric implementation in prod c

[2022-03-16 18:45] tylerbutler opened #9509 "Add `events` polyfill as a dependency to packages"
The list of packages is:

~common\lib\common-utils~
examples\apps\contact-collection
examples\apps\spaces
examples\apps\view-framework-sampler
examples\data-objects\codemirror
examples\data-objects\diceroller
examples\data-objects\multiview\interface
examples\data-objects\prosemirror
examples\data-objects\smde
examples\data-objects\task-selection
examples\data-objects\vltava
examples\data-objects\

[2022-03-16 18:45] tylerbutler opened #9510 "Add `url` polyfill as a dependency to packages"
Affects the following packages:

packages\drivers\local-driver
packages\drivers\routerlicious-urlResolver
~packages\loader\container-loader~
~packages\loader\driver-utils~
packages\test\test-end-to-end-tests
packages\tools\fetch-tool

Does not use url;
examples\hosts\node-host
packages\drivers\routerlicious-host

[2022-03-16 19:19] tylerbutler commented on #3921
This is now tracked in #9499, so closing.

[2022-03-16 19:19] #3921 closed

[2022-03-16 20:00] hedasilv commented on #9370
One thing we could do in `Lumberjack` (which I might have forgotten to do, apologies about that) is prevent any error logging if the code is running in "test" mode. Which I believe would apply to all the use-case scenarios involving Tinylicious, local-server, etc. The error message reported above is nothing but a message, and not a real error blocking the tests. So, suppressing the message might s

[2022-03-16 22:45] agarwal-navin opened #9514 "Update the fluid handle document"
The following fluid handle document is out of date and needs updating - https://github.com/microsoft/FluidFramework/blob/9c767dc4834c0bd2894fe21a0ce491951854c0c9/packages/runtime/datastore/README.md.
The IFluidHandle implementation has changed over the years and this document is stale and has broken links.

[2022-03-17 00:51] vladsud commented on #9472
Actually, @tyler-cai-microsoft, any chance you can glance at this (April is fine)? If you have enough knowledge to make some progress here, it would be great to assign it to you to free up Navin a bit. I think that's pretty big issue (we do not have data, but that file alone has some staggering issues with GC blob sizes)

[2022-03-17 00:53] tyler-cai-microsoft commented on #9472
Yeah, I probably will have to rearrange some of my slated April work, I think I am able to look at this (if not I can always bug @agarwal-navin 🙈)

[2022-03-17 01:30] vladsud commented on #9472
Ok, I'll assign it to you and we can look together at overall scheduling a bit later.

[2022-03-17 06:00] #5853 closed

[2022-03-17 06:00] #5091 closed

[2022-03-17 16:20] #9184 closed

[2022-03-17 17:01] ssimic2 commented on #8870
Closing this in favor of #9442.

[2022-03-17 19:16] vladsud opened #9517 "Compatibility-and-Versioning doc is wrong and needs to be fixed"
It would be great to update https://github.com/microsoft/FluidFramework/wiki/Compatibility-and-Versioning#testing-boundary-cross-changes-locally to be more realistic.

Here are some high-level obeservations:

There is no such thing as N/N-1. There is N/N-2 for runtime to data store, and essentially infinite between loader & to driver / runtime (it's capped at LTS, which I believe is 0.45 at the mo

[2022-03-17 20:20] pleath opened #9518 "Consider changing the definition of "overlapping Interval" to be both start- and end-inclusive"
Currently, IntervalCollection.findOverlappingIntervals(start, end) is inclusive on "start" but exclusive on "end." So findOverlappingIntervals(0, 1) will return {0,0} but not {1,1}. This means that the API will never return a zero-length interval that starts and ends at the end point of a string. Consider changing the definition of "overlapping" to be inclusive at both ends.

## Feature
**Is your

[2022-03-17 22:46] tylerbutler commented on #9082
@ChumpChief @markfields I was reminded of why this got disabled originally... In a lot of projects, the rule throws an exception:

[code]

I tried upgrading @typescript-eslint/eslint-plugin but it still repros. I'll start looking through their open issues...

[2022-03-17 23:11] markfields commented on #9517
@heliocliu FYI, I am working on a doc on the side to try to articulate all the different compatibility considerations around our code. I find it's always very confusing to talk about, and there are so many different axes along which to consider compatibility, so I thought it would be useful to try to write it down.  Keep me in the loop as you clarify this documentation, and I can share my notes if

[2022-03-17 23:18] markfields commented on #9082
That is a real bummer

[2022-03-17 23:19] heliocliu commented on #9517
@markfields Yeah definitely.  Fwiw I also wrote https://github.com/microsoft/FluidFramework/wiki/Breaking-vs-Non-breaking-Changes which lightly covers what it means to be breaking.  I'm thinking that page is better suited for describing what it means to be breaking/compatible whereas the Compatibility and Versioning page should be adjusted to focus more on the procedural side of how we handle comp

[2022-03-18 01:48] NicholasCouri commented on #9399
@vladsud  I've pinged Marcelo and the thread from the ODSP bug but still did not get the header name to identify the caching on the request. I'm inclined to check in the Content-Encoding and transfer-encoding fields that will at least allow us to investigate further. I could file another issue to track the additional field once it becomes available. Thoughts ?

[2022-03-18 06:00] #6374 closed

[2022-03-18 14:12] markfields commented on #9185
canRetry is only undefined for old loader (47 and before).  In the current code if canRetry is not true the container is closed and the error is thrown, so that's why it's almost always true here.

[2022-03-18 16:54] yann-achard-MS commented on #8273
@ruiterr - here is a table summarizing the differences between PropertyDDS and SharedTree when it comes to PropertyDDS constraints. Please let me if I got something wrong or forgot something on the PropertyDDS side.

| Operation | Implicit PropertyDDS Constraint | SharedTree Behavior When Constraint Not Met |
| --- | --- | --- |
| `insert` child at object field | field is empty | inserts before or

[2022-03-18 16:56] markfields commented on #9215
Unassigning myself for sprint planning/tracking purposes but still following!

[2022-03-18 17:08] markfields commented on #8743
This relates to discussions about having errors be returned through our APIs rather than thrown.  Then we wouldn't be having to deal with errors in catch blocks which are `any` typed.

One fix to consider in the meantime is a function `ensureDriverError: (error: unknown) => IAnyDriverError` which would be a specialized version of `normalizeError` which would return any driver error as-is, and woul

[2022-03-18 19:22] NicholasCouri commented on #9399
@vladsud   - I've just tried to test my changes but it ends up that we can't retrieve Content-Encoding and Transfer-Encoding  from the response header without the change to the access-control-expose-headers.

I'm assuming we would need to create a request to the ODSP team to add these 2 fields to the list of access-control-exposed-headers, isn't it?  If that is the case, we'd rather wait for bug [

[2022-03-18 20:18] #9185 closed

[2022-03-18 23:12] vladsud commented on #9399
I think so. Alternative - we do not rely here on http standard, and simply ask SPO to provide us alternative property bag with all the details like that, that goes straight to telemetry. Essentially duplicating some standard headers that are not exposed to us.

[2022-03-18 23:22] NicholasCouri commented on #9399
Updated their bug with this info!

[2022-03-18 23:47] markfields commented on #7275
Moving to April.  Meeting with Gary and Tanvir next week to catch up on progress. Design was reviewed earlier this month and implementation is underway for ODSP, and we will discuss any work required for FRS as well.

[2022-03-18 23:51] markfields commented on #1733
I'm closing this one as a dupe of "fresher" issue #7275.  But this is super helpful context/back-story to refer to.

[2022-03-18 23:51] markfields commented on #7275
See #1733 for additional back-story / context

[2022-03-18 23:52] #1733 closed

[2022-03-18 23:55] markfields commented on #9183
Sounds like a Scriptor issue.  Sergey (can't find his GH alias) said this in an internal conversation about this error:

I will mention this issue in #8260 as a case study to make sure it gets bucketed properly as "probably not ours"

[2022-03-18 23:55] #9183 closed

[2022-03-18 23:56] markfields commented on #8260
Reminder to take a look at #9183 and make sure that error is bucketed properly (it's a Scriptor bug)

[2022-03-19 00:08] andre4i commented on #9154
Keeping this open just in order to deal with the possibility of fallout from the experiment.

[2022-03-19 00:10] sonalivdeshpande opened #9534 "E2E test failures"
There are many tinylicious and odsp e2e testing failing: https://dev.azure.com/fluidframework/internal/_build/results?buildId=56170&view=ms.vss-test-web.build-test-results-tab

## ODSP Test Failures:
- [ ] #9728
- [ ] #9727
- [ ] #9726
- [ ] #9721

## Tinylicious Test Failures:
- [ ] #9725

## R11s Test Failures:
- [ ] #9724
- [ ] #9723
- [ ] #9722

[2022-03-19 00:11] sdeshpande3 commented on #9534
FYI: @markfields @ssimic2

[2022-03-21 04:22] ssimic2 opened #9538 "Corrupted container recovery example"
Create example that explores recovery of corrupted container. It's important to note that **recovery** in the current context means re-creating another document out of some older version of another document. Essentially, recovered document would be a separate document with new id. Parent work item describes further details: #9442

As part of hypothetical use-cases we are considering 3 scenarios:

[2022-03-21 10:12] ruiterr commented on #8273
@yann-achard-MS I think you correctly described the current behaviour of PropertyDDS. At the moment, the conflicting cases are all silently handled. There should actually never be "constraint violations", but in the rebase with respect to the previous operation the CS is rewritten in such a way that it can be applied in a non conflicting way (a duplicate insert is dropped for fields, modification

[2022-03-21 16:24] vladsud opened #9542 "Consider adding notion of document revisions & more coarse document update model / events"
This issue is opened to collect feedback.

**Proposal:**
1. Add notion of document revision, which represents a diff of some sort between two document states
   - Most likely initially it would be in the same form we use today when delivering change events
      - (a) final document state
      - (b) what changed
      - (c) previous values of parts of document that changed.
   - Long term, I'd lo

[2022-03-21 19:04] BrianHuf opened #9544 "Azure Fluid Relay Service size limits"
### Issue Category
Can't find an answer to a specific question.

### Details
I'm looking to understand if there are op and/or summary size limits on FRS.

I reviewed https://docs.microsoft.com/en-us/azure/azure-fluid-relay/ and didn't find an answer.

While testing a large Property DDS scenario two errors were noticed.  First, errors were found when commit()'ing large changes.  This was avoided by

[2022-03-21 19:57] vladsud opened #9545 "Proposal: DDS summary representation should be change to support retention policies"
Applications build on Fluid Framework quite often need to adhere to various retention policies when it comes to content that no longer is in the document from user POV. An example of that would be a paragraph deleted by a user from a document and application (or ecosystem that this app is part of) promising that all deleted content is gone (and no longer retrievable) from storage.

Any solution in

[2022-03-21 20:04] vladsud commented on #9545
@anthony-murphy, @DLehenbauer, @taylorsw04 - FYI.

[2022-03-21 20:53] #9138 closed

[2022-03-21 20:56] markfields commented on #9534
@nmsimons - About triage - This issue is extremely important and urgent from an eng health standpoint, we need to get it attention ASAP.

[2022-03-21 21:00] markfields commented on #8686
@agarwal-navinm, @sdeshpande3, @ssimic2 and I looked a little closer here and found what's going on in the configuration of 0.36 loader and 0.47 runtime.  A change to the `formMetadata` function in 0.45 (I think?) depended on the loader being somewhat recent as well - otherwise a property on `DeltaManager` would be undefined and it would fallback to fill in part of the metadata with the previous s

[2022-03-21 21:04] andre4i commented on #9534
This list needs to be split into multiple issues and assigned to the feature owners. Otherwise, I fail to see how someone can take on this task and debug all those tests.

Also, I see some issues there which have been fixed. For example, the last 2 have been fixed with https://github.com/microsoft/FluidFramework/issues/9371 and I haven't seen any new errors from those..

[2022-03-21 21:05] markfields commented on #8942
A bunch more tracked in this uber issue #9534, as we are disabling a bunch of tests to get a clean baseline for better regression detection.