[2021-07-30 21:49] vladsud commented on #6910
I've confirmed that the conflict (or reordering) happens due to early handler. I.e. initialClients & initialSignals are in sync with each other, and all signals that come after that are Ok too (that's not 100% guaranteed, but at least that's the case in all my experiments).
But early signal handler is the one who is causing trouble - it observe events out of order relative to above, and thus thing

[2021-07-30 22:33] markfields commented on #6750
`annotateError` is gone - We agreed there's no value in preserving the original shape/instance of an untrusted error, so `annotateError` was set aside in favor of `normalizeError`.

[2021-07-30 22:35] markfields commented on #6755
Update:  We've decided there's no value in preserving the original shape/instance of an untrusted error, so `CreateContainerError` will still "wrap" untrusted errors - but it'll do it via `normalizeError`, which returns as-is if the error is of a known shape (`IFluidErrorBase`).

[2021-07-30 23:27] jatgarg opened #6938 "Follow up on snapshot blobs issue in rehydrating detached container issue"
## Describe the bug
Related to #4746
Remove the back compat code for above mentioned issue after a few releases.

[2021-07-30 23:30] jatgarg commented on #4746
Closing with all above mentioned PR.
Following up with this to remove leftover back compat code in future. https://github.com/microsoft/FluidFramework/issues/6938

[2021-07-30 23:30] #4746 closed

[2021-07-31 17:32] vladsud opened #6943 "facetCodes are not making it to telemetry"
Here is what I see in telemetry for ODSP errors:
"facetCodes":"REDACTED (arbitrary object)"

We need to have facetCodes in telemetry. Especially if we are going to remove response (see #6901)

[2021-07-31 17:33] markfields commented on #6943
Yes I'm planning on fixing this next

[2021-07-31 17:36] markfields commented on #6943
Btw this is another reason I find the LoggingError paradigm of logging everything on it dubious - there's not type-checking on the kinds of values you put. Using addTelemetryProperties is much better.

[2021-08-01 00:12] vladsud opened #6948 "fluid:telemetry:InitialElectedClientNotFound errors in telemetry"
We do see these events in automation:

union office_fluid_ffautomation_*
| where Data_eventName contains "InitialElectedClientNotFound"
| summarize count() by Data_eventName

I see 3977 cases.

Plus this event should have some reasonable prefix, i.e. fluid:telemetry:**OrderedClientElection**:InitialElectedClientNotFound

[2021-08-01 04:29] markfields commented on #5696
Opting to close this one.  Reason being - asserts are kind of in their own category in terms of how we treat them in telemetry:  DRIVE THEM TO ZERO.  So adding advanced capabilities for categorizing or otherwise annotating them isn't super valuable, since they ideally won't get lost in the noise as-is.

Additionally. with #6950 we'll get the shortcodes as `fluidErrorCode` in telemetry so they'll b

[2021-08-01 04:29] #5696 closed

[2021-08-01 04:29] markfields commented on #5696
@anthony-murphy FYI

[2021-08-02 16:22] anthony-murphy commented on #6948
We should def fix the prefix here, looks like the raw logger is getting past rather than the summarize's or contianerRuntime's sub-logger

[2021-08-02 17:23] markfields commented on #6733
@anthony-murphy clearing my assignment, feel free to punt to next if it's not a priority/funded for August.

[2021-08-02 17:48] anthony-murphy commented on #6551
I really wanted this kind of information for our common error logging, as right now the summary information is pretty sparse:
https://github.com/microsoft/FluidFramework/blob/da7507ca5f043698c7290e143e9355b8cfeb3fb7/packages/loader/container-loader/src/container.ts#L614-L620

[2021-08-02 18:02] arinwt commented on #4912
I think this is doable. Given how it currently works, the minimum information we would need would be an exchange of clientIds.

Summarizer client would like to know if its parent disconnected, so it can close itself. It could do this monitoring the Quorum, but needs to know its parent clientId.

Parent client would like to know if its spawned summarizer client disconnected/closed, so it can spawn

[2021-08-02 18:11] markfields commented on #6160
What I would suggest is to add a new category (alongside `generic`, `error` and `performance`) called `verbose`, and set that on the start events and anything else we don't want to collect by default in prod but otherwise do want flowing through our own logger chain.

Removing my assignment - if gets punted past September I'm happy to reconsider this when I'm back from leave.

[2021-08-02 18:12] markfields commented on #6160
Responding to @vladsud's suggestion to use `TelemetryDataTag` stuff - I don't think that's well-suited for this, that's at a per-property level, this ask is at a per-event level.

[2021-08-02 19:28] jatgarg commented on #6848
What will happen, if the If-Match header is set and the value is "undefined"? Will it fail the upload summary call?

[2021-08-02 20:06] agarwal-navin opened #6957 "SharedMatrix doesn't work in snapshot tests"
If a snapshot has SharedMatrix, the snapshot tests under `packages/test/snapshot` fails. This is because the snapshot for SharedMatrix in two different clients can look different even if they are at the same seq#. So, if two clients loaded from the same snapshot and replayed the same ops, the snapshot contents can be different. However, the actual visible content is still the same.

Since the snap

[2021-08-02 20:28] anthony-murphy commented on #6848
@marcmasmsft can you answer that?

[2021-08-02 20:42] marcmasmsft commented on #6848
If the if-match header contains an empty container id, a 400 error will be returned (invalidrequest), e.g.

If-Match: "fluid:containerid=" --> exception thrown

[2021-08-02 20:54] jatgarg commented on #6848
ok. So I am talking about "undefined" as header and not empty. What will be the response in that case?

[2021-08-02 20:55] anthony-murphy commented on #6848
I think undefined === emtpy in a header

[2021-08-02 20:56] anthony-murphy commented on #6848
actually, if the above is the string, then the value you are passing is the string `"undefined"`, which will almost certainly be an error

[2021-08-02 20:59] jatgarg commented on #6848
Yes wanted to confirm as then we should always have the ackHandle for the last summary and need to assert that. I see a case in container attach() where we are passing undefined as ackHandle while uploading summary.

[2021-08-02 21:19] #6472 closed

[2021-08-02 21:31] marcmasmsft commented on #6848
For SPO, undefined would be treated as a string (it's not a special value) so we'd try to match it against the existing handle; this would fail because the id would be in an invalid format (fluidinvalidnodeid)

[2021-08-02 21:37] anthony-murphy commented on #6848
If we don't have an ackHandle we should not set the header. No need to assert, at least to start with

[2021-08-02 21:38] jatgarg commented on #6848
Yeah, I was thinking about same and then we can go on and fix the other case.

[2021-08-02 22:21] markfields commented on #2566
Still interested in this but about to go on leave so removing my assignment.

[2021-08-02 22:48] #6832 closed

[2021-08-02 23:37] anthony-murphy commented on #6910
Still seeing quite a few hits here. reopening as i think this still need further investigation

[2021-08-03 00:14] #4459 closed

[2021-08-03 00:49] heliocliu commented on #6910
I can take a look at this further tonight/tomorrow, then remove the event later this week before the release if we're not in a good spot at that point

[2021-08-03 15:52] anthony-murphy commented on #6910
it may be ok to release now, but i'd like someone to look at it, as we may get questions from partners about this event given its frequency.

[2021-08-03 17:59] #6412 closed

[2021-08-03 18:20] markfields commented on #5426
Now that `IFluidErrorBase` is in, with `fluidErrorCode`, we can start this work in earnest.  I'm about to head offline for 2 months for paternity leave, but before I go I hope to land with a concrete plan for this issue.

Will be something like identifying the couple areas that are a priority to reinstrument, and not tracking the long tail but rather depending on training the team to fix them up a

[2021-08-03 18:38] pragya91 opened #6971 "Use specific imports from loadash"
A few packages within FluidFramework import the complete library of loadash via imports like:
`import _ from lodash`. While it is convenient, it increases the bundle size of the packages multi folds (~6kb gzipped).
Would be nice to update the imports to follow the following pattern to minimize the bundle sizes:
[code]

[2021-08-03 18:41] vladsud opened #6972 "0x185 /* "Channel not found" */ asserts in stress tests"
I've started to see a lot of these events today in our own stress tests when running them manually:

  fluid:telemetry ChannelDisposeError {"fluidDataStoreId":"default","category":"error","error":"0x185","errorType":"dataProcessingError","message":"0x185","canRetry":false,"messageClientId":"39753bdf-a144-406e-9c1c-f866e6eb6ebf","messageSequenceNumber":6242,"messageClientSequenceNumber":12,"message

[2021-08-03 20:29] markfields opened #6976 "Consider documenting key Telemetry events"
CC: @tylerbutler @vladsud @anthony-murphy @timtwang

# The Plan (ready for review)

Well, it's more of a position we're taking than a plan of action:

From here:

* Instead let's direct documentation efforts towards our error contracts (specifically the errorType field, since this is currently the only property that we expect consumers to key off of programatically)
* A partner team should not bui

[2021-08-03 20:36] markfields commented on #6395
I'm going to close this - the two examples Vlad gave are not actionable - in the code there's only one spelling of each case, it's from older versions that the other is still there.

As for the more general problem, two comments:
* Let's keep opening small issues like this (and fix them right away because they're easy!) when we find redundant properties
* I've opened this issue covering the larger

[2021-08-03 20:36] #6395 closed

[2021-08-03 20:44] pragya91 opened #6979 "Package only sha256 with odsp-driver"
## Describe the bug
Importing @fluidframework/odsp-driver package brings in dependency for all kinds of sha hash algorithms - sha512, sha1, sha384 etc., even though odsp driver only uses sha256 utility.

See image below generated though a bundle analyzer tool:
![image](https://user-images.githubusercontent.com/6341179/128082623-caa3cd96-1b23-439a-bc7d-ff30e5dbace4.png)

### To Reproduce
Steps to r

[2021-08-03 20:46] markfields opened #6980 "Reconcile new interface IFluidErrorBase with existing IErrorBase and IDriverErrorBase"
## New Plan

In terms of public API surface, there's no plan to deviate from `errorType` as the primary bucketing field and `message` as the primary diagnostic field.  We've added `getTelemetryProperties` to `IErrorBase` so hosts can log everything available (this will include everything on `IFluidErrorBase`.  Semantics of `fluidErrorCode` are still in flux anyway, so we certainly aren't going to

[2021-08-03 20:48] markfields commented on #6980
@anthony-murphy - Putting this in August as a nice-to-have, and at least to draw your attention to it because I know you have higher-level thoughts about our definitions packages (and we discussed this specific case too).

[2021-08-03 20:49] markfields commented on #6980
(I won't get in your way if it needs to get punted)

[2021-08-03 20:52] markfields commented on #6754
Closing this as a dupe of #5426 at this point.  Going to split out a few specific cases to prioritize, and otherwise we'll just do this as need arises.  `normalizeError` handles so-called "valid legacy errors" which have only `errorType` and `message` (and telemetry prop functions), so it's ok to do this piecemeal.

Also, related to https://github.com/microsoft/FluidFramework/issues/6980 since we'

[2021-08-03 20:54] markfields commented on #6980
Btw - when we do this (or rather, when the client bits import the updated interfaces), we'll have a bunch of classes that may not have been updated to `IFluidErrorBase` yet.  Recommended way to do handle that breaking change is to add `readonly fluidErrorCode: "TBD";` to the classes.  Then we can clean up the usages to actually provide an error code at our leisure.

[2021-08-03 21:34] markfields commented on #5946
I think @arinwt fixed this with some recent refactoring?

[2021-08-03 21:34] #5946 closed

[2021-08-03 22:59] #6917 closed

[2021-08-04 00:28] coclauso opened #6989 "Rehydrating board with offline blobs fails to load blobs"
Similar to #6828, however after https://github.com/microsoft/FluidFramework/pull/6864/files, while the container data itself can be rehydrated, it doesn't actually load blobs from IDetachedBlobStorage.

### To Reproduce
1. Instantiate loader with IDetachedBlobStorage
2. Create detached container from loader
3. While container is detached, upload blob via runtime
4. Serialize detached container, an

[2021-08-04 06:00] #4158 closed

[2021-08-04 14:22] xiaoice opened #6995 "[v0.44.1]How do I got the Container clientId"
[code]

i want got clientId，how do，thanks

[2021-08-04 16:23] vladsud opened #6996 "Unhandled exception when fetching snapshot times out"
We are hitting this unhandled exception when fetch times out.
Any chance one of you can help me trace where we are lacking putting catch(() => {})?
@chensixx, I think you fixed one such case, this happens on recent bits in ODSP stress tests.

UnhandledPromiseRejection

Error
    at createOdspNetworkError (/app/packages/utils/odsp-doclib-utils/dist/odspErrorUtils.js:123:21)
    at Object.throwOdspN

[2021-08-04 16:47] vladsud opened #6997 "Clients get stuck (with a bunch of downstream failures including summarization stalling) when fetch() takes 1 min+ to complete / fail"
Production data from [Kusto](https://dataexplorer.azure.com/clusters/kusto.aria.microsoft.com/databases/6a8929bcfc6d44e9b13fee392ada9cf0):

Office_Fluid_FluidRuntime_Performance
| where Data_eventName == "fluid:telemetry:OdspDriver:OpsFetch"
| where Data_duration > 60000
| project Data_sprequestduration, Data_duration

There are currently 135 hits.
The slowest request is 135 minutes!!! Note that i

[2021-08-04 16:48] vladsud commented on #6997
This looks like the only remaining issue in https://onedrive.visualstudio.com/SPIN/_queries/edit/1156694/?triage=true

[2021-08-04 16:50] vladsud commented on #6997
These queries provide some picture from ODSP scalability runs ([logs](https://ms.portal.azure.com/#blade/Microsoft_Azure_Monitoring_Logs/LogsBlade/resourceId/%2Fsubscriptions%2F93543f02-938d-4016-9d15-9cc4329b7033%2FresourceGroups%2FRegressionPrevention%2Fproviders%2Fmicrosoft.insights%2Fcomponents%2FFluidClient/source/LogsBlade.AnalyticsShareLinkToQuery/q/H4sIAAAAAAAAAw3LQQqAIBAAwHuvWDoGgkqpPaCHt

[2021-08-04 17:07] vladsud commented on #6997
It's worth pointing out that payloads are small (for slow, but successful requests). In prod, only 7 out of 135 slow (but successful) requests are above 500 ops.

Timeouts are a bit trickier to understand. We do not have telemetry in prod yet, but from ODSP stress test runs, there are a lot of requests for 5K ops that indicates initial fetch on load or connection is the one that gets stuck (i.e. w

[2021-08-04 17:24] #6264 closed

[2021-08-04 17:41] pragya91 opened #6999 "odsp-driver package is bringing in a dependency of "buffer" package"
odsp-driver package is bringing in a dependency of "buffer" package of size ~6kb gzipped. odsp-driver any of its dependencies does not seem to have any direct dependency on "buffer". Could you check if it is indeed required?

[2021-08-04 18:04] vladsud opened #7000 "ODSP: Add client correlation ID on Ops fetch requests"
Based on https://github.com/microsoft/FluidFramework/issues/6997, we need to add ability for client to provide its own correlation ID on fetching ops and record it in telemetry if fetch fails.

@jatgarg, can you please help drive this? For proper implementation and all fetch requests I opened an issue here. https://github.com/microsoft/FluidFramework/issues/7175
@marcmasmsft, can you please provid

[2021-08-04 18:25] heliocliu commented on #6999
Investigated further last night, reason is because odspPublicUtils.ts is pulling in sha.js to do some SHA-256 hashing.  Looks like it's always been like this and I just missed it the first go round way back when because it wasn't covered in the original report on our end.  It needs some changes to the common-utils hashing functions, so I'm going to go ahead and try to get that this week before the

[2021-08-04 19:11] arinwt commented on #6948
After reviewing the telemetry, it looks like the bug is attributed to an older summary (at seq `x`) being accepted, but the server is stamping it with protocol state at a later sequence number (`x + k`), which is the same as another previously nacked summary attempt.

This needs to be fixed in the scribe lambda, I think rejecting summaries that are older than the current protocol state is a must,

[2021-08-04 19:12] arinwt opened #7002 "Runtime should verify its sequence number matches protocol sequence number from summary"
We should fail faster, by recording the reference sequence number of the runtime in the .metadata blob and failing immediately on load if that doesn't match the one in the .protocol tree.

It might be nice to be able to override this check with a runtimeOption for troubleshooting/correction. So when the runtime option is enabled, we post a telemetry error, but still load. By default, I think we sh

[2021-08-04 19:31] heliocliu commented on #6971
Main offender here is PropertyDDS; all other client usages import specific internal modules (which is kind of contradictory to the global no-internal-modules eslint warning we have).  This should be as straightforward as importing just what's used.

[2021-08-04 20:50] #6997 closed

[2021-08-04 22:07] #6812 closed

[2021-08-05 00:02] sunnyhuang2008 commented on #4589
Going with this route, the client can use the "accept" parameter in the header when making a request to specify which format can be returned. "application/json, application/octet-stream" would mean that both formats are welcome and the server would return json or binary at our discretion. If the "application/json" is requested, the server will just return json.

[2021-08-05 01:17] marcmasmsft commented on #4589
Might be interesting to create a specific content-type for fluid? e.g. application/fluid

[2021-08-05 02:23] heliocliu commented on #6910
Took a look and it seems to be essentially what @vladsud described earlier with establishing the initial connection, with the race condition between signal processing and connecting (and clearing the audience).  I suspect waiting until we're fully connected (instead of just connecting) before logging any errors would resolve the vast majority of hits, but doesn't actually _fix_ the race condition.

[2021-08-05 06:00] #3971 closed

[2021-08-05 16:28] anthony-murphy commented on #6910
I guess i still don't understand if the race condition matters, like what is the impact for consumers? is the audience incorrect? do we emit spurious events?

[2021-08-05 16:54] vladsud opened #7016 "ODSP Scaling: fluid:telemetry:Container:connectedStateRejected"
Why do we see a bunch of Container:connectedStateRejected events with source = "removeMemberEvent" when container is in "Connecting" state with "write" connection?
Note: This document is at 10K max ops, so it can't send any ops.
It's possible that server removes this client from quorum before sending nack? Even before client sent an op?
Seems weird, we need to get to the bottom of it and ensure th

[2021-08-05 18:24] micahgodbolt commented on #5738
Is there value to including this in the DDS vs allowing the dev to user Immutiblejs or Immer? For those that don't need immutability, is this just a cost to them?

[2021-08-05 19:24] markfields opened #7018 "Reconcile different telemetry props approach between LoggingError and normalizeError"
There's a long-lived discussion about whether it's better to shove telemetry props on the error itself or to use a dedicated property on the error to hold them.  See #6485

I see pros/cons to both sides, although now we're in a worse world where one error implementation sets the props on the object (LoggingError) but the other doesn't (SimpleFluidError).  That will undoubtedly lead to confusion an

[2021-08-05 19:39] #6758 closed

[2021-08-05 20:35] vladsud commented on #6649
Would be nice to make progress here.
For example, I was not able to easily answer the question - do we ever got summary nack with 429 / retryAfter property?

I do not see retryAfter property on fluid:telemetry:Summarizer:Running:Summarize_cancel, and it's hard to trace this code to even answer basic question - what properties are available on it.

I finally was able to get to it via this query, bu

[2021-08-05 20:58] #6315 closed

[2021-08-05 21:04] markfields commented on #6754
This is a useful and bite-sized piece of #5426 so reopening as such.

Steps:
* Find all classes extending `LoggingError`
* Add `implements IFluidErrorBase` and add property `readonly fluidErrorCode` to constructor
* Update usages. This will take some thought. Default value can be basically function name of caller.  Should be pascaleCase.
* Open specific issues for cases (or groups of cases) where

[2021-08-05 21:43] #5560 closed

[2021-08-05 21:44] markfields commented on #5560
🎉

[2021-08-05 22:21] vladsud opened #7021 "Need reliable way for ops to reach SPO for summaries to succeed (single-stage summary commit)"
We are getting these errors from PUSH as a summary nack:
fluid:telemetry:Summarizer:Running:Summarize_cancel Failed to summarize the document (fluidInvalidOperation).

It means  push tried to post a summary but SPO didn't have all the ops leading to that summary, so SPO didn't let the summary go through. Because the summary op processing logic is separate from the logic that inserts ops into redis

[2021-08-05 22:28] vladsud commented on #7021
We should experiment with two approaches:
1. Flushing ops (on client side, or server side) with retries
2. Putting ops to redis before broadcasting.

#2 is preferred unless it adds too much latency.

[2021-08-06 05:31] #7002 closed

[2021-08-06 05:58] vladsud opened #7023 "Closed summarizer may log fluid:telemetry:Summarizer:Running:SummarizeTimeout & fluid:telemetry:Summarizer:Running:SummaryAckWaitTimeout events!"
Here is an example of query.

[Logs](https://ms.portal.azure.com/#blade/Microsoft_Azure_Monitoring_Logs/LogsBlade/resourceId/%2Fsubscriptions%2F93543f02-938d-4016-9d15-9cc4329b7033%2FresourceGroups%2FRegressionPrevention%2Fproviders%2Fmicrosoft.insights%2Fcomponents%2FFluidClient/source/LogsBlade.AnalyticsShareLinkToQuery/q/H4sIAAAAAAAAA0XNsQ0CMQxG4Z4pTEpGuJ4JmMAkPyLS2Ua2AwpieK66a58%252B6dURaXJ9Qz

[2021-08-06 05:58] vladsud commented on #7023
@GaryWilber - FYI, this is the case you brought to my attention.

[2021-08-06 06:03] vladsud commented on #6910
Race condition likely does not matter, so we can even remove the logging statement.
But it also would be nice to understand if outside of connectivity we have some out of order events. That would influence our confidence in Audience itself, as well as any other workflows we might want to build using signals (for example, probabilistic leader election for "read" clients).

[2021-08-06 06:28] vladsud commented on #7021
Note that this is a race and it's possible we would not see it in well working system as these steps happen:
1. Client generates summary payload
2. Client uploads summary payload to SPO
3. Client issues summaryOp
4. Scribe processes it and flushes ops to SPO.

Ops should really take a long time to hit redis for this problem to happen.
As Gary pointed out, the pending ops app got into a bad state,

[2021-08-06 06:51] vladsud commented on #6689
That issues is raising to become # 2 in terms of impact in scalability runs, due to all the other high hitters being addressed.

[2021-08-06 16:50] #6989 closed

[2021-08-06 17:44] vladsud commented on #7021
@GaryWilber, do we need to do anything here, or should we just close / punt it?
There are only 11 cases in last run, which is very low and standard recovery is fine for such low numbers.

[2021-08-06 17:51] GaryWilber commented on #7021
@vladsud Sounds like we can punt it. I think it's worth leaving open since it's still something that can happen and does feel like an issue we should fix at some point. If the error count remains low in future test runs, we can likely wait for the single-stage summary work to solve this.

Tagging #5771 for reference

[2021-08-06 18:04] vladsud commented on #7021
Ok, I'll keep it around as it has useful data, and suggestions on need to have retry logic when flushing ops will be more more needed with single-summary commit (as timeframes will be compressed, so more likely to hit it).
I'll push it out a bit to September at the moment, rename title, and assign to @anthony-murphy to track as end-to-end work for single-stage commit. Rebalancing is likely require

[2021-08-06 18:06] sunnyhuang2008 commented on #4589
One small maybe naive question: If the client is willing to accept both formats, there's no need to request us with the accept header to state which format they need since we know returning Json and Binary would both just work? @marcmasmsft @jatgarg Would it be okay if on the server side we just respond with application/json or application/fluid when client request, since we don't read which forma

[2021-08-06 18:11] anthony-murphy commented on #6910
That makes sense, just wanted to double check. Anecdotally there does seem to be issues around audience based on feedback. Whether these issues are real or perceived is unclear, and possibly unimportant, as if the issues are perceived then there is likely too much non-obvious complexity leading to bad user assumptions. This seems likely to be the case given that the behavior of this log event wasn

[2021-08-06 18:15] jatgarg commented on #4589
So only the driver with latest changes would accept both formats, not all. So previous version of released drivers would not be able to read both format.

[2021-08-06 18:21] anthony-murphy commented on #7021
From my understanding the client providing protocol tree is blocked on ODSP work the pull ops from push on summary upload, won't that solve this issue as well?

[2021-08-06 18:59] heliocliu commented on #6910
@anthony-murphy I'm going to remove the log event instead of only logging while connected, per Vlad's feedback and the actual severity of the error case.  The specific scenarios I was targeting were out of order signals and dropped signals, but aside from what Vlad found and fixed around `initialSignals` all the logging we've seen has not been indicative of anything wrong (and has been an issue wi

[2021-08-06 19:55] anthony-murphy commented on #6910
Thanks for taking a look @heliocliu. that all seems reasonable to me.

[2021-08-06 21:10] vladsud commented on #7021
Yes, it will. I'll prototype a solution, we can experiment with in in TAP40 runs and see if we like it.
PUSH can also experiment with not doing extra flushes on summaries for such clients to see where the gaps are (all in controlled environment without change in experience for prod).

[2021-08-06 21:18] markfields commented on #6943
@vladsud  I think you can close this now.  #6958 doesn't actually change anything here, but highlights that this info is already present in the `response` field (and will continue to be so).

[2021-08-06 21:49] vladsud commented on #7023
Ok, after latest set of fixes, all the other "real" reasons for summary problems are gone, and this case represents one of the biggest sources of noise in stress tests. I.e. it creates false alarms.
We should prioritize addressing this.

[2021-08-06 21:52] vladsud commented on #7023
It masks potential P0 bug https://onedrive.visualstudio.com/SPIN/_queries/edit/1172452/?triage=true (which I'm downgrading based on a fact that it looks like real problems are gone and only this noise is remaining).

[2021-08-06 21:56] arinwt commented on #7023
I think we can do 2 things to address this.
(1) Add more checks for disposed before doing things.
(2) For this specifically, it seems like it could be disposing the Summarizer before it finishes starting which is a race condition.

[2021-08-06 21:59] vladsud commented on #6943
I think that's fine, but I'd keep it to ensure we find a way not to log this message in telemetry (if we do not intend to get facet codes into telemetry). I.e. this message should always be followed by some fix that gets rid of this message in one way or another, unless it comes from 3rd party.

[2021-08-06 22:54] pleath commented on #6948
Is there something particular about the way the stress test issues summary nacks that could be bypassing the original fix in the scribe lambda? Or is it more likely that something (a race?) is causing that fix not to work?

[2021-08-06 23:49] heliocliu opened #7039 "nyc does not properly cover jest tests"
nyc, which we use for code coverage, does not properly cover jest tests and we should use jest's coverage tools for that instead.  In practice, the result is that the nyc report doesn't capture code coverage from jest tests, and nyc can also cause jest puppeteer tests using page.evaluate to fail (where the suggested workaround of excluding files from coverage doesn't work because it's not jest's c

[2021-08-06 23:56] vladsud opened #7040 "Follow ups to fluid:telemetry:OdspDriver:GetDeltas_cancel events"
Tap 40 run ([logs](https://ms.portal.azure.com/#blade/Microsoft_Azure_Monitoring_Logs/LogsBlade/resourceId/%2Fsubscriptions%2F93543f02-938d-4016-9d15-9cc4329b7033%2FresourceGroups%2FRegressionPrevention%2Fproviders%2Fmicrosoft.insights%2Fcomponents%2FFluidClient/source/LogsBlade.AnalyticsShareLinkToQuery/q/H4sIAAAAAAAAA0XNsQ0CMQxG4Z4pTEpGuJ4JmMAkPyLS2Ua2AwpieK66a58%252B6dURaXJ9QzPo9KPPEw66UDVN7hpU

[2021-08-07 00:02] #6910 closed

[2021-08-07 07:55] atiqueahmedziad commented on #6640
@vladsud can you kindly give some guidance on what's needed to be done here?
I am getting some result of DeltaManager [here](https://github.com/microsoft/FluidFramework/search?l=Markdown&p=1&q=deltamanager)
but I am kinda confused on how much do I need to remove.

[2021-08-07 08:05] atiqueahmedziad commented on #6321
@narinderberi are you still working on it?

[2021-08-07 08:13] atiqueahmedziad commented on #6191
@vladsud can you please add some guidance how to proceed a fix for this one?

[2021-08-08 18:00] #5003 closed

[2021-08-08 18:00] #4704 closed

[2021-08-09 06:00] #5013 closed

[2021-08-09 14:48] markfields commented on #5426
Moving this to "Next" milestone.  For August, let's just focus on #6754 (Updating our own instrumentation) which will cover many of these cases. Then we can see where the noise is and what area to look at next.  Also, if specific cases emerge from live site issues from the Office Fluid team then we can take those on a case-by-case basis.

[2021-08-09 14:51] markfields commented on #6943
Moving out of August though

[2021-08-09 14:52] markfields commented on #6943
@vladsud - Your concern is covered by #6139.  I'm closing this one.  If you want to see the facets, look at the `response` property in telemetry.

[2021-08-09 14:52] #6943 closed

[2021-08-09 14:59] markfields commented on #6139
Update:  After #6958, the response is only logged if it looks like a well-formated ODSP error response.  We check for a JSON shape like this:

[code]

So we will not log the HTML response with base64-encoded image like in the original description anymore 😅

@vladsud wants more follow-up here, I think, based on this comment in #6943:

So leaving this open but moving outta August

[2021-08-09 17:10] DLehenbauer commented on #6971
According to [this article](https://medium.com/@martin_hotell/tree-shake-lodash-with-webpack-jest-and-typescript-2734fa13b5cd), we should be able to get tree-shaking with the `import { isNumber, isArray } from "lodash"` syntax.

[2021-08-09 17:13] heliocliu commented on #6971
Iirc there were some issues around tree shaking from the bohemia side.  @christiango do you know if that's still the case/do you know who might know more about it now?

[2021-08-09 17:23] vladsud commented on #6640
DeltaManager class should not be exported from container-loader package. Any build breaks that result from such change needs to be addressed in some form or shape. Tracking (search) could be useful, but it needs to be case sensitive and match whole word, not to capture things like "deltaManager" variables - this is not useful

[2021-08-09 17:47] sunnyhuang2008 commented on #4589
@vladsud Any thoughts on client being acceptive of both formats? If it sound good, we will design our roll out plan based on this.

[2021-08-09 17:57] agarwal-navin opened #7049 "Add tests to validate search in Fluid data stores"
The intent is to emulate the search algorithm performed by ODSP search parser and have tests to validate search works. With the recent change of adding data store and DDS trees under ".channels", search was broken and we caught it after the changes were deployed.
Having tests would help catch these issues sooner.

[2021-08-09 18:38] christiango commented on #6971
There aren't any known issues with tree shaking on our end.

[2021-08-09 18:39] heliocliu commented on #6971
I must have misremembered something then 🤔 Thanks for confirming

[2021-08-09 19:58] agarwal-navin commented on #6972
The error is not seen anymore when running the stress tests. The issue is kept open to look at telemetry data for stress tests and try to figure out the root-cause for this issue.

[2021-08-09 21:28] CraigMacomber commented on #6714
Sounds like a good idea to me.

For compatibility we should probably leave the default alone (at least for now), but adding an optional command line argument and/or environment variable to to control where the output goes seems useful. I'm not sure exactly what would be the best way to configure it.

[2021-08-09 22:17] anthony-murphy opened #7061 "Reduce Routerlicious Driver Telemerty"
## Work Item
The routerlicous driver has some very chatty telemetry. We should move to sampling, or only logging errors for the event producing more than a few events per session:

[code]
Event_Name | Data_eventName | count_ | dcount_Session_Id | set_Data_driverType | eventsPerSession
-- | -- | -- | -- | -- | --
Office.Fluid.FFAutomation.Performance | fluid:telemetry:RouterliciousDriver:readBlob_e

[2021-08-09 22:24] #6999 closed

[2021-08-10 01:08] tanviraumi commented on #7061
@znewton Can you take a look into this?

[2021-08-10 02:33] cqcmdwym commented on #6714
@CraigMacomber as you said, maybe both of command line argument and environment variable would be better.

[2021-08-10 02:34] cqcmdwym commented on #6714
PR for supporting command line first: https://github.com/microsoft/FluidFramework/pull/7048

[2021-08-10 06:00] #5011 closed

[2021-08-10 09:09] narinderberi commented on #6321
@atiqueahmedziad, no. @anthony-murphy could you please unassign.

[2021-08-10 09:09] narinderberi commented on #6267
@tylerbutler I have not been able to spend cycles on this. Could you please unassign? Thanks!

[2021-08-10 17:47] vladsud commented on #6685
@GaryWilber, some observations based on my prototyping (in priority order):
1. "If no ops are flushed, it returns a 204.". This is not very useful as it does not tell client the latest sequence number that SPO has. So client has no ability to make decision on what to do next (in situation where it needs to ensure that certain op made it to SPO in order to proceed with summarizaiton).
2. It is very

[2021-08-10 18:40] jatgarg commented on #7016
@vladsud We record connectedStateRejected event in case somebody applied for "Connected" state but it got rejected due to some reason. 1 thing is that I added this event so that we can have better telemetry to determine the root cause of any issue related to data corruption related to ordering service. We will remove that in few releases.
We have 3 sources to reach to this event:
1.) We receive jo

[2021-08-10 19:01] jatgarg commented on #7016
Ex:
1.) ClientId = x and it gets disconnected.
2.) New pending client is y (we are in connecting state). At this time the ClientId would still be X until we receive joinop for y.
3.) At this time, we receive leave for x which leads to this state which is totally normal. So resolving this issue.

[2021-08-10 19:01] #7016 closed

[2021-08-10 19:57] GaryWilber commented on #6685
@vladsud Great observations.

1. If no ops are flushed, it would _hopefully_ mean that the latest op the client processed is already in SPO. However we know that ops are broadcasted before being inserted into Redis so that may not be the case.
2. This is a bit tricky to solve because Push does not explicitly track the last persisted op to SPO. It is tracked by the deli lambda but it's not exposed

[2021-08-10 20:46] vladsud commented on #6685
For # 1, I'll go for now with assumption that "all ops are flushed", but if we see SPO rejecting summary due to lack of ops in such cases, we might need to revisit it.

I'd prefer to go with connected.supportedFeatures = { api_get_ops: true, api_flush_ops: true };
Mostly to allow more extensible format (i.e. maybe some future features would want to communicate level of support, or some other prope

[2021-08-10 22:53] #6253 closed

[2021-08-11 00:50] jatgarg opened #7089 "R11s and tinylicious 400 error while creating container."
## Describe the bug
When uploading a summary while creating a container by attach which contains blob contents of UintArray type, we get a error from server. Server is unable to process the blob contents.

### Logs
ypeError [ERR_INVALID_ARG_TYPE]: The first argument must be of type string or an instance of Buffer, ArrayBuffer, or Array or an Array-like Object. Received an instance of Object

alfre

[2021-08-11 05:34] jatgarg opened #7094 "Enable running stress test for fetching binary snapshot in odsp driver."
## Describe the bug
Enable running stress test for fetching binary snapshot in odsp driver.

[2021-08-11 06:00] #4232 closed

[2021-08-11 06:00] #4231 closed

[2021-08-11 15:39] vladsud commented on #6364
Addressed by these PRs:
https://github.com/microsoft/FluidFramework/pull/7085
https://github.com/microsoft/FluidFramework/pull/7092

[2021-08-11 15:39] #6364 closed

[2021-08-11 16:01] vladsud commented on #6465
@andre4i - this is next item on your list :) Please take a look at this issue, document above, and let's chat.

Current plan is as follows:
1. Objects are attached to container on creation immediacy, not when their initialization is complete.
   - this should have no impact for unnamed objects, as they should not be accessible from other containers yet (their name is random and unknown to others,

[2021-08-11 16:03] vladsud commented on #5599
I do not see any more these events in any scalability runs, and I see only 1 hit in 30 days in Kusto.
So resolving the issue.

[2021-08-11 16:03] #5599 closed

[2021-08-11 16:42] vladsud commented on #4590
@marcmasmsft, @jatgarg , @sunnyhuang2008 , we need to make some progress here.
Is this something we can make happen using new file format, under "experimental" bucket in September?
https://github.com/microsoft/FluidFramework/issues/6371 has more data on where it would be used right away, and requirements.

[2021-08-11 16:50] vladsud commented on #5557
Here are top 5 reasons for disconnects from latest TAP 40 run (with all latest fixes):
  | Disconnect: socket.io: server_disconnect: TokenExpired | 158,494 |  
  | Nack: Readonly client | 87,788 |  
  | Container closed | 35,953 |  
  | 0x07b | 87 |  
  | 0x07d | 91

This looks very clean.

Here is latest from Kusto - not all fixes are in prod yet:

Disconnect: socket.io: server_disconnect: Invali

[2021-08-11 17:03] #6033 closed

[2021-08-11 17:04] vladsud opened #7095 "Remove notion of initialOps from IConnected"
Given ODSP implements get_ops API flow to get ops from PUSH, we no longer need this concept.
It's useful to remove it, given that R11S does not use it.

Change can be done on the client rather quickly (just need to ensure that PUSH changes supporting it are in Prod).
PUSH changes need to be done much later, when 0.45 version of loader / driver is the min version across all clients.

@GaryWilber, @

[2021-08-11 17:08] GaryWilber commented on #6685
@vladsud
1. retryAfter will be there. Let me know if it's not.
2. Yes it's because the flushes are async between the two. The flushes clients run can happen at the same time as the ones Push run. The client initiated flushes do not run through the same queue system so they can happen concurrently.
I looked at the 409s. From what I see, every single conflict was from Push posting ops due to client

[2021-08-11 20:15] #6755 closed

[2021-08-11 20:46] anthony-murphy opened #7102 "Routerlicious Dirver Support for Client Uploading Protocol Tree"
## Work Item
This work is part of #5771. We have support for the ODSP driver already, as that supports an `.app` tree already, so adding the peer tree of  `.protocol` was easy, and creates no problem with existing documents. R11s however does not use and `.app` tree, and uploading in the format coming from the container, { `.app`,  `.protocol`} creates issues for existing documents due to blob pat

[2021-08-11 21:11] tanviraumi commented on #7102
@anthony-murphy Its not clear to me what the issue is. But since we are moving to a similar storage model as ODSP, we are also considering adding the .app node. I don't have a strict timeline yet but let us know if you want this to happen sooner.

[2021-08-11 21:17] anthony-murphy commented on #7102
this is the pr that added ODSP support: #6127 . If i set `summarizeProtocolTree = true` in the loader options for an existing r11s document summarization will fail, as the r11s driver doesn't understand the summary format  `{ .app, .protocol}`

[2021-08-11 21:18] anthony-murphy commented on #7102
of we can just say we don't care about existing documents in the r11s case, but that seems disruptive for existing users

[2021-08-11 21:22] tanviraumi commented on #7102
Can we turn this off inside the driver? I don't want r11s to include protocol tree yet

[2021-08-11 21:29] anthony-murphy commented on #7102
its not on anywhere yet, and yes. we could make it driver configurable. i guess i don't see why you wouldn't want the client to upload it. scribe can still overwrite it. from a test perspective it would still be good if it was supported in test like local-server and tinylicious.

[2021-08-11 21:32] tanviraumi commented on #7102
Oh I want it. But not before I add the .app support in scribe and driver. Also you guys should not be blocked until we add those support. So my plan is to keep this turned off until we are ready.

[2021-08-11 21:48] anthony-murphy commented on #7102
seems fine. i just want the work captured somewhere, as it doesn't seems to be captured in the main work item: https://github.com/microsoft/FluidFramework/issues/5771
feel free to close of re-purpose this it you've got a plan

[2021-08-11 22:13] tanviraumi commented on #7102
I will keep this open for now and close it once we support ".app" fully

[2021-08-11 23:16] #7089 closed

[2021-08-12 00:54] chensixx commented on #2903
@vladsud I have a PR that removes docId from IFluidDataStoreContext and IFluidDataStoreRuntime. is the next step removing docId from everywhere? Since you mentioned remove it from IContainer as well.

[2021-08-12 18:41] anthony-murphy commented on #6915
@curtisman prefers tinylicious to not be part of the docker image, which i think makes sense. this will add complexity to this item, as currently we build as part of docker. one option would be to move the build out of docker, and use npm i in the docker rather than building in the image

[2021-08-12 19:13] anthony-murphy commented on #6915
another option could be to make tinylicious its own mono-repo that directly references the server packages. this could make the build more complex though, and require redundant builds (server docker, and server tinylicious)

[2021-08-12 20:06] jatgarg commented on #6848
Closing after the PR.

[2021-08-12 20:06] #6848 closed

[2021-08-12 23:35] #6979 closed

[2021-08-12 23:36] heliocliu commented on #6979
dupe of the other odsp-driver bundle size bug

[2021-08-13 00:08] #6772 closed

[2021-08-13 15:38] curtisman commented on #7039
@DLehenbauer  This might be a regression from switching to c8.   We might want to keep it instrumented using istanbul instead for the jest test if possible?

[2021-08-13 17:22] vladsud commented on #5629
Copying text from PR #7127 here to make sure it's easily accessible:

With current (prior to fix) numbers, we were spamming PUSH with too many ops, causing it not handling workload.
2s adjustment will have (using TAP 40 payload) 8x difference in outbound traffic, and should have zero impact on final file size (due to 5 ops / sec of real traffic that results in all noops not being sequenced).
That

[2021-08-13 18:21] agarwal-navin opened #7129 "Add logging when unreferenced data stores are accessed"
In preparation for GC sweep, add logging when unreferenced data stores are accessed (loaded or has ops) after a certain period of time (say 24 hours). We can monitor this telemetry while GC sweep is implemented and that should give us a good idea if unreferenced content is referenced and we can track those down.

[2021-08-13 18:23] agarwal-navin opened #7130 "Add "unreferencedTimestamp" to unreferenced objects"
When objects (data stores and DDSs) are marked as unreferenced, add the current timestamp to it. This is in preparation of the GC sweep stage where we will delete content that have been unreferenced for a specific amount of time.

[2021-08-13 18:37] agarwal-navin opened #7131 "Add "summaryTimestamp" to summaries"
When a summary is generated, add the timestamp of the last op processed when generating summary as the `summaryTimestamp`. This is in preparation for GC sweep phase where we will use this to determine how old a particular session is w.r.t. the summary it is loaded from.

[2021-08-13 18:56] anthony-murphy commented on #5629
Another proposal, or maybe just more details on existing proposals

1. Get rid of immediate no-ops, these should just be ops in the cases they are need, like quorum
2. Require ref sequence number on all signals sent from the client
3. Move client no-ops to signals. make them frequent.
4. Have alfreds track min ref sequence across signals and ops for each client.
5. Have alfreds kickout lagging/idl

[2021-08-13 19:16] vladsud commented on #5629
I'd think signals vs. ops would be equivalent, as in both cases it's not about sequenced ops, it's more about workload on ordering service processing incoming traffic. It would be great to better understand where we spend CPU cycles today.

We also should look into how PUSH throttling and FRS costing works for such cases. It would be really bad if client could spam ordering service with very low i

[2021-08-13 19:20] vladsud commented on #7021
Resolving, as https://github.com/microsoft/FluidFramework/pull/7086 implemented functionality.

[2021-08-13 19:20] #7021 closed

[2021-08-13 19:24] vladsud opened #7132 "Deprecate IConnected.initialMessages"
With the work tracked in https://github.com/microsoft/FluidFramework/issues/6685 being complete, PUSH started to deprecate returning initial messages.
R11s does not use it either.

Thus, once changes are propagated to PROD, and telemetry suggests we are stable, we can deprecate that concept from client.

[2021-08-13 19:26] vladsud commented on #6685
Everything covered in this issue has been implemented, including get_ops & flush_ops flows.
Next step - we should start re-evaluating places where we added complexity on PUSH side that are no longer required with get_ops flow.
Specifically:
1. We can deprecate initialMessages flow - see https://github.com/microsoft/FluidFramework/issues/7132
2. PUSH can stop flushing ops to SPO on client connectio

[2021-08-13 19:26] #6685 closed

[2021-08-13 19:39] vladsud commented on #6689
FYI - latest ODSP scalability run was done with recent change that increased substantially number of non-immediate ops in the system. The run was clean with exception of hitting these asserts - they skyrocketted:

[Logs](https://ms.portal.azure.com/#blade/Microsoft_Azure_Monitoring_Logs/LogsBlade/resourceId/%2Fsubscriptions%2F93543f02-938d-4016-9d15-9cc4329b7033%2FresourceGroups%2FRegressionPreven

[2021-08-13 19:58] anthony-murphy commented on #5629
That seems reasonable. I think putting ref seq on signals, and working that into the minseq calculation is still worthwhile, as we are seeing a lot of signal-based workloads around presence and it seems silly to force no-ops when the client is already communicating. alfred is already generating join and leave messages, so i think adding no-ops to the list makes sense, but doesn't preclude removing

[2021-08-13 20:27] GaryWilber opened #7135 "Ability for clients to log server provided information when connecting"
There has been some trouble in recent scale test runs in determining the server environment/builds the client has been running against. We can improve this by having the server return some additional information in `IConnected` (connect_document_success message) and having the client log those properties. We would then be able to look at the client logs and determine what it ran against.

Some exa

[2021-08-13 20:32] anthony-murphy opened #7136 "Close Container From DataStore"
## Feature
We currently allow datastores to call raiseContainerWarning, but all this does is log and raise an event. In the event of a fatal error there isn't a way for a datastore to close a container.

Right now the only option is for a host to close a container on the container warning event, but this depends on the host doing to right thing depending on the error, and raiseContainerWarning is

[2021-08-13 20:36] anthony-murphy commented on #7136
@vladsud and @curtisman curious what your thoughts are here.

an option could be to expose a container runtime scope for this. what i like about that is it up to the container Runtime if components have the power to close the container. it also opens the door for other actions, like making the container readonly, rather than closing

[2021-08-13 20:44] vladsud commented on #7136
There is ContainerRuntime.closeFn that is exposed through IContainerRuntime in some form. I have not looked at it for a while, this can be used to close container, may need some plumbing to make it accessible easily (if it's not on IContainerRuntimeBase).

I personally do not like global things like that (i.e. exposing on IContainerRuntimeBase, especially general purpose scope object that can do a

[2021-08-13 20:52] vladsud opened #7137 "Hitting 10K unsummarized ops results in client getting into infinite loop of reconnects"
From looking at session in TAP40 scalability runs, it's pretty clear that when client gets to 10K unsummarized ops, we get into this look that results in continuous disconnects and reconnects, with exactly same reasons:

fluid:telemetry:Container:ConnectionStateChange_Disconnected | reason = "Nack: Submit a summary before inserting additional operations"
fluid:telemetry:Container:ContainerWarning

[2021-08-13 21:00] vladsud opened #7138 "It would be great for fluid:telemetry:Container:ContainerWarning event to have "source" property"
Consider these two sessions - it's pretty clear where error in coming from based on prior to ContainerWarning events:

| 8/9/2021, 12:27:10.809 PM | fluid:telemetry:OdspDriver:uploadSummary_cancel | Error 412 (Precondition Failed)
| 8/9/2021, 12:27:10.810 PM | fluid:telemetry:OdspDriver:uploadSummaryWithContext_cancel | Error 412 (Precondition Failed)
| 8/9/2021, 12:27:10.812 PM | fluid:telemetry:

[2021-08-13 21:43] vladsud commented on #7040
Per latest run (customDimensions.testUid == "ccaca4ea-856a-4fa9-ad65-892031397450), we have same two buckets:
1. no error and no duration
2. error = "ops request cancelled by client", and some duration.

Based on code, # 1 is due to exception being thrown somewhere, but for some reason `error` property is empty.
Looking at individual sessions, first event always comes before second. There is also

[2021-08-13 21:49] vladsud commented on #7040
Ugh, here is where it's coming from:

    public cancel() {
        if (this.working) {
            this.workingState = "canceled";
            this.logger.sendTelemetryEvent({ eventName: "GetDeltas_cancel" });
            this.endEvent.resolve();
        }
    }

It should be removed as it's duplicated by same event in requestOps() with more info.

[2021-08-13 21:51] vladsud commented on #7023
That's same as #6896, so closing

[2021-08-13 21:51] #7023 closed

[2021-08-13 21:51] anthony-murphy opened #7139 "Move all Sequence Examples to SequenceDelta"
## Work Item
There are some examples in our repo that use op, rather than sequenceDelta event. These do not work, as processing op correctly is very difficult, and error prone. sequenceDelta is always correct. These legacy examples should be updated or removed.

[2021-08-13 21:52] vladsud commented on #6896
Please see #7023 for more examples (closing it as a dup of this issue).

[2021-08-13 22:33] anthony-murphy commented on #7136
I only see closeFn expose off the container context interface, not on any of the runtime interfaces:
https://github.com/microsoft/FluidFramework/blob/9092364501773d9fc622abc864a8307dff87f669/common/lib/container-definitions/src/runtime.ts#L110

container runtime does implement it: https://github.com/microsoft/FluidFramework/blob/1f3c3f8500d17f29c05f05a66278183696c60782/packages/runtime/container-r

[2021-08-13 23:11] #6111 closed

[2021-08-14 00:03] #7040 closed

[2021-08-14 00:13] vladsud opened #7145 "SPO: Reduce number of storage calls when ops can be retrieved from PUSH"
Currently, ODSP driver will attempt to fetch ops from both storage (SPO) and ordering service (PUSH) in parallel.
In many cases ops are fetched from PUSH (redis) and storage request is cancelled.
This results in a lot of unneeded calls to SPO.
We should look into ability to reduce this workload.

It's likely a balance between latency and number of calls, i.e. waiting with making SPO call for some

[2021-08-14 00:26] vladsud commented on #7137
@jatgarg , @anthony-murphy - FYI, feel free to share your thoughts / suggestions.

[2021-08-15 06:00] #3746 closed

[2021-08-16 16:43] vladsud commented on #5150
I'm inclined to keep this issue alive. I worry as we change designs (like https://github.com/microsoft/FluidFramework/issues/5629 - "Reconsider noop coalescing"), issues that relatively low impact might grow in impact. For example, today, client does not reject or accept any proposal that is sent right before new client joins as "write" (that happens to be within collab window of such new client,

[2021-08-16 16:52] vladsud opened #7149 "Prototype client-only search for text-based data stores (like Scriptor)"
Latest issues in noop policy (see https://github.com/microsoft/FluidFramework/issues/5629, https://github.com/microsoft/FluidFramework/issues/6364) and regressions in SPO search parser due to change in summary structure (addition of ".channels" sub-path) provide us a strong signal to reconsider current design.

It's worth pointing out that submitting search data as part of summary with double uplo

[2021-08-16 17:03] vladsud commented on #7135
Probably separate property is a bit better, as we could decide to log it differently (i.e. stringy, or log many properties, like in above case - convert it to have correlationProperties_build, correlationProperties_environment, etc.). Similar (but different) decision can be made for supportFeatures. Keeping it at high level will reduce the depth / size of properties in telemetry.

[2021-08-16 17:45] jatgarg commented on #6746
Closing the issue with this PR: https://github.com/microsoft/FluidFramework/pull/7045

[2021-08-16 17:45] #6746 closed

[2021-08-16 17:45] vladsud commented on #7145
We currently do not have telemetry in place for when get_ops fails to retrieve ops, so it's hard to see what policy would make sense here.
That said, if the main reason ops are flushed are due to client asking for it (flush_ops API) and all clients would know when it happens, then then can much better predict if they need to optimize toward fetching ops from PUSH or storage. I'm not sure if PUSH c

[2021-08-16 18:58] vladsud opened #7151 "fluid:telemetry:DeltaManager:WrapError as an error results in same error counted multiple times"
These are the top errors from ODSP TAP 40 scalability run:

| fluid:telemetry:DeltaManager:WrapError | Nack: Submit a summary before inserting additional operations | 16,553 |  
| fluid:telemetry:Container:ContainerWarning | Service busy/throttled: Nack: Submit a summary before inserting additional operations | 16,553

Notice that same error is counted multiple times.
We should either not log it,

[2021-08-16 19:09] vladsud commented on #5629
Some interesting data point from TAP40 ODSP scalability runs:

noops sent every 300 ops: 12k ops/sec
noops sent every 250ms: 52k ops/sec
noops sent every 2 seconds: 19k ops/sec

I believe tests use 5 ops/sec/doc rate with 10 users / doc, with half of clients sending ops (i.e. 1 op / active client / sec, which at 2s frequency of noops roughly corresponds to 0.5 noop / non-active client / sec)

[2021-08-16 20:26] agarwal-navin opened #7152 "Add timestamp to IConnected message sent on "connect_document_success""
For GC sweep phase, we need the current time in the client for two purposes:
1. Ensuring that a client session can only last for a specific time. After that, the session becomes read-only.
2. Calculating how long objects have been unreferenced for.
For this, we need the initial time when a client was loaded. We can then use this time as reference to get the current local time. This will be the tim

[2021-08-16 21:54] vladsud commented on #4589
It feels to me that we will find bugs in both client and server implementations, or maybe will adjust payload / structure based on learnings and would want to move quickly breaking things (not supported "older pre-release formats"). So we will have number of client bits in circulation, and number of server bits in circulation at the same time in different rings.

So I think the right thing to go a

[2021-08-16 22:07] vladsud commented on #7151
And not everything that WrapError complains about results (in terms of final error) in being actually in error table. For example this error results in summary failure but it is retryable error so we recover and never record an error, it would not be in error table if not for WrapError. I.e. this code make incorrect determination on what goes into error table and what does not - it reports it as a

[2021-08-17 01:45] heliocliu commented on #6972
Telemetry for failing runs shows a lot of other errors around odsp communication, which lead to this error.  Additionally all instances of this error were in the same window around 8/2 - 8/5 so I'm comfortable attributing this to odsp since there appear to have been service issues around the same time.

[2021-08-17 01:45] #6972 closed

[2021-08-17 05:00] vladsud opened #7158 ""Error 412 (Precondition Failed)" should not be retryable error when uploading summaries"
fluid:telemetry:DeltaManager WrapError {"wrappedByErrorInstanceId":"78753463-79c0-4bb7-b7fa-905f01fc34da","category":"error","error":"Error 412 (Precondition Failed)","errorType":"genericNetworkError","errorInstanceId":"02a9e5d8-2d70-4880-829e-4f85c7a8a4e2","statusCode":412,"canRetry":true,"online":"Unknown","facetCodes":"REDACTED (arbitrary object)","response":"{"error":{"code":"fluidPreCondition

[2021-08-17 06:00] #5092 closed

[2021-08-17 06:19] markfields commented on #7151
Yeah I debated whether that should be general log or error log. Full support for switching it.

Btw - I still say when querying errors let's move towards querying by specific eventNames so we know what scenarios we're even evaluating and how to interpret the errors/counts.

[2021-08-17 06:32] markfields commented on #7138
I'd say either add reason param to API that raises Container Warning, or update that API to take IFluidErrorBase so it has fluidErrorCode

Btw - Some code outside FF (e.g. Scriptor) passes arbitrary error to raiseContainerWarning or whatever. We should advise folks to call normalizeError with errorCodeIfNone param.

[2021-08-17 18:37] vladsud commented on #3996
@anthony-murphy , you have assigned it to August, it's not assigned to a person, I assume we are Ok to move out?
It has been a while since I looked at this issue, but glancing it's summary related, so assigning to Paul to consider.

[2021-08-17 21:43] agarwal-navin commented on #7152
@tanviraumi @GaryWilber We need to add a timestamp to the `IConnected` message sent by Alfred when a client connects. We want to limit the time that a client session can be in write mode. The time in the `IConnected` message, i.e., when the client connects, will be used to determine how long the client's session can be active. This is needed for the GC sweep work and here's some more context of th

[2021-08-17 21:56] vladsud commented on #6260
One big item to consider in this design is how / when we can get to a point where server (controlling summarization process) could avoid having two container instances in order to produce summaries. Today, the whole process assumes that there is main (interactive) and summarizer container working as a pair, where some processes controlled by main container actually control summarization process.

[2021-08-17 21:57] GaryWilber commented on #7152
@agarwal-navin Does this actually require a new property? If we added that property to `IConnected`, would we be sending `Date.now()` every time? Could the client determine it themselves based on when `connect_document_success` is received to them?
Alternatively, clients do listen for their own `join` op when connecting. Can you use that op timestamp for this? That's actually the most accurate tim

[2021-08-17 23:49] agarwal-navin commented on #7152
Yes, this requires a new property and the timestamp will have to be added by the server on each `IConncted` message.
Client time is not reliable since it depends on the system time of the client machine. So, we cannot rely on the client to determine the time themselves. There are couple of problems using the `join` op:
- It is received only by `write` mode clients. However, I was thinking about th

[2021-08-18 14:24] Kening opened #7164 "Broken links in document (https://fluidframework.com/docs/build/dds/#picking-the-right-data-structure)"
### Issue Category

- Other

### Details

On the document page https://fluidframework.com/docs/build/dds/#picking-the-right-data-structure, there are two links with label "Encapsulating data with DataObject" (both are linked to https://fluidframework.com/docs/build/dds/dataobject-aqueduct.md). They are broken links, probably should be linked to https://fluidframework.com/docs/deep/dataobject-aqued

[2021-08-18 22:24] sumedhb1995 opened #7169 "Publish packages in dependency order"
Packages are not currently published in order of their dependency tree. I.e. there is a time when some packages are published to the newer version whereas their dependencies still have not. Instead the packages should be published in topological order as a single job.

Otherwise, users may pick up a newer package version even though the packages it depends on are not yet available on the feed.

[2021-08-18 22:58] alpaix commented on #2903
In the new container creation flow, the container ID, i.e. document ID, will be generated by the backend. We need a method of propagating this ID to the application. Consider the following application pattern:
[code]

[2021-08-18 23:49] heliocliu commented on #7137
We observed this for some documents in the wild as well.  They were eventually able to successfully submit a summary (seen in both telemetry and in the op stream), but continued the reconnect loop because the server kept nack'ing with the too many ops error.  End result was that the op stream after that first nack error was entirely join/leave/noClient ops (tens of thousands of them too).  So if t

[2021-08-19 00:24] agarwal-navin commented on #4611
The used routes are propagated to the DDSs today.

[2021-08-19 05:11] jatgarg opened #7175 "Design ODSP: Add client correlation ID on fetch requests"
## Describe the bug
Based on #6997, we need to add ability for client to provide its own correlation ID on fetch requests in odsp driver and record it in telemetry if fetch fails.

[2021-08-19 18:09] GaryWilber opened #7180 "Write clients do not transition to read due when idle"
Background info:
Deli has an idle client timer that removes clients from the quorum if they have not submitted anything for 5 minutes.
When deli removes a client due to being idle, it will insert a leave op into the stream.

The problem:
When a write client does not submit ops for over 5 minutes, deli will insert a leave op for them due to that idle timer. However some point after that, the client

[2021-08-19 18:14] curtisman commented on #6915
We should separate the NPM package build/publish and the docker image building (instead of building withing the docker image) It makes the docker image cleaner, and also if docker build failed for some reason, it doesn't block the NPM packages.

However, we should maintain the docker image build in the same pipeline as the packages, and I'd like to see we run the client e2e test targeting both tin

[2021-08-19 18:32] vladsud commented on #7137
@heliocliu , what you suggest below sounds like a PUSH bug (on top of runtime bugs), If that's the case, can you please work with @GaryWilber to get to the bottom of it? This bug should not be used for that, if we believe there is server bug, separate ticket should be opened against PUSH. If that's some kind of client bug, we should get crisper on what is the bug and also open separate issue for t

[2021-08-19 19:01] vladsud commented on #2903
@alpaix, why URI is not enough? What if service does not have notion of document ID?
Maybe other way to ask it - what is it used for? If developer needs some stable correlation ID, why not generate it for specific flow using whatever hashing logic it wants (like sha or crc over container URI)? Cause that's pretty much what happens today in ODSP (combination of driveID, itemID and maybe site name a

[2021-08-19 20:08] alpaix commented on #2903
@vladsud at the framework core level the `tenantId` + `documentId` pair is used to access an existing container that was created earlier by the same application. No matter what document identification method the application utilizes it has to resolve it to the corresponding Fluid document ID, aka container ID. For this reason, the application should be capable of reading the container ID when it's

[2021-08-19 20:14] alpaix commented on #2903
@agarwal-navin

Does this mean the document/container ID attribute at the container level will be preserved?

I agree that components should not care about the container status. Yet, the application that orchestrates container creation and loading flows should be fully aware of the current status and needs to get the underlying container ID when it's attached to the storage.

[2021-08-19 20:20] vladsud commented on #2903
tenantId + documentId concepts do not exist at runtime or loader level. Only URI exists and that's the only source of truth RE accessing container / identify matching. It's easy to check - search for tenantID in packages/runtime/**/*.ts & packages/loader/**/*.ts - you will find only one reference that should not be there (there is an issue for that).
There are some workflows that are hard and shou

[2021-08-19 20:26] vladsud commented on #2903
I'd add that if we think concept of containerID is useful, it should be exposed from URI resolver, and that's precisely what it is today:

    public get id(): string {
        return this._resolvedUrl?.id ?? "";
    }

But I think we should try really hard not to have hard dependency on it, as it locks URI resolvers to never change algorithm we use to calculate it, and I'd rather see each induvia

[2021-08-19 20:33] anthony-murphy commented on #7137
The more control we can pass into the runtime the easier something like this would be to control. right now summaries and nacks are at very different layers which makes it really hard coordinate the two without further increasing coupling, and complexity. The runtime is in a much better position to do something like make itself logically read-only, and wait for a summary ack to reenable writes. th

[2021-08-19 20:40] jatgarg commented on #6479
Sample error thrown when ops are not available from the beginning:
ERROR: Error: Error 410 (Gone)
    at createOdspNetworkError (D:\PragueJatin\fluiderror1\packages\utils\odsp-doclib-utils\dist\odspErrorUtils.js:104:21)
    at Object.throwOdspNetworkError (D:\PragueJatin\fluiderror1\packages\utils\odsp-doclib-utils\dist\odspErrorUtils.js:181:26)
    at D:\PragueJatin\fluiderror1\packages\drivers\o

[2021-08-19 20:55] jatgarg commented on #6479
"--dump:rawmessage" is used to fetch messages in fetch tool and the --saveDir to save it in messages.json in the said directory.
So first lets work on fetching the ops properly in case the ops are not available from seq number 1.
So lets specify another arg "--dump:rawmessageforcesave" which will delete the already present messages.json and will download new messages and save it in messages.json.

[2021-08-19 20:57] heliocliu commented on #7137
The PUSH issue is being tracked in ICM and has begun to be addressed, starting with #7166.  It just seemed weird in this case that the client continued reconnecting immediately even though it was never really able to keep the connection, though it does require bad behavior from the server.  So maybe not in the client's scope of responsibility.

[2021-08-19 21:02] alpaix commented on #2903
I think I got the idea. The loader takes an URL and pass it down to a driver to resolve and load a container. Somewhat similar to a DB connection string? And then the url resolver and the driver are responsible for parsing it to tenant and document ID components. This approach makes the container be driver/url/file agnostic.
The only problem here is how to communicate the container location URL ge

[2021-08-19 21:35] vladsud commented on #2903
That's correct, URI resolve is the one that completely abstracts these things from other layers, so for most part container / runtime do not care. There are certain exceptions to that rule that we saw, two comes to mind:
1. runtime may optimize the flow if it knows that given URI is for same container, for example if PASTE content came from same container, then it might use direct references to ob

[2021-08-19 23:34] vladsud opened #7184 "Add some telemetry telling how many ops a client is sending"
This is useful for things like scalability testing where we have no easy way to say if a given client sent any ops. We do see overall progression of a file, but can't asses if given client got stuck and was not contributing to the stress run.

One simple idea - record current clientSequenceNumber on "disconnect" event.
We do have OpRoundtripTime event, but it's very coarse, it would be great to se

[2021-08-19 23:40] jatgarg opened #7185 "Replace strings with ids in custom asserts in odsp driver"
We have methods like assertBlobCoreInstance, assertNodeCoreInstance, assertNumberInstance which asserts types and have asserts tags. Replace them with ids similar to what we have for other normal asserts.

[2021-08-19 23:45] jatgarg opened #7186 "Look to add tree path within binary snapshot when parsing for debugging purposes"
## Work Item
Is there any way to get a path in the tree logged while parsing binary snapshot in odsp driver ? It's should be marked as potentially containing PII, but we can solve that problem separately - for DF / 1st party solutions that might be invaluable information to log.

[2021-08-19 23:48] jatgarg opened #7187 "Api design for fetching the binary snapshot in odsp driver."
Proposed design for fetching the new api as discussed with @sunnyhuang2008:
1.) Server wants to support enabling the new format only for few files at server at a time and then progress slowly adding more/next files.
2.) In order to support that, at client the driver can use the same api(as today) for both fetching the older json(IOdspSnapshot) format or for newer binary format. However the client

[2021-08-19 23:49] jatgarg commented on #4589
Please do discussion related to fetch snapshot api in the new issue above this comment.

[2021-08-19 23:50] sumedhb1995 commented on #7169
Plan in development:
1) generate json file holding the build order array as a result of the monorepo build where each package is added in the order it was built according to dependencies
2) upload json file as artifact for publish step to use
3) parse file to publish sequentially so that the publish order matches build order

[2021-08-19 23:56] jatgarg opened #7188 "Follow up with implementation of parsing to improved binary snapshot in odsp driver"
Spo is having some improvements in binary snapshot for trees/latest in the odsp driver. So follow up with the implementation of parsing in driver once it is done in the server.

[2021-08-19 23:56] jatgarg commented on #4589
Closing the issue with PR: https://github.com/microsoft/FluidFramework/pull/7121. Opening issue https://github.com/microsoft/FluidFramework/issues/7188 to follow up with latest snapshot format improvements on server side and corresponding parsing implementation at client side.

[2021-08-19 23:57] #4589 closed

[2021-08-19 23:59] jatgarg commented on #7000
Closing this issue as dupe of https://github.com/microsoft/FluidFramework/issues/7175

[2021-08-19 23:59] #7000 closed

[2021-08-20 06:00] #5142 closed

[2021-08-20 17:15] vladsud commented on #5629
@anthony-murphy , @GaryWilber, @tanviraumi  - bringing it to top of your mailbox / notifications.
Per discussion - let's propose server controlled collab window that does not involve client noops

[2021-08-20 18:27] vladsud commented on #7095
Dup of #7132

[2021-08-20 18:27] #7095 closed

[2021-08-20 18:29] vladsud commented on #7180
I believe this problem should be mostly gone due to changes in noop frequency.
And given we are planning to change noops, I'll wait on this issue a bit.

[2021-08-20 18:51] anthony-murphy commented on #5629
some data
[code]

Data_msnDistance | count_ | dcount_Data_containerId | dcount_Data_docId
-- | -- | -- | --
0 | 44258 | 12563 | 1361
500 | 4479 | 1757 | 127
1000 | 1974 | 1034 | 64
1500 | 779 | 524 | 62
2000 | 323 | 247 | 23
2500 | 201 | 178 | 29
3000 | 132 | 130 | 12
3500 | 64 | 54 | 13
4000 | 108 | 106 | 7
4500 | 37 | 30 | 10
5000 | 111 | 100 | 5
5500 | 29 | 24 | 8
6000 | 94 | 94 | 3
6500 | 13 |

[2021-08-20 18:53] vladsud commented on #5629
Tail is pretty bad, that shows up in other places (size of catchUp blobs).
These numbers should change dramatically with 0.45, due to return of 2s noops.

[2021-08-20 19:05] anthony-murphy commented on #5629
added loader version. something we don't have great visibility into is dev session that may do things like hold the session due to break points. also added loader version above

[2021-08-20 19:10] anthony-murphy commented on #5629
I'm curious how we would formulate server side collab window. right now i'm thinking we will need to estimate RTT per op, so basically every op get's something like 2s, after which it is moved out of the collab window. another question is if there are no-ops does server send no-op? the client will need this to collapse local collab window to reduce things like catch up ops.

[2021-08-20 19:19] #7151 closed

[2021-08-20 19:24] anthony-murphy commented on #5629
op RTT data

[code]

Data_duration | count_ | dcount_Data_containerId | dcount_Data_docId
-- | -- | -- | --
0 | 342629 | 199549 | 38798
500 | 15062 | 10431 | 4043
1000 | 5915 | 4980 | 2055
1500 | 3298 | 2847 | 1228
2000 | 2208 | 1917 | 873
2500 | 1295 | 1222 | 557
3000 | 859 | 809 | 409
3500 | 586 | 552 | 293
4000 | 494 | 464 | 263
4500 | 383 | 355 | 206
5000 | 284 | 267 | 177
5500 | 248 | 229 | 1

[2021-08-20 20:30] #7158 closed

[2021-08-20 20:30] #7184 closed

[2021-08-20 21:38] agarwal-navin opened #7202 "Add options to turn GC sweep on / off"
Add a container runtime option to turn sweep on / off. Also, add a local storage flag to override it.
Initially, we will ship sweep disabled. We can use the local storage flag to enable it for selected documents and test. Once we are reasonably confident in the process, we will enable it.

[2021-08-20 21:40] agarwal-navin opened #7203 "Add ECS setting to turn GC on / off"
This will be implemented by the host but adding it here for tracking. We want to turn GC on / off directly in the app so that if we find issues, we can disable and restore documents. Without this, it will need hotfixes in the runtime and the turnaround time will be very long.

[2021-08-20 21:46] agarwal-navin opened #7204 "Delete objects that are unreferenced for more than maxUnreferencedTime"
Add maxUnreferencedTime that tracks how long an object can be unreferenced before it is eligible for deletion. When GC runs, it will identify objects that have been unreferenced longer than maxUnreferencedTime and delete them.
Note - Instead of deleting these objects immediately, we may want to convert them to tombstones first - https://github.com/microsoft/FluidFramework/issues/7205
We also need

[2021-08-20 21:52] agarwal-navin opened #7205 "Add tombstone objects - Objects that are deleted as per GC"
When GC identifies objects that are eligible for deletion (described [here](https://github.com/microsoft/FluidFramework/issues/7204)), instead of fully deleting them, we can convert them to tombstones. This way, if these objects are used after they are deleted, we can identify such cases and take necessary action (possible fail fast). These are unexpected scenarios and may indicate bugs in the swe

[2021-08-20 21:57] agarwal-navin opened #7206 "Reload client sessions to get rid of in-memory objects that may be deleted"
When GC identifies objects that can be deleted, it needs to make sure that this content cannot be referenced again. For this, any clients holding in-memory references to these objects (example - in undo / redo stack, copy / paste stack, etc.) must be reloaded to get rid of them.

Here's what the solution for this looks like:
1. Have a hard-coded timeout (30 days) for session expiry. On expiry, clo

[2021-08-20 22:03] agarwal-navin opened #7207 "GC sweep end-to-end tests"
When GC sweep phase is implemented, we need end-to-end tests to validate that things are working as expected.
Add tests for the following scenarios:
- Unreferenced data stores that meet the deletion criteria are deleted on sweep.
  - Summarization that occurs right when data stores should be deleted.
  - Summarization that occurs long after data stores should be deleted.
  - Summarization with a d

[2021-08-20 22:05] agarwal-navin opened #7208 "GC sweep stress tests"
When GC sweep phase is implemented, we need stress tests to validate that things are working as expected.
- Add tests like our service load tests - It creates multiple clients; each client creates data stores and performs operations on it and then marks them as unreferenced. These unreferenced data stores will be deleted when sweep runs. This should not cause any unexpected issues during the norma

[2021-08-20 22:08] agarwal-navin opened #7209 "Add telemetry for count of deleted data stores and total deleted objects"
After GC sweep phase runs, log the count of data stores and total objects that are deleted.

[2021-08-20 22:09] agarwal-navin opened #7210 "Log error when objects deleted by GC are used"
After GC deleted objects, log an error if:
- Ops come in for deleted objects
- Deleted objects are requested
Be careful not to log this in every client or it will generate lot of duplicate telemetry.

[2021-08-23 18:37] agarwal-navin commented on #7152
Ping.

[2021-08-23 19:13] tylerbutler opened #7221 "Docs: Standardize 'see also' formatting"
The next file has the "see also" as a note callout.  Should we standardize on the same format for all these "see also" bits? From the reader POV idk if it makes much difference but they do show up a lot

_Originally posted by @heliocliu in https://github.com/microsoft/FluidFramework/pull/7218#discussion_r694211661_

[2021-08-23 19:20] agarwal-navin opened #7222 "Remove "usedRoutes" from "gc" blob in summary"
Currently, we store the following in the "gc" blob in summary for each data store:
- `gcNodes` - A list of all nodes (data store and its DDSs) and their outbound routes (link to other nodes).
- `usedRoutes` - A list of routes that are used in the data store.
The `usedRoutes` are added to the summary so that when a new summarizer client loads, it can identify whether a data store's used state chang

[2021-08-23 19:34] andre4i opened #7223 "Remove legacy `existing` property from `IContainerContext`"
See #3429

As `IRuntimeFactory.instantiateRuntime` has an `existing` parameter which can be used to check for this state, the existing property on `IContainerContext` is redundant. This should be done after we're able to safely do a breaking change in `IRuntimeFactory` (`@fluidframework/container-definitions`) by making the `existing` parameter mandatory.

Until the back-compat changes go in, we c

[2021-08-23 20:14] agarwal-navin commented on #7222
@vladsud @anthony-murphy @pleath FYI

[2021-08-23 20:27] vladsud opened #7226 "container-runtime package exports too many internal types/APIs (mostly summarizer-releated_"
Looking at packages\runtime\container-runtime\src\index.ts, I believe big half of exports should be removed from here, as these are internal implementation details of the package:

export * from "./deltaScheduler";
export * from "./summarizer";
export * from "./summarizerTypes";
export * from "./summaryCollection";

(I omitted some that I'm removing in my PR).

Some number of potential complicatio

[2021-08-23 21:22] #7164 closed

[2021-08-23 21:56] #7152 closed

[2021-08-24 16:30] vladsud commented on #7222
Sounds reasonable with me.
This will be a breaking change, right? In a sense that we need to keep writing old data for at least couple releases while using only gcNodes calculation.

[2021-08-24 16:33] vladsud commented on #2903
I assume this work will continue through Sept, so moving it to Sept. Feel free to move back if I'm wrong :)

[2021-08-24 16:37] vladsud commented on #6551
One addition to consider: It would be super useful also to have some application moniker added there like "Whiteboard" or "Bohemia". This kind of information might be useful in various heuristics. For example, we have broken search contract due to changes in structure of snapshots and it went unnoticed. ODSP could have an alert that says Bohemia file has to have at least one Scriptor that is index

[2021-08-24 16:44] agarwal-navin commented on #7222
Yes, we will have to write the used routes for couple of versions. However, once we stop writing the used routes, the summary for such files will not have used routes in gc blob. If these files are opened in an older version of runtime (without the new code that calculates used routes), it will realize every data store and DDS while summarizing. It's a corner case and it might be a little expensiv

[2021-08-24 18:19] vladsud commented on #6790
This is low priority item, assigning to you in case you OCE workload is low and you are looking for something

[2021-08-24 19:16] tylerbutler commented on #7226
@vladsud An option for APIs that are internal-only but can't be made private is to remove them from [the type rollup](https://api-extractor.com/pages/setup/configure_rollup/). Rollups are not enabled at the moment but #6116 tracks it.

[2021-08-24 19:28] vladsud commented on #4590
@jatgarg, assigning to you in September to see if we can figure out a way to make parallel progress on this item with binary snapshot. It might be ideal to use this item as a staging for bigger snapshot workflow, as we have easier time to flight it by starting to leverage in GC blob download scenario where client has a way out if API is disabled or does not work (download one by one). The other bi

[2021-08-24 19:51] vladsud commented on #6571
I'll describe possible picture how we could get to end results:
1. https://github.com/microsoft/FluidFramework/issues/5738 will very likely result in using immutable / copy-on-write data structures to represent DDS state.
2. That in turn likely makes it easy to implement cheap synchronous cloning of state (mostly talking about DDS, but need to consider how we can do it at higher level, i.e. whole

[2021-08-24 21:28] vladsud opened #7241 "ODSP driver: special handling for data center fall over / read-only farm"
SPO can occasionally return 403 for r/w operations on document when there is a fail over to another data center.
The intention here is that data is read-only for a while, while fail over happens, to preserve integrity of the data.
While the process can take arbitrary time, we observe that this happens often in SPDF where new features are tested, and tenant is in this state for very short amount of

[2021-08-24 21:31] jatgarg commented on #7241
I will take a look @vladsud . Will try to squeeze in August itself.

[2021-08-24 21:39] #6929 closed

[2021-08-24 22:37] wes-carlson opened #7245 "fluid fetch does not correctly handle BlobAttach ops"
BlobAttach ops do not have a `contents` field, resulting in error such as below when running fluid fetch with `--stat:message` option:
[code]

[2021-08-24 22:48] andre4i opened #7246 "Propagate and implement size limit of batches"
The Kafka payload size is 1MB, therefore if we send a batch that's larger than that, it will fail.

Acceptance criteria:

 - hard limit (slightly less than 1MB) implemented in the driver which results in a non-retriable failure
 - soft limit for half that size implemented in the runtime which results in a warning
 - the limit should be configurable and propagated from service to driver to runtime

[2021-08-24 22:53] #4048 closed

[2021-08-24 23:47] #6523 closed

[2021-08-25 00:07] agarwal-navin opened #7249 "Change usedRoutes and gcData from getters to functions in summarizerNodeWithGc"
As per Paul's comments [here](**url**), having them as getter adds confusion and may lead to subtle bugs.

[2021-08-25 00:17] jatgarg commented on #7241
The error that we get is in the body:
` {
"code": "accessDenied",
"innerError": {
"code": "serviceReadOnly"
},
"message": "Database Is Read Only"
}`

[2021-08-25 15:55] curtisman opened #7251 "Realsvc e2e test targeting ODSP fail in gcVersionUpgrade.spec.ts"
Test failed: gcVersionUpgrade.spec.ts: should regenerate summary and GC data on receiving ack with different GC version

[code]

[Internal test result link](https://dev.azure.com/fluidframework/internal/_build/results?buildId=35117&view=ms.vss-test-web.build-test-results-tab&runId=642604&resultId=103179&paneView=debug)

[2021-08-25 15:59] curtisman opened #7252 "Realsvc e2e test targeting ODSP/t9s/r11s fail in audience.spec.ts"
Test: audience.spec.ts: "should add clients in audience as expected"

[code]

[Internal test run link](https://dev.azure.com/fluidframework/internal/_build/results?buildId=35117&view=ms.vss-test-web.build-test-results-tab&runId=642604&resultId=100349&paneView=debug)

[2021-08-25 16:50] agarwal-navin commented on #7249
Fixed via https://github.com/microsoft/FluidFramework/pull/7197

[2021-08-25 16:50] #7249 closed

[2021-08-25 19:29] nimgup opened #7253 "dmLastMsqSeqClientId could be null"
## Describe the bug
Telemetry properties are of type TelemetryEventPropertyType | ITaggedTelemetryPropertyType; which includes undefined but not null values. One of demo-host's co-auth puppeteer test was failing because `dmLastMsqSeqClientId` equal to null and passed the type check for `typeof propvalue === 'object'`

Cancel telemetry event reported to logger in the FF runtime:
![image](https://us

[2021-08-26 00:57] leeviana opened #7256 "Performance: Preloading components in "tree" hierarchy could help with perf"
## Feature
From the perf team: One performance problem we have today is that we don't discover the subcomponents we need to render on the critical path until it is far too late. For example, consider the case of rendering a component that happens to host another. Today you have to sequentially load those components and their code/factories.

Now that the framework has a concept of a hierarchy with

[2021-08-26 17:44] tylerbutler opened #7259 "Docs: What is "code loading" in Fluid Framework and why would I use it?"
Code loading is something that comes up when digging into the Fluid service, but we don't explain the concept and how we use it (or don't use it in many cases).

[2021-08-27 00:08] tanviraumi opened #7264 "To parse summary acks and nacks, summarizer should use the "data" field instead of "content" field."
Currently, scribe uses the "contents" field to populate summary ack and nack payload. However, this is incorrect and we should use the "data" field instead (just like join/leave). PR #7231 updated the scribe code to start populating "data" field. Now summarizer should be updated as well.

To keep backward compatibility, scribe currently fills both "data" and "content" fields. Once all clients are

[2021-08-27 17:30] vladsud opened #7272 "Add UT coverage for lastSummary successfully happening when main client disconnects due to nack (10K ops)"
Tracking work mentioned in https://github.com/microsoft/FluidFramework/pull/7247#discussion_r695322197

**Navin**: Is it possible to re-create this scenario in tests? Basically, making sure that docs can get out of broken state when it goes through the cycle of reconnects

**Vlad:** I'll look into it.

This is RE this comment:

this.delayBeforeCreatingSummarizer().then(async (isDelayed: boolean) =

[2021-08-27 17:48] vladsud opened #7273 "Make summarizer move past initial delay if it learns about too many unsummarized ops while waiting"
I'm disabling a test in https://github.com/microsoft/FluidFramework/pull/7247 with this comment:

        // This test attempts to validate a case where summarizer client does not wait
        // initial delay if there are enough unsummarized ops.
        // The way it was implemented (and tested here) is that it only worked if given
        // client was selected to be a summarizer in the past, t

[2021-08-27 18:21] vladsud opened #7274 "Unify single-summary locking and advancement of summaryGenTag property in logging"
Per discussion https://github.com/microsoft/FluidFramework/pull/7269#discussion_r697576291, it would be great to do two things:
1. summaryGenTag not to advance on each retry in RunningSummarizer.trySummarize. Essentially move ownership of this counter / telemetry from SummaryGenerator into RunningSummarizer, create single way to do various maintenance activities around calling SummaryGenerator.sum

[2021-08-27 18:21] agarwal-navin opened #7275 "Client should move to "connected" state after it has been added to audience"
_[Update]: See https://github.com/microsoft/FluidFramework/issues/7275#issuecomment-1095452283 below, there's a service change that makes this much easier to achieve, so we're waiting for that._

Currently, there are no guarantees around when a client is added to the audience. For write mode clients, they are added to audience most definitely before they move to "connected" state. However, this is

[2021-08-27 20:38] vladsud opened #7279 "Consider changing summarization election to avoid 2 summarizer stepping on each other (last Summary)"
In https://github.com/microsoft/FluidFramework/pull/7247, I've tried to reduce number of cases where we have two summarizer clients running at the same time by ensuring that newly starting client always waits a bit (under normal circumstances) before actually starting to summarize, giving some amount of time for the outgoing client to produce last summary.

This does work, but it's probabilistic,

[2021-08-28 17:14] #7252 closed

[2021-08-30 07:15] vladsud opened #7292 "We have zero UTs for Summarizer class"
An example of scenario to cover:
I almost made a regression around cancellation and last summaries - my initial approach to introducing cancellation token made Summarizer.stop() to also cancel cancellation token (coordinator), which made last summary running not possible (see PR #7230)

Overall, it would be nice to figure out a way to test it.

[2021-08-30 17:59] vladsud commented on #7180
Please note comment in https://github.com/microsoft/FluidFramework/pull/7230/files/95f5b3e92eba51779d82051f1f4a9dc0275a577e#r694390403 RE runtime should never be exposed to such state. If this case no longer happens, then we should add an error logging statement to prevent it from happening in the future.

[2021-08-30 19:39] vladsud commented on #6896
Addressed by PR #7230

[2021-08-30 19:39] #6896 closed

[2021-08-30 20:01] vladsud commented on #7274
Raised PRs for both

[2021-08-30 20:02] vladsud commented on #7272
Note: that's special case of #7292

[2021-08-30 20:22] #7131 closed

[2021-08-30 20:51] vladsud commented on #6260
Ok, here is my take on where we are right now and what needs to be done.

First, what we have today:
1. Summarizer.run() already takes options argument that has ISummarizerOptions.**disableHeuristics** property - a way to disable heuristics runs and thus be able to manually control when summaries are happening.
   - if needed, we can refactor code and expose SummarizeHeuristicRunner in a form wher

[2021-08-31 05:16] vladsud commented on #4165
@wes-carlson, assigning to you for consideration if you do not have any other work or blocked and waiting for something. In such case, please take a look. Otherwise this is low-priority item, feel free to keep it on backlog for as long as needed :)

[2021-08-31 06:01] #5190 closed

[2021-08-31 17:33] timtwang opened #7303 "FluidExample Brainstorm View Refactor + README Update"
## Work Items

### 1 . Extract styles into an external stylesheet
  - Extract the styles specified in the return statement `div` of the view files (`NoteFooter.tsx`, `NoteBody.tsx`, `NoteHeader.tsx`, etc) into a new file.
  - create a `styles.css` and use the `webpack style-loader/ css-loader` to pull them in, e.g. like in
  `examples\data-objects\multiview\plot-coordinate-view\webpack.config.js`

[2021-08-31 17:59] anthony-murphy commented on #6996
@chensixx is this bug ready to close now that the above pr is in?

[2021-08-31 18:51] vladsud opened #7311 "Summarizer election may result in summarizer not being started"
Detailed investigation from ODSP scalability runs:

https://onedrive.visualstudio.com/SPIN/_workitems/edit/1186576/?triage=true

Short summary:
We have been seeing cases where client gets into situation with 10K unsummarized ops, both in prod and in scalability tests. So far my efforts were mostly on the direction of ensuring that  once summarizer boots, it does gets out as quickly as possible whe

[2021-08-31 18:56] vladsud opened #7312 "fluid:telemetry:DeltaManager:NoJoinOp is hit in production and ODSP scalability tests"
This event is logged when client does not receive its own join op for 45 seconds after connecting as "write".
In indicates something going really bad, and user not being able to receive latest document changes, as well as save his/her changes back to file. Recovery process attempts to reconnect, but if same container keeps hitting this error, that means recovery does not help in any way and client

[2021-08-31 19:01] vladsud commented on #7312
@jatgarg - I'd most likely need help here as I think I'll not have enough time in September to look into it.
Note that in the past most of these kinds of errors were due to client not being able to get prior ops from storage/ordering service, so it was running in a loop trying to fetch them, delaying processing ops from socket.
Most of these problems show up as these kinds of errors:

union Office

[2021-08-31 19:05] vladsud commented on #7312
It's actually top error in loaderVersion >= 0.45 if I remove 10K unsumarized ops nacks & 403 errors.
So we should prioritize looking into why client can't make progress here.

[2021-08-31 19:10] vladsud opened #7313 "We still hit "Failed to retrieve ops from storage: too many retries" in prod & stress tests"
Counts are substantially down, and we identified a ton of issues and submitted fixed for both client & PUSH.
But, loaderVersion == 0.46 still sees cases, same for latest runs in ODSP scalability lab (customDimensions.testUid == "4f78e80f-5704-42c6-abd1-fdba9fe9ffd8")

union Office_Fluid_FluidRuntime_*
| where Data_error contains "too many retries"
| summarize count() by Data_loaderVersion

We need

[2021-08-31 21:52] chensixx commented on #5977
closing but will follow up with Tony for next steps

[2021-08-31 21:52] vladsud opened #7316 "Add coverage of blob upload to scalability tests"
It would be great to cover blob upload, as well as creation of files with attachment blobs in our scalability tests (see packages\test\test-service-load\src)

This is not urgent work, so please feel free to move around

[2021-08-31 21:52] #5977 closed

[2021-08-31 21:54] chensixx commented on #6996
no, we did not find the exception, the unit test was to rule out some scenarios. Jatin said we should add telemetry when unhandled exceptions happen. I will follow up when he is back

[2021-08-31 22:02] vladsud commented on #7137
We should consider
- adding UTs to cover this case
- inject a failure into stress tests that stalls summarizer and tests recovery for this path.

[2021-08-31 22:03] vladsud opened #7317 "Stress tests: add signal payload to stress tests"
Stress tests are located at packages\test\test-service-load\src

[2021-09-01 00:57] pleath commented on #6649
@vladsud, regarding a possible Nack event, would you recommend having RunningSummarizer.trySummarize detect that the attempt failed with summaryNack !== undefined and, if so, issue a "SummaryNack" event that includes the message and retryAfter fields?

[2021-09-01 03:15] heliocliu commented on #7303
For this follow up please also address invalid FrsMember comparison if it wasn't already (https://github.com/microsoft/FluidExamples/pull/272#discussion_r695022956) and make another pass over the README to improve clarity and ensure code snippets reflect recent code changes

[2021-09-01 04:56] vladsud commented on #6649
I'd rather put telemetry event as deep as possible to ensure that it covers as many code paths as possible, but watch out for only summarizer client to issue these events.
So first suspect seems to be Summary.ackNack(), though it might be too broad (i.e. not satisfy requirement # 2 above).
Next obvious place would be SummaryGenerator.summarizeCore(), else branch here:

[code]

RunningSummarizer.tr

[2021-09-01 16:41] #7251 closed

[2021-09-01 17:40] vladsud opened #7324 ""Test 23" failed - can we have better names / error messaging?"
This error is super informative.
I assume this is Property DDS. It would be great to at least given some names that are easy to find, but also provide reasonable reason for failure. Please note that I'm changing parts of runtime that have close to zero chance to impact DDS tests, so that also likely points to instability in those tests. But naming / better pointers for developers to know where to

[2021-09-01 19:39] vladsud opened #7330 "Double getWithRetryForTokenRefresh in connectToDeltaStream flow"
OdspDocumentService.connectToDeltaStream() calls this.joinSession() under getWithRetryForTokenRefresh(), but fetchJoinSession() has its own loop with getWithRetryForTokenRefresh(). This is likely not good, as we can retry 2X2 before failing with 403/401.
I think connectToDeltaStream() needs getWithRetryForTokenRefresh() to wrap actual PUSH connection, though I'm not sure

Please glance.

[2021-09-01 20:58] astegmaier opened #7332 ""fluid-framework" package.json includes "module" entry that points to files that don't exist"
## Describe the bug

The `fluid-framework` package's `package.json` file includes this line, which is supposed to point to es6-module versions of the transpiled code:

https://github.com/microsoft/FluidFramework/blob/b35f6cca69e33f61e55806bf48f09c559ea49a2a/packages/framework/fluid-framework/package.json#L11

However, the build scripts never generate anything in the `lib` directory.

One side-effe

[2021-09-01 23:40] vladsud opened #7338 "Need UT coverage for RunWhileConnectedCoordinator"
Would appreciate help here :)

This issue is opened in context of https://github.com/microsoft/FluidFramework/pull/7321/ & https://github.com/microsoft/FluidFramework/issues/7311

[2021-09-01 23:54] vladsud opened #7340 "property-dds tests fail with slight change in logic / frequency of summaries"
Undoing last commit https://github.com/microsoft/FluidFramework/pull/7298/commits/076431fb7bcc2d6a3c1d688c73b40e627ef6a860 from PR https://github.com/microsoft/FluidFramework/pull/7298/ results in some failures in property-DDS - timeouts.
This is very strange, as code changes in this PR have nothing to do with DDSs and should not in any direct way impact property DDS.
I can't repro it locally, onl

[2021-09-01 23:55] #7274 closed

[2021-09-02 01:07] vladsud commented on #7338
Actually, thanks to all the comments, I think we need to also simplify RunWhileConnectedCoordinator after we have proper test coverage (which I think requires end-to-end tests to ensure we can validate that disconnected -> disposed for summarizer containers).
There is no reason for this class to care about connected or disconnected states - that together with needing to care about disposed makes i

[2021-09-02 01:27] #7241 closed

[2021-09-02 04:23] vladsud commented on #7253
ISequencedDocumentMessage.clientId can be null - typing should be fixed. All server-generated messages have null there.
TelemetryEventPropertyType should also probably allow null - it might be useful to record null (not undefined or something else) in places where we want to differentiate null from other values.

[2021-09-02 16:33] #7311 closed

[2021-09-02 17:45] vladsud opened #7345 "Not all summary flows will respect delay from summary nack / summary upload (429)"
This is more future looking RE consistency of APIs and doing right stuff RE respecting storage wishes.

Today, RunningSummarizer.trySummarize() will respect delay from 429/nack by waiting for such delay in between iterations - see delay() below "SummarizeAttemptDelay" event. So that looks good.

But here are couple places where we will not respect such delays:
- If RunningSummarizer.trySummarize()

[2021-09-02 18:00] vladsud commented on #5580
That's already implemented with "Behind" errors.

[2021-09-02 18:00] #5580 closed

[2021-09-02 18:01] #4633 closed

[2021-09-02 18:02] vladsud commented on #5102
Punting - we have not heard requests to do so, and it looks like experiences built on top of FF work pretty well in this regard (with latest improvements in Scriptor that just landed)

[2021-09-02 18:02] #5102 closed

[2021-09-02 18:04] #6649 closed

[2021-09-02 18:06] vladsud opened #7347 "Group: possible ramp up for new engineer"
Here is a list of potential items we might want to assign to new engineer joining our team.

Simple / good first issue - learning processes, tools, a bit of layering:
- [x] #9181
- [x] #8911
- [x] #6070
- [x] #5284
- [x] #4691
- [x] #4500
- [x] #9248

Areas that require deeper understanding, but at the same time are relatively scoped in terms of number of concepts / layers to understand:
- [ ] #79

[2021-09-02 18:49] agarwal-navin opened #7348 "Add tests to validate that when GC is disabled, previous GC state is removed in the next summary"
When GC is disabled via the runtime GC option `disableGC`, the following GC state (if present) from previous summaries should be removed:
- `unreferenced` flag in ISummaryTree
- `gcNodes` in GC blob in data store summary.
- `unrefTimestamp` in GC blob in data store summary.
Only `usedRoutes` should be present in the GC blob and its contents should be [""] indicating that data store is referenced.

[2021-09-02 18:51] agarwal-navin commented on #6763
This should work currently as expected. When GC is disabled, subsequent summaries will not have any GC state except for `usedRoutes` in GC blob of data store summaries. The `usedRoutes`'s value will be [""] indicating the data store is referenced.
Create an issue to add tests for this scenario - https://github.com/microsoft/FluidFramework/issues/7348

[2021-09-02 18:51] #6763 closed

[2021-09-02 18:58] agarwal-navin opened #7349 "Unable to load container with loader 0.39.8 and driver 0.46.1 / 0.47.0 combination"
With the above combination, containers in "write" mode fail to load. They never get to connected state.
Here is a sample tests in which the second container fails to load - https://github.com/microsoft/FluidFramework/compare/main...agarwal-navin:backCompatTests?expand=1.
- Run the new tests added above in this file and the run with "old loader 0.39.8" will fail.

Here's the matrix of version where

[2021-09-02 19:32] curtisman commented on #3925
Currently, only `experimental/PropertyDDS` has this problem.  There are import whole of `lodash` in server only packages, which shouldn't impact client side webpack.

[2021-09-02 21:29] heliocliu commented on #6971
duping to #3925 since propertydds is the last project to be doing this

[2021-09-02 21:29] #6971 closed

[2021-09-02 22:07] vladsud commented on #7349
I just run it and it succeeded for me on latest main.
That said, we know for a fact that instrumentation added in 0.46 captures cases where client never receives its own join op - see https://github.com/microsoft/FluidFramework/issues/7312. We hit these issues in prod (not that often), but also we hit them quite often in ODSP scalability tests, so that's definitely  pretty high on my list to look

[2021-09-02 22:16] #6522 closed

[2021-09-02 22:16] #6524 closed

[2021-09-02 22:27] vladsud commented on #7349
Given that CI does not hit the issue too, I'm thinking to close this as Not Repro, and keep working on #7312.
Please speak up if you disagree or see some error in my logic / steps

[2021-09-02 22:40] wes-carlson commented on #7349
Have you tried running against ODSP? I don't think the CI does.

[2021-09-02 22:43] vladsud commented on #7349
No, I did not - repro steps did not mention it. :)
How do I do it?

[2021-09-02 22:48] wes-carlson commented on #7349
I think running `npm run test:realsvc:odsp -- -- --grep "should regenerate summary and GC data when GC version updates"`  from the end-to-end tests directory should work.

I don't know if Navin was running against ODSP or not when he experienced this issue though.

[2021-09-02 23:35] agarwal-navin commented on #7349
Oh yes, it passes with local server. Fails with ODSP.

[2021-09-03 06:00] #4423 closed

[2021-09-03 06:00] #1192 closed

[2021-09-03 16:24] anthony-murphy opened #7362 "Container Fails to Serialize and Rehydrate Multiple Times"
## Work Item
Repro test added in #7361 . This scenario should be fully supported.

[2021-09-03 16:26] anthony-murphy commented on #7362
@wes-carlson do you see this in your blob tests? we should be validating the same scenario with blobs as well.

[2021-09-03 16:43] vladsud commented on #7349
I can indeed hit that issue.

I can confirm that disabling this line in driver fixes the bug:
[code]

Which likely means we do not handle well case where initialMessages are disabled by PUSH as result of this feature.
And I believe that points to actual bug that causing it that is fixed by https://github.com/microsoft/FluidFramework/pull/6898/files
That is a real bug unrelated to initialMessages t

[2021-09-03 17:13] andre4i opened #7365 "Remove batchmanager and default FlushMode related feature gates"
The following 2 PRs:
- https://github.com/microsoft/FluidFramework/pull/7071 (related https://github.com/microsoft/FluidFramework/issues/4048)
- https://github.com/microsoft/FluidFramework/pull/7178 (related https://github.com/microsoft/FluidFramework/issues/3788)

are shipping 2 related features behind a feature gate.

We need to ensure that enabling the feature gate does not break existing clien

[2021-09-03 20:40] vladsud commented on #7312
Here is an interesting statistic: Currently there are 39K / 30K of sessions between 0.45/0.46 versions of loader.
But distribution of fluid:telemetry:DeltaManager:ConnectionRecovery events is 63 / 778 !
So 0.46 hits it much more.
I think it's due to 0.46 version of driver advertising that it supports get_ops flow:
[code]
And PUSH not providing IConnected.initialMessages in response, likely causing

[2021-09-03 20:45] vladsud commented on #7312
Not sure if there is any significance in that, but here are some results from latest ODSP scalability runs:
Much fewer cases in testUid == "209ac8ea-fd30-400c-b046-3958639bbc10" (tonight's run), all but one container hit it only once.
Situation is worse in testUid == "0e7916dd-d314-44ed-bbb8-4dfd25daef49" (run of two days ago) where there are substantially more hits and many with 4 attempts (max)

[2021-09-03 21:15] vladsud commented on #7312
More experiments suggests that no, it's not the cause :)

[2021-09-03 21:49] wes-carlson opened #7374 "inconsistent client/server dependencies"
The server protocol-definitions dependency was bumped, making it inconsistent with the client version. The change in 1025 needs to be ported back to 1024 and the dependency needs to be rolled back.

I will try to do this today, but cutting the 0.47 release branch will be delayed until next week.

FYI @anthony-murphy @skylerjokiel @sumedhb1995 @andre4i

[2021-09-03 22:29] #7362 closed

[2021-09-03 23:00] #7374 closed

[2021-09-04 00:30] anthony-murphy commented on #7349
we still see quite a bit of traffic on the 0.39 loader in the last week.

[code]

minorLoaderVersion | max_Event_Time | dcount_Data_hostCorrelationId | dcount_Data_docId | set_minorDriverVersion
-- | -- | -- | -- | --
0.39 | 2021-09-04 15:15:11.5320000 | 19216 | 2606 | [ "0.39", "0.46" ]
0.40 | 2021-09-04 00:25:23.3890000 | 4876 | 1415 | [ "0.46", "0.45", "0.40", "0.44", "0.41", "0.43" ]
0.41 | 20

[2021-09-06 05:27] vladsud commented on #7312
Here is interesting data point:

1. Last 10 days of ODSP scalability runs:
   - 5049 out of 6237 all ConnectionRecovery events had fetchReason !== undefined
   - 4781 out of 6237 had fetchReason == "AfterConnection_fetch"
2. In production:
   - 843 out of 884 had no fetchReason

So ODSP cases are blocked by pending fetch from prior connection (as "AfterConnection" reason is used only for "read" co

[2021-09-07 16:15] vladsud opened #7391 "Record connectionMode with ConnectionState_Disconnected event"
As part of investigating bug https://onedrive.visualstudio.com/SPIN/_queries/edit/1184093/?triage=true, it was useful to learn how long "read" connections are. Unfortunately we do not record connectionMode property for Disconnected events as we already do not have connection when logging happens:

[code]

We can always add one more variable to track it, but I hope we could find some elegant soluti

[2021-09-07 16:29] vladsud commented on #7312
Note: ALL issues are gone from stress tests with change to connectionArgs.mode mentioned above.
At least in one run we had. I'm sure we will have more issues, but that seems to be the majority of issues for stress tests.
Prod is still not fully understood

[2021-09-07 16:35] vladsud commented on #7312
This is the main offender in prod - 921 hits:

union Office_Fluid_FluidRuntime_*
| where Data_eventName == "fluid:telemetry:DeltaManager:ConnectionRecovery"
| where Data_loaderVersion == "0.46.0"
| where Data_fetchReason == ""
| where Data_hostName == "OneNoteMeetingNotes"
| summarize count()

[2021-09-07 16:56] vladsud commented on #7349
Here is slightly better view into the problem:

union Office_Fluid_FluidRuntime_*
| where Event_Time > ago(7d)
| where Data_driverVersion != ""
| where Data_driverVersion != Data_loaderVersion
| where Data_loaderVersion notcontains "0.45" and Data_loaderVersion notcontains "0.46"
| where Data_driverVersion contains "0.46"
| summarize dcount(Data_loaderId) by Data_loaderVersion, Data_driverVersion,

[2021-09-07 17:11] josephliccini opened #7394 "Minor Perf Issue: Error.stack called in high frequency"
## Describe the bug
High frequency codepath hitting `Error.stack` (which is slow if accessed in high frequency).

Codepath: https://github.com/microsoft/FluidFramework/blob/d451bd668c1dd8da449ababddb82106f4df1112d/packages/runtime/runtime-utils/src/dataStoreHelpers.ts#L26-L36

### To Reproduce
Steps to reproduce the behavior:

Collect a profile of a document in OneNote meeting notes (I can share t

[2021-09-07 18:56] jatgarg commented on #7175
Design here: https://microsoft-my.sharepoint-df.com/:w:/p/jatgarg/EWd-BMIedLRDt_NtJ0MRIikBTlDuD4izwz318fl5AxeHcA?e=w2Q8ty. Emailing also to the concerned people.

[2021-09-07 21:43] curtisman commented on #7394
`getStack()` is only called when there is an error when app is trying to resolve a URL/Fluid Handle.  We don't expect this to error happen often, unless the app is requesting to resolve a lot of invalid URL/fluid handle, it would be good to understand why the app code go down this error path so often.

[2021-09-08 00:00] #5293 closed

[2021-09-08 00:00] #5213 closed

[2021-09-08 05:03] vladsud commented on #7312
PR #7392 added right telemetry, we need it to be deployed to prod to understand things better.
Given no shipping apps are affected in big numbers, moving to October

[2021-09-08 05:26] vladsud commented on #7145
At the moment, we do 3 ops fetches per session. Or roughly 1 fetch ops per connection (as there are roughly 3 connections per session). So while we can and should improve here, but the numbers are going to improve at best by 2x, as we proactively fetch ops on first connection, and on some reconnects.

Moving to October

[2021-09-08 06:21] vladsud commented on #7313
42 hits from 0.46, and 9 from 0.40 (loader) - that's all for 30 days. So while we do have hits, number of them is substantially lower than it used to, so priority on that is not that high.

[2021-09-08 06:58] vladsud opened #7406 "fluid:telemetry:OpPerf:OpRoundtripTime errors are hit in prod"
This is error event if duration > 5000.
This is same as https://onedrive.visualstudio.com/SPIN/_queries/edit/1186578/?triage=true which has more info

Queries:

| where Event_Time > ago(5d)
| where Data_eventName == "fluid:telemetry:OpPerf:OpRoundtripTime"
| summarize count() by Data_loaderVersion

Latest (as of 12/6) stats for last 5 days:

0.5x.x: 33
0.49.2: 276
0.47.1: 949
All others: 22

Same,

[2021-09-08 12:02] christiango commented on #4608
This issue is still relevant and should not be auto closed

[2021-09-08 16:36] #2625 closed

[2021-09-08 17:29] vladsud commented on #7312
Latest ODSP Scalability run has more telemetry. This one is interesting:

customEvents
| where customDimensions.testUid == "f3976e4b-b286-457d-be00-4541967e1d9f"
| where name == "fluid:telemetry:DeltaManager:NoJoinOp"
| where customDimensions.fetchReason == ""
| where customDimensions.haveHandler == true
| where toint(customDimensions.lastQueuedSequenceNumber) == toint(customDimensions.lastProcess

[2021-09-08 17:34] tanviraumi commented on #4608
r11s is already on socket.io v4 and I believe Push has migrated as well (@znewton and @GaryWilber to confirm).

So we should be in a spot to upgrade the client now.

@jatgarg to check the driver/common code.

[2021-09-08 17:37] GaryWilber commented on #4608
Yes Push is running socket.io v4

[2021-09-08 18:29] sumedhb1995 opened #7411 "Fix publish step in the pipeline"
Two current issues in the pipeline:

1. We should only tag the release once, instead of after both scoped and non-scoped package publishes
2. Do a check to see if the package has already been published and, if so, skip the step instead of failing. This will allow us to re-run the step in case there any ephemeral errors in the pipeline that cause the step to fail

[2021-09-08 18:30] curtisman commented on #7411
When checking, make sure the published package is the same we are going to publish.  We should still error if we are trying to publish a different package of the same version.

[2021-09-08 18:55] vladsud commented on #7347
@andre4i , @DLehenbauer - FYI

[2021-09-08 21:31] znewton commented on #4608
Just confirmed that FRS is running Socket.io v4. The title of this issue is upgrade client to v3. We want to upgrade to v4, correct?

[2021-09-08 21:36] tanviraumi commented on #4608
@christiango can confirm but I believe anything >= 3.x should be enough to close this issue.

If @jatgarg and you can confirm that drivers/clients are also up to date, we should be good for now.

[2021-09-08 21:40] christiango commented on #4608
I think V4 would probably also work, right now the issue is that FF requires 2 versions of debug to be included in bundles (one for socket.io and one for internal usage)

[2021-09-08 21:43] jatgarg commented on #4608
We are using this package version at client side:     "socket.io-client": "^2.4.0",

[2021-09-08 22:16] tanviraumi commented on #4608
I think we should update the client version as well. I see 2.4.0 is being used in both drivers. We can pick the r11s driver one and test it out. For ODSP, assign someone appropriate.

[2021-09-08 23:20] jatgarg commented on #7312
Interesting that we lost the pending ops somewhere. Does all these cases started coming after we removed initialMessages in connection details?

[2021-09-08 23:24] vladsud commented on #7312
So I've added a ton of telemetry locally and what I see (sometimes when I hit this case very infrequently) is that it's not that we lost pending ops. lastObserved in the query about can be higher than lastProcessedSequenceNumber simply because we learned about max sequence number through checkpointSequenceNumber on IConnected. So client knows that there are more ops, but we never saw them (or at l

[2021-09-09 02:52] vladsud opened #7426 "NoDeltaStream are broken"
packages\test\local-server-tests\src\test\noDeltaStream.spec.ts
Couple tests including "doesn't affect normal containers" can be used to demonstrate the problem (they fail if I address the bug described below).

Current flow today that happens in these tests is:
1. Connection with no storage is started to load
2. Connection is established first
   - that triggers this.fetchMissingDeltas("AfterRead

[2021-09-09 03:11] vladsud commented on #7426
Note that `switch (loadMode.opsBeforeReturn)`  is likely the right place in Container.load() to make changes if we want to have a policy of always firing ops fetch no matter what. Today, default is "cached", which is enough for ODSP, but will not suffice for other drivers with no ops caching (in snapshot).

[2021-09-09 17:44] pleath commented on #6948
This seems to have dropped off the radar. No hits in current Kusto data.

[2021-09-09 18:37] #6128 closed

[2021-09-09 18:40] DLehenbauer commented on #5091
(Actually, this work is going to land soon.)

[2021-09-09 20:03] #6938 closed

[2021-09-09 21:12] dcakirkaya commented on #5853
Will there be a service specific client which provides the _getSessionStorageContainer_ functionality?

[2021-09-09 21:58] vladsud opened #7437 "Need end-to-end test coverage for ops caching"
Please sees https://github.com/microsoft/FluidFramework/pull/7428, changes in it and discussion in it.
The challenge here is that the bug was not in a layer, but in expectations between layers, as well as feature not essentially being enabled.
Maybe we can do UT level testing by mocking fetch and ensuring that it stays local.

[2021-09-10 02:35] vladsud commented on #7437
So, there is a test that uses OdspDeltaStorageWithCache() - see testStorage() nin opsCaching.spec.ts.
The problem with it is that it tests OdspDeltaStorageWithCache alone, without integration with OpsCache usage.
OpsCache is tested separately, but the contract we tested for differed from what we OdspDeltaStorageWithCache would expect, thus bug # 1 was not found.

Bug # 2 was in OdspDocumentService

[2021-09-10 06:00] #1873 closed

[2021-09-10 17:53] #7411 closed

[2021-09-10 18:39] andre4i opened #7450 "PACKAGES.md is out of date"
There have been some refactoring work targeting the layout of some of the packages. However, `PACKAGES.md` drifted and is currently out of date.

The `layerCheck` tool can be used to generate an updated version of `PACKAGES.md`.

We should probably look into a way of integrating this tool into the regular workflow (same as with the API documentation updates) and avoid future similar situations.

[2021-09-10 19:55] wes-carlson commented on #6374
Hey @vladsud , what did you mean by this?

On the FF side, do you mean that we send the BlobAttach op immediately, and always report all blobs as attached? How will we handle it when GC is implemented for attachment blobs? Will SPO keep all blobs attached to any snapshot they still have?

Also, how does Bohemia handle it? Should there be general advice here for app developers based on Bohemia's co

[2021-09-11 07:15] chensixx commented on #2915
I believe this is all fixed by Matt's PR #7382

[2021-09-13 18:26] jatgarg opened #7465 "Consider adding short tagger codes for error fluidErrorCodes"
Consider adding short tagger codes for error fluidErrorCodes so that we can reduce the bundle size for packages.

_Originally posted by @vladsud in https://github.com/microsoft/FluidFramework/pull/7454#discussion_r706456164_

[2021-09-13 19:19] #6754 closed

[2021-09-14 00:28] hangtwenty opened #7471 "Docs: "Libraries" has bug in section names/slugs - "aqueductundefined", "Fluid frameworkundefined""
## Describe the bug

![image](https://user-images.githubusercontent.com/2420688/133173966-a445bfa2-8cf2-4de0-84d1-706b43fc156a.png)

In the docs, some section titles (and the slugs that go with them) have an accidental `undefined` in them.

The slugs have it too:

* https://fluidframework.com/docs/apis/aqueductundefined/
* https://fluidframework.com/docs/apis/fluid-frameworkundefined/

### To Repr

[2021-09-14 00:33] hangtwenty commented on #7471
Oh, because it affects the slug, there are broken links (i.e. https://fluidframework.com/docs/glossary/ has one). But they'll just work, once the bug is fixed.

[2021-09-14 00:50] tylerbutler commented on #7471
@hangtwenty Thanks for the bug report! I am working on fixing this.

[2021-09-14 16:14] #7332 closed

[2021-09-14 16:16] #7471 closed

[2021-09-14 22:14] agarwal-navin opened #7478 "Add GC detailed design and implementation to docs"
Add the GC design and implementation to the Fluid docs once the design is finalized / implementation is completed.

[2021-09-14 23:04] timtwang opened #7480 "Add Links for `TinyliciousClientProps` and `AzureClientProps` in Telemetry Doc"
## Work Item
Add the corresponding package links to `TinyliciousClientProps` and `AzureClientProps`.

Links will be available once #7472  is settled
Reference: https://github.com/microsoft/FluidFramework/pull/7424#discussion_r708445247

[2021-09-14 23:43] #2915 closed

[2021-09-15 00:08] #7450 closed

[2021-09-15 19:41] andre4i commented on #6465
https://github.com/microsoft/FluidFramework/pull/7486

[2021-09-15 20:23] sumedhb1995 opened #7488 "DataStoreId is currently being tagged as PackageData, this may require a separate tag"
As additional telemetry to help resolve #6465, we have added in `DataStoreId` to the `duplicateDataStoreCreatedWithExistingId` telemetry message. This has also been added in `remoteChannelContext.ts`. Currently, we are using the PackageData tag to strip out any PII this may contain but this data may not qualify for that tag and we may need to add a separate one.

[2021-09-15 21:50] #7129 closed

[2021-09-15 23:09] agarwal-navin opened #7491 "GC sweep design: client session expiry to get rid of in-memory unreferenced content"
When unreferenced content is deleted by GC, it needs to ensure that the content cannot be revived. For this, we want to reload client sessions that may have in-memory referenced to content that is about to be deleted. For example, clients may have stored these in their undo-redo or cut-copy-paste stack.
Basically, if a client had access to the content before it was unreferenced, it could have held

[2021-09-15 23:10] agarwal-navin commented on #7491
@anthony-murphy @vladsud @curtisman @andre4i @pleath FYI

[2021-09-15 23:24] agarwal-navin opened #7493 "GC sweep design: reference state transition between 2 summaries"
There is fundamental problem with GC sweep - If an unreferenced object transitions from `unreferenced -> referenced -> unreferenced` between two summaries, the summarizer won't detect it. This may lead to problems such as described in the following scenario:
- A data store is marked as unreferenced and unreferencedTimestamp is added to it.
- After a while, this object is referenced and unreference

[2021-09-15 23:25] agarwal-navin commented on #7491
There is another issue which exists irrespective of which approach we choose as described here - https://github.com/microsoft/FluidFramework/issues/7493

[2021-09-15 23:25] agarwal-navin commented on #7493
@anthony-murphy @vladsud @curtisman @andre4i @pleath FYI

[2021-09-16 06:00] #5430 closed

[2021-09-16 06:00] #5350 closed

[2021-09-16 20:59] agarwal-navin opened #7502 "Fix real service end-to-end test broken due to fluid-internal/mock-logger package"
The @fluid-internal/mock-logger package is used in end-to-end tests. These tests are run independently without the repo and cannot have dependencies on an internal / private package.

[2021-09-16 23:35] #7502 closed

[2021-09-17 04:26] AndreiZe opened #7512 "ODSP joinSession returns 415 error code when request has body"
## Describe the bug
joinSession backend implementation has recently been updated to allow for passing two parameters in request body:
guestDisplayName and requestSocketToken. These can be used in case where Fluid content is loaded on behalf of content owner via proof token. Current implementation does not explicitly set Content-Type header and it is set to default 'text/plain' value. This results

[2021-09-17 09:30] #6479 closed

[2021-09-17 17:30] #7202 closed

[2021-09-17 19:59] andre4i opened #7518 "Documents not summarizing"
We have received [another incident](https://portal.microsofticm.com/imp/v3/incidents/details/262156364/home) of a document accumulating a large number (40k) of OPs without summarization. The ICM incident contains a Kusto query for the document.

We are seeing a lot of:

[code]

And the summarizer logs show the following pattern:

[code]

Incident [257910811](https://portal.microsofticm.com/imp/v3/

[2021-09-21 22:21] CraigMacomber opened #7545 "1 MB op causes infinite reconnect loop: chunking / op packing is very inefficient, violating 16K op size requirements"
We have a scenario which sends a 1196984 byte op (measured based on webpack message size).

The op is not received back from the server, instead the client disconnects and reconnects in a loop forever, with no backoff. I believe each reconnect it tries to send the op again, which causes the disconnect and thus repeats.

I'm not seeing any errors logged when I reproduce this scenario, until eventua

[2021-09-21 22:34] yoonk-msft opened #7546 "Unnecessary escaping in op JSON"
Fluid op messages in websocket are bloated with unnecessary escaping in the JSON, like the following:
[code]
This extra level of string escaping makes up around 20% of our op message size. Could this be optimized?

[2021-09-22 17:20] DLehenbauer commented on #7545
FYI - @curtisman recalled that:
* 1MB is the maximum Kafka message size
* The feature to upload large ops out-of-band as blobs was removed

[2021-09-22 17:28] jatgarg commented on #4590
Moving to Oct. I will start working on it by Sept end/Oct start so that we will something in October as the roll out for Binary snapshots will also happen by Oct end.

[2021-09-22 17:34] timtwang commented on #7303
all the items listed are addressed except for items 1 and 3 here. https://github.com/microsoft/FluidExamples/pull/309

The PR listed the reasons why items 1 and 3 are not addressed in the description

[2021-09-22 17:34] #7303 closed

[2021-09-22 18:23] DLehenbauer commented on #7546
Message chunking looks like the culpit.  In particular:
* 'ContainerRuntime.submit()' stringifies the content to see if it exceeds 'maxOpSize' (escape level 1)
* Normally, the stringified content is then passed to submitRuntimeMessage(), which adds an envelope before stringifying again (escape level 2)

In the case that the content exceeds 'maxOpSize', 'submitChunkedMessage()' breaks the stringifi

[2021-09-22 21:50] DLehenbauer commented on #7545
From the network payload + code inspection, I believe what is happening is that 'BatchManager' is box-caring the chunked messages into a single Socket.io message that exceeds an ODSP threshold.

@andre4i - Is there a way Whiteboard can enable your feature flag to confirm?

[2021-09-23 00:34] tanviraumi opened #7560 "Fetch summary only when reference sequence number advances"
Currently, refreshLatestSummary() downloads the summary and checks whether the reference sequence number advances (https://github.com/microsoft/FluidFramework/blob/main/packages/runtime/runtime-utils/src/summarizerNode/summarizerNode.ts#L270). However, the summarizer already knows the reference sequence number from the last summary op (https://github.com/microsoft/FluidFramework/blob/main/packages

[2021-09-23 16:07] curtisman commented on #5303
We haven't hit issue with running out of quota yet, and we need to refresh tenant once in a while.  We will reactivate when there is a need.

[2021-09-23 16:07] #5303 closed

[2021-09-23 18:33] agarwal-navin commented on #7560
@pleath FYI

[2021-09-23 20:05] #7560 closed

[2021-09-23 21:29] tylerbutler opened #7573 "Log Tinylicious version on startup"
Including the version will help when investigating issues in the future.

[2021-09-23 22:34] thakugan opened #7575 "LoaderContainerTracker ensureSynchronized hangs indefinitely when processing a large amount of ops"
I have a repro on SharedTree where applying 1200 edits and then calling `ensureSynchronized` hangs indefinitely. This doesn't occur when applying only 250 edits and seems to be up up to about 450 edits.

[2021-09-23 22:34] #7348 closed

[2021-09-23 23:29] #7273 closed

[2021-09-24 01:28] #7573 closed

[2021-09-24 18:37] #5917 closed

[2021-09-24 19:56] agarwal-navin commented on #7203
Added ECS settings in FluidExperiences for this.

[2021-09-24 19:56] #7203 closed

[2021-09-26 17:38] curtisman commented on #7575
@thakugan Do you have a reduced repro case you can share?

[2021-09-27 14:18] vladsud opened #7589 "Documents are hitting 10K summarized ops while there is no summarizer"
These two documents hit a lot of 10K unsummarized ops errors in last 7 days:

| where Event_Time > ago(7d)
| where Data_docId == "y2d8dKQjVDX2B8IWifWWegaJ7QEj7FuH7cF9h5glzs4%3D" or Data_docId == "z5%2BGiEIzITu3pkAUY29hyWQFK%2FY1GB5s9rn2Ure6KLc%3D"
| summarize count() by Data_eventName, Data_error

Yet we see no summarizer client ever created for these documents in this timeframe:

| where Event_Ti

[2021-09-27 14:25] vladsud opened #7590 "summaryManagerCreateSummarizerMaxThrottleDelay errors in production"
I see 286 instances of eventName = "fluid:telemetry:Container:ContainerWarning" && errro == "summaryManagerCreateSummarizerMaxThrottleDelay" over the last week (for latest version of runtime in prod).

I'm not 100% sure why we need throttler for starting summarizer client (this case actually might help us understand it better).
I'd expect that this error is either points us to something that needs

[2021-09-27 14:35] vladsud opened #7591 "fluid:telemetry:SummaryManager:StopCalledWithoutRunningSummarizer errors"
There are 145 fluid:telemetry:SummaryManager:StopCalledWithoutRunningSummarizer error events over last week.
Comment in the code says it should never happen:

[code]

Glancing at random 5 docs that hit it, the counts of that error (per doc) match counts on these two events hit by same container before that:
fluid:telemetry:SummaryManager:SummarizerException	Error 410
fluid:telemetry:Container:Cont

[2021-09-27 15:09] vladsud opened #7592 "fluid:telemetry:Summarizer:Running:FailToSummarize errors and ease of analyzes"
There are a bunch of fluid:telemetry:Summarizer:Running:FailToSummarize errors in telemetry (prod) indicating we can't summarize document. They are a bit hard to investigate as one needs to look at individual sessions / documents.
All of them seems to point out to external errors like "Registry does not contain entry for the package" or "Loading chunk atMentionsComponent failed..." that are regist

[2021-09-27 17:34] Hirse opened #7593 "moniker dependency does not have a valid license"
Several packages/modules depend on the npm package [moniker](https://www.npmjs.com/package/moniker) which does not have a license therefore defaulting to not being open source.

[2021-09-27 18:12] DLehenbauer opened #7594 "Limited Offline Support for Data-loss Prevention"
## Scenarios
There are three high-level customer scenarios for general Fluid Offline support:

* Create and edit a new container while offline, upload on connection
* Best-effort recovery of edits after rude termination
* Load and edit a cached container while offline, synchronize on connection

The first scenario (create offline) has been previously addressed by the detached container work for th

[2021-09-27 18:55] jatgarg commented on #7188
This is going to flow in October as the server format is not yet freezed. We are working in parallel to implement it.

[2021-09-27 19:20] jatgarg commented on #7187
Closing this as imo we agree on these points where client would specify the versions range it wants to fetch and then server can decide which version to give in response and specify that version in response header.

[2021-09-27 19:20] #7187 closed

[2021-09-27 21:27] vladsud opened #7598 "Communicate agent string to SPO/PUSH"
It is very useful for PUSH to know a version of a client that connected to it, such that it can record it in its own telemetry.
This would allow us to access qualify of client + server bits. I.e. once bits are in DF (pre-production ring), we can see if number of warnings / errors recorded by PUSH is higher for this client version compared to prior version, and thus make decision on further rollout

[2021-09-27 21:28] vladsud commented on #7598
@GaryWilber, @marcmasmsft - FYI

[2021-09-27 21:50] vladsud opened #7599 "1M Kafka message limit"
We have talked about it before, but not sure if we ever opened an issue to track it:

There is hard 1Mb Kafka limit for messages (Kafka used by ordering service implementations), which translates to 1Mb payload limit for batch of ops submitted from DocumentDeltaConnection.
I do not believe we have a check on client side to validate messages are not exceeding such size. If we implement it, the numb

[2021-09-27 21:55] vladsud commented on #7599
Per https://github.com/microsoft/FluidFramework/issues/7545, it sounds like nacks are not handled correctly (it needs to be non-retryable nack).
We might want properly working nack workflow as the only thing that handles these issues, but I'd still suggest having telemetry that gets hit with smaller limits (soft failure).

[2021-09-27 22:15] vladsud commented on #7545
I've just opened https://github.com/microsoft/FluidFramework/issues/7599 before reading this issue :)
Yes, 1Mb is a hard limit. And client + server should behave better (see issue for more details).

Chunked messages could be submitted as separate socket.io messages. But not if chunked message is part of a batch - whole batch payload needs to be sent as one socket.io message to preserve batching s

[2021-09-27 22:19] andre4i commented on #7246
Closed as duplicate of

[2021-09-27 22:19] #7246 closed

[2021-09-27 22:50] vladsud commented on #7589
For

| where Event_Time > ago(8d)
| where Data_docId == "y2d8dKQjVDX2B8IWifWWegaJ7QEj7FuH7cF9h5glzs4%3D"
| where Data_eventName contains "Summ"
| summarize count() by Data_eventName

All I see is fluid:telemetry:SummaryStatus:Behind & fluid:telemetry:SummaryStatus:CaughtUp - fired once each. So no summarizer was attempted to be started, I believe. Not sure why.

Similar query for Data_docId == "z5

[2021-09-27 23:14] vladsud commented on #7589
This last doc looks like a PUSH issue.
We loaded from summary at seq = 89728
First nack was when client was on seq = 89860.
So there is definitely no 10K unsummarized ops!

The last set of connection / attempt to start summarizer were for seq = 91734, and opsSinceLastAck = 2003.
So we are getting nacks when we should not.
@GaryWilber, please take a look, first connection to hit it:
socketDocumentI

[2021-09-28 00:00] GaryWilber commented on #7589
@vladsud The prod fix for that finished deploying today. Can you provide a timestamp for that `17701b29-4808-44cc-b217-d6c9bae9adf5` session? I can check the build that was running then

[2021-09-28 01:00] vladsud opened #7602 "fluid:telemetry:OdspDriver:DeltaConnection:GetOpsTooMany"
This event seems like should be an error event, and I do see we hit it in production, so need to take a closer look at what happens here.

[2021-09-28 01:00] pleath opened #7603 "Fork / refactor formRequestSummarizerFn()"
## Work Item
**Describe the outcome you expect**
Fork / refactor formRequestSummarizerFn() to allow the host (server) to create a summarizer container and access the ISummarizer object.

**Approach**

**Open questions**

**Additional context**
See https://github.com/microsoft/FluidFramework/issues/6260

**Acceptance criteria**

[2021-09-28 01:02] pleath opened #7604 "Refactor creation / control of RunWhileConnectedCoordinator"
## Work Item
**Describe the outcome you expect**
Refactor creation / control of RunWhileConnectedCoordinator such that an alternative ICancellableSummarizerController implementation can be provided to the Summarizer object and control the actual policy.

**Approach**

**Open questions**

**Additional context**
See https://github.com/microsoft/FluidFramework/issues/6260

**Acceptance criteria**

[2021-09-28 01:10] pleath opened #7605 "Give ordering service the ability to disable summarizer client election"
## Work Item
**Describe the outcome you expect**
Expose ordering service policy to disable clients' ability to elect a summarizer.

**Approach**

**Open questions**

**Additional context**
See https://github.com/microsoft/FluidFramework/issues/6260

**Acceptance criteria**

[2021-09-28 01:11] pleath opened #7606 "Unit Test coverage for on-demand summarization"
## Work Item
**Describe the outcome you expect**

**Approach**

**Open questions**

**Additional context**
See https://github.com/microsoft/FluidFramework/issues/6260.

**Acceptance criteria**

[2021-09-28 12:19] vladsud commented on #7518
First, some related issue I've been looking yesterday, with deeper investigation into 2 recent docs that hit similar problems: https://github.com/microsoft/FluidFramework/issues/7589

When it comes to docId == "M%2F1pui%2FeRmFe%2FD8nLpqwO1YhTAYYENnGQUOL4g8Kx%2B4%3D", here are some observations:

First events started on 2021-08-31, for loaderId == "14e785a3-5e6e-45fd-838c-7f126c00d931", runtimeVers

[2021-09-28 13:42] vladsud commented on #6948
There are no events in Prod, our scalability tests or ODSP scalability tests.
All issues are resolved due to latest set of improvements in summarizer logic, including reliable last summary flow.

[2021-09-28 13:42] #6948 closed

[2021-09-28 13:48] vladsud commented on #7406
Waiting for PUSH fixes (tracked by https://onedrive.visualstudio.com/SPIN/_queries/edit/1204718/?triage=true) to reassess where we are

[2021-09-28 13:48] vladsud commented on #7313
Need to reassess ones https://onedrive.visualstudio.com/SPIN/_queries/edit/1204718/?triage=true is addressed.

[2021-09-28 13:50] vladsud commented on #7312
Need to reassess ones PUSH addresses existing issues with op delivery latencies tracked by https://onedrive.visualstudio.com/SPIN/_queries/edit/1204718/?triage=true

[2021-09-28 14:00] vladsud commented on #6571
@DLehenbauer, I'm not planning to do anything here in October. If async summaries are required for Whiteboard, we should chat, but I'd expect someone from Whiteboard to spend some cycles here helping implementing trivial version of it (i.e. same ugly design of having two APIs on DDS - sync and async).

[2021-09-28 14:10] vladsud commented on #6465
@andre4i - this is currently September item, and your October list is pretty empty.
I assume what is missing is break down of this item into actionable steps and assigning to right milestones.
Could you please do it before October sprint planning meeting today?
I'd guess that same needs to be done for any other work items on your list that are in progress (like implicit batching).

[2021-09-28 17:13] tylerbutler opened #7612 "Add RSS feed for releases"
We should at least have an RSS feed for our release announcements.

[2021-09-28 17:34] #7591 closed

[2021-09-28 17:43] anthony-murphy opened #7613 "IFluidObject Alternative Without Module Augmentation"
I think we'll need to solve #3264, and #2566 before we can do much here, as the current Module augmentation used by IFluidObject doesn't work correctly with re-exporting, and in general will create a lot of cross version pain. The biggest unknown here is how to deal with types that leverage keyof IFluidObject. I don't think there is a one size fits all approach to replacing that, but i'm exploring

[2021-09-28 17:45] GaryWilber commented on #7589
I found logs for the `17701b29-4808-44cc-b217-d6c9bae9adf5` document in MSIT. The fix was already deployed during that timeframe.
I can't tell why push would be nacking them. There are no other connection/sessions besides that one on 9/22. So there have been no post summary calls for that document within the last 30 days. I have a feeling that doc got into the nack state before the fix and for som

[2021-09-28 17:49] pleath commented on #7590
The logic in getDelay() allows us to use a delay == maxDelayMs, which seems reasonable, but delayBeforeCreatingSummarizer expects delay < maxDelayMs.

[2021-09-28 17:50] anthony-murphy opened #7614 "Definition Type Validation"
## Work Item
I’ve checked in some tooling, the fluid-type-validator in @fluidframework/build-tools. I’ve been looping in @Helio Liu here, so he has context. I’ve used this tooling to generate tests in all the definition packages which validate  backwards and forwards compatibility between the current and previous version of each package. The existing breaking changes are specified in the package.j

[2021-09-28 18:09] DLehenbauer opened #7615 "Async Summarization (DDS)"
## Background

Summarization involves capture the container's state at a specific instant in time.  Normally, this process runs on a special 'read-only' summarization client, which ensures that the container's state is not modified while the snapshot is in processes.

However, when a container is initially attached to the service, summarization happens on the user's client.  To avoid the possibili

[2021-09-28 18:56] anthony-murphy commented on #7613
Here is the IFluidObject replacement I’ve been working on:
FluidFramework-1/index.ts at remove-fluidobj-from-synthesize · anthony-murphy/FluidFramework-1 (github.com)

IFluidObject has two major issues. The first  is the module augmentation, which results in unintuitive behavior. For instance it can be necessary to import unused typed to get compilation and intellisence to work correctly. The seco

[2021-09-28 20:23] thakugan commented on #7575
This uses local server test setup. I haven't tested but I would expect the same issue to occur for other DDSes on local server i.e. add a bunch of ops and call `ensureSynchronized`.

[code]

[2021-09-28 23:03] DLehenbauer opened #7626 "Optimization of delta messages (Placeholder)"
Related Issues:
* #7546
* #7545
* #7599

## Work Item
**Describe the outcome you expect**

**Approach**

**Open questions**

**Additional context**

**Acceptance criteria**

[2021-09-28 23:31] #7592 closed

[2021-09-29 12:10] vladsud opened #7630 "disconnect reasons can be improved"
| where Data_loaderVersion contains "0.47"
| where Data_eventName contains "_Disconnected"
| summarize count() by Data_reason

Disconnect: socket.io: disconnect: transport close	16311

Disconnect: socket.io: disconnect: socket.io: server_disconnect: AccessExpired	5052
Disconnect: socket.io: disconnect: socket.io: server_disconnect: TokenExpired	259
Disconnect: socket.io: disconnect: socket.io: ser

[2021-09-29 12:18] vladsud commented on #5557
This is definitely happening in prod, where clients do stay idle that long on socket.
That's one of the top disconnect reasons actually.
We can address it by client reconnecting as read whenever it seems its own leave op.
It feels like for most part it's not that important. However there are some cases where it may make a difference.
For example, clients that can't reconnect, i.e. agents, includin

[2021-09-29 12:51] vladsud commented on #7589
Well, how do we make progress here? From client perspective, this doc is broken and client can't do anything to recover (at least without some hacks), as it's pretty up to date, so we do not involve our "recovery" logic of "last summary" that addresses similar cases when doc has 10K unsummarized ops. I've double-checked again, and all the data suggest that document is pretty up to date - sequence

[2021-09-29 12:54] vladsud commented on #7137
We should also consider https://github.com/microsoft/FluidFramework/issues/7589 - a case where 10K unsummarized nack happens when actually there are very few unsummarized ops - can client have recovery mechanism that engages last summary flow in such case even though current logic skips it?

[2021-09-29 13:02] vladsud commented on #7599
Per discussion with Tanvir, there is actually no server imposed limit here, as long as total batch of ops is below 1M (including some overhead on server side). That's the reason we impose 16K limit size, as that allows server to keep batch under 512Kb (32 ops per box), and it can keep many boxes in same batch (way over 1M) maintaining batch semantics.

Where it breaks is that 16K is for initial me

[2021-09-29 13:07] vladsud commented on #7545
Some key updates here:
1. Per discussion (captured in https://github.com/microsoft/FluidFramework/issues/7599), runtime can easily avoid 1M limit on server while keeping batching semantics. All it takes is to ensure final messages (after chunking / strigify) are under 16K limit, not before we start these operations.
2. This bug should continue to track reduction of overhead.
3. There is a limit on

[2021-09-29 14:35] vladsud commented on #7594
I think @wes-carlson also produced a document (back in Spring) with his notes on where we are, gaps, items to be completed, etc. - would be great to reference it here.

As for SPO deleting ops - it is indeed causes limitation for offline to be only working for 30 days. This is possible to address as SPO keeps "file versions" around and we have been talking about the need for other scenarios to be

[2021-09-29 15:27] vladsud commented on #7180
That's the same as issue #5557.

Copying my note from that issue that I think matters:

This is definitely happening in prod, where clients do stay idle that long on socket.
That's one of the top disconnect reasons actually.
We can address it by client reconnecting as read whenever it seems its own leave op.
It feels like for most part it's not that important. However there are some cases where it

[2021-09-29 15:27] vladsud commented on #5557
#7180 has more data (copied over key pieces from here), so closing as dup

[2021-09-29 15:27] #5557 closed

[2021-09-29 17:44] CraigMacomber commented on #7545
In the short term, we would benefit from a better failure mode (ex: client detects the situation, and crashes, losing the data: well communicated data loss with telemetry is better the infinite reconnect with hidden data loss and excessive bandwidth use).

[2021-09-29 17:57] wes-carlson commented on #7594
Thanks Vlad, I forgot about that
<details><summary>here is the document I wrote</summary><p>

# stashed ops
## completed work
We get stashed ops from Container.closeAndGetPendingLocalState(). Stashed ops are supplied to a new container as an argument on Loader.resolve(). ContainerRuntime/PendingStateManager will give stashed ops to DDS via SharedObject.applyStashedOp() when their reference sequenc

[2021-09-29 20:16] anthony-murphy commented on #7426
@vladsud How can #2 (fetch ops) happen before #3 (fetch snapshot) is the normal case? It seems like we can only guess, so we guess 0 which used to always work, but now fails as we might delete old ops. This doesn't seem unique to NoDeltaStream.

I'm trying to unpack the issues here. It's not immediately clear to me what is "broken" is this case. I guess there is a question if containers loading is

[2021-09-29 20:35] vladsud commented on #7426
We can establish socket connection in parallel to loading snapshot.
Once connection is in, we fetch ops from storage using current seq number, to ensure that we actually get recent ops from storage in case socket is quite ("read" connection) and there is no other indication that client is behind.
Due to incorrect logic (that is addressed in PR mentioned above), we would fetch ops form seq = 1, as

[2021-09-29 20:39] vladsud commented on #7426
I think the best design here is for snapshot fetched for such frozen files (sorry, do not remember official name) to indicate to Loader that it's frozen in time and that loader need to fetch all the ops before declaring the end of load sequence. I.e. that such files should overwrite headers and set { [LoaderHeader.loadMode]: { opsBeforeReturn: "all" }} automatically for such files.

That would be

[2021-09-29 20:49] vladsud commented on #7626
Can we add socket.io message compression to the mix (even though it's slightly from different domain)?

[2021-09-29 21:10] anthony-murphy commented on #7426
on an up to date main everything passes even if I remove the header. I even wrote a test to try all combinations of load options and everything still passes
[code]

I do agree that the behavior would be better if `IContainerLoadMode.opsBeforeReturn === "all"` were true, but what i don't understand is in that case how we could know what "all" means, as we never connect to delta stream, we only have

[2021-09-29 22:32] vladsud opened #7639 "Investigate issues with offline experience"
test that offline experience in FFX works after snapshot was cached by FFX.

[2021-09-29 23:59] curtisman commented on #7639
In addition, can we add to our unit test to validate?

[2021-09-30 14:30] vladsud commented on #7639
PR is out, need UT coverage to be added here.

[2021-09-30 15:30] vladsud commented on #7602
Inspecting code (search for "get_ops" / "get_ops_response") , and looking at sample session (see query below), it's pretty clear that PUSH does not respond to get_ops requests, or nonce in response does not match nonce in request.

@GaryWilber, any thoughts on why it might be happening?
This is clientId == 70f60772-f301-4225-b685-e1f241f4150c

| where Data_containerId == "e4bc7ae7-51b5-4115-a71f-d

[2021-09-30 15:36] vladsud commented on #7602
One interesting data point - this session hits a bug where we start asking for ops from seq = 1, even though file is at 15561.
So requests to PUSH come in 5K chunks.
While client is wrong here (and this bug is fixed), I'd expect it still work fine. That said, maybe it just take long time - we do those 5 requests in 4 seconds, and maybe each request takes over 5 seconds, and as result we report all

[2021-09-30 15:41] vladsud commented on #7602
Unrelated, but important: are "from" & "to" inclusive in "get_ops" request?
I think we are always asking for one extra op, as "to" is exclusive across code base.

[2021-09-30 15:55] vladsud opened #7644 "Add test coverage for offline container load"
I'd appreciate your help in writing some kind of end-to-end test involving ODSP driver.
The test should initialize environment with caching (IPersistedCache) and populate cache with some snapshot (probably by simply writing directly to cache).
And then validate that container can be loaded in an environment where we mock fetches and fail all of them (we might not need to do that - I believe provid

[2021-09-30 18:19] jatgarg commented on #7175
**Problem**: The problem is that sometimes the network request made by the driver gets stuck for some unknown reasons and client never receives the response or receives them late. Normally, the server gives back the spRequestGuid to client so that client can log that and reason about what happened on the server for a given network request. But in cases where there is no response and we want to see

[2021-09-30 18:20] jatgarg commented on #7175
So closing this issue with final design for id. Opening a new issue for implementation as it requires server implemeatation.

[2021-09-30 18:23] #7175 closed

[2021-09-30 19:21] vladsud commented on #5771
Note - flush_ops workflow was implemented in https://github.com/microsoft/FluidFramework/pull/7086, so I'm not aware of any work that is required on the client to support this flow. We need to figure out next steps on this journey.

[2021-09-30 19:49] vladsud opened #7651 "Very long PUSH sessions"
@GaryWilber pointed out that there are certain sessions that that run for weeks.
This adds pressure / COGS on PUSH side.

At some point we have implemented Container.setAutoReconnect() and logic on FFX to detect user activity / interactivity and use this API to stop connections.

Some follow up:
1. Do all hosts use that functionality build in FFX?
2. Does it need to be a default policy, inside of

[2021-09-30 22:50] Abe27342 opened #7659 "Allow empty file create flow for local driver attach with detached blobs"
## Work Item
**Describe the outcome you expect**

The current implementation of `container.attach` goes through a somewhat different code path when the container submitted any blobs to the runtime while it was detached. Rather than upload a summary immediately, an empty file is created before attaching to the services so that the first summary upload can include a redirection table from local blob

[2021-09-30 23:22] tylerbutler opened #7660 "layer-check: add support for an output path and move PACKAGES.md to root of repo"

[2021-10-01 15:51] vladsud opened #7664 "We are inconsistent RE logging connectivity errors in telemetry."
We are not consistent how we log connectivity errors across ODSP / DeltaManager.

DeltaManager attempts to log only first / last error in a sequence of retries - see logNetworkFailure() usage.
And socket connection flow itself in ODSP driver does not report errors, only propagates them down the stack.
This helps with situation where we might be offline and retry every 8 seconds - we are not puttin

[2021-10-01 15:52] vladsud commented on #7664
@AndreiZe - curious to hear your thoughts if we could rely / make it a requirement that all token fetch callback has to always block in offline.

@curtisman - FYI, in case you have more thoughts here.

[2021-10-01 20:31] AndreiZe commented on #7664
I do not think that we can require all token provider implementations to block until client regains connection. We can recommend it  but requiring it might be asking too much. Trouble is that there is no reliable way to detect network issue and not every host would have such ability.

[2021-10-01 22:25] tyler-cai-microsoft opened #7671 "Client does not refresh when switching server hashes"
## Describe the bug

The client does not automatically sync when visiting a new hash.

### To Reproduce
Steps to reproduce the behavior:
1. Launch the Fluid Hello World example
2. Open another tab/window and go to this link http://localhost:8080/
3. Roll the die on the originally opened tab a few times so that it's not on 1.
3. Copy the original link
4. Paste the original link into the tab/window

[2021-10-01 22:40] #6640 closed

[2021-10-01 23:16] vladsud commented on #7664
@jatgarg - assigning to you (November) to think about it - I do not have good recommendation here at the moment.

[2021-10-01 23:17] vladsud commented on #7589
@GaryWilber , any thoughts on how to move forward here? Please see my latest reply

[2021-10-02 00:25] vladsud commented on #6438
I've been looking at the code and started to prototype to collect all the info in one event, but I think that's wrong approach.
We do have events and can easily build queries to extract any type of information. Data is spread out across multiple events, but it's not that hard to join multiple queries and get all the metrics into single row per container instance, do any kind of math (like sum up d

[2021-10-02 00:32] vladsud commented on #6438
BTW, Data_timeToConnect in initial query includes "rendering + connection". So it can be used too. But it only works if connection is initiated after container load.

[2021-10-02 01:09] pleath commented on #7272
@vladsud, @agarwal-navin, do we know that this works correctly today? In my attempts to test a case where the SummaryManager disconnects while we're in the delay before creating the summarizer, we don't generate the last summary before exiting. The last summary gets generated correctly if we're stopping a running summarizer but not if we're still in the Starting state.

[2021-10-04 04:58] vladsud commented on #7602
I do not have good theory on why we see that issue. I'll change this.requestOpsNoncePrefix to be uuid() as leveraging docId may cause collisions of two containers on a single socket, but that should not cause this.
I'm also making it an error events, and fetching 5K ops problem is fixed.
I'll resolve this issue with that PR, but we will monitor telemetry down the road and may open a new bug if the

[2021-10-04 05:18] #7602 closed

[2021-10-04 05:25] vladsud opened #7677 "Whiteboard summaries are very big"
Data suggest that Whiteboard summaries are unacceptably large, and potentially - they got substantially larger over time (using loader version as a pivot). I think that data suggests that doing async summary for Whiteboard is not going to fix problems, but rather hide them (as it only addresses responsiveness - side-effect of the problem, which is very large summaries).
So I'd suggest re-evaluate

[2021-10-04 05:28] vladsud commented on #7677
One thing to consider - I see in other apps sizable reduction in size of summaries when moving from 0.47.0 loader to 0.47.1.
I think that's because .1 contains changes to noop frequency logic that results in much tighter collab window and smaller Sequence catch-up blobs. So it would be great for Whiteboard to be on more latest patch of loader and get this data.

[2021-10-04 05:31] #7639 closed

[2021-10-04 05:37] vladsud commented on #5690
Worth noting that data for loaderVersion = 0.47.1 looks much better than previous versions. I assume that's impact on changes to noop scheduling.

[2021-10-04 05:38] vladsud commented on #6438
@jbissat, please take a look at my comments. Is this sufficient for all kinds of analyzes, or something is missing?

[2021-10-04 06:08] vladsud commented on #7651
The problem seems to be affecting all apps.
Queries that are useful:

Number of sessions that are longer than 2 days - 727:

| where Event_Time > ago(10d)
| summarize min(Event_Time), max(Event_Time) by Data_containerId, Data_hostName
| where max_Event_Time - min_Event_Time > timespan("2:00:00:00.0")
| summarize count()

Number of sessions that kept connection over 16 hours - 610:

| where Event_T

[2021-10-04 14:58] vladsud commented on #7651
Here is more interesting way to look into it in one query:

union Office_Fluid_FluidRuntime_*
| where Event_Time > ago(20d)
| where Data_eventName == "fluid:telemetry:Container:ConnectionStateChange_Disconnected" or Data_eventName contains "AutoReconnectDisabled"
| summarize sum(Data_duration), countif(Data_eventName contains "AutoReconnectDisabled"), min(Event_Time), max(Event_Time) by Data_conta

[2021-10-04 17:03] GaryWilber commented on #7589
I haven't been able to repro this exact issue yet. I made some changes in #7618 that could help here. I'm hoping we can check the telemetry once these changes are deployed.

[2021-10-04 17:04] jbissat commented on #6438
Thanks @vladsud for looking into perf queries. I am not in this space anymore, so I'll add Michael Zlatkovsky to the thread as perf owner to see if this works for him. I cannot tag him and he is OOF today but should be back tomorrow so I'll ping him

[2021-10-04 17:14] anthony-murphy commented on #7139
The work here is to look through our examples, and find places where sequences, like SharedString are being used, and see how that example is processing incoming changes. if it is using the `op` event or a mechanism that is not the `sequenceDelta` event we should transition to the example to the `sequenceDelta` event. we should probably create a sub-work item for each example we need to update, so

[2021-10-04 17:25] agarwal-navin commented on #7272
It may not work as expected, hence the ask to have tests for this scenario :-). Can you share the test to give an idea of the exact scenario?

[2021-10-04 18:44] agarwal-navin commented on #7491
@vladsud @anthony-murphy Ping

[2021-10-04 18:44] agarwal-navin commented on #7493
@vladsud @anthony-murphy Ping

[2021-10-04 18:54] vladsud commented on #7589
Thanks! I'll close this item as it's not actionable at the moment and I do not see it happening more. It will be easier to spot this in the future as all the client bugs (I believe) that lead to similar error message are fixed in latest 2 releases. So if it pops up, we will notice right away and I'll ping you :)

[2021-10-04 18:54] #7589 closed

[2021-10-04 21:16] wes-carlson opened #7684 "ITestObjectProvider does not work correctly with ODSP attach flow with attachment blobs"
When a detached container is attached after attachment blobs have been added, a `.tmp` extension is added to the end of the filename. Since the ODSP test driver assumes the filename will always be `${testId}.fluid`, it does not correctly return the url for a container that was attached with attachment blobs when `createContainerUrl()` is called, instead creating a new file.

Note that attaching wi

[2021-10-04 21:34] Abe27342 commented on #7677
FYI we are aware this is an issue and have a couple improvements in the works aimed at reducing shared-tree op/summary size. The two that are going in near-term have shown a ~60% reduction in some sample cases, so that should help this scenario some. I think timeline on those is to be checked into our main branch in the next couple weeks.

You should start to see data from 0.47.1 pretty soon--look

[2021-10-04 22:25] Zlatkovsky commented on #6438
@jbissat , @vladsud: acknowledging that I've received the message. Right now we've been focusing on startup perf, and a little bit on creation -- not really on the past-render performance. But I agree that it's an important space. Let me chat to Cosmin to see about bandwidth / ownership, and I'll get back to you.

[2021-10-04 23:36] tyler-cai-microsoft opened #7688 "Update Monaco to Use SequenceDeltaEvent"
## Work Item
**Describe the outcome you expect**

Update `examples/data-objects/monaco` to use the `sequenceDelta` event rather than the `op` event.

**Approach**

Make necessary modifications so that `sequenceDelta` is used instead of `op`.

**Additional context**

The Monaco example is using `SharedString`.
Created in relation to #7139

**Acceptance criteria**

The Monaco example uses `sequenceD

[2021-10-04 23:40] tyler-cai-microsoft commented on #7139
Tasks
[ ] #7688

[2021-10-05 02:26] scarlettjlee opened #7692 "Change encoding type"
## Work Item
Change type of encoding property to only allowed values instead of string in IBlob and ICreateBlobParams.

**Acceptance criteria**
Full mega repo should build with this change. Full chain of consumers should pick up this change. No additional dependencies should be introduced (i.e. node). No casts should be required.

[2021-10-05 02:32] #7692 closed

[2021-10-05 03:03] vladsud commented on #7651
Here is an example of some interesting sessions to look into - each maintained PUSH connection over 8 days total.

b05fd0c7-b2de-43d4-8e58-fa9a7dee90a0 - Fluid Preview, container session is over 10 days long, almost all this time connection to ordering service was maintained. setAutoReconnect() was used and most disconnects are "transport closed" with long durations, indicating that connection was

[2021-10-05 03:33] scarlettjlee opened #7694 "Update SharedCell"
## Work Item
Update SharedCell to remove legacy implementation:
1. serializing nested DDSes before we had IFluidHandle
2. use FluidSerializer.serialize() and .deserialize() instead of stringifying/parse

**Additional context**
SharedCell has no known users so breaking changes are fine.
SharedCell is used as a reference DDS, which has caused some problems when people follow the outdated code.

**Ac

[2021-10-05 03:34] vladsud opened #7695 "MergeTree:RegeneratePendingOp"
union Office_Fluid_FluidRuntime_*
| summarize count() by Data_eventName

Top event:
fluid:telemetry:SharedSegmentSequence.MergeTreeClient:MergeTree:RegeneratePendingOp	2315828

This does not look healthy - that's over 6% of all events from FF!

[2021-10-05 03:51] vladsud commented on #7272
@pleath, you are correct here. (all form my memory, without looking at the code :)) Basically if we have less than 4K unsummarized ops when we start the process, then we will wait some time, and we will recheck if given client is still a summarizer after wait, and exit if it's not, even if we have by that time over 4K ops. I'm not sure if it's interesting case.

The more important case is when we

[2021-10-05 06:00] #5396 closed

[2021-10-05 16:24] vladsud commented on #7137
So I was looking at it from angle of - add some safety net at DeltaManager level, as we know there could be many reasons when we get into infinite nack loop.
The interesting tidbits are:
- We can't use total number of nack events in session to close container - there are a lot of sessions that see "Nack: Nonexistent client" at 5 min interval (there is an issue tracking this to not get into that st

[2021-10-05 16:32] anthony-murphy commented on #7695
The code is only invoked and reSubmitCore is invoked, which i thought was only on reconnect, but it doesn't look like there is much logging on that path. I also see some things that are suspicious.

I don't understand why we replaypendingstates when transitioning readonly, from readonly might make sense, but i think this will do both too and from:
https://github.com/microsoft/FluidFramework/blob/7

[2021-10-05 16:54] vladsud commented on #7695
@anthony-murphy, the code likely can be clearer in intentions, but I think the code you referenced does not cause directly problems, because of this:

[code]

[2021-10-05 17:02] anthony-murphy commented on #7695
@vladsud  the problem it causes is this issue. it causes us to over regenerate pending ops, and at least has logging side effect, but also wastes client resources. i guess we could just remove the logging, but then we are basically blind on the regenerate path, so i don't think that is a good option.

[2021-10-05 17:39] anthony-murphy commented on #7695
ahhh. ok. i figured it out. basically, the number of log entries in proportional to the number of changes in the merge tree, due to our change a while ago from all at once regenerate to per op regenerate. i can easily reduce this logging.

[2021-10-05 17:55] heysujal commented on #7688
Can I work on this issue ? @tyler-cai-microsoft

[2021-10-05 18:01] pleath commented on #7272
Agreed about the relative importance of the two cases. So you want to cover the specific case where we create the summarizer without a delay, but the client still manages to disconnect while we're creating the summarizer? So, this early return in SummaryManager::startSummarization:

            const summarizer = await this.requestSummarizerFn();

            // Re-validate that it need to be runn

[2021-10-05 18:29] DLehenbauer commented on #7324
I changed the tests to a) have a `describe()` with the suite name and b) show the PRNG seed used for generating the case.

It's still not great, but it helps a bit.

[2021-10-05 18:29] #7324 closed

[2021-10-05 18:38] tyler-cai-microsoft commented on #7688
Hello @heysujal , I had planned on taking this issue myself. Here's some other [issues](https://github.com/microsoft/FluidFramework/issues?q=is:open+is:issue+no:assignee+label:%22good+first+issue%22) that have not been assigned to anyone.

[2021-10-05 18:57] heysujal commented on #6603
please assign me this issue.

[2021-10-05 20:14] tyler-cai-microsoft opened #7710 "Update IntelligentServicesManager to Use SequenceDeltaEvent"
## Work Item
**Describe the outcome you expect**

- Update `examples/agents/intelligence-runner-agent` to use the `sequenceDelta` event rather than the `op` event.

**Approach**

- Make necessary modifications so that `sequenceDelta` is used instead of `op`.

**Additional context**

- The `IntelligentServicesManager` is using `SharedString`.
- Created in relation to #7139

**Acceptance criteria**

[2021-10-05 20:34] tyler-cai-microsoft opened #7711 "Update typeChunk in author.ts to Use SequenceDelta"
## Work Item
**Describe the outcome you expect**
- Update `examples\data-objects\scribe\src\tools-core\author.ts` to use the `sequenceDelta` event rather than the `op` event.

**Approach**
- Make necessary modifications so that `sequenceDelta` is used instead of `op`.

**Additional context**
- The `typeChunk` function is using `SharedString`.
- The `deltaManager` is using `on("op", ... );` and `on

[2021-10-05 20:50] tyler-cai-microsoft opened #7712 "Update CollaborativeInput to Use SequenceDeltaEvent"
## Work Item
**Describe the outcome you expect**
- Update `experimental\framework\react-inputs\src\CollaborativeInput.tsx` to use the `sequenceDelta` event rather than the `op` event.

**Approach**
- Make necessary modifications so that `sequenceDelta` is used instead of `op`.

**Additional context**
- The `componentDidMount` function is using `SharedString`.
- Created in relation to #7139

**Acce

[2021-10-05 20:55] DLehenbauer opened #7713 "Offline: Implement 'applyStashedOp()' method on additional DDSes"
When rehydrating a container that has pending local edits, we need the ability to reply these local edits into the DDSes and rebuild the local op metadata.

SharedMap enables this via the 'applyStashedOp()' method implemented during the POC.  Other DDSes need to implement the same functionality in order to participate in offline.

[2021-10-05 21:01] DLehenbauer opened #7716 "Offline: Harden rehydrateContaine() against duplicate transmission"
(For Offline scenario: #7594)

Closing the container may not be sufficient to be robust against duplicate op transmission. For example, if a client rehydrates/reconnects the container twice, it will not recognize the ops sent during the first rehydration as ACKs for it's locally pending ops. (e.g., consider the scenario where an app attempts to rehydrate/reconnect, but is rudely terminated before

[2021-10-05 21:03] DLehenbauer opened #7717 "Offline: Consider an IDetatchedBlobStorage-like interface to allows app to incrementally persist ops"
The queue of pending ops may grow large during long offline sessions, leading to increasing long pauses as the queue is periodically snapshotted to persistent storage.

Providing an IDetachedBlobStorage-like callback interface as messages are queued/dequeued would allow the application to persist the queue incrementally and potentially free memory.

[2021-10-05 21:13] DLehenbauer opened #7719 "Offline: Allow serialization of pending ops w/o closing container"
(For Offline scenario: #7594)

Currently, retrieving the pending/unsequenced ops also closes the container.  This is problematic for the 'best-effort recovery' scenario, which will want to periodically checkpoint the user's work event while connected.

Once #7716 is addressed, the API can be adjusted to lift this restriction.

[2021-10-05 21:18] DLehenbauer opened #7720 "Offline: Connect as 'writer' when client has pending/unsequenced ops to upload (optimization)"
(For Offline scenario: #7594)

When the client has pending/unsequenced ops to upload, it should connect to the service as a writer to avoid an unnecessary disconnect/reconnect cycle.

[2021-10-05 21:28] DLehenbauer opened #7721 "Offline: API refinement"
The API surface for serialization/rehydration is a bit scattered.  It would be nice to have a single entry point, like 'rehydrateContainer()' that accepts the summary, blob storage, and pending ops in one place.

[2021-10-05 21:34] DLehenbauer opened #7722 "Offline: Handle or prevent application of modifying container while rehydration/connection is in progress"
(For Offline scenario: #7594)

Ideally, the application could continue editing a container while it is rehydrating/reconnecting to the service in the background.

If not feasible, the application should not receive access to the container until it is in a safe state.

[2021-10-05 21:38] DLehenbauer opened #7724 "Offline: Coordinate blob uploads with pending ops"
(For Offline scenario: #7594)

Uploading of blobs from IDetachedBlobStorage must be coordinated with submission of ops that potentially refer to the blobs.

[2021-10-05 22:24] vladsud commented on #7272
I think the main thing to validate (in presence of too many ops) are:
- we do not exit early due to this check
- we do not exit anywhere else on similar checks, and actually produce last summary that gets client out of the misery.

I.e. the moment this client connects successfully to socket, if we queue disconnect (as a mini-task, or setTimeout(0)), then this single client in a document does succe

[2021-10-05 22:41] QSim28 opened #7726 "FluidExamples: react-demo documentation issues"
### Issue Category

- Incorrect/Outdated information
  - https://github.com/microsoft/FluidExamples/blob/main/react-demo/README.md

### Details

I was going through this tutorial and ran into a few issues:

### 1.
[code]
This SharedMap import would not work for me, I changed it to be
[code]
_from_ https://github.com/microsoft/FluidExamples/blob/main/react-demo/README.md#import-and-initialize-fluid

[2021-10-05 23:12] DLehenbauer opened #7728 "Consider moving SharedCell to examples"
As of October 2021, we know of know one using SharedCell, except as an example/template for creating custom DDSes.

(SharedMap/Directory are a pure superset of SharedCell functionality.)

[2021-10-06 00:13] tyler-cai-microsoft commented on #7711
Based on further investigation, it seems we can't update to the `sequenceDelta` without losing pertinent information on an `op` message like the `clientSequenceNumber`, the `ITrace[] traces`, and the `traces`'s `timestamp`s.

[2021-10-06 00:35] okjodom opened #7732 "Implement user activity tracking and default policy for maintaining PUSH connection when users (clients) are inactive"
## Feature
**Is your feature request related to a problem? Please describe.**

Experiences building on top of FluidFramework do implement user activity tracking to detect user presence. When a user is not present, these experiences need to call `Conatainer.setAutoReconnect(false)` to signal FF not to maintain PUSH connection. When they detect the user is back, they need to call `Conatainer.setAuto

[2021-10-06 02:46] vladsud commented on #7732
Came out of https://github.com/microsoft/FluidFramework/issues/7651 investigation

[2021-10-06 03:04] alpaix opened #7737 "Ensure TestObjectProvider only support managing one document"
`TestObjectProvider` is responsible for managing a test environment in an end-to-end tests. Many of these tests require creating and loading multiple container instances. The test provider should do a better job maintaining document ID across all driver types and runtime versions.

The `documentId` should always be initialized once (assert that it hasn't been initialized again, i.e. the `TestObjec

[2021-10-06 20:28] markfields commented on #6980
@heliocliu I heard you're working on restructuring our repo as far as monorepos and dependencies go?  I think this work may be dependent on that since it's about unifying a few interfaces that currently live across layers.  Can you take a look at the initial comment above and fill me in on what here may be changing and when?  Thanks!

[2021-10-06 20:29] markfields commented on #6980
Moving out of October anyway, this is not a priority compared to updating instrumentation and documentation.

[2021-10-06 20:55] markfields opened #7749 "Bootstrap Telemetry Documentation"
We've been saying for a while - "Telemetry is an API surface" (or data schema).  And so we should begin documenting the parts that are of most utility to ourselves and partner teams.

Goal is to start typing in a file somewhere.  Non-goal is a grand plan for how to organize it all.

[2021-10-06 21:12] #7651 closed

[2021-10-07 00:16] vladsud commented on #6139
I think so.

[2021-10-07 00:29] #6139 closed

[2021-10-07 00:58] pleath commented on #7272
I'm finding that, in the >4K ops case, I can hit that early exit, and so fail to generate a last summary, if the client disconnects before requestSummarizerFn() is able to complete. The SummaryManager never gets out of the Starting state, and we never check to see if a last summary should be done. That seems to suggest we have a bug. It seems like we need the ability to transition from the Startin

[2021-10-07 16:49] DLehenbauer commented on #7546
On the summarization side, @scarlettjlee noticed that ITreeEntry.contents is typed to 'string'.

[2021-10-07 17:45] vladsud opened #7761 "Need to brainstorm how to fix Audience"
Using current framework.
This should help us understand the bigger picture on what to do with signals as a whole, applicability, and guidance to developers.

Maybe precursor - we need a doc from Tanvir clearly describing full protocol, reliability, and what can and can't be assumed by clients.

[2021-10-07 18:10] markfields opened #7763 "Start instrumenting errors based on "origin" - which layer is likely to blame"
The goal is to mark errors as originating from something like host or datastore or server or runtime.  Not always obvious, but there are some cases that are, that we'll start with, and iterate.

Done criteria for this is 2-3 key code paths instrumented with a new field, with guidance for how to adopt/tune this signal going forward.

[2021-10-08 15:46] tylerbutler opened #7770 "Consider renaming AzureFunctionTokenProvider"
AzureFunctionTokenProvider is not tied to an Azure Function implementation. My suggestion is to rename it to RESTTokenProvider or UrlTokenProvider. You can use the token provider with any HTTP endpoint as long as it accepts the params sent by the token provider and returns valid tokens.

[2021-10-08 15:49] tylerbutler opened #7771 "ITokenProvider definition is not in published API docs"
For example, see <https://fluidframework.com/docs/apis/azure-client/azurefunctiontokenprovider/>.

![image](https://user-images.githubusercontent.com/19589/136586320-84c00783-1584-4e3e-b099-b41ef192f968.png)

The signature is correct, but the _Implements_ section is empty and there's no link to ITokenProvider.

[2021-10-08 16:37] vladsud opened #7772 "Change default connection mode from "write" to "read""
Basically, make this PR a reality: https://github.com/microsoft/FluidFramework/pull/7393

Reason:

I do see a bunch of runs with join op not being received by client in reasonable amount of time. I've chosen this one as it's the latest where these issues show up and it seems it was run past latest PUSH fix for Bug 1204718: Fix op recovery logic causing high op latency (visualstudio.com)

customEve

[2021-10-08 17:46] #7694 closed

[2021-10-08 18:36] markfields opened #7777 "Markdown not respected on API Overview pages"
### Issue Category

- Other

### Details
Check out https://fluidframework.com/docs/apis/fluid-framework, and look for MarkDown syntax shown in plaintext, e.g. `**` for bold, `###` for headings, ` ``` ` for code.

And for a particular item being documented, its page looks great, it's just the description on the overview page that's wonky.  Like compare the description for IDirectoryEvents on the pa

[2021-10-08 19:52] vladsud opened #7778 "Loader telemetry events do not have loaderVersion property on them."
These two events do not have loaderVersion property on them (and many others, but loaderVersion is where I noticed it):
fluid:telemetry:Loader:Resolve_end
fluid:telemetry:Loader:Request_end

That's because it is added by Container class, and happens later in the pipeline.
While it's not big deal, and it's easy to patch it in two places (loaderVersion only), I wonder if we need to be a bit more str

[2021-10-08 21:06] tyler-cai-microsoft opened #7781 "Shared-Text has typing and intelligence agent bugs"
## Describe the bug

- `shared-text` does not allow a user to type on the left side and make modifications.
- The `intelligence-runner-agent` does not run.

### To Reproduce
Steps to reproduce the behavior:
1. `cd examples/data-objects/shared-text`
2. `npm run start`
3. Navigate to http://localhost:8080/
4. Error 1 - In the console it says "No intel key provided."
5. Begin typing.
6. Try focusing

[2021-10-08 21:23] tyler-cai-microsoft opened #7782 "Prosemirror fails to handle multiple line replacements"
## Describe the bug

When inputting a multiple line edit, prosemirror fails.

### To Reproduce
Steps to reproduce the behavior:
1. `cd examples/data-objects/shared-text`
2. `npm run start`
3. Navigate to http://localhost:8080/
4. Type `enter` on one side
5. Copy all the text on that same side.
6. Highlight all the text on that same side.
7. Paste to replace the highlighted text.
8. There should be

[2021-10-08 21:52] tyler-cai-microsoft opened #7783 "Scribe needs updating"
## Describe the bug

Scribe example does not appear to be working.
![image](https://user-images.githubusercontent.com/90650728/136630700-96d5200e-9c4b-49d5-9895-6575b8ea93b6.png)

### To Reproduce
Steps to reproduce the behavior:
1. `cd examples/data-objects/scribe`
2. `npm run start`
3. Navigate to http://localhost:8080/
4. The line "Host does not support creating new documents" appears
5. There

[2021-10-08 23:37] tylerbutler commented on #7671
@tyler-cai-microsoft were you testing against tinylicious or azure? Anything in the console logs?

[2021-10-09 00:47] tyler-cai-microsoft commented on #7671
It was through Azure, I did not see anything in the console logs.

[2021-10-09 22:24] vladsud commented on #7180
There are two interpretations / subsets of the problem:
1. Client does not realize about it getting leave op, and sends noop after that, cause return to "write" mode.
2. Client continuously sends noops (as result of other clients being active) and thus never transitions to "read" mode.

# 1 is fixed by PR #5557 that I just merged
# 2 should be tracked either by https://github.com/microsoft/FluidFr

[2021-10-09 22:27] vladsud commented on #6274
I believe we agreed that's in for 1.0, assigning to you to figure out a plan here

[2021-10-10 18:01] #4950 closed

[2021-10-11 06:00] #5657 closed

[2021-10-11 15:56] yzheng72 opened #7795 "Loader.request() pass down query params unexpectedly"
When we call Loader.request(), we pass in the Sharepoint UR with the data store path. However, when the component get the request url from the Loader, it contains additional query params such as driveId which was not in the original request.

From the user perspective, we are only expecting to see componentId in the request when component request function is called. Or only the params we passed in

[2021-10-11 19:47] vladsud opened #7800 "Exceptions thrown while processing sequence ops do not result in container closure."
Putting it as October for now as this is one of the top error hits in 0.48
I.e. data is rather clean for FF, but we do see a bunch of host / component errors that manifest themselves through our telemetry, and some of that seems to be pointing to secondary bugs in FF.

When looking at overall error rate for 0.48, I see a bunch of errors that show up only as warning, and do not register anywhere el

[2021-10-11 20:03] vladsud opened #7802 "Clarify meaning/utility of fluid:telemetry:ChannelDisposeError"
There are a lot of errors in telemetry, with two main error reason being
1. Registry does not contain entry for the package
2. No registry for package

But when I look at individual sessions, all of these errors show up after container is closed.
So it seems like something else fails when container is closed and it propagates to this error, which most likely is not worth raising awareness about.

[2021-10-11 20:06] vladsud opened #7803 "fluid:telemetry:inactiveObjectChanged"
There are 15475 errors fluid:telemetry:inactiveObjectChanged coming from 0.47 version of runtime.

First of all, the event should have proper "home", i.e. it should not use root "flud:telemetry" namespace.
But also we need to understand if anything needs to be done to address these errors - that's top error in 0.47

[2021-10-11 20:45] vladsud opened #7804 "We can be do cleaner logging for boot failures (TreesLatest, tokens)"
Example:

union withsource=TableName Office_Fluid_FluidRuntime_*
| where Data_containerId == "db92b91e-d52f-47b3-8458-c62d5e75e56d"
| project Event_Sequence, Data_eventName, Data_error, TableName

	8	fluid:telemetry:Container:Load_start		Office_Fluid_FluidRuntime_Performance
	13	fluid:telemetry:OdspDriver:TreesLatest_GetToken_end		Office_Fluid_FluidRuntime_Performance
	15	fluid:telemetry:OdspDrive

[2021-10-11 22:53] markfields opened #7812 "convert Buffer Parsing Exception messages to error code format"
Looks like all the messages passed to `throwBufferParseException` are hardcoded and should be converted to error codes (camel case) and passed to `createOdspNetworkError` as the `fluidErrorCode`.  Or, we could decide it's better to keep all these under one error code and leave it as-is, and close this.

_Originally posted by @markfields in https://github.com/microsoft/FluidFramework/pull/7788/file

[2021-10-11 23:34] yzheng72 commented on #7795
Here is an example of input url:
![image](https://user-images.githubusercontent.com/6943276/136867265-a88ea6a8-2e23-47b6-a764-602f0a43be1d.png)

And here is the value we get when component's request() is called:
![image](https://user-images.githubusercontent.com/6943276/136867230-eff2e266-b6d4-4810-ab0b-e6174d7a424f.png)

[2021-10-11 23:47] jatgarg commented on #7795
So the nav parameter in the original link contains all the info like driveId, itemId etc.

[2021-10-12 04:22] mqnguyen5 commented on #7812
Hi, I was wondering if this is an issue that I could work on. If so, I will probably need some help on where to start since I'm new to contributing.

[2021-10-12 17:59] markfields opened #7816 "Stricter modeling of Socket.io errors based on ODSP and FRS error contracts"
Socket.io errors need to be better modeled and converted to Fluid Errors with meaningful error codes and other metadata extracted from the variable data that appears in message.

_Originally posted by @markfields in https://github.com/microsoft/FluidFramework/pull/7788/files#r727371909_

Other spots/notes:
* ~https://github.com/microsoft/FluidFramework/pull/7788/files#r727425878~  (dead link, I ca

[2021-10-12 18:48] markfields opened #7817 "Upgrade to tsc 4.4"
See the following release notes, especially the Breaking Changes sections:
* https://www.typescriptlang.org/docs/handbook/release-notes/typescript-4-2.html
* https://www.typescriptlang.org/docs/handbook/release-notes/typescript-4-3.html
* https://www.typescriptlang.org/docs/handbook/release-notes/typescript-4-4.html

Looking it over, there are two breaking changes that caught my attention:
1. http

[2021-10-12 19:15] markfields opened #7819 "checkForEpochError should use wrapError, if not preserving the original error"
checkForEpochError should use wrapError, if not preserving the original error

_Originally posted by @markfields in https://github.com/microsoft/FluidFramework/pull/7788/files#r727419918_

We're throwing a new error in some cases, copying the error message in some cases but not others, etc.  We either want to use wrapError if we want a new error object, or if not then preserve/annotate the existin

[2021-10-12 19:18] heliocliu opened #7820 "Repo should be node 16 / npm 8 compatible"
The repo is currently compatible with Node 12 and 14 LTS, but is broken for 16.  16 is moving to LTS at the end of 10/2021 and 12 is reaching end of life 05/2022.

- [x] Find blockers for upgrade.
- [x] #8051
- [x] #8061
- [x] #8090
- [x] #8091
- [x] #8092
- [x] #8108
- [x] #8116
- [x] #8117
- [x] #8118

[2021-10-12 20:05] #7330 closed

[2021-10-12 21:09] markfields opened #7824 "Remove extra logic from throwOdspNetworkError"
It should be a oneliner `throw createOdspNetworkError(...)`. Or don't bother and callers can just type that in-line.

It's doing two other things today:
* ~Munging the message to include `response.statusText` (see
https://github.com/microsoft/FluidFramework/pull/7788/files#r727503529_), which is arbitrarily bifurcating errors in aggregate telemetry~
* Pulling the `retry-after` header to compute `r

[2021-10-12 23:39] markfields opened #7827 "Add lost details back to errorWhileParsingFetchResponse error"
In #7454, `Error while parsing fetch response: ${e}` message was changed to error code `errorWhileParsingFetchResponse` and the error `e` was added to the error in a way that appeared that it would be logged, but in fact it's not.

Here's what this error looked like before/after the change in telemetry.  Note the extra info on the error that we're now missing:

![image](https://user-images.githubu

[2021-10-13 20:17] vladsud commented on #7803
@agarwal-navin, I'm starting to see these events in 0.48 payloads in Bohemia. Given 0.47 volume data, I suspect it will also be our top error in all of telemetry. Can you please take a look and assess what needs to happen here?

[2021-10-13 21:22] vladsud opened #7833 "Blob upload is not consistent with rest of data model update processes"
There is discrepancy how we handle blob uploads (images) and any other changes to data model:
- Any changes to DDS are immediately reflected in the mode, while changes propagate to service asynchronously. Host is notified (through "saved" / "dirty" events) if container is fully sunk with back end.
- Image upload, on another hand, is async operation. Changes are not propagated to model until upload

[2021-10-14 00:20] anthony-murphy opened #7840 "Delay NoClient op to account for reconnect"
## Feature
Currently the server immediately sends a NoClient op when the last member of the quorum leaves. If the last client is reconnecting for some reason this can lead to sending a number of NoClient ops in quick succession.  We should delay the sending of NoClient to avoid this.

[2021-10-14 00:30] vladsud commented on #7137
https://github.com/microsoft/FluidFramework/pull/7753 is a pre-work for this item. I need it to hit production and observe that indeed we have very few nacks and all of them can be treated as catastrophic events if they repeat couple times. Once this info is confirmed, I can make simple fix here.

So moving to Nov.

[2021-10-14 02:58] vladsud opened #7843 "We log DDS IDs into telemetry without proper attribution"
This does not look right - this.id is user provided ID (at least today).
It should be marked with TelemetryDataTag.PackageData.

Can you please inspect code overall (not just this case) for similar issues?
Can we catch somehow automatically issues like that?

[code]

[2021-10-14 05:53] tanviraumi commented on #7840
@GaryWilber any thoughts? Push depends on 'noClient' for flushing ops to SPO. Will adding a delay cause any issue?

Also @pradeepvairamani since he has noticed the same issue earlier.

[2021-10-14 15:53] markfields commented on #7812
@mqnguyen5 Happy to help, and have your help! Start by looking at the code that calls the function where that log is, and see what kinds of values are passed as message. If they're all string literals describing different cases, then we're in business. The goal then would be to get that info in some fields other than error message. Either fluidErrorCode, or maybe a custom property "reason".

Leavi

[2021-10-14 20:45] #7660 closed

[2021-10-14 21:25] agarwal-navin commented on #7803
@vladsud, I think I might know what's going on. In the documents that have these logs, there are few data stores (either 3 or 5) that are unreferenced from the first time GC runs. I believe these are never marked as referenced in the first place. So, when these data stores receive ops after 7 days, we get this telemetry. I looked at the telemetry for about 10-15 docs and they have the same pattern

[2021-10-14 22:27] agarwal-navin commented on #7803
On further debugging a OneNote meeting document, the following components are never marked as referenced: `@fluidx/tasks`, `@fluidx/tasks/PlannerConnector` and `@fluidx/tasks/SyncBridge`. The latter 2 are created by the tasks component.

I remember `@fluidx/tasks` being a root component. However, in the OneNote document it is a named component but isn't marked as "root".
Also, I opened similar com

[2021-10-14 22:38] vladsud opened #7856 "PropertyDDS has eventual consistency issues / broken tests"
I'm going to disable tests that are getting broken due to https://github.com/microsoft/FluidFramework/pull/7393
This issue tracks investigating these failures and re-enabling tests.
From PR:

I believe this PR exposes some eventual consistency issues in PropertyDDS.
It's easiest to explain it with "inserting properties into both trees" that fails.

Before this PR, 2 containers involved here were c

[2021-10-15 15:45] #7804 closed

[2021-10-15 16:49] vladsud opened #7870 "Lumberjack has not been setup yet erorrs"
- running _npm run test_ in experimental\PropertyDDS\services\property-query\test\unit>
- running npm run start in examples\data-objects\shared-text

Produces
  name: 'Error',
  message: 'Lumberjack has not been setup yet. It requires an engine list and an optional schema validator.',
  stack: 'Error: Lumberjack has not been setup yet. It requires an engine list and an optional schema validator.\n

[2021-10-15 17:00] #6267 closed

[2021-10-17 03:44] adrian726 commented on #7800
these are the bugs in Microsoft.

[2021-10-18 17:30] vladsud commented on #7803
Is there anything we can do to force people to realize mistakes sooner?

One thing to consider - we need to remove ability to bind objects (DDS/data stores), I.e. there needs to be either root object, or it gets attached when its handle is stored somewhere.
Can we make that switch today? At least for data stores?
I think this will make it immediately apparent to developers that such components do

[2021-10-18 20:42] znewton commented on #7870
#7675 fixed this I think

[2021-10-18 20:51] curtisman opened #7880 "Perf variability: e2e Perf numbers"
Not sure if this an actual issue or just environmental noise (e.g. network), but it is interesting that spikes appear in data from our e2e test targeting ODSP for average time across all tests for those build.  Can we see if there is some cause on the server side not?

[code]

[2021-10-18 21:47] vladsud opened #7884 "Connectivity eventing improvements"
Per https://office.visualstudio.com/OC/_workitems/edit/5489692?src=WorkItemMention&src-action=artifact_link, we need to
- ~expose "connect" event from Container, to allow hosts to know when connection has been established (and stop showing disconnected banner).~
  - [update] -- @markfields will work with @scottn12 to clarify the ideal list of events, including updated names and very clear semantic

[2021-10-18 23:13] jatgarg opened #7885 "Fix e2e tests related to wrong container url generated in create/load tests"
## Describe the bug
For FRS the container.id is generated by server and this PR fixed the loading of container by updating the container id after attaching the container: https://github.com/microsoft/FluidFramework/commit/789e0023dbd6fc3d6008b95537e57505d854234b

But for odsp, the id is generated by client and that id could be different from filename or in broad sense it may not be round tripable,

[2021-10-19 00:40] vladsud commented on #7615
I do not like the last approach, as it's very easy to make a mistake (insert an await somewhere, maybe indirectly by refactoring code) and break timing of operations. So I think it should be explicit.

I believe second approach (snapshotCore / summarizeCore) is preferred one, but it it can't be implemented while dds/data store attachment process (end-to-end) has to be synchronous (as it is today,

[2021-10-19 17:14] Dhoot opened #7889 "Improve audience list reliability"
## Problem
Currently, audience list is not reliable because we are using web-socket to maintain and pass-on information about newly connected client and recently disconnected client. But sometimes client miss these events, and we end-up with stale clients in the Audience list.

### Possible Solution
To improve and handle this web-socket message drop issue we can use a simple Heartbeat / Ping-Pong

[2021-10-19 20:39] agarwal-navin opened #7893 "_createDataStoreWithProps - Change return type to IFluidRouter"
Datastore creation APIs should return `IFluidRouter` instead of `IFluidDataStoreChannel` which is an internal interface and shouldn't be used.

[2021-10-19 20:50] agarwal-navin opened #7895 "Remove `bindToContext` from data store interfaces."
`attachGraph` should instead be used to attach the data store runtime to the context. `bindToContext` should be a subset of operations done by `attachGraph`.

[2021-10-19 22:51] tyler-cai-microsoft opened #7897 "Rewrite Prosemirror"
## Describe the bug

Prosemirror has a few issues that need to be addressed. Furthermore, the code is rather complex and needs rewriting so that it is an easier example to understand.
Here are some issues generated for them:
- [x] #7782
- [x] #7776

### Expected behavior

Prosemirror should not have the issues above and be easier to understand after a rewrite.

[2021-10-19 22:55] tyler-cai-microsoft commented on #7139
Closing the issue, the Prosemirror issue #7776 got moved to a different issue: #7897

[2021-10-19 22:55] #7139 closed

[2021-10-19 23:55] markfields opened #7899 "Increase validation in TextSegment text property parsing"
In Office Fluid telemetry, we're seeing this error a bunch recently:

error message: `this.text.substring is not a function`

![image](https://user-images.githubusercontent.com/12305068/138005883-f34126ee-ae2b-447c-b534-9b04f1e7e066.png)

Apparently, we're ending up with `TextSegment`s with non-string `text`.