[2021-12-17 00:58] #6260 closed

[2021-12-17 01:29] pleath opened #8581 "Create API to launch on-demand summary without a summarizer instance"
## Feature
Let the user launch a summary using the elected Summarizer, if one is available, otherwise spinning up a short-lived Summarizer just for this purpose.

**Additional context**
The Summarizer.summarizeOnDemand API doesn't currently allow the provided Summarizer instance to run on-demand if it is not the elected summarizer and there's an elected summarizer present. (This is to prevent a ra

[2021-12-17 01:52] #8070 closed

[2021-12-17 02:11] zhaoyiming0803 commented on #8573
Yes, question has solved. otherwise, do you know that how to use personal server code in Fluid Framework? do not to use primary server of Tinylicious service and Azure Fluid Relay.

[2021-12-17 02:11] zhaoyiming0803 commented on #8573
Yes, question has solved. otherwise, do you know that how to use personal server code in Fluid Framework? do not to use primary server of Tinylicious service and Azure Fluid Relay.

[2021-12-17 06:00] #6431 closed

[2021-12-17 19:00] tyler-cai-microsoft opened #8584 "Store and Retrieve Connected Timestamp"
After #7275 is resolved. We should follow up and fix how we retrieve the "connected" timestamp. We should store the "connected" timestamp as soon as we are "connected". We would then retrieve this value in the `getCurrentTimestamp` function in the `ContainerRuntime`.

[#8580 (comment)](https://github.com/microsoft/FluidFramework/pull/8580#discussion_r771016832)

[2021-12-17 20:51] tylerbutler commented on #8146
Closing because this is done! 🎉

[2021-12-17 20:51] #8146 closed

[2021-12-17 21:05] anthony-murphy commented on #8526
i think the current guidance right now would be to use @fluidframework/matrix as a replacement. it has many of the same drawbacks, but i think the structure and api feels more rigid, so hopefully there is less desire or expectation for things like move.

for append only, i'd probably use orderSeqeuentially around a insertRow and setCell calls

[2021-12-17 21:07] #8375 closed

[2021-12-17 21:54] anthony-murphy opened #8588 "Block access to DDS outside of handles"
in preparation for eventual garbage collection of DDS we should consider blocking access to them outside of handles, such that all used DDS already have an existing handle. The sooner we do this the better.

I added a test where a new DDS is created between summaries but its reference is not added. Today the test passes but when we do have GC at DDS level, the test should start failing. Also menti

[2021-12-17 21:58] agarwal-navin commented on #8588
Does this constitute making DDS live to storing its handle in another referenced DDS. Basically, removing `bindToContext` API from ISharedObject? Or is this tracking more work than that?

[2021-12-17 22:02] anthony-murphy commented on #8588
I have not idea. just saw your PR and comment, and thought if the only way to get a DDS was via a stored handle somewhere, then we could pretty safely assume we could garbage collect any DDS that doesn't have a handle to it somehere

[2021-12-17 22:06] agarwal-navin commented on #8588
Ah okay. This is a good starting point but there is more work to be done before we can collect DDSs. Like, we allow creation of DDS with names and don't distinguish them from non-named DDSs. We will have to introduce the concept to root and non-root DDS similar to data stores so that within a data store GC can building the reference graph starting from root DDSs.

I will add this to the GC epic.

[2021-12-17 22:13] anthony-murphy commented on #8588
for sure. but the sooner we can enforce handles the better. i think it would have also improved the data store GC story if we could have required handles sooner

[2021-12-17 22:21] agarwal-navin commented on #8588
Agreed. I will plan to do this as soon as the sweep work is done. Scheduled this for February for now.

[2021-12-18 00:00] #7924 closed

[2021-12-20 06:01] #6439 closed

[2021-12-20 12:00] #8573 closed

[2021-12-20 18:09] anthony-murphy commented on #8074
The next set of changes here are well understood and should be the last, but i want to wait for another release, to get the above in, to keep this change minimally disruptive:
https://github.com/microsoft/FluidFramework/compare/main...anthony-murphy:uncoupled-synthesize?expand=1

[2021-12-20 18:27] vladsud commented on #8113
Item is not assigned to anybody in a milestone that is close to completion. Plus, no description to make sense of what's at stake.
Please make it actionable.

[2021-12-20 18:28] vladsud commented on #8111
December item not assigned to anybody and no description to reason over it. Please make it actionable.

[2021-12-20 18:30] vladsud commented on #7737
@alpaix, not sure what's the priority here, but this item has been unassigned and moving from milestone to milestone.
Given it looks like follow up from you PR, I'll assign it to you - please reassign as appropriate.

[2021-12-20 18:31] scottn12 commented on #8113
This item can be closed since we are updating BREAKING.md with each individual change made to deprecated APIs.

[2021-12-20 18:31] #8113 closed

[2021-12-20 18:32] scottn12 commented on #8111
This item can be closed as we are doing this on a per API basis for the APIs here: https://github.com/microsoft/FluidFramework/issues/8005

[2021-12-20 18:32] #8111 closed

[2021-12-20 18:34] vladsud commented on #8114
Same as with couple other unassigned December items - please make them actionable, add some description.

[2021-12-20 18:35] vladsud commented on #8110
Same as with couple other unassigned December items - please make them actionable, add some description.

[2021-12-20 18:36] vladsud commented on #8055
@heliocliu, this item is in December milestone and not assigned. Can you please follow up and figure out what's the plan here?
Is it really happening in December? If so, who's working on it?
If not, what's the right milestone and developer to assign to?

[2021-12-20 18:38] scottn12 commented on #8114
Can close this issue as well, this is done on a per item basis.

[2021-12-20 18:38] #8114 closed

[2021-12-20 18:38] scottn12 commented on #8110
Can close this issue as well, this is done on a per item basis.

[2021-12-20 18:38] #8110 closed

[2021-12-20 19:25] heliocliu commented on #8055
Not December and should be assigned to me for now; the way we were looking at items for the sprint was causing this to get overlooked.  Thanks for pointing it out

[2021-12-20 20:27] vladsud opened #8594 "SharedObject.is() should be removed, possibly replaced with more generic check"
Looking at the code, it is used to call SharedObject.bindToContext()
I see two problems with that:
- there is nothing unique about SharedObject. I can build another base class for another set of DDSs and it should work exactly the same way.
- I think the actual check and actions are wrong, because we moved to using handles and objects themselves should never be stored in DDSs. Some code actually c

[2021-12-20 20:30] vladsud commented on #8594
@scarlettjlee, Is this something you can help cleaning in January?
@DLehenbauer - can you please glance at usage and confirm / deny my observations?

If we remove these checks completely, is there anything else we can do to help developers realize they are making mistake by putting some complex (non-serializable) object into DDS? I think @tylerbutler run into it or was passionate about it, so tagg

[2021-12-20 20:50] vladsud opened #8595 "Remove usage of ITree in SharedObject.snapshotCore"
It would be great to change SharedObject.snapshotCore() API not to deal with ITree, but rather return back ISummaryTreeWithStats and remove this conversion in SharedObject:
[code]

Basically, this coded was put here to reduce churn when we moved to summaries. It would be great if all layers were talking same language, i.e. all DDSs (based on SharedObject) were actually natively building summaries

[2021-12-21 00:44] heliocliu opened #8598 "policy-check should verify dependencies are not duplicated"
There have been a few cases where someone adds something to  `dependencies` that was already present in `devDepenendencies`.  This isn't a huge problem by itself, but the version management/release tooling assuming entries are only present once, and in cases where this is a fluidframework package, it will bump the version of the entry in `dependencies` and not `devDependencies`, then later in the

[2021-12-21 18:00] #4147 closed

[2021-12-21 18:00] #2561 closed

[2021-12-21 18:27] ssimic2 commented on #8450
@DLehenbauer looking at further code examples, it seems that define/activate is very common 2 step process. What is the reasoning behind deprecating `register` here ? Maybe I am missing something, but if it a common 2-step process, returning single handle to destroy both definition and activation handle, seems appropriate.

`unregister` definition could be removed, if no current clients further de

[2021-12-21 19:55] tyler-cai-microsoft opened #8605 "Use ClientSessionExpiredError Class instead of the default error interface"
## Work Item
After PR https://github.com/microsoft/FluidFramework/pull/8559 is merged, use the ClientSessionExpiredError class instead of the default error interface.
There is a TODO that will link directly to where the changes need to be made.
[code]

Furthermore, the ClientSessionExpiredError type needs to be updated to ContainerErrorType.clientSessionExpiredError see this comment https://github

[2021-12-21 22:26] ssimic2 commented on #8282
@ChumpChief it looks like you have marked this deprecated. I'm assuming the idea here is that even `SharedObject` will be of `ValueType.Plain` type, just having its handle stored as value of `ISerializableValue`. Please correct me if I'm wrong.

What are the guidelines on persisted data compatibility? If we receive `ISerializableValue` as a result of an older snapshot load, removing the support fo

[2021-12-21 22:56] #8576 closed

[2021-12-21 23:51] ssimic2 commented on #8283
Hey @sumedhb1995, this file & function name has gone through some renaming. This used to be `getComponent` and it looks like you marked this call unsafe here: https://github.com/microsoft/FluidFramework/commit/26ad2a88e86637b5bd2b7992a3cb4464546980ee#. Can you give us some more context around deprecation? It looks like you left it for test purposes, but the issue you listed there is closed.

[2021-12-22 00:27] tyler-cai-microsoft opened #8607 "Enable default session expiry timer"
## Work Item
Once we are comfortable with the state of GC, we need to update `sessionExpiryTimeoutMs` to default to `defaultSessionExpiryMs` instead of being `undefined`.

[2021-12-22 00:47] tyler-cai-microsoft opened #8608 "Test that the same session expiry is used throughout the lifetime of a doc"
## Work Item
Add tests to validate that we use the same session expiry timeout (or the lack of it) throughout the lifetime of a doc

This is a follow up to https://github.com/microsoft/FluidFramework/issues/7206

[2021-12-22 03:00] ssimic2 commented on #8283
I'm guessing the intention here is to get rid of this call, as we are now relying on Shared Object handles, instead of `LegacyUriHandle`.

It seems like `requestFluidObject_UNSAFE` is really only called by `getFluidObjectFromDirectory`. Given that we do have existing code that is migrating old shared values to handles when processing incoming `ISerializableValue`, it seems like `getFluidObjectFrom

[2021-12-22 06:00] #6469 closed

[2021-12-22 17:45] #8523 closed

[2021-12-22 22:53] agarwal-navin opened #8612 ""Named root data stores" tests failing in real service"
The real service tests are failing - https://dev.azure.com/fluidframework/internal/_build?definitionId=56&_a=summary.
The logs in the pipeline run don't have information on which test is failing but on running locally, I see this failure consistently:
[code]

On debugging a little, the following step in line 120 is stuck:
`const dataCorruption = await anyDataCorruption([container1, container2, con

[2021-12-22 23:49] #8514 closed

[2021-12-27 16:39] andre4i commented on #8179
See https://github.com/socketio/socket.io-client/issues/1518

[2021-12-27 16:41] andre4i commented on #7948
Part 1 has been merged: https://github.com/microsoft/FluidFramework/pull/8454

The rest of the feature: https://github.com/microsoft/FluidFramework/pull/7940 will be merged after a 2 releases.

[2021-12-27 16:42] andre4i commented on #3788
The config management feature has been merged. It needs to be wired in Bohemia first, then we can properly enable this and roll it out.

[2021-12-27 16:43] andre4i commented on #7365
The config management feature has been merged. It needs to be wired in Bohemia first, then we can properly enable this and roll it out.

[2021-12-27 16:55] andre4i commented on #8612
Thanks for catching and investigating this, @agarwal-navin

[2021-12-27 18:48] #8317 closed

[2021-12-27 22:36] anthony-murphy commented on #6083
June early July! ha :) adding this to the jan milestone

[2021-12-28 02:00] #5921 closed

[2021-12-28 06:00] #6518 closed

[2021-12-28 06:00] #6512 closed

[2021-12-28 06:01] #4283 closed

[2021-12-28 08:38] Yash621 commented on #8261
@anthony-murphy  can I work on this ?

[2021-12-28 17:06] #8612 closed

[2021-12-28 17:32] jatgarg commented on #5284
Just commenting to keep it open from bot.

[2021-12-28 17:48] anthony-murphy commented on #8261
sure. that would be great. happy to answer questions.

[2021-12-28 19:19] chensixx commented on #8165
am I moving out the extraction under `error?.type === "TransportError"` condition? or the whole thing including the if clause before and else clause after

[2021-12-28 20:55] markfields commented on #7816
Related:  #7670 (started JSON.stringify websocket errors into the message property, which I'm not sure is best) and #8265

[2021-12-28 21:13] anthony-murphy opened #8621 "Add typed only namespacing to monitoring context config"
This change adds name spacing to montoring context config:
https://github.com/microsoft/FluidFramework/compare/main...anthony-murphy:config-with-typed-namespace

however we need to validate the typescript version requirements before introducing the usage of template literal types.

[2021-12-28 23:08] #8437 closed

[2021-12-28 23:37] linsword13 opened #8622 "Memory leakage due to lingering event listener"
## Describe the bug
The construction of `container` registers an event listener on the `document`, which is not subsequently cleaned up upon closing. This causes memory leakage as the listener holds on to a reference of the disposed container. The relevant source can be found [here](https://github.com/microsoft/FluidFramework/blob/e4fe5461b71df9420b8f963e8f191a595d45198c/packages/loader/container-

[2021-12-29 00:27] markfields opened #8623 "Add "reason" to container close APIs"
This would be helpful in telemetry.

See https://github.com/microsoft/FluidFramework/pull/8619 and https://github.com/microsoft/FluidFramework/pull/6936 for prior thinking here.

Key design point is around compatibility
* How do we want to stage this in terms of back compat both at runtime between layers and at compile time as partners would take this change.
* Do we want to switch from multiple f

[2021-12-29 00:30] #6980 closed

[2021-12-29 00:33] markfields commented on #8623
Putting under Epic https://github.com/microsoft/FluidFramework/issues/7999 for now, but there might be a better way to organize this work, stay tuned as part of Jan plan.

[2021-12-29 00:42] markfields commented on #8099
@vladsud -- Maybe we close this and put design-required label on parent Epic #8260?

[2021-12-29 00:55] markfields commented on #8163
They are setting `genericError` on it.  Are you suggesting we help them find a different errorType?  This case could be fixed up by #8623, they can just pass this as `reason` instead of having to craft an error?  Unsure if that's better.

[2021-12-29 00:57] andre4i commented on #8612
Confirmed (a couple of times) locally against tinylicious that this particular failure isn't reproducing after the PR above was merged.

I do see `<testcase classname="Summaries Non-Compat" name="Should generate summary tree with isolated channels disabled" time="0.065"><failure>Should not have attempted summary with disposed summarizer` consistently...

[2021-12-29 19:35] chensixx opened #8626 "Unhandled Rejection 0x265 are hit"
## Describe the bug

In recent OCE incidents, we found many instances of unhandled rejection that is 0x265 (in summaryManager.stop)

## Example Logs
from `sessionId` 4ff50f44-5d03-4c3e-aeca-6e8c1585c5f8
these are the events that happened right before assert failed
|Event_Time	|Data_eventName	|Data_message_string|
|-----|--------|--------|
|2021-12-29 17:45:40.4220000|	UnhandledRejection|	0x265|
|2

[2021-12-30 06:00] #6533 closed

[2021-12-30 06:00] #4006 closed

[2021-12-30 18:12] markfields commented on #6431
For the record - It used to include `"closed"` but it didn't actually work if you were using a `DeltaManagerProxy`, see https://github.com/microsoft/FluidFramework/issues/2002.

In terms of the line of code in the PR referenced above, I would think listening for the runtime's own `"disposed"` event should work.

[2021-12-30 18:39] sumedhb1995 commented on #8283
`getFluidObjectFromDirectory` was intended to be a forward migration pattern developers could follow to transition from using ids to using handles. Using handles is the recommended way moving forward and instead of calling `getComponent_UNSAFE`, the developers should just be calling `handle.get()` if they don't need to worry about back-compat. Since this change was made more than a year ago, most

[2021-12-30 18:41] anthony-murphy opened #8631 "Remove Synthesize Deprecated"
Once we remove deprecated on IFluidDependecySynthsize, and DependencyContainer we should do the following:

yeah. there is another set of changes coming. once i no longer expose providers directly i can just create the `PropertyDescriptions` upfront on register, and then all this code will be way simpler. I do those change with what you suggest in the next release

_Originally posted by @anthony-m

[2021-12-30 19:03] anthony-murphy opened #8632 "Fix Synthesize Typing"
the typing around the provider model in synthesize is pretty broken. the typing doesn't allow returning undefined, this was sneaking through due to the typing on dependency container entry being incorrect.  However, i think we need to allow undefined, for the optional providers, but then that means require providers can also be undefined due to the delayed evaluation. it needs a rework. this will

[2021-12-30 19:27] markfields commented on #8502
Moving to Jan to complete along with #8623

[2021-12-30 20:40] markfields commented on #8163
@vladsud, I took a look at these. All the token fetch ones are addressed by #8151 which is in 0.51.  On account of this and my previous comment, closing this issue.

[2021-12-30 20:40] #8163 closed

[2021-12-31 02:33] ssimic2 commented on #8271
@sdeshpande3 I'm not sure I am clear on the above comment: `To replace its functionality, the get function can obtain the underlying object to access the absolute path`.

Original comment was `@deprecated - Do not use handle's path for routing. Use `get` to get the underlying object.`. Is the desire here just to discourage use of IDs and move to handles? If that is the case, we already have ticket

[2021-12-31 12:00] #6503 closed

[2021-12-31 19:50] markfields commented on #8260
Closing #8099 and marking this as design required.  It's a dupe.

[2021-12-31 19:50] markfields commented on #8099
I'm doing this ^

[2021-12-31 19:50] #8099 closed

[2021-12-31 19:52] markfields commented on #7884
Unless this is directly related to recent problems with visual op replay, I'd like to move to Feb.  @vladsud let's discuss next week.

[2021-12-31 19:54] markfields commented on #8424
Unsure if I have much bandwidth for this in Jan, but we can discuss priority.  @jatgarg how about you?

[2021-12-31 19:57] markfields commented on #7935
Not sure if we have a good epic for this one, it's a generic "code health" follow-up item.  Not high priority in and of itself, but more good hygiene to knock it out "soon" - I think I've already failed at that tbh, so planning to prioritize in Jan, I can timebox it and it won't take long.

[2021-12-31 19:59] markfields commented on #7999
This is still here going into first week of Jan, but as part of firming up Jan plan and beyond, I do still think this can be broken down into more specific Epics.

One in particular to split out for Jan is the "Error shape and propagation" section.  I have a write-up started and working through it with @vladsud, then will share more broadly and move onto implementing.

[2021-12-31 20:01] markfields commented on #8417
@agarwal-navin, @pleath - Does this roll up into an existing Epic?

[2021-12-31 20:02] markfields commented on #2903
Marking as Epic.  This work is staged into many steps and will be long-running.

[2022-01-02 15:10] DLehenbauer commented on #8594
I agree that we can remove this code.  It was an aid to help users transition when we introduced IFluidHandle.

The call to 'bindToContext()' was likely to allow old documents to load, but I think this is predating the 'Fluid Preview' app and ODSP.

In TypeScript, I'm pretty happy with the defense we get from the new improved `Serializable<T>'.  If we wanted to add runtime checks for ES6 users, I'

[2022-01-02 23:12] ssimic2 commented on #8270
@ChumpChief by legacy documents you are referring to docs whose snapshots never had `isRootDataStore` attribute?

Interestingly, we adapt these [here] (https://github.com/microsoft/FluidFramework/blob/main/packages/runtime/container-runtime/src/dataStoreContext.ts#L773) so we probably wouldn't hit assertion for legacy docs, but agree about being explicit in the guidance about breaking changes: usi

[2022-01-02 23:57] ssimic2 commented on #8270
Also `resolveHandle` within container runtime does have logic targeting paths beginning with `_channels` and `_blobs`. Any considerations there ? `innerRequestHandler ` -> `rootDataStoreRequestHandler`, does not look like 1:1 replacement even if you put root data store differences on the side.

[2022-01-03 15:43] ChumpChief commented on #8270
Yeah, `isRootDataStore` is what I was referring to - I missed that adaptation so maybe that's totally fine.

I'm not really worried about colliding on the names `_channels` and `_blobs`, I don't think this is likely to be a threat in practice.

[2022-01-03 15:51] jatgarg commented on #6567
Reopening

[2022-01-03 16:04] jatgarg commented on #7135
Yes, we have already done it. Closing the issue. I will confirm in telemetry if the server has started passing in the props.

[2022-01-03 16:04] #7135 closed

[2022-01-03 16:19] scottn12 commented on #8286
In order to remove the `snapshot` function from the `ContainerRuntime` class, we must first not require it in the `IRuntime` interface. Since `IRuntime` is implemented in another class (`ProxyRuntime`), I propose we make `snapshot` an optional function in the following way:

[code]
to
[code]
Does this seem like a good approach @ChumpChief @heliocliu ?

[2022-01-03 16:49] jatgarg commented on #8424
Unfortunately, I don't think I have bandwidth in Jan for this too.

[2022-01-03 17:23] heliocliu commented on #8286
ProxyRuntime is from one of the example packages that shouldn't be being consumed in the same way so I don't think that needs special consideration here.  So this should follow the standard procedure for back-compat (which may involve using the optional or not depending on usage of the snapshot function?)

[2022-01-03 17:31] #8080 closed

[2022-01-03 18:50] anthony-murphy commented on #8526
this issue was completed via #8585

[2022-01-03 18:50] #8526 closed

[2022-01-03 18:56] agarwal-navin commented on #8417
I am not sure. Did the parent (https://github.com/microsoft/FluidFramework/pull/7527) have an Epic? If so, we can add it to the same one.

[2022-01-03 19:06] #7292 closed

[2022-01-03 19:44] agarwal-navin opened #8637 ""Summaries: Should generate summary tree with isolated channels disabled" test failing in real service"
The real service tests are failing - https://dev.azure.com/fluidframework/internal/_build?definitionId=56&_a=summary.
The logs in the pipeline run don't have information on which test is failing but on running locally, I see this failure consistently:

[code]

[2022-01-03 20:05] #7206 closed

[2022-01-03 20:10] scottn12 commented on #8286
It seems that between the two classes which implement `IRuntime`, the `snapshot` function is not used anywhere in the FF repo or in partner repos, therefore we should be safe to simply remove the function from the interface and both classes.

[2022-01-03 20:19] chensixx commented on #8637
so when `result = summarizer.summarizeOnDemand({ reason: "test" });` is called in the test at line 231, i set breakpoint and stepped in, it seems neither summarizer or running Summarizer was disposed here `if (this._disposed || this.runningSummarizer?.disposed)` from summarizer.summarizeOnDemand
is this relevant?
@pleath since you worked on this mainly

[2022-01-03 20:26] ssimic2 commented on #8292
Hey @leeviana could you comment on Bohemia and readiness there?

I saw your discussion here: https://github.com/microsoft/FluidFramework/issues/3631. As well as PR that was reverted: https://github.com/microsoft/FluidFramework/pull/2951.

In Bohemia repo I do see that some DataObjects are still relying on `createProps`.

If you have any tickets that track related items on bohemia side, please shar

[2022-01-03 20:37] anthony-murphy commented on #8637
looks like a timing issue. the test probably needs to wait longer after the stop for the summarizer to actually dispose

[2022-01-03 20:46] ssimic2 commented on #8291
Duplicate of https://github.com/microsoft/FluidFramework/issues/3631.

[2022-01-03 20:53] #8291 closed

[2022-01-03 20:53] leeviana commented on #8292
We have a need for inputs into initializingFirstTime (initial config) flows in our components and have not been provided with another way to replace these flows as of now. I believe our latest suggestion for replacing the old createProps flows, involve using aqueduct factory APIs directly, but they need to be made discoverable via Provider/request patterns as they are currently not discoverable to

[2022-01-03 20:54] ssimic2 commented on #3631
Related: https://github.com/microsoft/FluidFramework/issues/8292

[2022-01-03 20:57] scottn12 commented on #8272
To remove the deprecated `genericError` API, we first need to remove all references to it in our partner repos. To do this we can replace the occurrences of `genericError` with `genericNetworkError`. Additionally, we can define additional more specific error types if necessary. @jvoels , do you have any insights on if we need to define additional error types, or if `genericNetworkError` is enough?

[2022-01-03 22:31] tyler-cai-microsoft commented on #8549
Relevant PR thread https://github.com/microsoft/FluidFramework/pull/8198#discussion_r754655027

[2022-01-04 00:18] ssimic2 commented on #8277
@jatgarg can you comment on the current state in regard to this ticket? I see you have moved the field back here: https://github.com/microsoft/FluidFramework/pull/7806/files with some comments here: https://github.com/microsoft/FluidFramework/pull/7774. Could you point us here towards tickets/discussions around mfs-loader dependency ?

[2022-01-04 01:48] ssimic2 commented on #8278
This looks like a fairly contained change. However, I'm curious about consistency here:

1. I see other DDS properties that have both `setValue` and `set` that are interchangeable (ex. `ReferenceProperty`). If we are deprecating around ReferenceMapProperty  we should probably consider these other DDS-es as well.
2. What's the reasoning behind naming convention (set vs setValue)? I'm assuming we wa

[2022-01-04 02:04] ssimic2 commented on #8274
@scottn12 in FF repo we are simply removing containerPath altogether ? `Replace containerPath with Loader.request()` seems off, as (I thought) we are not replacing anything. Maybe some examples would be helpful to show how to use Loader.request() as a substitute.

[2022-01-04 04:00] ssimic2 commented on #8268
@sdeshpande3 could you share the comments here around the conversations you had with @agarwal-navin. I'm not sure how the comment above relates to the compatibility matrix: https://github.com/microsoft/FluidFramework/wiki/Compatibility-and-Versioning

[2022-01-04 04:16] ssimic2 commented on #8186
@sdeshpande3 could we clarify the description here? Is the idea to make this method private in containerRuntime and remove its usage from dataStoreRune/dataStoreContext ?

We added this to "Phase III: Refactor APIs used in Fluid Framework repository only", but I do see it used at one place in Bohemia. It would be worthwhile checking remaing partner repos.

[2022-01-04 06:00] #6589 closed

[2022-01-04 15:33] scottn12 commented on #8274
@ssimic2, that is correct, in the FF repo we are simply removing this API. We initially titled this task `Replace containerPath with Loader.request()` since we knew any usage of `containerPath` must be replaced with `Loader.request()`, but it turned out that it is only really used in partner repos, not the FF repo itself. Since we have broken down this item into multiple phases, we could rename th

[2022-01-04 16:16] jatgarg commented on #8277
@vladsud Could you point us to people owning/handling mfs-loader so that we can confirm whether they have bumped the dep or not. Yes nobody uses it and we can remove it but it can create the same problem again in this case. Also there might be other packages which will still depend on older package and could cause same issue. Can you please suggest what is the right approach here.

[2022-01-04 17:22] ssimic2 commented on #8272
It looks like Bohemia also has `tryMatchDriverErrorType` logic that tries to match `ContainerErrorType` to `DriverErrorType `. If there is bubble up/down of error messages, we should consider that as well.

[2022-01-04 18:30] vladsud commented on #8277
I have not looked at details here, but I think we should do proper deprecation, given partners couple releases to react, and then be free to remove deprecated functionality. Waiting for particular partner(s) does not scale well.
Taht said, we should do so with understanding that certain things (loader versions) live really long time. So, if deprecation touched compat boundary that is has really lo

[2022-01-04 22:13] jvoels commented on #8272
Is it true that all existing DriverErrorType.genericError are conceptually "generic network errors"?
I don't have any case off hand, but that seems lucky that would be a seamless 1:1 genericError -> genericNetworkError

Is there more context for the motivation on making this change?

To be really useful when logging values for telemetry the strings for these need to not collide across typescript e

[2022-01-05 07:47] scarlettjlee opened #8652 "Remove ITree-related code from DDSs"
## Work Item
Remove all ITree-related code from DDSs and use directly summary interfaces (and kill ITree -> summary conversion functions).

There are currently no known uses of these in partner code, but they may be introduced after the change to return ISummaryTreeWithStats from SharedObject.summarizeCore.

[2022-01-05 11:50] kumarrus commented on #7935
Hi, I'm a new contributor. Would it be okay if I take up this issue?

[2022-01-05 17:03] ChumpChief commented on #8039
`chaincodePackage` removed in #8104

Alternate APIs made mandatory in 0.55 with #8638, plan to remove `codeDetails` in 0.56.

[2022-01-05 17:48] vladsud opened #8654 "ODSP driver: Handle share links whose ODB is moved (e.g. https://microsoft-my.sharepoint.com/ -> https://microsoft-my.sharepoint-df.com)"
Data needs to be copied over from https://office.visualstudio.com/OC/_workitems/edit/5534117
Related Incident: Incident-268907204 Details - IcM (microsofticm.com)
Related Teams post: Marco Cimmino Gibellini: Cannot load any more a component within Teams

Robert Chen will provide more data in the bug RE protocol and expectations for client.
Work very likely will involve not just recovery (for this

[2022-01-05 18:54] #8637 closed

[2022-01-05 18:55] markfields commented on #7935
@kumarrus Go for it!  Post back with any questions as you go, or even better push a draft PR even if incomplete and we can discuss in there.

@vladsud, @anthony-murphy - Any thoughts on whether this should also subsume attach state? Seems like it to me but wanted confirmation before pointing Rushab in the wrong direction.

[2022-01-05 19:00] markfields commented on #8272
There were no usages that I knew of until @vladsud added some in the last month in #8464 :(  The client never picked up the driver-defs version with the deprecation.  See #8489.

And yes, the whole reason I deprecated this in #6489 was because the enum value is indistinguishable between DriverErrorType and ContainerErrorType.

Yes, and I'm also considering how we can migrate to a namespaced error

[2022-01-05 19:18] markfields commented on #8069
@heliocliu, @anthony-murphy -- When you peer into the future of how our packages are versioned/released, does it seem reasonable to assume that we can lock `@fluidframework/odsp-doclib-utils` and `@fluidframework/odsp-driver` packages to be versioned together?

[2022-01-05 19:33] #7644 closed

[2022-01-05 19:33] agarwal-navin opened #8656 "Rename getInitialGCSummaryDetails -> getBaseGCDetails - Part 2"
The new API getBaseGCDetails was added as optional in https://github.com/microsoft/FluidFramework/pull/8611. Part 2 of the change should make it as required and remove old symbols.

[2022-01-05 19:33] #8304 closed

[2022-01-05 19:34] bekell opened #8657 "Repository field in package.json is improperly formatted"
According to [NPM docs](https://docs.npmjs.com/cli/v6/configuring-npm/package-json#repository), the repository field in package.json files should be formatted as such:
`  "repository": {
    "type": "git",
    "url": "git+https://github.com/microsoft/FluidFramework.git"
  },`

Currently, it appears to be formatted as a string:
`  "repository": "https://github.com/microsoft/FluidFramework.git" `

T

[2022-01-05 19:34] heliocliu commented on #8069
Seems reasonable to me (I think they're locked together in client?).  The package group locking is really only limited by dependency issues I think.

[2022-01-05 19:36] anthony-murphy commented on #8069
no i don't believe so. some of our partners dynamically load the driver itself, but i think they may also statically (npm) reference odsp-doclib-utils

[2022-01-05 19:39] anthony-murphy commented on #8069
we'll they can probably be versioned and released together, but anything they share will need to support cross versions. in terms of driverVersion, it can probably be the same number, as if they are different then the driver should have its own and matching version of odsp-doclib-utils

[2022-01-05 19:52] scottn12 commented on #8286
While testing removing `snapshot` from `IRuntime` I did find one usage which may need to be adjusted if we are to completely remove this function from the interface.

https://github.com/microsoft/FluidFramework/blob/0699d26f13eebffacc58a8ab1990ddb572e46810/packages/loader/container-loader/src/containerContext.ts#L215

I would suggest to replace this instance of `snapshot` with `summarize`, however

[2022-01-05 20:21] markfields commented on #7816
Moving to Jan to make progress on the design.  Lots of churn here which is making aggregate analysis in telemetry difficult, on top of an already difficult area to analyze.

[2022-01-05 20:24] ChumpChief opened #8659 "fluid-type-validator flow on version bump needs to be more automatic and/or straightforward"
See #8649, #8650

After version bump, we need to update package.json files for the new prior version dependency and update typeValidation version.  Otherwise, the next build fails in fluid-type-validator.  For client packages this can take multiple install/build cycles when building from root, as the build will fail early (before all required package.json get updated), and it's a separate step for

[2022-01-05 21:10] sgarapati07 opened #8661 "[MFS] Changes to the tree/blob paths in summaries leading to summarization error"
PR : https://office.visualstudio.com/OC/_git/MfsSDK/pullrequest/1141285?_a=files

This is in regards to the custom OdspSearchableDataObject, CreateOdspSearchDataStorerFactory and getSearchContent method implementation leading to summarization errors. When I created multiple, dynamic search paths, I get a summarization error when the path changes on the next load. For e.g., the following is the lat

[2022-01-05 21:18] DLehenbauer opened #8662 "SharedTree Engineering Plan"
# Engineering Plan

January marks the beginning of our engineering work on the converged tree DDS, which builds on Autodesk's pioneering work with the Property Tree DDS and incorporates novel approaches for preserving user intention contributed by the Microsoft Whiteboard team.

Following the Fluid naming conventions, we will adopt the name "SharedTree" for the converged tree DDS going forward (no

[2022-01-05 21:26] markfields commented on #1698
@vladsud is this concern being addressed by other work? I feel it's important to consider still, so reopening.

[2022-01-05 21:38] markfields commented on #8410
@agarwal-navin - you immediately unassigned me, was that a mistake? Feel free to actually assign me :)

Are you suggesting that the error objects we expose to hosts include this as a first-class property on the type?

cc @jatgarg as FYI.

[2022-01-05 21:45] markfields commented on #5652
Underlying problem was fixed anyway in #7759

[2022-01-05 21:50] agarwal-navin commented on #8410
I think I wanted to unassign myself after assigning you. Technology!

Yes, that sounds about right. @leeviana can confirm.

[2022-01-05 21:53] tyler-cai-microsoft commented on #8549
After some offline discussion, we determined we do not want to link the snapshot expiry policy with the session expiry. We may change this in the future. The reasons for this are:
- The snapshot expiry can change during the lifetime of a document, whereas the session expiry should not change.
- If the snapshot expiry affects the session expiry, it would cause a side effect hosts may not be able to

[2022-01-05 21:55] ChumpChief opened #8663 "Deprecate wait() on map/directory, and remove usage in repo"
Before we can remove `wait()` on map/directory (see #6188) we will need to deprecate it, provide guidance to our customers on how to migrate, and remove our own usage from the repo.

Splitting into two PRs to keep it more manageable.

- [x] Deprecate `wait()`, and remove usage from examples #8673
- [ ] Remove usage from tests #8702

[2022-01-05 22:35] anthony-murphy opened #8665 "Stress: writeBlob: `Runtime is closed` and `runtime disposed while blobAttach op in flight`"
Seeing blob related unhandled exceptions in the stress runs:
[code]
[code]

we could probably fix these in the tests itself, but i'm wondering if they point to more fundamental problems with blob attach process. I don't actually understand why we need to wait for the blob op to round trip before we return the handle, in other similar cases, like dds and datastores we immediately return the handle.

[2022-01-05 22:38] markfields opened #8667 "Floating Promise calling DataStoreContext.realize prefetching DS after attaching remote DS"
I'm seeing evidence in Office Fluid telemetry that DataStoreContext.realize is failing in this case (because the errors don't seem to bubble up, only get logged via `"RealizeError"` event):

https://github.com/microsoft/FluidFramework/blob/124e881fc7fb37e9fa5709fcf7b90ab3e65a9e58/packages/runtime/container-runtime/src/dataStores.ts#L241-L243

I don't know this code/scenario well enough to judge wh

[2022-01-05 22:39] vladsud commented on #1698
There is tension here between adding version info or using feature detection as a way to reject old objects.
I think we prefer the later, as it's more granular, allows optionality and works better in presents of forks in versioning (major / minor / patch releases), plus it's much easier to understand from code what actually happens and why version is rejected.

That said, I definitely remember a c

[2022-01-05 22:40] anthony-murphy opened #8668 "Stress: `summaryNack: Failed to summarize the document (resourceModified).`"
There are two issues here. One is the duplicate logging of the error, the other is the error itself. This is likely related to #8080
fluid:telemetry:Summarizer:Running:SummaryNack
fluid:telemetry:Summarizer:Running:Summarize_cancel

[code]

[2022-01-05 22:40] markfields commented on #7802
Opened https://github.com/microsoft/FluidFramework/issues/8667 to get eyes on what should happen when prefetch of DS at the end of processAttachMessage fails.

As for other follow-up, I think it's just a matter of going through top errors.  These are on there, but not at the top.  container lifecycle state is `loaded` when this new `ResolveFailed` event fires.

[2022-01-05 22:40] vladsud commented on #8667
This code is wrong and should be removed. And I though Navin had PR to do so (or an issue).

[2022-01-05 22:41] agarwal-navin commented on #8667
This may help - https://github.com/microsoft/FluidFramework/issues/8494

[2022-01-05 22:43] markfields commented on #8667
Ok I will close this then, now that it's been tied with that issue :)

[2022-01-05 22:43] #8667 closed

[2022-01-05 22:51] vladsud commented on #8665
I believe we do want to move to a design where (from developer / FF user POV) blob addition is fully synchronous operation, similar to any other model (DDS) change. We have talked about it with Wes and I think it's design we are going with, which requires substantial changes in pending state manager and op resubmission logic.

It will not change lower-level behavior that you observe here and that

[2022-01-05 22:53] vladsud commented on #8665
To answer the key question - yes, we should not crash here - if container is closed, blob upload should silently fail (or silently succeed - I think we allow to change DDSs after container is closed, these changes do nothing, we should be consistent RE what we allow or not in this state, I think we are inconsistent, so maybe that's separate area to look at open some issues).

[2022-01-05 22:56] vladsud commented on #7935
I think attach state is orthogonal to lifecycle states (for most part)

[2022-01-05 22:56] #8106 closed

[2022-01-05 23:02] anthony-murphy commented on #8665
sounds good. in these cases the errors are not causing the container to close. they are actually the result of a container close which then lead to unhandled rejections. if those rejections are expected, then the right fix in probably in the test code

[2022-01-05 23:22] vladsud commented on #8665
I do not know if they are expected - see my last comment - I'm not sure how we want to deal with ability to mutate container state (across all APIs) after container closure - allow or throw. This particular stack is a bit unique (at the moment), as operation started likely before container was closed.

I'd love Wes to poke around and propose consistency model RE how we deal with issues like that i

[2022-01-05 23:31] #8554 closed

[2022-01-05 23:43] heliocliu commented on #8286
Removing `snapshot` on `IRuntime` only to add `summarize` seems like a losing proposition.  Do the reasons/context for deprecation/removal of `snapshot` on `IRuntime` also apply to `ContainerContext` (or `IContainerContext` depending on where it's declared there)?  If so the solution is probably also to remove `snapshot` there as well, otherwise probably need to re-examine if it can be removed fro

[2022-01-06 02:34] anthony-murphy opened #8672 "Stress: `fluid:telemetry:ContainerRuntime:GarbageCollector:gcUnknownOutboundRoute`"
Looks of `fluid:telemetry:ContainerRuntime:GarbageCollector:gcUnknownOutboundRoute` errors in stress runs:
let buildid = "47789";
office_fluid_ffautomation_error  | where Data_buildId  == buildid
| project-reorder Event_Time, Data_eventName, Data_error, Data_message, Data_reason, Data_loaderVersion, Data_runtimeVersion, Data_stack, Data_fluidErrorCode

[2022-01-06 04:42] markfields commented on #7935
Ok took another look and I agree. Especially transitioning to the closing/closed state, that could happen whether or not the container ever attached.

I had been thinking about how `attach` asserts the lifecycle state is `loaded` at the top, such that attach state `attaching` and `attached` would each imply `loaded`, but that's only part of the story (and doesn't even hold up looking at the load-e

[2022-01-06 15:09] scottn12 commented on #8286
Actually, only `snapshot` on `ContainerRuntime` was deprecated. That is why I originally suggested we make `snapshot` optional on `IRuntime`. Maybe we should revisit that idea since it looks like `snapshot` is more involved than we initially thought.

[2022-01-06 15:57] scottn12 commented on #8272
From these comments my understanding is that we should still continue to remove `DriverErrorType.genericError` since it collides with another enum. If that is the case, @jvoels, could we start the process of replacing instances of this enum in Bohemia? If so, who would be the best person to contact to help get these changes completed?

[2022-01-06 19:23] ZeguangWu opened #8674 "Undo issue for text deletion in SharedString"
## Describe the bug

Here is a test case which repros the issue. Copy following code into _**'.\git\FluidFramework\packages\framework\undo-redo\src\test\sequenceHandler.spec.ts'**_

    it("Undo and Redo Delete - Bug Repro", () => {
        insertTextAsChunks(sharedString);
        const handler = new SharedSegmentSequenceUndoRedoHandler(undoRedoStack);
        handler.attachSequence(sharedString)

[2022-01-06 19:30] sgarapati07 opened #8675 "[MFS] Unable to add multiple blobs to summary tree for search"
PR: https://office.visualstudio.com/OC/_git/MfsSDK/pullrequest/1141285

## Describe the bug
Unable to add new blobs to the tree. Adding a new blob leads to overwriting of an existing blob of the summary tree. The code for this is in packages/mfs-client/src/fluid/runtime/odspSearch.ts in the above PR

### To Reproduce
Steps to reproduce the behavior:

- Run this https://office.visualstudio.com/OC/_

[2022-01-06 19:30] #8595 closed

[2022-01-06 19:32] vladsud commented on #8661
Searching for [0x25d assert](https://github.com/microsoft/FluidFramework/issues?q=is%3Aopen+is%3Aissue+0x25d) shows that it is being hit in prod:
https://github.com/microsoft/FluidFramework/issues/8626

For some reason search does not find it, but there is bug on that specific isuse - https://github.com/microsoft/FluidFramework/issues/8398
And PR that addresses it - https://github.com/microsoft/Fl

[2022-01-06 19:41] vladsud commented on #8661
BTW, this assert (I believe) fires only on long idle connections (I think 5 min). So, you should be able to test your code changes even without the fix, if you avoid allowing connections to be idle that long (strictly to unblock you if you can't easily jump to latest bits yet)

[2022-01-06 20:05] sgarapati07 commented on #8675
This is how I'm adding multiple blobs :

[code]

[2022-01-06 20:05] sgarapati07 commented on #8675
[code]

[2022-01-06 20:14] sgarapati07 commented on #8661
Hi Vlad,

  Although there is the assert issue, I believe that this is a summarization error because of the multiple search blobs that I have. I think the following is happening:

  1.  A new item is added, so a new search path is being created and the summarizer fails because of the inconsistency with the existing snapshot as it expects the snapshot to have the same paths on the load of the data

[2022-01-06 20:30] sgarapati07 commented on #8661
Also, here are some more errors following that:

`fluid:telemetry:Container ContainerEventHandlerException {"name":"warning","category":"error","error":"Unhandled error. (summarizingError:Error while generating, uploading, or submitting summary)","clientType":"interactive","loaderVersion":"0.52.1","containerId":"2ab49aad-587f-48fb-a041-88a1089e7568","docId":"6pjiyOl1AE56lePeS%2BAjLlHnFaXNoedG57%2F

[2022-01-06 20:51] sgarapati07 opened #8676 "[MFS] Needing too many ops to reflect changes in the data store state"
## Describe the bug

When the content of the blob changes in the snapshot, the changes aren't being reflected in the latest snapshot till a lot of operations are being made. I waited for about a minute without making any new ops and nothing happens when re-summarization happens. Also, I performed a few ops like around 10 and still nothing happened. Its only when I perform about 25 to 30 ops that I

[2022-01-06 20:53] scottn12 commented on #8286
@agarwal-navin, I noticed in your PR https://github.com/microsoft/FluidFramework/pull/4230, you mentioned that `snapshot()` would be removed in a follow up PR. Would you be able to provide any additional context or how you planned to fully remove this API?

[2022-01-06 21:19] agarwal-navin commented on #8286
Yeah, it has been a long goal to remove all the `snapshot` APIs. I removed it from most of the layers except from container, container runtime and container context.

We have couple of items tracking additional work for this:
- https://github.com/microsoft/FluidFramework/issues/6237.
- https://github.com/microsoft/FluidFramework/issues/3929

The replay tool under `packages/tools/replay-tool` calls

[2022-01-06 21:49] vladsud opened #8677 "fetch-tool fails with "Cannot read property 'contents' of undefined""
Any chance you can help me take a look where it fails?

E:\Git\FluidFramework3\packages\tools\fetch-tool>node bin\fluid-fetch "https://www.office.com/launch/fluid/content?auth=2&action=edit&drive=b!fj-qf9E4cEqEN2yG19SC8FA56ZHdGg5Puse1fuvRM9dWf8H6jmHESKEW0E6-yeH1&item=01L3MDHA3N7VZV7X2JY5G2NOFVOR2V3JJ2&file=https:%2F%2Fmicrosoft-my.sharepoint-df.com%2Fpersonal%2Fjegour_microsoft_com&siteUrl=https:%

[2022-01-06 21:50] vladsud commented on #8677
Also getting this error:

            assert(sequencedMessages[0].sequenceNumber === curr,
                0x1bb /* "Unexpected sequence number on first of messages to save" */);

When doing --saveDir

[2022-01-06 22:41] jvoels commented on #8272
For internal/partner repos, start a thread with myself and Mark internally (teams/e-mail is fine). It sounds like we want work items made internally for bohemia et al that track the work needed so this doesn't just catch FF 'bumps' off guard, and we will also consider other systems that may have less obvious references (unlikely though).

[2022-01-06 23:39] ChumpChief commented on #3305
I don't think this is needed anymore.  I also suspect that this scenario doesn't need to track the intent within the `IAgentScheduler`, as the "should switch to write if no write clients connected" characteristic of the task is already known by the read clients prior to switching to write, at least in the scenarios discussed so far.

[2022-01-06 23:39] #3305 closed

[2022-01-06 23:45] anthony-murphy commented on #8677
seeing similar error, 0x1bb went away after retry for me

[2022-01-07 00:36] chensixx commented on #2903
the only step left should be removing container.id and usages, then it will be done.
also as Vlad mentioned, we can transition getVersions() to using undefined

[2022-01-07 00:41] pleath commented on #8626
SummaryManager.stop is apparently being called while SummaryManager is already in a stopped/not-started state. My guess is that we call stop() first via the "disconnected" event handler (note that these asserts all seem to coincide with a Container disconnect) and then, without checking SummaryManager.state, in the catch handler in SummaryManager.startSummarization. 2 possible solutions: 1. check

[2022-01-07 02:21] ssimic2 commented on #8286
The question here again is about loader/runtime backward compatibility. If we remove this API call from the runtime, older loader (container context) won't be able to get `snapshot`. We have few other tickets where we realized N-1 compatibility between loader and runtime does not hold true. Once we do get into major release cadence this will probably be 2-3 year compatibility req. We need to figur

[2022-01-07 02:23] #8045 closed

[2022-01-07 02:28] scarlettjlee opened #8682 "Delete IFluidSerializer from core-interfaces"
IFluidSerializer is deprecated as of v0.55 (it was moved to shared-object-base). It can be removed in a few versions and after IFluidObject references to it are removed.

[2022-01-07 06:01] #6626 closed

[2022-01-07 16:24] kumarrus commented on #7935
Thanks, @markfields. I'll draft a PR soon. Would need some guidance regarding the possible and impossible state transitions.

[2022-01-07 18:10] anthony-murphy opened #8683 "Move Shared Cell to Examples Namesapce"
As a DDS shared cell is a great example for those looking to understand how DDS work, but it generally shouldn't be used in any real scenarios.  It shouldn't be used as the overhead (attributes blob, tree structure, ...) of the dds grossly outweighs the data stored within the DDS itself (a single value). This is why we provide a map/directory as the root dds, such that a number of a key value pair

[2022-01-07 21:36] markfields commented on #2903
@chensixx Heads up - When you merge that PR this issue will close, but from your last comment it sounds like this issue should live on until the final removal is done.

[2022-01-07 21:48] markfields commented on #8069
Ok cool.  Removing design-required label and leaving in Jan to execute on.

I'm realizing that this whole concept of "driverVersion" has a lot of assumptions built-in in terms of how the packages are consumed and bundled by our partners.  @heliocliu I wonder if we should formalize a concept of groups of packages where the code is assuming that package A will be bundled with package B of the same v

[2022-01-07 22:07] vladsud commented on #8069
I'd love to see some pragmatic solution here soon :) Yes, there are multiple packages, but I'm not sure we have to look for absolutely correct solution that takes into account future possibilities of shipping packages with different versions.
Clearly, we do not do that when reporting runtimeVersion, even though we do support mix & match of container runtime and data store runtime with N/N-1 & N/N-

[2022-01-07 22:23] heliocliu commented on #8069
That's definitely something we'll need and is part of the broader question of how we publish announcements of new releases.  I think the idea of two packages being bundled with the same version of each other is already captured with the existing group structure (e.g. "client" packages) and just needs to be listed as such in any release notes.  Packages that expect certain but different versions of

[2022-01-07 22:42] ChumpChief opened #8684 "Clean up map/directory waits throughout examples and tests"
Followup from #8673

In most cases `.wait()`ing on a map/directory key is a hint of buggy behavior, as it's frequently possible for the `.set()`ing client to error, leaving the waiting client in a permanent waiting state with no clear recovery path.

Some of our examples/tests currently rely on waits.  We should fix these, but it's non-trival (typically a rewrite of the initialization flows).  Ope

[2022-01-07 22:56] anthony-murphy commented on #8069
i think this is getting over complicated. whatever code is running can know its version, via our genver stuff. layers should just stamp their version on error and logs. won't that be enough? then it doesn't matter how things are composed

[2022-01-07 23:05] chensixx opened #8686 "SummaryMetadataMismatch error hit many times in one doc (dataCorruption)"
## Describe the bug

We found one document that had multiple `summaryMetadataMismatch`  errors with 2 users, first in Dec, now in Jan.
We hope to figure out what's going on and fix the document
the docId is  `XSs2e2uC9oUVZL40Si56gGB12ZyJwRL8IGx82wfvHDE%3D`

### Logs

Logs of the errors hit in Januarary
|Data_eventName	|Data_message	|Event_Time|
|-----|--------|--------|
|fluid:telemetry:Container:

[2022-01-07 23:20] markfields commented on #8489
Let's give it the value `"driverUsageError"`

[2022-01-07 23:36] vladsud commented on #8069
Yep, simple is better here. We will have plenty of opportunities to make it complex if we need to :)

[2022-01-08 00:24] anthony-murphy commented on #8165
@chensixx  is there still work here? if so can you move to the jan milesone, otherwise close it

[2022-01-08 00:37] markfields opened #8687 "Epic: Observability improvements around performance"
Breaking out a new future Epic for perf telemetry, these items were previously tracked in #7999.

Perf Telemetry Instrumentation
- [x] #7982
- [x] #7983

Perf Info API
- [x] #2293
  - (Not sure what, or whether we are doing anything for this one yet, but having it here to drive conversation on how to service perf information, API? telemetry?, etc.)
- [ ] #6438
  - Added to track related topic.  No

[2022-01-08 00:51] markfields opened #8689 "Epic: Observability Improvements to aid reliability efforts"
Reincarnation of #7999 for the next few months

Error Instrumentation

- [x] #7816
- [x] #8069
- [x] #8504
- [x] #8743

API updates

- [x] #7138
- [x] #8502
- [x] #8623

[2022-01-08 00:55] markfields commented on #7999
Remaining open items were moved to other epics, e.g. #8689, #8260, and #8687

[2022-01-08 00:55] #7999 closed

[2022-01-08 01:38] pleath commented on #8686
The looks like a failure that we've hit before: #8066. We haven't yet discovered a root cause.

[2022-01-08 01:41] pleath commented on #7518
This seems to be related to the old 10K ops issue, and possible fixed?

[2022-01-08 01:42] #7518 closed

[2022-01-08 01:56] pleath opened #8690 "Shared String: Obliterate op"
## Feature
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Existing work**

**Describe alternatives you've considered**

**Additional context**

Scenario
Here's the original ask from a partner:

We recalculate field results and place those results in the SharedString.  If multiple endpoints attempt to update the field at the same time, th

[2022-01-08 02:29] leeviana commented on #8410
Yes, a first class property (or second class generic property bucket property of some sort) would be nice. The core issue is that by checking app/host logs we get driver/API errors that seem to have spguids known to the Fluid Framework system, but not known to the error that surfaces in app/host logs. So it's possible to find the spguids if you know to search the framework logs as a second step af

[2022-01-08 04:44] markfields commented on #8472
Probably close as By Design, but pending design/review on #8260

[2022-01-08 05:56] markfields commented on #8069
Yes, the plan is to do the simple thing this month.

I'm just pointing out that "layer" makes sense in our head, but I'm about to write code that christens the genver result of a single package as the version for that whole "layer", but I can imagine that assumption being broken one day.  e.g. loaderVersion used to be enough for driver code too but then we split them up.  Again. not trying to dist

[2022-01-08 20:41] vladsud commented on #8676
This is by design. Summarizing heuristic tries to balance sending too many summaries vs. keeping too many trailing ops.
@pleath can comment on actual logic, but if you have a single trailing op, and no activity, I think it will take a minute util new summary will be posted. And only if there is a client who is "write" client (which is usually the case in scenario you describe, but not given). If c

[2022-01-09 04:58] markfields commented on #8623
Goal for Jan is just to get a light design written up, will plan to execute in Feb (due to overfull Jan plan)

[2022-01-09 04:59] markfields commented on #8502
Moving to Feb, after design on #8623 is done this month

[2022-01-09 13:22] kumarrus commented on #7935
@markfields I've created a draft PR. Looking forward to your feedback.

[2022-01-10 06:17] #8626 closed

[2022-01-10 07:46] vladsud commented on #7275
@GaryWilber, @tanviraumi , do we have guarantees that initial clients always contain self? If yes, this feature is already implemented.
If no, I do not think we can assume that client will always see itself in audience as signals can be lost. And thus, there is no way to implement it (other than wait and bail out on timeout)

[2022-01-10 08:28] vladsud commented on #7816
@markfields, this item looks lower priority to me that other telemetry & connectivity issues.
I'd suggest pushing it to backlog.
Maybe other way to say it - it's nice to have, can you formulate what would happen if we (let's say) never address it?

[2022-01-10 08:37] vladsud commented on #8031
@jatgarg , I think logically this item should belong to another EPIC - enabling binary snapshot epic.

[2022-01-10 08:40] #8622 closed

[2022-01-10 08:54] vladsud commented on #4683
@scarlettjlee, since you have been poking in this area (indirectly), I hope you do not mind if I assign this item to you.
I've just added an item on your plate (https://github.com/microsoft/FluidFramework/issues/8652) to this Epic.

We can chat more about details, priority, and what else needs to be included into this Epic.

[2022-01-10 09:11] vladsud commented on #6686
Most of the items here are either fixed, or tracked in other EPICs, or likely need better home. So closing this EPIC

[2022-01-10 09:11] #6686 closed

[2022-01-10 15:06] christiango opened #8693 "Upgrade webpack-dev-server in @fluid-tools/webpack-fluid-loader"
## Work Item
Our repo currently depends on webpack-fluid-loader, which has a dependency on webpack-sev-server v3. This can be problematic as it brings old versions of dependencies like chokidar which can trigger component governance alerts. In the short term, we can dismiss these component governance alerts, but this introduces a risk of us missing real issues down the line for the vulnerable pack

[2022-01-10 16:01] jatgarg commented on #8677
Will take a look probably today.

[2022-01-10 16:08] jatgarg opened #8694 "ODSP Binary snapshot"
## Work Item
The implementation of new binary snapshot format was achieved in odsp driver. It is now enabled for a special name file "WireFormatV1RWOptimizedSnapshot_45e4.fluid".
This track the success of implementation of binary snapshot format in odsp driver by finding/fixing any issues found while testing in production for the above mentioned specific name file. See the rollout for broader file

[2022-01-10 17:10] ssimic2 commented on #8187
@DLehenbauer let us know if you have any further context/comments on this deprecation. It seems there are 3 parts that require consideration:

1. Expose annotation on` SharedMatrix` (rows and columns). It should be fairly straightforward to surface the missing API.
2. Consider ability to create "slices" - something table documents can do. I don't see this widely used though.
3. `createTableWithInt

[2022-01-10 17:12] ssimic2 commented on #8186
Hey @sdeshpande3 can you comment on this one so we can move it forward.

[2022-01-10 17:15] ssimic2 commented on #8271
Hey @sdeshpande3 could you comment on this one so we can move it forward. We chatted about it, just want to make sure we collect all the feedback here.

[2022-01-10 19:17] agarwal-navin commented on #8467
Closed via https://github.com/microsoft/FluidFramework/pull/8635

[2022-01-10 19:17] #8467 closed

[2022-01-10 19:25] GaryWilber commented on #7275
@vladsud There is not guarantee for that in Push. I'm not sure if r11s is the same.

Push grabs the client list before adding the new client and will send that as `initialClients`. Then it sends the room join signal for the new client.
Would you want us to update the logic to always include the new client (self) in `initialClients`?

[2022-01-10 19:38] vladsud commented on #7275
I'd say that based on feedback from our parners, they have really hard time reasoning about order of events and how / when to find self in audience. So, any simplification we can make here is welcome, but needs to be balanced with complexity of service.
I'd say that we have much bigger problem of potentially losing such signals that we talked many times and I think we will need to come back to tha

[2022-01-10 19:43] #8165 closed

[2022-01-10 20:15] scottn12 commented on #8288
The save operation type was deprecated since its introduction in PR https://github.com/microsoft/FluidFramework/pull/6432. The deprecation comment discourages the use of save operations and does not suggest any replacement.

This save operation type is only found in the `handleOp` function (`packages/runtime/container-runtime/src/runningSummarizer.ts`):

[code]

It appears the individual who intro

[2022-01-10 20:32] ssimic2 commented on #8283
Summary here:
1. No usages in partner repos.
2. Given that we do have existing code that is migrating old, shared values to handles when processing incoming ISerializableValue, `getFluidObjectFromDirectory` should only be considering handles.
3. The usage is TableSlice may not be relevant, as we are removing table documents here: https://github.com/microsoft/FluidFramework/issues/8187.

[2022-01-10 20:35] jatgarg commented on #8677
@vladsud Can you please provide access to the document if possible so that I can debug as it seems to be working for me.

[2022-01-10 20:36] markfields commented on #7816
@vladsud - The goal for this month is to remove design-required label, and maybe during that design process I will realize we are ok now.  I know you have been changing this instrumentation a lot in recent releases, and I'm not fully caught up.

But historically these errors have defied aggregation but are very often prominent in the errors list, which makes errors analysis difficult.  I'd like to

[2022-01-10 20:48] jatgarg commented on #8033
I have looked about it on the web. For getBlobs call we need to maintain the browser caching and hence we cannot convert it to a ump post request which will make it non cacheable. In some cases we can cache the post requests, but then it results need to be only used by a subsequent GET request and not by a POST.
Also this is not in critical path. so it can stay as it is. Closing the issue.

[2022-01-10 20:48] #8033 closed

[2022-01-10 21:08] andre4i opened #8698 "Capability to create safely root data stores in attached container mode - rollout support"
Anticipating some fallout from retrofitting existing code (create root datastore) to the new model (create + alias). This story tracks the work needed to catalog the migration and deal with any issues rooted in this migration.

[2022-01-10 21:19] anthony-murphy commented on #5783
closed with #8497

[2022-01-10 21:19] #5783 closed

[2022-01-10 21:50] ssimic2 commented on #8187
Hey @leeviana, TableSlice does not seem used any further in tablero, please correct me if I'm wrong. I do see some older tablero snapshots referencing TableSlice. If that is the case, as we transition to SharedMatrix we probably don't need to consider supporting slicing at this point.

[2022-01-10 21:53] ssimic2 commented on #8292
Thanks @leeviana. I have added this to "needs solutioning" (parent epic) together with https://github.com/microsoft/FluidFramework/issues/3631. I'll dig into this further as soon as we are done with the first pass on deprecated APIs.

[2022-01-10 22:09] #8608 closed

[2022-01-10 23:04] sgarapati07 commented on #8676
Okay I got it. So, when I edit something in the data store, am I considered as a 'write' client ? If I don't edit and just open the data store, then am I only a 'read' client at that point of time ? @vladsud

[2022-01-10 23:05] sgarapati07 commented on #8675
This issue has been resolved and can be closed.

[2022-01-10 23:06] #7615 closed

[2022-01-10 23:06] tylerbutler opened #8701 "Use CODEOWNERS for code ownership"
I want to move us away from the shufo/auto-assign-reviewer-by-files GitHub action and replace it with group assignments​ in CODEOWNERS. The reasons we used the action originally have been addressed by GitHub, and groups will reduce brittleness when engineers gain/lose access to the repo. I piloted this process with the docs folder, and based on the results, I think we can move forward with switchi

[2022-01-10 23:30] tylerbutler opened #8703 "Fluid Framework 1.0: Goals and Plan"
The team will declare a 1.0 version of the Fluid Framework packages before the GA of the Azure Fluid Relay service. In this way, developers can be assured of a stable API surface upon which to build applications that can go live shortly after the service GA’s.

The primary audience for the 1.0 effort is our external (third-party) developer community. Though the effort will benefit all consumers of

[2022-01-10 23:38] anthony-murphy commented on #8032
something to keep in mind here. Options calls are made by the browser automatically for all non-simple requests. I don't think it will be feasible to make all our request simple, so we may not be able to remove options calls: https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS#preflighted_requests

However, we should be able to limit the number of options calls made, as they should be shareable

[2022-01-11 00:19] anthony-murphy commented on #8672
@agarwal-navin this bug will block the release that should happen at the end of this week

[2022-01-11 00:21] agarwal-navin commented on #8672
Yes, I have been debugging this since last week but with no luck. If I can't figure it out before release, we can disable this event.

[2022-01-11 02:27] agarwal-navin commented on #8672
Ok, I finally figured out what's going on. A lot of things has to happen for this to repro and it could only happen in the stress tests, so yay for stress tests :-).

**Repro steps:**
Here are the sequence of steps to repro this issue:
1. Enable GC, have a few data stores and summarize a container. Close the summarizer.
2. Load a new summarizer with GC disabled, update a few data stores (not all)

[2022-01-11 02:37] leeviana commented on #8187
Yes, I believe that was removed at some point. Technically because there's no Framework "op upgrader" story, I think we'd still need some component around that responds to the TableSlice component type string and has TableSlice looking DDSes for back compatibility in those documents (among other things, the summarizer running on a document from the beginning of time will crash the document if it c

[2022-01-11 06:00] #6643 closed

[2022-01-11 06:00] #4700 closed

[2022-01-11 06:05] vladsud commented on #8676
Depends. When you open document, you get read connection and maintain read connection until some change is made in container. Latter triggers upgrade to write mode. Write mode is maintained for some time and downgraded back to read after some delay. Rinse and repeat.

[2022-01-11 12:36] jatgarg commented on #8677
Seems like this is caused by the ChunkedOp. Seems like we don't have the ability to process the chunked op in fetch tool.

[2022-01-11 15:56] jatgarg commented on #8694
From @WilliamTao:
1.) Confirm single file end to end flow – debugging to root cause this week, we enabled this in late November and the test file ended up taking down PUSH briefly.
2.) Service side cache support for wire format – in PR
3.) ContentType/Accept header support for the GetLatest API in Vroom Layer and SPO code – targeting end of Jan. Client side will need to do some work to support thi

[2022-01-11 16:16] tylerbutler commented on #6643
I double-checked and this no longer repros.

[2022-01-11 17:42] #8318 closed

[2022-01-11 17:43] ChumpChief commented on #4334
Removing my assignment as I'm not currently planning to look at this.

[2022-01-11 17:48] sumedhb1995 opened #8708 "(IContainer Updates Phase 3) Op processing management: resume, deltaManager"
**Requirement**

Client applications require a way to manually control when ops are being processed. This is useful both from a UX perspective, i.e. how FFX uses it to process ops prior to rendering a view, and for control over a test harness. One of the most extensively used classes in our end-to-end-tests is the loaderContainerTracker which exposes an API for tests to use when they need to resum

[2022-01-11 17:49] sumedhb1995 opened #8709 "(IContainer Updates Phase 3) Audience inspection: audience, clientId"

[2022-01-11 17:49] sumedhb1995 opened #8710 "(IContainer Updates Phase 3) Read-only & connection state management: setAutoReconnect, forceReadonly"

[2022-01-11 17:53] ChumpChief commented on #8683
We might also want to do this with counter.  It also hasn't been a good scenario match, serves more as an example than a real tool.

[2022-01-11 18:00] #4429 closed

[2022-01-11 18:35] ChumpChief commented on #8288
I don't have context, maybe @vladsud does?  I'm not aware of a time when we triggered summaries via ops, looks like remaining usage is some dead test code.

It looks like `MessageType.Save` should also be deprecated/removed along with it if this is removed.

[2022-01-11 18:43] #8270 closed

[2022-01-11 18:46] sgarapati07 commented on #8676
okay, so its not something that we control but what fluid controls ?

[2022-01-11 19:06] scottn12 commented on #8288
I definitely agree that we should deprecate/remove `MessageType.Save` as well if we go forward removing the save operation completely. The only other use of this enum is here: https://github.com/microsoft/FluidFramework/blob/71304171edf46d8259b8eea055cf0c7cce123a6d/server/routerlicious/packages/test-utils/src/messageFactory.ts#L157
The above line is in a function called `createSave()` which appear

[2022-01-11 19:47] ssimic2 opened #8712 "TableDocument Deprecation: Replace usage with SharedMatrix in FF repo"
`TableDocument` is deprecated. Adapt examples to work with `SharedMatrix` to demonstrate usage.

[2022-01-11 19:51] #8712 closed

[2022-01-11 19:52] tyler-cai-microsoft opened #8713 "Add Documentation of the 2-day snapshot cache expiry"
## Work Item
Add documentation of the 2-day snapshot cache expiry
Here's the thread that led to this issue https://github.com/microsoft/FluidFramework/pull/8648#issuecomment-1009298237

[2022-01-11 19:53] ssimic2 opened #8714 "TableDocument Deprecation: Surface annotation API in SharedMatrix"
`SharedMatrix` needs to support annotation to allow usage in place of deprecated `TableDocument`.

[2022-01-11 19:56] ssimic2 opened #8715 "TableDocument Deprecation: Replace usage with SharedMatrix in partner repos"
Replace `TableDocument` usage with `SharedMatrix` in partner repos.

[2022-01-11 20:07] sdeshpande3 commented on #8186
`raiseContainerWarning()` was deprecated a while ago. It is marked to be private on `packages\runtime\container-runtime\src\containerRuntime.ts`. The property has been defined in few interfaces: `IContainerContext`, `IContainerRuntime`, `IFluidDataStoreRuntime`, `IFluidDataStoreContext`.

Unsure if there should be any alternative for `raiseContainerWarning` or it should be completely removed.

@Ch

[2022-01-11 20:12] sdeshpande3 commented on #8271
@scottn12, did you write down this description?

[2022-01-11 20:19] ssimic2 commented on #8187
Those are from Oct. 2019. I'll chat with you briefly on "op upgrader" story. It seems without that story we have very limited path on finally removing some of the deprecated logic here.

[2022-01-11 20:19] scottn12 commented on #8271
Yes, I did. I Just summarized what I found looking at the message associated with the `@deprecated` tag. I believe the idea is to discourage using the `absolutePath` to access the underlying fluid object, and instead use `get()` for the same purpose.

[2022-01-11 20:22] sdeshpande3 commented on #8271
FYI: @ChumpChief

[2022-01-11 20:25] ssimic2 commented on #8271
@ChumpChief let us know your thoughts here.

It seems it make more sense to leave absolutePath in place.
1. We are tackling the issue Scott mentioned, here: https://github.com/microsoft/FluidFramework/issues/8283. It seems a separate issue.
2. `absolutePath` seems used for other purposes, not just to get the underlying fluid object.

[2022-01-11 20:35] agarwal-navin commented on #8271
We want to remove `absolutePath` because it is being used to route to objects within a container and we want to remove that path.
Basically, the handle's `absolutePath` is stored in a DDS and is later used to get the underlying object by calling `request` on the path. All internal routing to objects within a container should be done via storing / passing handles and calling `get` to the underlying

[2022-01-11 20:59] ChumpChief commented on #8186
I believe Vlad has the latest thinking on error handling flows for the container.

[2022-01-11 21:48] leeviana commented on #8187
Yeah, I think the upgrader story is currently being tracked here, though the need/ask has been around since the beginning of time: https://github.com/microsoft/FluidFramework/issues/8006

For now, we have to keep back compat for all ops and old DDSes forever.

[2022-01-11 22:09] pragya91 commented on #8408
I can work on this. Feel free to assign it to me.

[2022-01-12 00:47] #8549 closed

[2022-01-12 00:51] ChumpChief opened #8721 "Stress tests can't be run locally using Tinylicious"
Found during validation of #8717

`initialize()` from test-service-load assumes it can pass an ID in the attach call and have it honored by the service.  Tinylicious/Routerlicious don't do this (they generate a GUID and respond to the attach call with it).  Probably this should instead pull the `resolvedUrl` from the container after attach, similar to what we do in `getTinyliciousContainer()`.  Ne

[2022-01-12 01:13] pleath commented on #8545
Some notes about requirements and implementation. (I'll add to these as time permits):

1. Rolling back should have no visible impact on DDS's. (Non-observable impact, such as empty/orphaned DDS that are ultimately GC'd, is okay.)
2. Clients other than the one performing the Rollback shouldn't see changes, e.g., content shouldn't appear on other clients and then disappear when rollback happens. Th

[2022-01-12 01:16] ChumpChief opened #8722 "Consider options for sanity-checking stress tests in PR builds"
Although we don't want to run the full stress battery for every PR build, it would probably be good to include a cursory validation in PR builds to catch test breaks like the one fixed in #8717.  Even if this used the local driver, only ran a single iteration with one client, etc. this could help protect the health of main against certain regressions.

[2022-01-12 01:26] pleath commented on #8545
Rollback implementation candidate 1: On starting a rollback-able operation, clone the DDS's in the container and make modifications to the clone. On accept, release the ops, discard the original DDS's, and replace them with the clones. On reject, discard the clones.

Pros:
- Conceptual simplicity
- Cloning is non-trivial to implement, but it's a capability that Fluid may want anyway
Cons:
- Silent

[2022-01-12 01:56] sdeshpande3 opened #8723 "rootDataStoreRequestHandler should return undefined instead of create404Response()"
When `rootDataStoreRequestHandler` is passed as a request handler to `buildRuntimeRequestHandler()` and it fails to execute, it returns an error `create404Response()`. This doesn't allow the other request handlers passed after `rootDataStoreRequestHandler` to run.

Instead, `rootDataStoreRequestHandler` should return `undefined` and the next request handler should get executed.

[2022-01-12 09:36] alabaki opened #8725 "Stop using node modules in client-side libraries"
## Update 2022-10-12

We've addressed the url, assert, and events issues. However, `buffer` still needs to be polyfilled in some cases. Still investigating that.

## Describe the bug
Currently, the **azure-client** package and its dependencies **driver-utils** and **container-loader**, are using node-only builtins when it's intended to be a client-side library, therefore it is currently impossible

[2022-01-12 16:47] christiango commented on #8693
@skylerjokiel / @curtisman - could one of you triage this? I suspect this will trigger component governance alerts for downstream repos like it did for our internal repo.

[2022-01-12 17:18] anthony-murphy commented on #8723
this seems pretty bad as rootDataStoreRequestHandler is called out in the breaking as what should be used:
https://github.com/microsoft/FluidFramework/blob/main/BREAKING.md#removed-innerrequesthandler

[2022-01-12 17:24] jatgarg commented on #8032
I am able to make it a simple call and avoid options call. Thanks Marcelo for that.
I see that previously avg time taken by **Join Session Call was 1030 ms + 350 ms for options call**. **Total of 1380 ms.**
With the simple network call, it just takes **400 ms** on average, giving us **savings of about ~1sec.**

[2022-01-12 18:18] ssimic2 commented on #8723
@anthony-murphy what was original idea behind request handlers and usage with `RuntimeRequestHandlerBuilder` ? It looks like builder is expecting previous handler to return `undefined` when deciding if to consider the next handler. If handler was never returning 404 (container/datastore runtime handlers) this may not have been an issue when the handler was the last in the list. But now, if we are

[2022-01-12 21:09] anthony-murphy commented on #8545
This is interesting. I had a very different idea about implementation. Basically, dds support a method like resubmit, but instead it tells the dds to rollback/undo the changes. Then rollback is a global operation, likely on container runtime, but maybe delta manager. We'd probably limit it to only being called while outbound is paused, i'm not sure inbound being paused or not really matters that m

[2022-01-12 22:30] anthony-murphy commented on #8545
Some prototyping:

1.  (Move services to shared object constructor)[https://github.com/microsoft/FluidFramework/compare/main...anthony-murphy:services-in-channel-create]

[2022-01-12 22:39] anthony-murphy commented on #8545
Questions

1. what does `applyStashedOp` do? is it basically apply local/unsequence op?

[2022-01-12 23:26] markfields commented on #8196
This logic has been around forever, see #414.

But looking at an arbitrary session that hits these errors, I tend to agree with @ChumpChief that this may not be the right conclusion:

![image](https://user-images.githubusercontent.com/12305068/149239074-c73bec9c-cd5a-4ed0-b818-c4812e2b82cf.png)

I do think we can classify these errors as "blips" that happen outside of our control, but I'm not sure

[2022-01-12 23:33] markfields commented on #8196
@ChumpChief can you remind us what the recent bad experience was, and how this came into play?  Internal ticket https://portal.microsofticm.com/imp/v3/incidents/details/271367005 mentions this issue but doesn't tell the story.

[2022-01-12 23:33] ChumpChief commented on #8723
Agree this is good to fix immediately, such that it's a good drop-in replacement for `innerRequestHandler`

[2022-01-12 23:48] ChumpChief commented on #8196
I believe in the instance that inspired the bug, there was a DNS outage that was causing fetch failures.  During investigation, the "offline" clue in telemetry was a false lead that slowed us down.

If we get a fetch error, just say fetch error basically.  It may still not be very actionable but at least won't be a red herring.  There are too many things that can cause a fetch error to immediately

[2022-01-12 23:51] anthony-murphy commented on #8723
@ssimic2 the best reason i can give for the way it is in legacy. Way back we just took an array for request handlers, eventually that got factored out into what it is now. It was never really meant to be a full-fledged solution, as i don't think we want to own routing. It's actually a bummer that aqueduct is coupled to it at all, as the original change was meant to allow people to plug in their ow

[2022-01-12 23:55] ChumpChief commented on #8196
Example, while fully online:

[code]

[2022-01-13 00:21] #8723 closed

[2022-01-13 02:09] tylerbutler commented on #8725
@alabaki Do you have a project reproducing this that you can share?

[2022-01-13 03:13] ssimic2 commented on #8277
@jatgarg I do not see direct dependency mfs-loader had on `@fluidframework/protocol-definitions`, even back in Sep/Oct. Let's chat about this offline just to be clear about the root cause here.

@vladsud looking at Kusto telemetry, the lowest loader version logged during the last 60 days was 0.45.2. And all of this was "Demo Host" which is our tests.  Beyond that, the lowest version out there is 0

[2022-01-13 05:42] ssimic2 commented on #8268
@agarwal-navin could you please help us clarify this item. I see `IOdspResolvedUrl` being contained to odsp driver. Loader treats any ODSP resolver as generic `IUrlResolver`. And I don't see how this touches loader/runtime boundary. So, I'm not sure about the meaning behind this "The property can be replaced only when host/apps are using loader version >= 0.50." reference.

[2022-01-13 05:45] tylerbutler commented on #8657
@bekell We'd likely prefer the simpler `"repository": "github:microsoft/FluidFramework"` form. I assume that would satisfy downstream tooling.

[2022-01-13 06:00] #4265 closed

[2022-01-13 06:37] ssimic2 commented on #8286
These efforts don't seem blocked on loader/runtime compat. issue:
1. Work around removing snapshot on Container and container context (loader)
2. Reworking snapshot tests. I'm guessing this will be additive work, keeping existing snapshot validation.
3. Replay-tool work (related to 2.)

What is blocked is us removing runtime API, which is gated by above work + some wait time to flush the usage. Cu

[2022-01-13 06:56] alabaki commented on #8725
@tylerbutler Please refer to:
https://github.com/alabaki/azure-client-issue

npm install
npm run dev

[2022-01-13 17:36] ssimic2 commented on #8450
After chatting with @DLehenbauer, this will be tackled as a separate effort that needs more considerations.

[2022-01-13 17:36] #8450 closed

[2022-01-13 17:40] vladsud commented on #8196
There is no way to detect reliably offline in the browser (even most trivial case like no connected network adapter).
Generic error like "TypeError: Failed to fetch" historically make people push bugs our way with narration similar to "that's FF bug"
I do not want to deal with them :) So similar to evolution of fileNotFoundOrAccessDeniedError (error returned on 404) that started to be fileNotFound

[2022-01-13 17:50] ssimic2 commented on #8271
Yes, it seems like RemoteFluidObjectHandle is also using this field to complete `get` calls. If this field is derived out of serialized (existing snapshot) data, I'm not sure how we can remove it and still ensure data persistence compatibility. I could be wrong here.

I'll add it to "Needs Solutioning" for now.

[2022-01-13 17:53] #8417 closed

[2022-01-13 18:01] anthony-murphy opened #8739 "SharedIntervalCollections Reconnect/Resubmit Correctness"
Looking at the code in
 - packages\dds\sequence\src\sharedIntervalCollection.ts
 - packages\dds\sequence\src\sequence.ts

both see to just resend the original message in reSubmitCore to the interval map. This doesn't seem right. The op should be regenreate as the undelying sequence could have changed. This may only be a problem in sequence. the first step is to add tests for both.

[AB#48](https:/

[2022-01-13 18:31] agarwal-navin commented on #8268
@sdeshpande3 Can you please add some description to this issue. It's not clear what this issue is trying to do.

@ssimic2 I believe you are right - we need to only maintain the compat of `IUrlResolver` and hence `IResolvedUrl` across loader-driver boundary. The problem with `IOdspResolvedUrl` and `OdspDriverUrlResolverForShareLink` is that it is used directly by FFX and I think they are doing it i

[2022-01-13 18:32] bekell commented on #8657
The downstream tooling we've written relies on an object in the repository field instead of a string. However, this could arguably be considered a bug on our tooling since the shorthand version you provided is an acceptable format according to NPM docs.

Ideally we'd prefer if it was in object format, but understandable if you prefer the simpler shorthand format. We'll update our tooling if you en

[2022-01-13 18:49] #8663 closed

[2022-01-13 18:51] #8494 closed

[2022-01-13 19:16] anthony-murphy commented on #8690
annotate seems like it would be the solution here

[2022-01-13 19:33] pleath commented on #8690
Are you saying we could annotate the delete op to indicate that it should have the obliterate semantics? Or something more complicated?

[2022-01-13 19:35] anthony-murphy opened #8740 "Log error when the next op is close to last known seq, but took a long time to be found"
We recently fixed a race condition around read client connection where it would not recognize that there are outstanding ops and would not poll for them. On receipt of a new op at some point in the future it would recognize the gap, and pull down all the missing ops.

We should try to detect this and log an error. We likely need to use op timestamps where to compare the distance in time between th

[2022-01-13 19:37] anthony-murphy commented on #8690
No. the data they want to obliterate should be stored as annotations, either on the text or in a marker. annotates work like maps, last write wins, which seems like the behavior they want.

[2022-01-13 20:09] pleath commented on #8690
I see.

[2022-01-13 20:33] markfields opened #8743 "Error props canRetry and retryAfterSeconds should not be set on arbitrary error objects via any"
Here's an example:

https://github.com/microsoft/FluidFramework/blob/main/packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts#L542-L551

The problem is that elsewhere in the code (the `normalizeError` function) we make the assumption that the only properties that we can safely preserve on an untrusted error object are `stack` and `message`. So if an untrusted error gets stamped with `ca

[2022-01-13 20:46] ChumpChief opened #8744 "Remove deprecated .wait() APIs"
Followup to #8663

Once the deprecation has been included in a release, we can remove the deprecated APIs.

[2022-01-13 21:31] skylerjokiel opened #8745 "azure-client support for long connected sessions"
## Overview

Fluid Framework has a default behavior of reconnecting a container when a web socket expires or loses connection. This can result in long running sessions when a user leaves a tab open. These long-connected sessions cause additional load on the server and result in additional COGS for our customers.

## Key Result
- There are exposed APIs that enables developers to connect, disconnect

[2022-01-13 21:34] vladsud commented on #8288
I do not think we ever used MessageType.Save flow. I mean - code was probably there, but I do not think any scenario was ever dependent on it.
There are other ops there that are questionable / should probably be removed.
RemoteHelp, RoundTrip seems to be not used at all.
I know nothing about Control.

[2022-01-13 21:35] agarwal-navin opened #8747 "Add a basic user facing GC document"
Add a document that describes the phases of GC at a high level and also describes how Fluid objects should be marked referenced / unreferenced.

[2022-01-13 21:59] scottn12 commented on #8278
Closing this issue. This API is already being addressed via https://github.com/microsoft/FluidFramework/issues/8273.

[2022-01-13 21:59] #8278 closed

[2022-01-13 22:06] xinyxu opened #8748 "Use refreshSessionDurationSeconds in JoinSession response to recall JoinSession"
## Feature
**Is your feature request related to a problem? Please describe.**
We will send a new field **refreshSessionDurationSeconds** in JoinSession response. Change is here https://onedrive.visualstudio.com/OneDrive%20Service/_git/VroomCore/pullrequest/865522. This is the time span client is allowed to connect to Push session. Client should use this value to recall JoinSession in time to keep

[2022-01-13 22:47] tylerbutler commented on #8725
@alabaki Thank you! I was able to get past the node dependencies by including the polyfills. My fork of your repo is [here](https://github.com/tylerbutler/azure-client-issue) if you want to see those changes. I'll use this issue to track getting the full list of node deps and either removing them or replacing them with isomorphic code.

Anyway, the polyfills will unblock the build, but there is st

[2022-01-13 22:51] tylerbutler commented on #8298
I haven't done an exhaustive search but where I spot-checked, we're using it in test code but not the source. But I doubt we're hygienic. :) Related to #8725.

[2022-01-13 22:52] tylerbutler commented on #8725
Related issues:

#8298
#4843
#6623

[2022-01-13 23:02] markfields commented on #8260
# Design Proposal (DRAFT)

## Leveraging errorType

errorType is already pretty close to what we need for distinguishing errors by source, but it has some issues.

* "genericError" can mean anything (error we raised, error passed to Container.close by host, unknown error passed to normalizeError)

Practically speaking, we will identify a mapping from errorType to a courser classification of "sourc

[2022-01-14 01:19] tylerbutler commented on #8298
The packages that it's complaining about are server packages, though, which should be fine to depend on node stuff. @Zlatkovsky Do you know why Webpack was packing server libraries?

[2022-01-14 01:21] markfields commented on #8260
@vladsud - Please review the design draft above and leave comments.  Thanks, see you next week!

[2022-01-14 01:56] #8652 closed

[2022-01-14 04:49] markfields commented on #8410
@leeviana - I have a suspicion that if you check for the function `getTelemetryProperties` on an error and call it if present, you'll get this when it's there.

I've had it in my mind to visit the error logging code in Bohemia to do something like this.  Feel free to open an ADO item and assign it to me (or try it yourself of course!).

If that would do it, then let's close this.

[2022-01-14 04:57] markfields opened #8755 "Dubious switch fallthrough case in undo-redo"
_Originally posted by @markfields in https://github.com/microsoft/FluidFramework/pull/8685#discussion_r781673019_

[2022-01-14 06:00] #6297 closed

[2022-01-14 08:04] alabaki commented on #8725
@tylerbutler Thank you! I believe you didn't push your changes to the forked repo, however, I also replaced the url module with a polyfill and it solved that issue. Regarding the debug package issue, I included the **@types/debug** package and now it's building properly, you can refer to the repo to see the changes.

But just like you mentioned, all node modules need to be replaced. Thanks for the

[2022-01-14 12:58] tylerbutler commented on #8725
@alabaki You're right, I forgot to push to my fork. 🤦🏻‍♂️ Thank you for sharing the changes you made to get unblocked!

[2022-01-14 17:09] #8721 closed

[2022-01-14 17:43] anthony-murphy commented on #8755
there aren't enough details here, and the link to the code doesn't work for me

[2022-01-14 18:15] wes-carlson commented on #8755
https://github.com/microsoft/FluidFramework/blob/787ab708edc7ca6dad63c988f880b5c4ada485dc/packages/framework/undo-redo/src/sequenceHandler.ts#L118-L129

[2022-01-14 18:25] ssimic2 commented on #8268
@agarwal-navin are you referring to the use cases where host (for example office web host) is passing resolver & documentServiceFactory to the Loader constructor, instead of a driver type? Or these are some references to custom loaders FFX created?

On the runtime side I see Bohemia is using `IOdspResolvedUrl` and `OdspDriverUrlResolverForShareLink ` to create URLs or inspect URLs that were alread

[2022-01-14 18:44] sdeshpande3 commented on #8268
The PR for this issue was reverted back when we came across this bug: https://teams.microsoft.com/l/message/19:53328301da384b33bcc81111124e3ab4@thread.skype/1637275433228?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&groupId=422665a0-7ad3-4d0d-9171-e8881d0397d9&parentMessageId=1637275433228&teamName=FFX%20(Fluid%20Framework%20and%20Experiences)&channelName=Bugs%20%F0%9F%90%9B&createdTime=163727543

[2022-01-14 18:51] anthony-murphy commented on #8755
yeah. looks like a bug. obviously, no one is using this :)

[2022-01-14 18:56] vladsud commented on #8268
URI resolver belongs to host layer (i.e. host packages however they want URI resolvers).
Same for Loader.
(If they chose to dynamically deliver any of these parts, it's their problem to own).

We promise that (ODSP) Driver factor can ship dynamically. I.e. driver interface (exposed to loader & runtime) and interop between resolved URI and driver factory crosses compat line - we need to ensure that

[2022-01-14 19:04] sdeshpande3 commented on #8186
@vladsud, can you provide some feedback on this one.

[2022-01-14 19:13] vladsud commented on #8186
As much as possible - remove these concepts from runtime. I've added it, and I believe it was a mistake (the concept as a hole).
I've removed usage in previous PRs, so it should not be that hard to remove these concepts from runtime.
And (given that latest versions of runtime as not using I - please check it), it should be removed from loader APIs (i.e. IContainerContext)

[2022-01-14 19:45] tyler-cai-microsoft opened #8765 "Plum the Cache Expiry to the Container Runtime from the Driver"
## Work Item
Garbage collection needs to know the snapshot cache expiry timeout in the runtime in order to calculate when sweep can be run.

[2022-01-14 20:21] ssimic2 commented on #8268
Thanks @vladsud. If I understood this properly, the host could have used odsp-urlResolver that was referring to some **older odsp** driver's OdspDriverUrlResolver. While at the same time using OdspDocumentService from a **new odsp** driver's package? I'm assuming driver factory simply means document service factory.

[2022-01-14 20:26] agarwal-navin commented on #8268
The interop between resolved URL and driver layer is for `IResolvedUrl` right. However, in this issue, the interface in question is `IOdspResolvedUrl` which is derived from `IResolvedUrl` and seems to be a driver layer detail that is not exposed to the loader layer.
We should guarantee that `IResolvedUrl` supports back-compat across driver-loader but not `IOdspResolvedUrl` right?

[2022-01-14 20:29] #8677 closed

[2022-01-14 20:39] jatgarg commented on #8268
I think it is actually the back-compat between older and newer odsp resolver. Maybe we can just fix it when creating the driver instance from factory and assign to the newer field if only present in the older field within the resolved url.

[2022-01-14 22:00] ssimic2 commented on #8268
The issue here seems that `documentService` (via `fetchSnapshot` and subsequently `redeemSharingLink`) is using IOdspResolvedUrl  given by an old resolver. So this particular issue was between new odsp driver and an old odsp resolver.

@agarwal-navin @jatgarg what are the compatibility guidelines here? any old resolver needs to work with new driver (forever sort of compatibility) or min version as

[2022-01-14 22:15] vladsud commented on #8268
There is no different in IResolvedUrl vs IOdspResolvedUrl when talking about ODSP layer. These constructs exist only at compile time. The resulting object satisfies both interfaces.

Resolved URI maybe coming from older code and used by newer driver factory (and thus driver instance). That's the only versioning concern I'm aware relates to it.

@ssimic2, I'd not look at internal APIs if driver lik

[2022-01-14 23:03] bancroftway opened #8767 "Please add Blazor components for Fluid Framework"
While examples exist for other front-end frameworks like Angular, React and Vue, it would be nice to also have components to use Fluid framework from Blazor.

[2022-01-14 23:14] ssimic2 commented on #8268
Thanks @vladsud. And yes, `fetchSnapshot` traces back to the first bucket, since the IResolvedUrl/IOdspResolvedUrl (that is uses) has been passed via driver factory (`OdspDocumentServiceFactoryCore.createDocumentService`). So, essentially, resolved URI can be coming from older code.

And I see what you are saying about `prefetchLatestSnapshot`, this is great info.

We should be able to learn from

[2022-01-14 23:35] ssimic2 commented on #8714
After chatting with @leeviana and @DLehenbauer, this may not be needed. V2 tablero tables are already relying on SharedMatrix.

[2022-01-14 23:35] #8714 closed

[2022-01-14 23:36] ssimic2 commented on #8715
Closing. No further work needed here.

[2022-01-14 23:36] #8715 closed

[2022-01-14 23:49] ssimic2 opened #8774 "Remove deprecated APIs related to compatibility of persisted data"
This epic tracks the deprecated API work that is purely blocked around the topic of compatibility of persisted data. Please include only the work that is related to final removal of deprecated API once unblocked on compatibility issue. In other words, the usage of this API across any examples & partner repos should have already been removed/substituted, prior to a ticket landing here.

- [x] #8282

[2022-01-14 23:58] ssimic2 opened #8775 "Remove Deprecated TableDocument"
The `TableDocument` class and associated interfaces have been deprecated. The work around removing dependencies around `TableDocument` was captures here: https://github.com/microsoft/FluidFramework/issues/8187. Currently we are blocked on a partner integration (Tablero V1) using this TableDocument across some of the older snapshots, therefore persisted data compatibility needs to be resolved first

[2022-01-15 00:01] #8187 closed

[2022-01-15 00:09] ssimic2 commented on #8271
Let's track all the "Persisted data compatibility" tickets here: https://github.com/microsoft/FluidFramework/issues/8774

[2022-01-15 00:44] leeviana commented on #8410
Hmm, I think we actually explicitly don't log whole bags of properties on errors (with helper code originally copied from the framework) to prevent PII leakage. Is getTelemetryProperties specific to the framework? Is there maybe some generic bucket of properties we can use to check for a specific field and log it explicitly.

We have something functionally equivalent to this to protect against ove

[2022-01-15 17:15] vladsud commented on #8268
We support what we test. I believe LTS=0.47 (if not, probably time to bump to it)
I think we test all directions, though practically odsp driver is not older than loader
And testing odsp driver is hard, I think (Curtis will have more info here) such testing with odsp driver happens outside of ci loop because it’s not stable / there are failures. Basically we run all the same tests we run in ci loo

[2022-01-15 18:45] ssimic2 commented on #8268
Thanks @vladsud. Since host (like OWH) can import resolvers (via drivers packages in the case of OWH) separately from loaders, I'm guessing you are assuming whenever they bump loader dependency, they would also bump dependencies for all other fluid packages (including driver package). Therefore reference to loader/driver compatibility, although this is really compat. between older resolver (that c

[2022-01-16 00:10] ssimic2 opened #8784 "Follow up work to remove references to IOdspResolvedUrl.sharingLinkToRedeem"
Follow up work to remove backward compatibility code related to: https://github.com/microsoft/FluidFramework/issues/8268, and effectively remove all references to `IOdspResolvedUrl.sharingLinkToRedeem`.

The older `IOdspResolvedUrl.sharingLinkToRedeem` references are currently still valid, as older odsp resolvers may still be consumed by hosts that are relying on newer (often service loaded) odsp

[2022-01-17 06:00] #6709 closed

[2022-01-17 06:00] #6462 closed

[2022-01-18 00:48] Zlatkovsky commented on #8298
@tylerbutler , no, I'm not sure why it was happening. If someone on your end is able to take a look, I'm happy to help set them up with a repro...

[2022-01-18 18:23] Zlatkovsky commented on #8298
@tylerbutler , looks like we just ran into a similar thing with the "url" package dependency as well. E.g., https://github.com/microsoft/FluidFramework/blob/main/packages/loader/container-loader/src/utils.ts has an `import { parse } from "url"`, but does not declare a "url" dependency in its [package.json](https://github.com/microsoft/FluidFramework/blob/main/packages/loader/container-loader/packa

[2022-01-18 21:14] scottn12 commented on #8489
@markfields @chensixx is there currently any work in progress to introduce this `DriverErrorType.usageError` enum? If not, I'm happy to make the changes necessary

[2022-01-18 22:03] skylerjokiel opened #8790 "azure-client load from cached state"
Loading a Fluid container is a long poll as it requires downloading a snapshot of the container. Instead of downloading this snapshot can it be stored locally (either by the framework or the developer) and provided on load time to prevent a round trip.

The outcome of this work will be faster performance on container boot.

## Existing work
The framework already supports boot from snapshot. This w

[2022-01-19 00:14] markfields commented on #8489
@scottn12 - Thanks for the offer, assigning to you, as we are focused on other items so far this sprint and you should be able to easily unblock yourself.

[2022-01-19 01:16] tylerbutler commented on #8298
@Zlatkovsky I think the real ask is to not rely on node libraries. #8725 tracks that. #8760 should address the url module, but assert was already moved to an isomorphic implementation in #6623. So I am not sure why assert is causing you issues. The package.json is correct in those cases -- we don't depend on the assert module, but rather our own implmentation Can you trace the dependency chain in

[2022-01-19 04:29] #5331 closed

[2022-01-19 06:33] ssimic2 commented on #8277
@jatgarg I don't see direct dependency mfs-loader has on protocol-definitions. Or OWH having direct dependency on mfs-loader.

To run a quick test, I picked bohemia commit where Kenneth moved protocol-definitions to ^0.1025.1 (url change reverted in protocol definitions), then I pinned protocol-definitions to 0.1025.0 across entire project (0.1025.0 having url removed in protocol definitions). I d

[2022-01-19 15:44] jatgarg commented on #8277
Ok. You can proceed with the change.

[2022-01-19 15:55] skylerjokiel opened #8797 "read to write state transition need to be <1 second"
It's been reported by partners that the user state transition from read to write mode can come with up to a 7 second delay. This was reported using Azure Fluid Relay where an op was not seen for 7 seconds while transitioning. I don't have further details of how this was measured.

There could be multiple factors to this including the need to get a new token, handshake with the server and establish

[2022-01-19 17:13] kailui commented on #8797
I am the partner who reported that 7-second latency of the first Fluid op.

In my scenario, I use Fluid + FRS to sync document model data between a browser and a service.
The flow is something like this:

1. Server creates a new empty Fluid container.
2. Server sends the Fluid document ID to the browser.
3. In parallel, server loads the Fluid container with document data.
4. Browser gets that data

[2022-01-19 20:06] pleath commented on #8581
Discussed this with @anthony-murphy and others, and we're going to table this for now. The API I had in mind seems rife for abuse. If we want to give people a way to trigger an on-demand summary in the presence of an elected summarizer, we'll think of another way.

[2022-01-19 20:06] #8581 closed

[2022-01-19 20:19] anthony-murphy commented on #8489
this seems really odd to me. why is usageError better than generic error. usageError seem likely to be semantically incorrect in most cased

[2022-01-19 20:25] #8268 closed

[2022-01-19 20:42] #8755 closed

[2022-01-19 20:52] leeviana commented on #8274
Update, I believe we have refactored our way out of the containerPath dependency using Loader.request() in our repo instead, so this can be safely removed :)

[2022-01-19 20:56] markfields commented on #8489
@anthony-murphy - usageError is for parameter validation or other checks to ensure invariants/preconditions are met by a caller.  I don't see why it's surprising that driver APIs would want to raise this kind of error.  Can you articulate what your concern is a bit more?

I responded to your comment in the PR asking for examples of where to use it. Looking through the code there are additional pla

[2022-01-19 21:17] scottn12 commented on #8508
Closing this issue since, see https://github.com/microsoft/FluidFramework/issues/8274#issuecomment-1016858804

[2022-01-19 21:17] #8508 closed

[2022-01-19 22:32] #8032 closed

[2022-01-19 22:32] #8031 closed

[2022-01-19 22:44] pleath commented on #8676
Vlad is right about the underlying heuristic. With no activity, we won't re-summarize. With low activity, we'll summarize after 1 minute.

[2022-01-19 22:47] pleath commented on #8676
Closing for now, since the observed behavior seems to be by design.

[2022-01-19 22:47] #8676 closed

[2022-01-19 23:03] #7226 closed

[2022-01-20 06:00] #6752 closed

[2022-01-20 14:31] #8511 closed

[2022-01-20 14:31] scottn12 commented on #8510
Closing this issue to consolidate work items into https://github.com/microsoft/FluidFramework/issues/8548

[2022-01-20 14:31] #8510 closed

[2022-01-20 18:01] #4421 closed

[2022-01-20 18:03] ChumpChief opened #8817 "Remove deprecated IContainerContext.getSpecifiedCodeDetails() and implementation"
- [x] Remove usage from partners - done, but needs some bake time for new code loader to become ubiquitous
- [ ] Remove interface and implementation

[2022-01-20 18:04] agarwal-navin opened #8818 "Disable snapshot cache expiry in the driver if GC is disabled via runtime options"
Based off of the comment here - https://github.com/microsoft/FluidFramework/pull/8763#discussion_r786210145.

The snapshot entries in the cache in ODSP driver are expired today. This was added by https://github.com/microsoft/FluidFramework/issues/7925 and is required so that GC can safely delete objects that are unused.
However, if GC is disabled, we may want to not expire cache entries since we d

[2022-01-20 19:11] #8438 closed

[2022-01-20 20:02] agarwal-navin commented on #4683
@scarlettjlee I added https://github.com/microsoft/FluidFramework/issues/4728 to this list. Please feel free to remove  it from here if it seems not relevant to this epic.

[2022-01-20 20:15] markfields opened #8821 "Stop using ErrorType enums in base error interface/type definitions"
_[edit: per conversation below, the outcome here may be in the opposite direction from the original statement.  Stay tuned]_

In https://github.com/microsoft/FluidFramework/pull/8803 I realized that since we constrain the type of `errorType` in our error interface/type definitions, any change to the enum breaks backwards or forwards compatibility, potentially in a lot of places.

As far as I see i

[2022-01-20 20:16] markfields commented on #8821
@anthony-murphy, @vladsud - I need your buy-off here before proceeding with this change.

[2022-01-20 20:28] markfields commented on #8821
I'm remembering there's another value to having `errorType` be specialized, which is automatic type guards based on checking `errorType`.  But... I'm not sure we're actually doing this anywhere in the code, so it seems fine to let go of this feature.

[2022-01-20 20:28] #8672 closed

[2022-01-20 20:29] agarwal-navin commented on #8515
Closed via https://github.com/microsoft/FluidFramework/pull/8734

[2022-01-20 20:29] anthony-murphy commented on #8821
I think consumers also use these, basically they look at errors to see if the string matches a known string (the enum) and then use that to do some action if there is a match. In my mind these enums represent a protocol between the layer that allow consumer to act in certain cases. not all errors can or should be part of this protocol.

[2022-01-20 20:31] anthony-murphy commented on #8821
Moving this to error api is the right path in my opinion. then error type become a clear member of the contract between the layers. unknow things are just thrown, and represent unknown, or unhandelable states.

[2022-01-20 20:31] #8747 closed

[2022-01-20 20:49] markfields commented on #8821
Looking at Office Fluid code, they cast to the specialized error type, and then do checks of errorType against the corresponding enum.  Yes, they'll get some intellisense after casting, but otherwise there's really no benefit over errorType being a string everywhere.  If you're doing the cast, then you know what you're looking for.

Good point to think ahead to that world.  My starting assumption

[2022-01-20 21:00] scottn12 opened #8822 "Type validation fails when removing an interface, unable to disable checks with broken types"
## Describe the bug
If you completely remove an interface from a package, type validation will fail as it is unable to reference `current.<RemovedInterface>`.

### To Reproduce
Steps to reproduce the behavior:
1. Remove an interface from a definitions package (i.e. `@fluidframework/driver-definitions`).
2. Run `npm run build` for the modified package
3. See error (unable to resolve)

### Expected

[2022-01-20 21:01] anthony-murphy commented on #8821
I think we need to consider this protocol. so it needs to be defined. not all errors are in the protocol, then should be a big bucket of unknown things. things in the protocol influence specific behavior in our layers or on the client layer.

[2022-01-20 21:07] ChumpChief opened #8823 "Potential eventual consistency issues with SharedDirectory subdirectory deletion/creation"
This is very long thread, so I've summarized **proposed solutions** at the bottom of this post

## Design and implement events for the creation and deletion of subdirectories.

Also consider that the scenarios in which events are suppressed may be more complex than for key set/delete since the contained values of the subdirectory could end up different.  The logic is more complex than "last write

[2022-01-20 21:38] anthony-murphy commented on #8821
I was re-reading your response, and something i would say is that errorType is a runtime thing, not a telemetry thing. It's about handling know error cases and doing actions in response to errors at runtime. It may also be logged, but it's goal should not be around telemetry. We are also likely inconsistent in this regard today.

[2022-01-20 21:41] markfields commented on #8821
I think it's both.  I don't want so many different bucketing layers.  I'm thinking about your pushback on being strict about the protocol, weighing the convenience of flexibility to modify the values v. the risk of inadvertently breaking partner logic that's expecting certain values.  Today we are kind of in the middle and not really leveraging the strictness.

[2022-01-20 21:44] anthony-murphy commented on #8821
I really think we need to explicit that it is not both. we should never add something to errorType (or equivalent) unless it is leveraged at runtime; we don't add things to the procotol that are not used. we should have alternate mechanism to different errors in telemetry.

[2022-01-20 21:44] markfields commented on #8821
Going to check how many of our errorType values trigger specific handling in Office Fluid code...

[2022-01-20 21:45] anthony-murphy commented on #8821
include our code as well. we use it across our layers

[2022-01-20 21:46] markfields commented on #8821
Not trying to "prove you wrong" btw, just assessing where we're at today against your POV.

[2022-01-20 21:47] anthony-murphy commented on #8821
yeah. i'm definitely pushing an agenda. the agenda is that we need a defined error api, right now the best we have is errorType. i wish it was better, and i'm against making it worse.

[2022-01-20 22:53] markfields commented on #8821
I'd say around half of the enum values are used at runtime across the three enums we've got today, either in our repo or the Office Fluid codebase.  Some switch statements with `// todo`s to add specific handling :P

Some examples today that are unused when handling errors, but are useful in telemetry:

* ContainerErrorType.usageError
* ContainerErrorType.dataProcessingError
* ContainerErrorType.d

[2022-01-20 23:00] anthony-murphy commented on #8821
I'd be more open to an opposite change, lock down error type, it is protocol, remove any non-protocol values. This is our v0 api, and will eventually move to be non-exception based. We log error type, but it is not primarily for bucketing, use some other string, message/errorCode/blah for telemetry bucketing.

[2022-01-20 23:01] markfields commented on #8821
That said, I need some help here with how this will actually play out.  There's a reason that today `ICriticalContainerError` has `errorType: string`, which is of course the mix-and-match of layers in the wild.

If the container wants to be more specific about `errorType`s it's emitting, it's kinda stuck. It can know for sure what's in `ContainerErrorType`, but if it says anything about `DriverErr

[2022-01-20 23:03] markfields commented on #8821
Oh, it's worse than that, because you don't know which driver you're using... :(

[2022-01-20 23:03] anthony-murphy commented on #8821
container-definition references driver-definitions, so has access to the enum, make it is union.

Note: i'd also love these to not be enums, and just be a union type of strings.

[2022-01-20 23:04] anthony-murphy commented on #8821
driver-definitions is for all drivers, and things should be generic there. driver specific errors should probably define their own sub-field that can be leverage for driver aware hosts

[2022-01-20 23:05] markfields commented on #8821
No I get that.  But, at runtime you could have a different version of the driver running and the actual errorType value may not exist in the enum you compiled against.  Is it a matter of how long you stage your changes, so other layers know about a value before it ever shows up in practice?

[2022-01-20 23:06] anthony-murphy commented on #8821
it doesn't really matter in practice, if you know about an error type you can handle it, if you don't it just some unknown thing, which should ideally just be like a typed you don't handle

[2022-01-20 23:07] markfields commented on #8821
Yeah I'm thinking about `OdspErrorType`, which has some important cases that the host handles today.  The Container is never going to reference that type.  So are you suggesting we put these values in a different field from `errorType`?  Hmmm...

[2022-01-20 23:11] anthony-murphy commented on #8821
i agree it isn't ideal. someday the driver method shouldn't normally throw. throwing is a critical error where we close everything down. they should return an object that defines the error, this probably have both strongly and weakly defined portions, maybe there is a medium defined portion, like some generic that specific drivers know, but thats a contract between the driver and host, fluid just

[2022-01-20 23:58] #8054 closed

[2022-01-21 01:16] agarwal-navin opened #8826 "Stress test: `packages is undefined` error"
Lots of `package is undefined` error in stress test runs after #8734 is checked in.
let buildId = "49059";
database("Office Fluid Test").office_fluid_ffautomation_error
| where Event_Time > ago(7d) and Data_hostName  == "@fluid-internal/test-service-load" and Data_buildId == buildId
| project-reorder EventInfo_Time, Data_eventName, Data_error, Data_message, Data_stack

[2022-01-21 06:01] #6732 closed

[2022-01-21 17:59] tylerbutler opened #8831 "no-null/no-null should be disabled in eslint config"
This plugin/rule appears broken/inconsistent in TypeScript and should be disabled. Null checking is also done by the [@rushstack/no-new-null](https://github.com/microsoft/rushstack/tree/master/eslint/eslint-plugin#rushstackno-new-null) and [unicorn/no-null](https://github.com/sindresorhus/eslint-plugin-unicorn/blob/HEAD/docs/rules/no-null.md) rules, so there's no need to find a replacement. We can

[2022-01-21 18:27] ssimic2 commented on #3631
@heliocliu @vladsud  can you help us clarify what the original intention was with this deprecation. @leeviana has shared her comments here: https://github.com/microsoft/FluidFramework/issues/8292, and that ticket would be covered with the solution that we determine here (around `_createDataStoreWithProps` ).

Partner repos seem to be relying on `createDataStoreWithProps` to inject initial config f

[2022-01-21 21:09] #8765 closed

[2022-01-21 21:18] #8826 closed

[2022-01-21 21:22] agarwal-navin opened #8834 "The change in #8734 should be put behind feature flag"
#8734 moved writing the GC state to the root of the summary. However, this may cause issues and should be put behind a feature flag and rolled out in staged.
For example, currently, older documents that write the GC data at root will do so with `disabledIsolatedChannel` as true. They will hit this bug - https://github.com/microsoft/FluidFramework/issues/8826. We cannot enable writing at root until

[2022-01-21 21:27] agarwal-navin opened #8835 "Create a process for dealing with release-blocking issues before releasing"
We need a label for issues that must be fixed before the next release. OCEs and tooling could validate that all such issues are resolved before release.

[2022-01-21 22:26] markfields commented on #8835
I made one:  https://github.com/microsoft/FluidFramework/labels/release-blocking

[2022-01-21 23:22] wes-carlson opened #8836 "messageClientIdShouldHaveLeft"
We have seen a new instance of `messageClientIdShouldHaveLeft`, indicating possible data corruption since we may have resubmitted ops that were successfully submitted originally.

The only loader/runtime version involved is 0.50.4

timeline:
[code]
related: #5866

@anthony-murphy @jatgarg

[2022-01-21 23:56] markfields commented on #8069
I started working on this, but got sidetracked because ConnectionManager (in loader package) is creating Driver Errors. This is not the end of the world, but it sent me off way in another direction of inquiry today.  Plan will be to have driverVersion be required in the constructors still, and pass `""` from outside driver packages.

[2022-01-21 23:57] markfields commented on #8570
I think this may be the reason that in Office Fluid, a few % of sessions never connect, but never report an error.

[2022-01-22 00:00] markfields commented on #8570
The observation is that errors that go through this code path never end up logged in telemetry, and when I stepped through an e2e test exercising the reconnect path, it was obvious why - we say it's retryable, and trigger a connect, dropping the error on the floor!

[2022-01-22 00:45] vladsud opened #8838 "Relay service connection: Correctness"
Correctness:
- [ ] #7772
- [ ] #7964
- [x] #8570

[2022-01-22 01:05] vladsud opened #8839 "ODSP: COGS"
List of items to improve COGS of ODSP scenarios

- [ ] #7732
- [ ] #7145
- [ ] #5629
- [x] #8748

[2022-01-23 16:49] vladsud commented on #4691
@scarlettjlee, can you please glance at this one, since you are looking at tree-based interfaces?
Thanks!

[2022-01-24 19:19] #8822 closed

[2022-01-24 19:26] skylerjokiel opened #8847 "Comprehensive API Docs on ff.com"
Our current API docs are non-functional in the sense that they can't be coherently consumed. We need to have API docs that users can consume and understand from.

Without assigning priority here, or imply solutions, I'd like to collect feedback from the group on what areas/topics are key to improvements:

### General Clarity/Consistency ###

We should consider our public docs holistically, and mak

[2022-01-24 19:37] skylerjokiel opened #8849 "Documentation for building complex application with azure-client"
[Edited on April 15th]

This work tracks 200 & 300 level tutorials/classes on ff.com

To summarize current thoughts here (and collect some feedback from the team):

### Goals ###

As stated above, create a set of examples that allows developers to understand concepts that will allow them to build complex applications with Fluid.

### Assumptions ###

Our documents/examples should reflect the assum

[2022-01-24 19:49] skylerjokiel opened #8850 "Support for Multiple Languages"
There has been a lot of discussion about supporting multiple languages for the Fluid Framework. This is an uber thread for tracking thoughts and discussions around the topic.

Currently the Fluid Framework is only supported to run within the context of a javascript runtime. Fluid relies on all connected clients converging on a singular solutions given a deterministic set of operations. Scoping to

[2022-01-24 20:27] anthony-murphy opened #8852 "IFluidDependencySynthesizer: Remove requiredTypes from synthesize"
The requiredTypes has always been a lie. The code makes a best effort to ensure that requiredTypes exist, but due to the nature of delaying loading it is not possible to truly guarantee that the final value will be defined. We should just move to optional type only, and the consumer can throw, rather than synthesize throwing it cannot evaluate some provider

[2022-01-24 21:34] skylerjokiel opened #8855 "Custom DataObject as a fully supported extensibility point for azure-client"
Currently custom DataObjects are only implicitly supported by azure-client. To provide deeper functionality into Fluid we want to expose this as an explicit extensibility point.

## Concerns/Thoughts
- The existing API surface when building a DataObject is very large
- The patterns for Container/DataObject separation is not clearly laid out
- Current DO creation requires class inheritance which js

[2022-01-24 21:43] skylerjokiel opened #8856 "Routerlicious driver support for long polling fallback"
Currently the Routerlicious driver only supports websockets as the protocol. This work tracks supporting long polling in addition to websockets for creating/maintaining a server connection.

This ask is specifically coming from Azure Fluid Relay customers.

## Issues
- [ ] ...

[2022-01-24 21:57] skylerjokiel opened #8857 "Explicit read/write mode & transitions for azure-client"
This work captures the local connectivity state of a given client and letting the developer control transitions between different states specifically for azure-client.

## Concerns/Thoughts
- This space is not well encapsulated and may make achieving some of these key results impossible without extensive refactoring.

## Key Results
- [ ] Developer can set the state of the user connection when loa

[2022-01-24 22:33] agarwal-navin opened #8859 "GC: Mark aliased data stores as unreferenced"
Follow to the fix for https://github.com/microsoft/FluidFramework/issues/8554.
Once aliasing is enabled, a data store will become root when the "alias" op is received. So, we won't be able to detect its rootiness on getting the attach op. Aliased data stores need to be notified to GC as referenced.

[2022-01-24 22:59] skylerjokiel opened #8860 "Expose op processing & control for azure-client"
Exposing op control has become a critical part

[2022-01-24 23:08] andre4i opened #8861 "Create a mock config implementation for the test object provider"
We have an [configuration feature](https://github.com/microsoft/FluidFramework/blob/main/packages/utils/telemetry-utils/src/config.ts) which can be used for scenarios involving feature gates.

It would be great if we could easily enable developing tests against new feature gates. Currently, this is possible by creating mock setting stores and manually creating the config provider ([example in the

[2022-01-25 00:17] agarwal-navin commented on #8861
We should also have a test implementation of the config provider that can be used by any tests. The test object provider should use that too. There are tests (such as snapshot tests) and tools (fetch and replay) that do not use the test object provider.

[2022-01-25 00:41] markfields opened #8863 "Consider adding an event when Container.resume is called"
As it is now, Office Web Host doesn't have an authoritative way to know when the initial connection is kicked off, because the host may indicate via config that OWH shouldn't call resume after load but leave it up to the host.

There are other ways to solve their problem (e.g. have OWH proxy resume so they know when the host calls it), but it seems like a reasonable event to add when Fluid is load

[2022-01-25 00:45] markfields commented on #8863
@vladsud thoughts?

[2022-01-25 00:48] vladsud commented on #8823
I'm not sure on that. I.e. I'm not sure it's the conclusion I'd jump right away as I think creation (with semantics we have today) is the source of the problem.
For example, if creation op always wipes out content of existing sub-directory with same name AND every op (including creation) mentions identity of sub-directory instance (guid assigned at creation), then
- all ops for "another" instance

[2022-01-25 00:50] vladsud commented on #6069
I think it's a corner case of #8823 and should be closed as dup (with #8823 potentially changing name to reflect it's not just about events).

[2022-01-25 01:20] markfields opened #8866 "Some errors establishing websocket connection appear to result in reentrancy"
This is only by code inspection so far, going to try to repro in a test now. Also, it may be ok - it's not immediately clear to me how this plays out.

Inside `DocumentDeltaConnection.initialize`, if the `disconnect` or `error` events come over the websocket before `connect_document_success`, then two things happen:

1. The class emits the `disconnect` or `error` event, which triggers an immediate

[2022-01-25 01:20] markfields commented on #8866
FYI @vladsud

[2022-01-25 02:12] ChumpChief commented on #6069
This bug tracks making subdirectory creation/deletion eventually consistent, regardless of whether events are added.  I'd prefer to track separately as the former is a data corruption bug whereas the latter is a feature ask to expand scenario support, so it's not obvious to me that we'd prioritize both equally or fix both in a single PR.  I've noted in #8823 that its prerequisite is this bug.

[2022-01-25 02:17] #8039 closed

[2022-01-25 02:34] ChumpChief commented on #8684
For shared-text, see this comment for some initial investigation on that usage:
https://github.com/microsoft/FluidFramework/pull/8673#discussion_r780450711

[2022-01-25 02:44] #8744 closed

[2022-01-25 02:46] #6188 closed

[2022-01-25 02:47] #7918 closed

[2022-01-25 03:03] markfields commented on #8866
Ah it looks like `pendingConnection` protects against this. Closing.

[2022-01-25 03:03] #8866 closed

[2022-01-25 04:02] skylerjokiel opened #8868 "Custom DDSes as a fully supported extensibility point for azure-client"
This work covers exposing custom Distributed Data Structures as a fully extensibility point through azure-client

## Concern and Thoughts
- We currently have no supported documentation in this space
- The api has never been audited/designed for external consumption
- The api surface is huge and requires deep understanding of distrubuted systems and Fluid

## Key Results
- [ ] Developers can indepe

[2022-01-25 04:05] skylerjokiel opened #8869 "Support for extended offline scenarios with AzureClient"
Currently azure-client supports intermitted internet connectivity seamlessly. This work tracks supported longer periods (5-10 minutes) of disconnection for consumers of the azure-client.

## Key Result
- [ ] Developers understand how to handle clients connecting after offline for extended peroids
- [ ] Developers understand how to not lose data in these cases

[2022-01-25 04:17] skylerjokiel opened #8870 "Tooling/functionality for recovering corrupted Containers with azure-client"
Developers need to be able to recover corrupted containers for their customers. This is a scenario more than a specific feature.

A proposed design is to expose a way for developers to get and load previous snapshots. This will allow customers to roll back in time to ensure not all the data is lost. While there is still data loss in this scenario it is minimized to a smaller window.

## Key Result

[2022-01-25 04:32] skylerjokiel opened #8871 "Blob support for azure-client"
This work tracks extending the azure-client/FluidContainer api to support reading/writring blobs in alternate storage locations. Fluid supports providing a blob manager at the Loader layer where you can store handles to these blobs . The high level design is to extend this functionality to our azure-client audience. In this world developers would be responsible for providing a blob manager and set

[2022-01-25 06:00] #6799 closed

[2022-01-25 07:03] vladsud commented on #6069
That's fine, but I think then #8823 should not start with consistency issue description and all such discussions should move here.
To me, events are simple, and they reflect local state - users can poke at directory at any moment in time and learn if sub-directory exists or not - each transition (exists <-> does not exist) is the point where event should fire, and it really does not depend on pres

[2022-01-25 07:20] tanviraumi commented on #8856
In progress now (#8820 )

[2022-01-25 16:06] jatgarg commented on #8309
Moving to Feb as other high priority work turned up.

[2022-01-25 16:20] jatgarg opened #8872 "Issue regarding Shared Directory eventual consistency and eventing on subdirectories."
This is an epic issue which tracks the ongoing bugs in shared directory regarding eventual consistency and requirements for events on create/delete subdirectories.

- [x] #8823
- [x] #8969
- [x] #8961

[2022-01-25 16:55] jatgarg commented on #8823
The CreateDirectoryEx, returns error code on creation of another directory with same name. So we can consider following the same structure or probably not if this does not serve the requirements of apps.
I do the like the idea of introducing guid for subdirectories so that we can separate ops for those as in if User1 creates subdirectory foo and then user 2 creates another foo and then user 1 dele

[2022-01-25 17:27] ChumpChief commented on #6069
My understanding is that longer-term, the Tree DDS may become the recommendation for most or all of the scenarios that sound Directory-like, at which point we may want to consider dropping Directory in order to present a clear Map/Tree choice for customers.  I have no particular attachment to Directory, my priority is to ensure customers who say "I have hierarchical data that I want to collaborate

[2022-01-25 17:43] anthony-murphy commented on #8690
I was thinking about this a bit yesterday, and a possible solution is something like, but i'm not wholly convinced it will work right.

1. We allow insertion of markers, with a specified length, there data is still in annotated properties. for the below, it must also have a maker id. marker id handling may have bugs, so if we depend on it we probably have some stabilization to do there.
2. add a n

[2022-01-25 17:45] anthony-murphy commented on #8690
fyi @DLehenbauer and @jack-williams

[2022-01-25 18:04] #8277 closed

[2022-01-25 18:09] skylerjokiel opened #8873 "V1 Debugger for azure-client and DDSes"
This work tracks an in memory debugger that showcases a live set of Fluid data. The goal would be for developers to be able to run the debugger locally in the browser and it would provide realtime insights in to what data is online.

## Key Results
- [ ] Developers can see an MVP set of live data with their debugger

## Data to display
- [ ] SharedMap
- [ ] SharedString
- [ ] Tree view of all data

[2022-01-25 21:08] ssimic2 commented on #8849
Some thoughts/desires after going through the first set tutorials/examples/doc:

As the next step, the desire was to understand how to incorporate FF into an existing app, in some segmented feature, without needing to rely on FF for long term data persistence. Basically, I was looking for simpler scenarios (dealing with data only), that carry less risks, and do not assume FF owning the data in the

[2022-01-25 21:28] agarwal-navin commented on #8515
The code to write GC data at root is put behind a feature flag - https://github.com/microsoft/FluidFramework/pull/8876.
It can be enable by default once the code is rolled out to everyone.

[2022-01-25 21:31] #8515 closed

[2022-01-25 21:33] agarwal-navin opened #8878 "Write GC data at root by default and enable reference correctness validation"
Follow up to https://github.com/microsoft/FluidFramework/pull/8876.

The code to write GC data at root is behind a feature flag. It will be rolled out to everyone is stages. Once it is rolled out to everyone, we should write GC data the root by default.
Also, the validation of reference correctness [here](https://github.com/microsoft/FluidFramework/blob/b915b36715f963b5bc819a9a58edba2f29a3065e/pac

[2022-01-25 22:33] #8861 closed

[2022-01-25 23:33] ChumpChief commented on #8817
When removed, should also convert usage of `IQuorum` to `IQuorumClients` in `ContainerContext`.

[2022-01-26 17:17] #8631 closed

[2022-01-26 17:21] anthony-murphy opened #8888 "Local Server Max Message Size Enforcement"
There are max message size limitations to using websockets, but local server and its driver do not use websockets. Since local server is frequently used in test scenarios it can lead to things working in test, but not in production. We should add an artificial limitation to the local server or driver that enforces the max message size

[2022-01-26 17:22] anthony-murphy commented on #8888
@andre4i  seeing a test fail on tinylicious but not local, not sure if this is a the cause, but it seems like a pretty easy addition to the local driver or server to keep behavior consistent.

[2022-01-26 17:32] andre4i commented on #8888
Related https://github.com/microsoft/FluidFramework/issues/7599. There is no explicit limit for websockets, the limit is governed by the default socket.io configuration. I would make the limit explicit in all scenarios (including local, where we don't use websockets).

[2022-01-26 18:27] anthony-murphy opened #8889 "Container Never Moves to Attached in E2E attachLifecycle.spec.ts on Tinylicous"
These are the test:
packages\test\test-end-to-end-tests\src\test\attachLifecycle.spec.ts

The tests are data driven and cover various attach scenarios via a pairwise strategy. On tinylicious, the following set of test dimensions hangs forever:
`{"containerAttachPoint":5,"containerSaveAfterAttach":false,"datastoreAttachPoint":1,"datastoreSaveAfterAttach":false,"mapAttachPoint":3,"mapSaveAfterAttach

[2022-01-26 18:46] #8836 closed

[2022-01-26 20:05] ssimic2 opened #8893 "Pending Manager Initialization"
Pending manager does not consider `initialState` as pending ops. Even after ops are moved from `initialState` to `pendingStates`, if pending state manager was queried for `hasPendingMessages`, it would return false as `pendingMessagesCount` only considers counter that is moved when messages are submitted through `onSubmitMessage`.

Further `IContainerContext` types pendingLocalState as unknown; Sh

[2022-01-26 21:44] #8834 closed

[2022-01-26 21:47] #8044 closed

[2022-01-26 21:50] #6274 closed

[2022-01-26 22:10] anthony-murphy opened #8896 "gcDeleteObjectsInTestMode.spec.ts: marks non-root data stores with handle in unreferenced data stores as unreferenced: Container Crash"
In file: packages\test\test-end-to-end-tests\src\test\gc\gcDeleteObjectsInTestMode.spec.ts
Test: marks non-root data stores with handle in unreferenced data stores as unreferenced"

The container crashes sometimes, but the test does not detect it:
[code]
Data_eventName | Data_error | count_ | dcount_Data_buildId | set_Data_testName | set_
-- | -- | -- | -- | -- | --
fluid:telemetry:Container:Conta

[2022-01-26 23:21] #8605 closed

[2022-01-27 00:50] amdeymsft opened #8899 "FluidHelloWorld - npm install fails with - e401 - HttpErrorAuthUnknown: Unable to authenticate, need: Basic realm="https://pkgsprodwus21.pkgs.visualstudio.com/""
## Describe the bug
following instructions at [FluidHelloWorld](https://github.com/microsoft/FluidHelloWorld), npm install fails with
HttpErrorAuthUnknown: Unable to authenticate, need: Basic realm="https://pkgsprodwus21.pkgs.visualstudio.com/"

### To Reproduce
Steps to reproduce the behavior:
1. git clone https://github.com/microsoft/FluidHelloWorld
2. cd FluidHelloWorld
3. npm install

### Expe

[2022-01-27 00:52] tylerbutler commented on #8899
@amdeymsft Can you check that you don't have an `.npmrc` file that is configured to pull packages from the Office feed? I can't repro this on Windows, Linux, or mac OS.

[2022-01-27 00:55] amdeymsft commented on #8899
where could this file be? I don't have any such file under fluidhelloworld.

[2022-01-27 01:02] tylerbutler commented on #8899
See here: <https://docs.npmjs.com/cli/v6/configuring-npm/npmrc> Check your global and user-level configs.

[2022-01-27 01:36] #8896 closed

[2022-01-27 01:37] #8889 closed

[2022-01-27 03:03] vladsud commented on #6930
@ssimic2, since you (and folks around you) are poking at API visibility, can you please take a look? It would be great not to over-expose our guts, to remove temptation to cast interfaces to concrete classes and poke at them.

[2022-01-27 12:34] jack-williams commented on #8690
Just to understand the original ask. The goal is to really have something like a range replace:

`replace(pos, length, content)`

That removes range from `pos` to `pos + length` and replaces it with `content`, and additionally removes any concurrently inserted content into that range?

The obliterate op being proposed is a special type of delete that additionally removes segments in the delete ran

[2022-01-27 14:54] sdeshpande3 opened #8902 "Remove logger property from IContainerContext"

[2022-01-27 14:55] #8191 closed

[2022-01-27 14:58] sdeshpande3 opened #8903 "Remove `raiseContainerWarning` from IContainerContext and `summarizerWarning` concept"
Remove `raiseContainerWarning` from `IContainerContext`

Remove `summarizerWarning` concept from container-runtime
1. SummarizerException case - we can remove warning altogether, as it's already logged to telemetry (as an error).
2. delayBeforeCreatingSummarizer() - I'd probably not even log anything, as "CreatingSummarizer" event below has all the same info (if it does not, I'd add it to its payl

[2022-01-27 15:05] scottn12 opened #8904 "Refactor `checkUrl()` to separate boolean check"
## Work Item
The `checkUrl()` function in file `packages\drivers\odsp-driver\src\checkUrl.ts` should be refactored to separate the boolean check performed into another function.

**Additional context**
https://github.com/microsoft/FluidFramework/pull/8827#issuecomment-1022722387

[2022-01-27 18:04] anthony-murphy commented on #8690
Great description @jack-williams. Let me answers a couple of the questions

Yes, at least that is how they are indented to work. They are currently not well used, so there could be existing bugs

Today markers have a default and fixed length of 1, no segment can have a length of 0 (text or marker) that will be rejected by the merge tree on insert.  The reason to allow a configurable length is exac

[2022-01-27 19:17] #2903 closed

[2022-01-27 21:00] markfields commented on #8902
For the `logger` property - please wait until there are 0 loaders pre-0.45, even if it takes a year or more. There's no harm for this fallback code to live around until then.

See this comment for slightly more context:  https://github.com/microsoft/FluidFramework/issues/8191#issuecomment-985786098

[2022-01-27 22:30] vladsud opened #8908 "Op latency: weird spikes every 2 frames"
We need to look why we have peeks every 31.5 seconds.
I can understand 16ms (assuming 60FPS system clock), but 2 ticks looks weird.

Primary suspect - DeltaScheduler, who does 20ms delays (that would translate into 2 ticks).
We should also re-evaluate once BatchManager is out, and implicit batching at JS turn are in.

We also need better view into all stages of this process:
1. How long ops are si

[2022-01-27 22:46] vladsud commented on #8908
I see 531K "InboundOpsProcessingTime" events in one day.
So yes, DeltaScheduler seems like is being hit a lot.
One thing that I do not like is that we issue event only if we were processing over 2K ops.
I do not see why 2K or any number of ops is important here. It feels like once we set a timer in batchEnd(), we have to report an event that it happened, and ideally
1. how many ops we already proc

[2022-01-27 22:51] vladsud opened #8909 "Improve logging in DeltaScheduler"
Forking from https://github.com/microsoft/FluidFramework/issues/8908 concrete work:

I see 531K "InboundOpsProcessingTime" events in one day.
So yes, DeltaScheduler seems like is being hit a lot.

One thing that I do not like is that we issue event only if we hit 2K idle states.
It feels like once we set a timer in batchEnd(), we have to report an event that it happened, and ideally
1. how many op

[2022-01-27 22:57] vladsud commented on #8909
I can't find obvious bug in logic, but data does not match my intuition about how it should work.
Given that graph mentioned in parent bug tracks ack of own ops, there should not be that many ops in between to process (unless we were already holding on ops when sending an op). Might be worth having this data (as boolean) on fluid:telemetry:OpPerf:OpRoundtripTime event.

Do we test that DeltaSchedu

[2022-01-27 23:03] vladsud opened #8911 "Track op roundtrip time without any impact from runtime side"
This is break off from #8908

Add tracing (similar to fluid:telemetry:OpPerf:OpRoundtripTime) but at DeltaManager / ConnectionManager layer, excluding all the time ops are sitting in inbound queue.
Likely need similar sampling logic we use with OpRoundtripTime.

Maybe we already do so through ITrace? If so, we are missing logging this data into telemetry.
If possible, I'd prefer runtime to do the

[2022-01-27 23:06] vladsud opened #8912 "Track time ops are sitting in inbound queue before they are processed"
This is break out from #8911

It tracks # 3 item in the original list:
Track how long ops are sitting in inbound queue until it is processed (that would capture impact of DeltaScheduler & ScheduleManager).

Basically, track time from when "push" event is fired for an op (probably first op in a batch is sufficient) till we start or end of op processing. Maybe track both - time to start processing,

[2022-01-28 00:15] vladsud opened #8914 "DeltaLatency event should not do aggregation"
Code:

[code]
It's great in a way of reducing amount of data sent, and giving us P50.
Unfortunately, aggregation like that does not allow us to calculate P90, P99 easily, as data is already smoothed by averaging, so we can't easily.
I think we should sample one in 100, not average 100.

Alternatively (or in addition to above), we can remember time of last ping and put it as a property on OpRoundtr

[2022-01-28 07:58] #8186 closed

[2022-01-28 08:16] sdeshpande3 commented on #8902
The `logger` property was marked as an optional parameter in `IContainerContext` interface: https://github.com/microsoft/FluidFramework/pull/8886 as `ContainerContext` assumes it to be a required parameter. This would be removed in release 0.57 from the interface and class.

The fallback code `const passLogger = context.taggedLogger  ?? new TaggedLoggerAdapter((context as OldContainerContextWithLo

[2022-01-28 14:33] #8548 closed

[2022-01-28 15:54] DLehenbauer opened #8920 "Doc: Is Fluid OT or CRDT?"
A FAQ that would be nice to address in the documentation is if Fluid is an OT or CRDT based system.

I think the most accurate answer is that Fluid works well with both OT and operation based (CmRDT) algorithms, as our system is optimized around real-time broadcast of messages.

While one could use the Fluid infrastructure to exchange state snapshots between clients, as in CvRDTs, it's wasteful to

[2022-01-28 18:00] #5014 closed

[2022-01-28 19:48] nanorga commented on #8823
For our usage, I don't see any issues with the "overwrite on create" proposal.

The most common scenario we have where something will be removed then re-added with the same key is undo and redo. My expectation is that the 'redo' operation will boil down to us re-adding each item in the subdirectory one-by-one, so starting from a 'blank' slate is perfectly fine.

I think solutions where we try to r

[2022-01-28 21:06] markfields commented on #8902
Ah righto, carry on

[2022-01-28 21:11] scottn12 commented on #8286
Closing this issue. After further discussion with @markfields, we decided to keep `genericError` and we will not be adding in a new error type.

[2022-01-28 21:12] scottn12 commented on #8272
Closing this issue. After further discussion with @markfields, we decided to keep `genericError` and we will not be adding in a new error type.

[2022-01-28 21:12] #8272 closed

[2022-01-28 21:14] markfields commented on #8272
More context in [this comment](https://github.com/microsoft/FluidFramework/pull/8803#issuecomment-1024640085).

[2022-01-28 22:45] agarwal-navin commented on #8286
@scottn12 Did you close the wrong issue? I don't anything related to error type here.

[2022-01-29 00:43] markfields opened #8929 "Remove fluidErrorCode from codebase"
See #8472, #8473, #8474 for confusion/difficulty caused by fluidErrorCode.

We need to be mindful about how we format our own messages, and have a way to distinguish errors we raise ourselves v. errors that flow through our code, but fluidErrorCode was not the right mechanism to achieve these.

Open questions:
- [x] Should `isFluidError` still check for `fluidErrorCode`?  I need to still set it fo

[2022-01-29 00:43] markfields commented on #8474
Tracking for Feb via https://github.com/microsoft/FluidFramework/issues/8929

[2022-01-29 00:43] #8474 closed

[2022-01-29 00:43] markfields commented on #8473
Tracking for Feb via https://github.com/microsoft/FluidFramework/issues/8929

[2022-01-29 00:43] #8473 closed

[2022-01-29 00:44] #8472 closed

[2022-01-29 01:27] vladsud opened #8931 "Understand why Container Load is slow at 99th percentile (client overhead is large)"
Data below tells the following story:
1. Fast sessions load faster than it takes to get snapshot from SPO, due to leveraging snapshot caching.
2. Slower sessions do not gain from this benefit, and the further we go to the rigth on the graph, the more time it takes due to CPU client cost to "process" snapshot.

I think we need to understand 99th percentile better. Why we spend that much time on cli

[2022-01-29 05:02] vladsud opened #8932 "Understanding relay service COGS: Measure socket.io bandwidth"
We do not have good data on Fluid relay service scalability data, and what impacts it.
But certain data suggests that part of it (active connections) is greatly impacted by CPU (not memory, for example), and CPU usage is directly proportional to size of data processed by system.

I just realized that I believe we have no data (at least on client side) re how much ops we are sending or receiving, s

[2022-01-29 05:03] vladsud commented on #8932
@GaryWilber, @ahmedbisht - FYI, in case we have any service data in this area (worth sharing, but I'd love client to record it too).

[2022-01-30 06:17] vladsud opened #8933 "Collab window data looks pretty bad"
This data suggests that
- Client consume a lot of memory to track data about clients
- Any kind of proposal may take forever
- Summaries are larges (catchUp blob in sequence)
- Search is not accurate for FFX / Sequences

In other words, a lot of things behave really badly, if these numbers actually represent the truth

**Distance, number of ops**

Office_Fluid_FluidRuntime_Performance
| where Even

[2022-01-30 06:19] vladsud commented on #8933
Ok, from quick code inspection, it's clear that opSendTimeForLatencyStatisticsForMsnStatistics is not reset on disconnect, similar to how other things are reset in this file and tracked only for same connection. Something similar should happen

@markfields, can you please follow with a fix here? Should be simple one

[2022-01-30 06:29] vladsud commented on #8570
I'm pretty sure that we handle errors correctly, i.e. non-retryable errors will close container.
I believe the issue here is that this specific reason can be retryable or not and there is not enough data which one is which.
If so, should it be closed, and we continue to track 1Mb socket.io limit in appropriate bug?

[2022-01-30 06:34] vladsud commented on #7275
We can't start working here until we have service design (and implementation) that ensures client always gets its own join signal. Discussions are ongoing about changes in PUSH RE join/leave signal processing.

[2022-01-30 06:38] vladsud commented on #8483
I think we should do # 2 option. There is already code that reconnects ("read" -> "write") to avoid nacks (i.e. previously we would sent an op on "read" connection and would get nack from server, now we detect this situation and re-connect to "write" avoiding extra latency of sending an op and getting nack). We likely can reuse existing flow (or add to it) to move in opposite direction ("write" ->

[2022-01-30 06:52] vladsud commented on #8908
@andre4i, I'll assign it to you, as I think most likely this is batch manager.
That said, I opened a bug (see above) for DeltaScheduler as well, and it is also a big suspect, given it uses 20ms delays, which will map nicely to 32ms on 60fps system clock system. Please work with Navin figure out next steps here.
Also note that I've opened couple issues to better track various parts of processing pi

[2022-01-30 06:54] vladsud commented on #8914
@chensixx, assigning to you. @jatgarg - any chance you can help Si if she has any questions here? Thanks!

[2022-01-30 07:08] vladsud commented on #8912
Please note that there are many players who can pause op processing:
1. DeltaScheduler
2. ScheduleManager
3. Summarizer
4. Container (code proposal)

Given that API is generic and is available to all layers, more users may show up later.

I think we should break this item into stages:
1. Immediate: Simply track time how long ops are paused (sampled)
2. Slowly: Add a system to track who's pausing o

[2022-01-30 07:09] vladsud commented on #8909
Please note that #8912 tracks more generic problem of tracking who pauses inbound queue and for how long

[2022-01-30 07:23] vladsud commented on #8488
This item should take into account back-compat
Given that driver ships dynamically from loader, this means we should
1. Add error definition and requirement for hosts to start handling it (same as old error).
2. Change loader if loader depends on these errors
2. Let some number of versions pass
3. Change driver.

Could you please break it into appropriate issues / PRs? Thanks!

[2022-01-30 07:42] vladsud commented on #7137
I think solution here should be to handle all nacks as critical container errors.
I eliminated most of the workflows that relies on nacks. When you look at telemetry:

| where Event_Time > ago(5d)
| where Data_eventName contains "_Disconnect"
| where Data_loaderVersion contains "0.5"
| where Data_reason contains "Nack"
| summarize count() by Data_reason, Data_loaderVersion

You see this picture:
|

[2022-01-30 17:06] vladsud commented on #8309
Let's (for now) address back-off logic first.
Progress reporting / cancelation is important, but let's track it as part of #5192
@jatgarg - if you looked more into cancelation, can you please update above issue with your findings / references?

[2022-01-30 17:07] vladsud commented on #8933
Actually, assigning to Si :)

[2022-01-30 17:12] vladsud commented on #8931
BTW, it would be also great to understand better 99th percentile overall, and in particular - why it takes so long to get TreesLatest. I.e., is it server processing, bandwidth (size of snapshot), or something else (maybe network overall latency is high?) This will provide us further inputs on where improvements much be done.

Please note that I've heard from Marcelo that only 80% of snapshots are

[2022-01-30 20:51] ssimic2 commented on #8286
Hey @scottn12, it looks like you closed the wrong issue.

[2022-01-31 00:44] pleath commented on #8066
No activity in a few weeks. Will revisit if it pops up again. The symptom was that ContainerRuntime.load is using a snapshot that is behind the DeltaManager's initialSequenceNumber. The assertion that the 2 sequence numbers must match may not be valid. This is something that seems to crop up every so often when server-side changes are made and to vanish again when other server-side changes are mad

[2022-01-31 00:45] pleath commented on #3996
There have been telemetry improvements on Summarizer error paths. Is this still something we need to consider?

[2022-01-31 00:46] pleath commented on #3969
Does the presence of async summarization affect the need for this item?

[2022-01-31 06:01] #6856 closed

[2022-01-31 14:11] #8489 closed

[2022-01-31 17:20] vladsud commented on #3969
Not really. async generates micro-tasks, but they are all part of same JS turn, unless there are some timeouts or blocking calls (like network calls). In case of summarization, it's all CPU intensive code, so it will take all the time, unless there are some yields in between that use timeouts.

[2022-01-31 17:27] scottn12 opened #8936 "Create documentation for deprecated API cleanup best practices"
Create documentation to provide best practices and guidelines when cleaning up deprecated APIs

[API Deprecation Wiki Doc](https://github.com/microsoft/FluidFramework/wiki/API-Deprecation)

Related: https://github.com/microsoft/FluidFramework/pull/9006

[2022-01-31 17:29] scottn12 opened #8937 "Organize remaining deprecated APIs"
Organize the remaining deprecated APIs which are not covered under #8005. This involves creating, categorizing, and assigning ownership for GitHub items related to the cleanup of these APIs.

[2022-01-31 17:40] vladsud opened #8938 "More compact uuid generation in FF"
Daniel, you mentioned that SharedTree has some algorithm to generate more compact unique IDs, i.e. IDs that are unique within given document. Any chance you can describe here how it works?
I'd love to use this issue to track work to introduce this concept to rest of FF.

Some obvious places where it will be super useful:
1. Generating data store IDs, DDSs IDs
   - this has pretty big impact on sna

[2022-01-31 18:12] vladsud commented on #8823
Thanks Nate! I'll point out that redo (in your example) will wipe out changes from other clients in between undo & redo (if they created same sub-directory). But I think it should not be resolve at that level.

If we go with "overwrite on create" proposal, then I see 3 options RE how it's implemented:
1. Can we leverage existing map / directory logic here somehow? Are there any other simpler ways

[2022-01-31 18:22] tylerbutler commented on #8938
Possibly useful: https://github.com/niieani/hashids.js

[2022-01-31 18:39] anthony-murphy opened #8940 "Move IFluidHandle off IFluidObject"
## Work Item
**Describe the outcome you expect**

**Approach**

**Open questions**

**Additional context**

**Acceptance criteria**

[2022-01-31 18:39] anthony-murphy opened #8941 "Move Scope off IFluidObject"
## Work Item
**Describe the outcome you expect**

**Approach**

**Open questions**

**Additional context**

**Acceptance criteria**

[2022-01-31 19:34] anthony-murphy opened #8942 "Drive Real Service and Stress Tests Errors to Zero"
We've done some work to drive our stress test errors down the rest of the issues are filed under this query:
https://github.com/microsoft/FluidFramework/issues?q=is%3Aopen+is%3Aissue+label%3A%22src%3A+stress+tests%22

Additionally, our end to end test log a number of errors. Some of these errors are expected, but some are not, and it is hard to differentiate between the two. In order to increase o

[2022-01-31 19:45] anthony-murphy commented on #8942
https://github.com/microsoft/FluidFramework/issues?q=is%3Aopen+is%3Aissue+label%3A%22src%3A+stress+tests%22

[2022-01-31 20:28] andre4i opened #8944 "Integrate type validation updates in the (bump version | release) tooling"
When releasing a new version, a type validation test upgrade is also required if the version of the package changes. See https://github.com/microsoft/FluidFramework/pull/8943 as an example.

Currently, getting that update is quite cumbersome. The engineer must:

- list all the definition packages which got upgraded
- for each such package
     - navigate to their directory
     - run `npm install`

[2022-01-31 20:56] markfields commented on #7935
Moving to "Next" milestone since we're not holding this to any internal planning milestones

[2022-01-31 21:15] DLehenbauer commented on #8938
(FYI: @noencke)

[2022-01-31 21:30] noencke commented on #8938
The scheme we've been working on for SharedTree is based on Daniel's original proposal here:
https://github.com/microsoft/FluidFramework/issues/5091

We've been working very recently on writing some more digestible literature around it, and we'll be talking about it at the brownbag next Thursday (the 10th). I'll post any relevant updates here in the coming days.

[2022-01-31 21:36] heliocliu opened #8945 "Updates to repo structure and release processes post 1.0"
This epic addresses the additional work needed to update the repo and release processes following #8007 (which is considered the baseline needed for the 1.0 release).  These items are not necessary to make the 1.0 release, but should be considered necessary for the longer-term sustainability of releases following 1.0.

## Goals
- Developers can create releases with minimal manual steps. This invol

[2022-01-31 21:43] heliocliu opened #8946 "Generate version information about releases for consuming developers"
Generate some sort of version information file as part of releases for consuming developers.  This file should provide information on the versions of packages that are included in a release along with package compatibility information as relevant. The output should also be usable by the docs site (and should potentially also include additional info there such as breaking changes)

[2022-01-31 22:04] taylorsw04 commented on #8938
@vladsud the final design and implementation (which lives in the MS Whiteboard codebase and will soon be integrated into the experimental folder) varies somewhat from that original post. Regardless, the scheme has a couple of properties that make it nice compared to one in which a service must be contacted before use of UUIDs can proceed:

1. Compact identities can be generated immediately in a _l

[2022-01-31 22:06] vladsud opened #8947 "Measure time outbound ops are sitting in queue due to active batch"
With move toward batching being by default at JS turn granularity, we will change how long it takes from the time someone make a local change (DDS) to side-effects (op) to be sent to socket. If application spends a lot of time doing very expensive operations in response to user actions, this time might be long, and it will impact end-to-end op latency metrics we track (see first item below).

Rela

[2022-01-31 22:14] DLehenbauer commented on #8823
Just FYI - Vlad's suggestions are progressing down the same evolution as SharedTree (ids on every mode, using id's exclusively in ops, compressing the ids, and then eventually switching to paths with sophisticated rebasing in order to partition edits without maintaining the id maps in memory.)

The other interesting point in the design space is the 'Git' like approach of implicitly creating/destro

[2022-01-31 23:02] vladsud commented on #8823
I thought about implicit creation, but then directory becomes pretty much a map :)
We would still likely want to have "delete sub-directory" primitive, which would have pretty much same issues as today (what happens if sub-directory delete happens at the same time as another client changes a key?), resulting either in orphan keys, or a need for some kind of serialization on app side to avoid runni

[2022-02-01 00:04] heliocliu opened #8948 "Simplify manual steps to create a version release"
This item targets the number of manual steps a developer currently needs to perform to create a version release.  Due to repo layering, the process can range from relatively easy (just a client release) to incredibly cumbersome (every layer needing a release).  We should aim to have as few steps as possible in all cases.  This follows with moving all packages into the same repo (i.e. removing this

[2022-02-01 00:43] heliocliu opened #8949 "Support interface exports in API change detection"
Support the interface type when validating export APIs.  They are very similar to classes in how they need to handle type replacement and transitive type dependencies, but are different enough that they can't be handled exactly the same as classes.

[2022-02-01 00:45] heliocliu opened #8950 "Support type aliases and variable export types in API change validation"
Add support for exported type aliases and variables in API change validation

[2022-02-01 02:27] vladsud commented on #8938
Thanks for sharing!
It would be interesting to share thoughts on applicability. For example, is this something that can be exposed globally in container with core runtime taking a dependency on it? I'm a bit worried about the need to keep track (part of document) mapping of guids to compact IDs, and potential leakage (each feature leveraging this mechanism would need to know quite a bit about it t

[2022-02-01 03:45] heliocliu commented on #4912
captured better in #7996

[2022-02-01 03:45] #4912 closed

[2022-02-01 06:01] #6880 closed

[2022-02-01 06:01] #1836 closed

[2022-02-01 06:41] vladsud commented on #8748
Based on my understanding, this should be a best effort for February, as issue 8654 has much higher priority (at least first part of it - TreesLatest workflow).
That said, this item does not feel like large one, and it has quite an impact on many things, including COGS on SPO side, and ability of summarizer to stay around longer on connection and not keep losing it (and thus summarizer moving arou

[2022-02-01 07:25] markfields opened #8954 "Improve semantics of wrapError"
Today, `wrapError` does this:

* Generates a new error object with a new errorType, and often a new fluidErrorCode
* Typically takes the original error's errorMessage
* The original stack is used
* A new errorInstanceId is generated, and the logs include a link between the inner (if existing) to outer
* Optionally log via `wrapErrorAndLog`

Problems here include:

* The inner error's message may c

[2022-02-01 17:33] #8852 closed

[2022-02-01 18:27] #8701 closed

[2022-02-01 18:54] taylorsw04 commented on #8938
We had the exact same concerns about normalization and the encapsulation of that knowledge when designing the ID compressor. To account for this, we defined two "spaces" (via TypeScript types) for compressed IDs: one for consumers, and one for persistence. Normalization of the compressed IDs is done automatically by the compressor when dealing with IDs in the same space, meaning that users of the

[2022-02-01 19:18] ssimic2 opened #8960 "Consider renaming container's isDirty flag"
Consider changing the name of the `isDirty` flag to better communicate its purpose. In our case, isDirty being true also implies that local data was never saved, and document may have not been created. Therefore, one possibility is calling this flag `isUnsaved`.

@vladsud suggested: "synchronized" seems like a better term if we really want to point to a fact that it's about state in the cloud (tho

[2022-02-01 19:21] nanorga opened #8961 "SharedDirectory needs a size method that returns the number of subdirectories"
## SharedDirectory "size" for number of subdirectories
**Is your feature request related to a problem? Please describe.**
There currently is no clear way to find the number of subdirectories within a directory. The current size method only reports the number of key:values. It's important that we can query the number of subdirectories because each subdirectory can, for example, represent an object

[2022-02-01 19:59] andre4i opened #8962 "For summarizing, fetch snapshot fails when the snapshot is too large"
https://portal.microsofticm.com/imp/v3/incidents/details/286391295/home

There is a behavior captured in the above incident which seems to indicate that what is specified [here](https://github.com/microsoft/FluidFramework/blob/f4946ce69c46a93456fa7cd483524d720374627c/packages/drivers/odsp-driver/src/odspDocumentStorageManager.ts#L584) does not hold and the size limit is actually taken into conside

[2022-02-01 20:07] vladsud opened #8963 "Summaries are large: We summarize data stores that did not have changes"
These numbers are not great:

| where Data_eventName == "fluid:telemetry:OdspDriver:uploadSummary_end"
| summarize percentile(Data_blobs, 50), percentile(Data_blobs, 90), percentile(Data_blobs, 95), percentile(Data_blobs, 99)

| percentile_blobs_50 | percentile_blobs_90 | percentile_blobs_95 | percentile_blobs_99 |
|-|-|-|-|
| 16 | 191 | 361 | 962 |

Part of that - I disabled incremental summaries

[2022-02-01 20:15] vladsud commented on #8963
Note that 99.999% of summaries are incremental summaries:

| where Data_eventName == "fluid:telemetry:Summarizer:Running:Summarize_end"
| summarize count() by Data_fullTree

| Data_fullTree	| count_ |
|-|-|
| 0 | 4699458 |
|  | 945 |
| 1 |  4 |

[2022-02-01 20:36] vladsud commented on #8963
Here is number of data stores summarized:

| where Data_eventName contains "GenerateSummary"
| summarize percentile(Data_summarizedDataStoreCount, 50), percentile(Data_summarizedDataStoreCount, 90), percentile(Data_summarizedDataStoreCount, 95), percentile(Data_summarizedDataStoreCount, 99)

| percentile_50 | percentile_90 | percentile_95 | percentile_99 |
|-|-|-|-|
| 2 | 25 |  43 | 107|

And this

[2022-02-01 20:48] andre4i commented on #8954
Are you referring to `TelemetryDataTag.UserData` or are you planning on adding a new classification?

👍 LGTM anyway

[2022-02-01 20:48] vladsud commented on #8963
If I add this condition to previous queries (to remove just created files, as they are almost always tiny), I get a bit worse picture:

Data_referenceSequenceNumber > 1000, P95
Data_summarizedDataStoreCount = 205
Data_dataStoreCount = 1143

Data_referenceSequenceNumber > 10,000, P95:
Data_summarizedDataStoreCount  = 496
Data_dataStoreCount= 2721

What is interesting is that data improves a bit if

[2022-02-01 21:07] #8358 closed

[2022-02-01 21:11] vladsud commented on #8963
This is telling:

union Office_Fluid_FluidRuntime_*
| where Data_eventName contains "GenerateSummary"
| where Data_summarizedDataStoreCount > 100
| where Data_referenceSequenceNumber > 1000
| where Data_opsSinceLastSummary < 100
| summarize count() by Data_opsSinceLastSummary
| render linechart

![image](https://user-images.githubusercontent.com/46826984/152051612-5d3dc9c3-8e7b-4638-9af2-385176c90

[2022-02-01 21:16] vladsud commented on #8932
Note - SummaryGenerator.summarizeCore() and "GenerateSummary" already tracks opsSinceLastSummary property - that's count of ops, but not their size. having size here will also help us compare it to size of summaries, and see inefficiencies here.

[2022-02-01 21:22] vladsud opened #8965 "Summary telemetry cleanup to make data easier to analyze"
Based on investigation in #8963 (Summaries are large: Number of blobs in summaries is large)

**Action plan** (see whole issue history for background):
1. Add referenceSequenceNumber to fluid:telemetry:OdspDriver:uploadSummary_end event
2. Add raw blob sizes (in addition to final total payload) to above. i.e. exclude size of all metadata and encoding.
3. I'd suggest removing "uploadSummaryWithCont

[2022-02-01 21:24] markfields commented on #8570
@vladsud - See my detailed PR description (#8964).  I do agree that there's no user bad from this at the moment, because all cases that go through this codepath are under `documentDeltaConnection.initialize` which will reject and `connectCore` will fail.

But this should still be fixed.  It is not just about the specific 1MB limit.

[2022-02-01 21:31] vladsud commented on #8963
@agarwal-navin, any chance you can take a look?
Is there any attack plan we can come up with, to make some progress on this (see latest comment with graph)?
While I do not want you to be side-tracked by this (and keep focusing on GC), if you can help with ideas / action plan to add telemetry / tests / some other type of validation to ensure we are moving in right direction to understand the proble

[2022-02-01 21:38] sumedhb1995 commented on #2465
Phase 3 is tracked in its own epic here: https://github.com/microsoft/FluidFramework/issues/8319
Closing this out as completing the required work prior 1.0
Additional work will continue to improve the IContainer dev surface in the Phase 3 epic

[2022-02-01 21:38] #2465 closed

[2022-02-01 21:40] anthony-murphy commented on #8944
So the tooling itself already has support for a `-p` param, which stands for prepare. This should only modify the package.json, but not generate any tests, so you should in theory be able to prepare all packages, then install, and then build. the final build will generate the new tests.

However, there is another thing to consider here. We may want to exclude new test creation entirely from the bu

[2022-02-01 21:44] sumedhb1995 opened #8966 "Write white paper on proposed `IContainer` changes for opProcessingController"
Document the `opProcessingController` proposal as an alternative to using `deltaManager` to control processing of ops as based on this PR: https://github.com/microsoft/FluidFramework/pull/8707

[2022-02-01 21:52] nanorga commented on #8961
@vladsud

[2022-02-01 22:07] scarlettjlee opened #8967 "Unit tests for attaching DDSs containing handles"
## Work Item
We need unit test coverage on ensuring that if a handle is stored in a DDS, the DDS to which it refers:

1. gets attached properly if referring DDS is already attached
2. gets attached properly if referring DDS gets attached

Cell, map, directory, and sequence have recent had their nested DDS code changed (to remove any handling of directly nested DDSs) and could use tests. #8841

[2022-02-01 22:09] #8594 closed

[2022-02-01 22:18] vladsud commented on #8823
@nanorga, please glance at my last reply RE potential alternative.
I think we still prefer to overwrite on create for sub-directories, but worth considering alternatives before committing.

@ChumpChief - would be great to hear your thoughts on proposed direction.

[2022-02-01 22:19] anthony-murphy commented on #8545
@scarlettjlee, @pleath, @vladsud, @DLehenbauer , and @curtisman I added my initial design thoughts above in the main description. Please add any comments to the issue. I think we can dig deeper into the per dds design once we have consensus on the approach.

[2022-02-01 22:20] vladsud commented on #8823
Given amount of content in this issue, I'll repropose it to track eventual consistency issue, not events.

[2022-02-01 22:27] znewton opened #8968 "Add telemetry to DocumentDeltaConnection reconnect attempts"
## Work Item
**Describe the outcome you expect**

#8820 allows for socket.io to do internal reconnections. Currently, the only reconnection that will happen is when downgrading to long-polling. We should add telemetry to this flow to understand how often this type of reconnection occurs.

**Approach**

Ideally the form telemetry takes is left to the caller, so maybe we just need hooks for each dri

[2022-02-01 22:33] vladsud opened #8969 "Fire events for directory creation/deletion"
Related issues:
- #8823

In-progress PR:
- https://github.com/microsoft/FluidFramework/pull/8842

Copied over from #6069:

To me, events are simple, and they reflect local state - users can poke at directory at any moment in time and learn if sub-directory exists or not - each transition (exists <-> does not exist) is the point where event should fire, and it really does not depend on presence or

[2022-02-01 22:34] vladsud commented on #6069
Content moved to #8823, which now tracks all eventual consistency issues / discussions.
I've opened #8969 specifically to track addition of events.

[2022-02-01 22:34] #6069 closed

[2022-02-01 22:37] znewton commented on #8856
Summary of findings and progress made in #8820:
- Socket.io can be configured to use websockets by default, and long-polling when WebSockets are not available in the current context using the option `transports: ["websockets", "polling"]`
    - Note: this is only relevant for IE9, which is not supported by FluidFramework, so it will not be used
- We can tie into the socket.io client's `connect_err

[2022-02-01 22:41] znewton commented on #8968
This additional telemetry for understanding how often clients downgrade to long-polling won't be particularly helpful for Azure Fluid Relay since we currently have no means of collecting/viewing client telemetry other than via the E2E tests.

@vladsud feel free to take this on if you want it more urgently

[2022-02-01 22:42] vladsud commented on #8856
Thanks for the update - looks great!

I'd hope you collect some telemetry in this space from FRS side, including - how many clients leverage this option, and how expensive it is to service.

Do you have any thoughts on perceived user experience when using long polling? I.e., maybe we will learn that it's not really great for fluid workloads? And if so, at least we want to expose this info somehow

[2022-02-01 22:46] vladsud commented on #8968
I'm happy to consider enabling similar workflow for ODSP (and collect this kind of data), but I'd love to hear from you first on what you learned RE user experience when using long polling. Is this something we hope users will never need to know about (in terms of end user experience)? Or something that degrades perf, and thus is a concern? And possibly needs to be incorporated into application fe

[2022-02-01 22:46] vladsud commented on #7964
See https://github.com/microsoft/FluidFramework/pull/8820 for addition of capability on client side.

[2022-02-01 23:02] markfields commented on #8570
Ok... I think I am seeing something here I didn't understand before.  I found this comment in one of the tests that's failing:

[code]

And indeed this is what is accomplished by always setting `canRetry: true`.

In other words, the design of the code is that it's _incorrect_ for an error/disconnect on a live socket connection to close the container.  Rather, it should try to connect again, under

[2022-02-01 23:32] agarwal-navin commented on #8963
Those are some interesting stats. I will take a look. I remember there was a bug I fixed some time back where we were taking one extra summary to realize that a data store did not change. Let me see what that bug was and if I can find anything obvious.

One thing we should probably add to the summary telemetry - Is this the first summary by this client. That might help us finding issues where we d

[2022-02-01 23:56] agarwal-navin commented on #8963
I had created this issue some time back to add testing for this scenario - https://github.com/microsoft/FluidFramework/issues/8498. It might be a good time for someone to pick this up.

[2022-02-02 00:29] agarwal-navin commented on #8963
I looked at the data for a few documents via this query:
[code]
- Every time a new summarizer client summarizes (Data_containerId changes), it summarizes almost all the data stores.
- The only data stores it doesn't summarize are the ones that are marked unreferenced by GC.
- Basically, all referenced data stores are summarized the very first time a summarizer client summarizes.

My theory based o

[2022-02-02 00:43] DLehenbauer commented on #8823
@vladsud - Distinguishing 'set' (update or insert) from 'replace' (if unchanged) is good.  Share.js and others make the same distinction.

I'd suggest the verb 'clear()' instead of 'deleteSubDirectory()', where removing all keys implicitly removes the directory.  As you say, clear() would cause a subsequent 'replace()' to fail, while 'set' would implicitly re-create the directory by repopulating i

[2022-02-02 01:41] vladsud opened #8972 "Summarization attempt data in telemetry is wrong"
Fotking from https://github.com/microsoft/FluidFramework/issues/8963, which has much longer thread about why having this data is importatnt.

Query:

| where Data_eventName == "fluid:telemetry:Summarizer:Running:GenerateSummary"
| summarize count() by Data_summarizeTotalAttempts
| render linechart

I get only 5 attempts max, which is too low.
Cross-checking it against this query suggests that inde

[2022-02-02 01:41] vladsud commented on #8963
It's a pain in the butt to figure out all the props available on events, but we do have summary count on these events:
[code]

And looking at this query:

| where Data_eventName contains "GenerateSummary"
| where Data_summarizedDataStoreCount > 100
| summarize count() by Data_summarizeTotalAttempts
| render linechart

Gives us this nice chart:
<img width="995" alt="image" src="https://user-images.

[2022-02-02 01:52] vladsud commented on #8972
Ah, totalAttempts is local var within trySummarize(). It is useful concept (maybe we should rename it to have clearer name), but we need global counter per summarizer session as well.
@pleath - any chance you can add it? Sorry for jamming into Feb, but stats in related bug as really bad, and we need to get to the bottom of it soon - looks like some regression from GC work affecting prod

[2022-02-02 01:52] agarwal-navin commented on #8963
`summarizeTotalAttempts` starts from 1 every time a client summarizes right. Even for subsequent summaries after the first one by a client, it will start at 1. It might be useful to indicate if this is very first summary by a client or not. We can get that information by looking at the containerId though.

[2022-02-02 01:58] pleath commented on #8972
Sure. I'll take it up this week. Some of what is scheduled for February is lower priority.

[2022-02-02 02:01] scarlettjlee commented on #8545
I understood it as: it's okay for ops to be paused. So it's more of a non-requirement that ops are flowing while this is happening. And we choose to do it this way to make it simpler for us. (Unless you're talking about the [outbound] local ops that can be potentially rolled back.)

Is this a requirement or an implementation detail? Would it be okay to get back to the starting state with some othe

[2022-02-02 02:15] agarwal-navin commented on #8963
I found one bug which was added by one of my recent GC changes - https://github.com/microsoft/FluidFramework/pull/8389. Garbage collector reads the GC blobs from data store summary trees and converts to a different format before passing it to data stores during creation.
However, it does not sort the used routes before passing it to the data stores and so the following comparison in SummarizerNode

[2022-02-02 02:18] vladsud commented on #8963
Thanks for looking into it! Can you please play with any samples (TODO might be good example, as it allows to create data stores, I think)? If it's trivial case, it should be easy to repro, as well as validate if that one fix addresses it.

[2022-02-02 02:25] vladsud commented on #8963
Maybe stupid thing, but what if add assert like that in summarizeCore():

assert(fullTree || summaryData.summaryStats.summarizedDataStoreCount <= opsSinceLastSummary);

or maybe just an error telemetry (for starters).

It feels like it's good validation and should capture the issue pretty quickly...
Can GC processes ever break this equation? If so, is it a problem? It feels like system needs to pr

[2022-02-02 02:59] ungrokkable commented on #8273
Hi @DLehenbauer,
I'm trying to get a better grasp on the serde side of M1.  In your feature, do you plan to allow serializing the whole tree or just the changeset itself?  Thanks.

[2022-02-02 03:10] agarwal-navin commented on #8963
I repro'd it by writing a test and verified with a temporary fix that it works. I can also try it with a sample.

Yes, GC can break this equation if there are ops that add or remove reference to data stores. For instance, if there is only one op (for dataStore1) since last summary which adds reference to dataStore2, then there will be 2 data stores that are summarized. Practically though, that sho

[2022-02-02 03:14] ssimic2 opened #8973 "Container Runtime: Decouple summary generation/upload from summary ops"
Ideally, we would like to run `submitSummary` on the container runtime during our snapshot tests to create and upload summaries. As @agarwal-navin has pointed out, we do not have provision to run submitSummary without affecting op sequence numbering, which in turn affects our snapshot tests that rely on predictable op sequence numbering. Due to this limitation, snapshot tests and replay tools are

[2022-02-02 04:21] markfields commented on #7018
I fixed this a while ago in PR #8383

[2022-02-02 04:21] #7018 closed

[2022-02-02 04:24] markfields commented on #8954
Good question, I wasn't sure so left it ambiguous :P

[2022-02-02 06:10] markfields commented on #8903
@pleath FYI in case you have opinions about summarizer error telemetry

[2022-02-02 06:12] markfields commented on #8903
@sdeshpande3 please request review from me on the PR for this, thanks!

[2022-02-02 06:22] markfields commented on #8903
Can we also take a look at the two calls to `SummarizingWarning.wrap` as a part of this follow-up?  My hunch is that we don't want to do that, and just want to let errors propagate as they are.  Happy to help think this through.

[2022-02-02 08:12] vladsud commented on #8963
Super! Happy we made quick progress, but we need to protect it, it's not great that we have such big regressions.
I'll take any guards :) Even 2x assert would go a long way!
That said, (subject to offline follow up) I'd love to learn (or re-learn) why another data store needs to be re-summarized in such case.

[2022-02-02 08:16] vladsud commented on #8570
Yes, I believe that's correct. I do not remember specifics. I think it has to do with a fact that token expiry results in 401/403 (which is non-recoverable error), so we simply leave error handling to be done on one path - connection path.

[2022-02-02 15:09] jatgarg opened #8974 "Record source of pausing inbound queue."
Please note that there are many players who can pause op processing:
1. DeltaScheduler
2. ScheduleManager
3. Summarizer
4. Container (code proposal)

Given that API is generic and is available to all layers, more users may show up later.

From @Vladsud
 Add a system to track who's pausing ops, and a way to expose first/last/maybe all actors who caused ops to sit paused
   - I'd suggest for pause()

[2022-02-02 15:41] jatgarg commented on #8654
From @vladsud
Changes on FF / protocol side
1.) TreesLatest will start leveraging new flag to get 308 instead of 404

- It will generate new error code and will throw it to host to recover.
- There will be no caching at this layer to optimize experience for future loads

2.) When any of the driver requests receive 308, driver will remember redirect (in-memory only) and will start supplying this in

[2022-02-02 17:20] agarwal-navin commented on #8963
Yes, I agree. Tests in this area have been long time pending and I think we need to add them now.
We could add a 2x assert and also add an error if `summarizedDataStoreCount > opsSinceLastSummary`. We can then add alerts when we see the number of hits for this go up.

[2022-02-02 17:26] agarwal-navin commented on #8963
Sure, lets sync up offline. The gist is that ODSP needs the `unreferenced` flag to be part of the `ISummaryTree`. If we add that as a property of `ISummaryHandle` which refers to an `ISummaryTree` in previous summary, it cannot get that tree and then update the `unreferenced` flag. We could revisit this discussion now and see if we can change this implementation.

[2022-02-02 17:39] ssimic2 opened #8979 "Snapshot tests should be using new snapshot format"
Area: Our "current" snapshot format (in the snapshot tests) does not seem to be current. We use older format where we do not fold attributes under protocol.

Action: Move snapshots to new format. As we resolve this, we should cleanup unused tree transform functions. As part of this work `convertSummaryTreeToITree` should be removed. See https://github.com/microsoft/FluidFramework/pull/8935#discuss

[2022-02-02 17:45] anthony-murphy commented on #8545
Good points.

I think we agree outbound must be paused, otherwise the ops my not be local anymore, so can't be rolled back. I'd originally thought we could allow inbound, but it will make the dds changes harder, as we need to track more information. For instance, in map, if a remote op sets a key that is modified locally, we suppress the remote op as we know the local op will win. That will no lon

[2022-02-02 17:47] noencke commented on #8938
To make the above explanation of normalization slightly more concrete:

Our current API consists of a class (currently named `IdCompressor`) that is a one-stop-shop for managing these types and coordinating the IDs across clients. A client uses an IdCompressor to generate some number of new unique IDs and at various points in time can "package them up" in a serializable object which is sent to oth

[2022-02-02 19:41] markfields commented on #8954
Another design point:

* If the innerError is untrusted, then also mark the wrapped error with `untrustedOrigin` (just like `normalizeError`)

This will allow us to distinguish in telemetry errors we raised ourselves v. those that come from partner code, even after being wrapped.  (see parent epic #8260)

[2022-02-02 19:48] pleath commented on #8972
BTW, I assume you're not interested in tracking attempts that result from calls to trySummarizeOnce (onDemandSummarize, enqueueSummarize, last summary).

[2022-02-02 20:42] agarwal-navin commented on #8963
Added few tests to validate these scenarios - https://github.com/microsoft/FluidFramework/pull/8983. These currently fail and will pass with the fix.

[2022-02-02 22:10] #8283 closed

[2022-02-02 23:08] vladsud commented on #8972
Not at the moment. That said, I have a feeling we will have similar scarmble moments with Word / service-controlled summaries, so some approximation of same thing might be useful

[2022-02-03 00:05] #8074 closed

[2022-02-03 00:38] pleath commented on #8972
Actually, if we're going to track RunningSummarizer.totalSuccessfulAttempts, then I think it makes sense to include on-demand, etc., in that count.

[2022-02-03 01:37] DLehenbauer opened #8989 "SharedTree: API layering discussion"
## Introduction

When it comes to interacting with application state, there are two "flavors" of API in common use:

* Imperative style APIs where the application reads/writes data via a mutable tree of observable objects
* Functional style APIs where the application reads immutable snapshots and queues edits for a future revision

Imperative APIs with mutable objects tend to be more concise and a

[2022-02-03 02:01] DLehenbauer commented on #8273
@ungrokkable - We've been working backwards toward API, starting with op and storage formats, so the discussion on the the M1 API is just spinning up.  I just summarized the direction we're currently exploring in #8989 for the underlying API, with opportunity to ship an example/experimental higher level convenience API on top what #8989 describes in the same timeframe.

[2022-02-03 03:26] vladsud opened #8994 "Fetch Tool can't open meeting note files"
Sharing link: https://microsoft-my.sharepoint-df.com/:n:/p/marcmas_ntdev/Eb4CvlAqnsZNnoTBQNt7PLYBvhJ64svzFCBW34NvCq7L_g?e=o5ofpb&isSPOFile=1

Resolved link: https://www.onenote.com/notes/c3BvOmh0dHBzOi8vbWljcm9zb2Z0LW15LnNoYXJlcG9pbnQtZGYuY29tL3BlcnNvbmFsL21hcmNtYXNfbnRkZXZfbWljcm9zb2Z0X2NvbQ==/b!lql55Wf6D0qBqgrMMcpaiDshzUolNf1DofbCZqkstIk8wHnov-bCQ6pHMry6gSbx/016K3AXJF6AK7FAKU6YZGZ5BGBIDNXWPFW

[2022-02-03 04:38] #6237 closed

[2022-02-03 04:41] ssimic2 commented on #3929
Given we have completed some of the work around old snapshots, it may be good to time redefine scope of this ticket. And close it if needed.

[2022-02-03 06:00] #5317 closed

[2022-02-03 07:40] vladsud opened #8995 "Number of times summarizer refreshes snapshot is too high"
I do not know how urgent / important this issue is, leaving to Paul to triage and make decision if Feb is appropriate.

Marcelo brought to my attention, that empty meeting notes documents continuously summarize, without any user changes. This looks like FFX bug (tracked separately), so this issue is not about that.
But as it summarizes, it does a lot of fetches of not-latest snapshots.
Looking at

[2022-02-03 08:01] milanro commented on #8989
Hi @DLehenbauer,
I am very interested in the discussion concerning reversibility data. It is an interesting idea to leave this responsibility to the application  because otherwise, for some kind of actions (delete, modify), the builder / dds would have to know the current state in order to be able to generate the inverse. On the other hand, the validity of the inverse would then be solely in hands

[2022-02-03 09:46] scarlettjlee opened #8997 "BlobManager.snapshot should be summarize instead"
BlobManager.snapshot should be summarize and return ISummarizeResult rather than ITree. (Look at what convertToSummaryTreeWithStats does to create ISummaryTreeWithStats directly.)

convertToSummaryTree and convertToSummaryTreeWithStats could be removed after this change and #9227.

[2022-02-03 17:25] agarwal-navin commented on #3929
Adding @scarlettjlee to this since she is working on related topic - https://github.com/microsoft/FluidFramework/issues/8460

[2022-02-03 18:10] #8504 closed

[2022-02-03 18:34] chensixx commented on #8965
to clarify, for #2, is raw blob size the size of just the snapshot entries? or for each entry, we need to exclude metadata and encoding?

[2022-02-03 18:45] anthony-murphy opened #9000 "Odsp Driver: Join Session Errors"
- Site read-only mode
   - Expected state on the server where clients can read data but no modifications can happen e.g. during moves
 - User out of quota
   -  User can delete data/ empty recycle bin

Whatever we do, we must also be able to communicate error via PUSH as it can happen mid-session

[2022-02-03 18:53] anthony-murphy opened #9001 "Odsp Driver: Url Resolver: Expose Canonical link error facet"
There are both canonical link and sharing links. Trying to open a canonical links can lead to 404 or 403 errors when they are not the appropriate link to use. We should log and expose if the wrong link type is used to more easily identify that is the reason for the errors

[2022-02-03 19:44] scarlettjlee opened #9003 "Remove git code from protocol-definitions"
Deprecate and remove GIT specifics from protocol-definitions. Anything still needed should be moved to r11 driver(s).

- FileMode
- ITreeEntry.mode (only File and Directory seem to be used in client, so using ITreeEntry.type instead is sufficient to map)

This is marked "good first issue" for learning repo structure of separately versioned packages and deprecating APIs. It's not a trivial change.

[2022-02-03 19:46] chensixx commented on #8965
@agarwal-navin

[2022-02-03 19:48] scarlettjlee commented on #3929
The DDS work is done and I created a separate task for moving git code from protocol-definitions (#9003). So this issue should just be for removing snapshot from Container.

@ssimic2, do you want to keep this open until you do the removal after the deprecation? Otherwise we can close.

[2022-02-03 19:56] CraigMacomber commented on #8989
### I think the DDS needs to know the tree structure

@milanro Since the dds has to know how to do merge resolution (or more specifically as least deal with reordering or concurrently edits including things like conflict detection), as well as write summaries, I have been assuming it would have to know the current state, it just might not store it in a format thats optimal for tree traversal.

###

[2022-02-03 20:11] pleath commented on #8972
BTW, we do have Data_summaryGenTag. This is the current value of RunningSummarizer.summarizeCount, which is just the number of times a given summarizer has been asked to summarize. For the query above, the max summaryGenTag for a given summarizer that I get is 146.

[2022-02-03 20:37] agarwal-navin commented on #8965
For #4, as per my understanding `summarySequenceNumber` isn't the same as `referenceSequenceNumber`. `summarySequenceNumer` is the sequenceNumber of the summaryOp as stamped by the server. `referenceSequenceNumber` of the summaryOp should be logged separately.

[2022-02-03 20:54] andre4i commented on #8962
@vladsud A good question was raised today during our sync-up about this snapshot size behavior difference between summarizers and non-summarizers and I think you'd be able to shed some light on this.

Assuming we are able to send a large snapshot and this bug is fixed. Only the client who summarizes is able to download it, right? Is this a resilience mechanism to hope for the garbage collector to

[2022-02-03 21:09] vladsud commented on #8962
Teams client wanted it to better control bandwidth consumption. Their take - if files are large, they want to render link in chat and let users decide if they want to follow link or not (and thus pay the cost or not).
And yes, other clients may open it just fine.

Summarizer has to be excluded, such that if file grew 1 byte over the limit in this window (but was opened in Teams client before limit

[2022-02-03 21:12] vladsud commented on #8972
Ah, I thought something like that exists, but could not find it.
I think it's fine as is, but given you already started poking, can you please take a closer look to make sure names make sense? summaryGenTag  is not very descriptive of what it means.
Also, can we comment code to make sure an event lists all properties it has? It's so hard to traverse this code, as we pass generic properties through

[2022-02-03 21:13] vladsud commented on #8963
@agarwal-navin , it turns out there is Data_summaryGenTag that tracks count of summaries for a given client.

[2022-02-03 21:16] vladsud commented on #8963
And the data suggests Navin's guess is right:

union Office_Fluid_FluidRuntime_*
| where Data_eventName contains "GenerateSummary"
| where Data_summaryGenTag > 1
| summarize percentile(Data_summarizedDataStoreCount, 99)

This gives me 16! Looks great!

Data_summaryGenTag == 1 gives me 167!

[2022-02-03 21:22] pleath commented on #8972
Yeah, I can change summaryGenTag to something like summarizeCount. A comment listing properties per event sounds hard to maintain, since, as you say, thinks are passed across layers. Type-strictness would be great, but I may not get to it in February.

[2022-02-03 21:24] vladsud commented on #8972
I'd say - any improvements in this space will go a long way :) If it takes you and me couple days to figure out what's available, I can only imagine how frustrated other people would be when they need to look at summary issues for the first time (OCEs)

[2022-02-03 21:40] agarwal-navin commented on #8963
Awesome! I have a PR with the fix - https://github.com/microsoft/FluidFramework/pull/8990.
I added an error log when `summarizedDataStoresCount > 2 * opsSinceLastSummary`. However, I think we cannot do this because a single op can result in a bunch of data stores being deleted. For instance, a data store can have references to 100s of data stores which can in turn have references to more data stor

[2022-02-03 21:48] agarwal-navin commented on #8963
We should definitely follow up on the need to summarize data store when the reference state changes. That will make catching issues like this relatively simpler.