[2021-04-05 20:28] anthony-murphy commented on #5720
this is a duplicate of #5689

[2021-04-05 21:44] anthony-murphy commented on #5222
The quorum can only get into a bad state due to server side data corruption, and there isn't much the client can do in that state, as allowing clients to boot other clients from the quorum is a security nightmare. this proposal will help in that a new client will summarize, which will get a new quorum stamped by the server, this should fix new clients

[2021-04-06 00:55] skylerjokiel commented on #5611
@celsoaguiar, there are two parts to the service. There is the service itself and the client-side driver that knows how to point to the service. For Tinylicious we have the service hardcoded to a specific localhost port and we have the driver talking to the same port. For ngrok to work we would need to update the Tinylicious driver to support a custom url so you could specify your ngrok endpoint.

[2021-04-06 14:22] IvoCurado opened #5729 "Sharepoint framework integration"
### Issue Category

- Other

### Details

I can't find any documentation about the integration of fluid framework in a SPFx Web Part.
I already saw some videos where the fluid framework is working on a Web Part but I couldn't find any code sample about it.
Is it possible to integrate the fluid framework on a SPFx Web Part?

[2021-04-06 16:00] #5711 closed

[2021-04-06 17:35] anthony-murphy opened #5732 "Support Seeding Randoms in Stress Test"

[2021-04-06 18:10] #5435 closed

[2021-04-06 18:22] vladsud opened #5733 "Implement throttling in requestOps()"
Implement throttling for op fetching logic (see requestOps() op and discussion in https://github.com/microsoft/FluidFramework/pull/5703/files).

The root problem is that network stack might be faster (especially when processing multiple overlapping requests) then consumption (CPU-bottlenecked). In this case we can accumulate a ton of ops in memory waiting for processing.

Right now it's not really

[2021-04-06 19:31] #5443 closed

[2021-04-06 19:43] agarwal-navin opened #5734 "Sweep tests for GC"
Add testing for `sweep` stage of GC. The idea is that we create a data store, perform operations on it for a period of time and then remove its handle making it unreferenced. This data store should now be deleted and it should not cause any unexpected issues during normal usage after deletion.

[2021-04-06 21:26] #3738 closed

[2021-04-06 21:26] #5471 closed

[2021-04-06 21:34] agarwal-navin opened #5736 "Move "runGCInTestMode" from loader options to container runtime options"
This option makes more sense to be a container runtime option along with the other GC options.

[2021-04-06 23:56] #5564 closed

[2021-04-07 00:11] #5628 closed

[2021-04-07 00:21] Vivihung commented on #3925
While the JavaScript standard has evolved, one could argue you don't really need lodash today.
However, before evaluating removing/replacing the entire lodash, please also spend time in checking how you import the library. By searching the code base, I found many places import the entire lodash library
[code]

Comparing just import the module you need.
[code]

The 2nd approach is better because it

[2021-04-07 01:11] vladsud opened #5738 "DDS to use deep-cloning / immutable objects when raising events, returning current state"
Let's consider a case of ISharedMap (as an example) and a value stored in it being an object (any mutable object, like an array, or object with properties).

There are 3 key workflows:
1. Setting new value for a key:
[code]
2. reading data:
[code]
3. get, modify, and set data:
[code]
**Requirements:**
1. After value is set on DDS, original object stays mutable. I.e. it's not deep-frozen. Making an

[2021-04-07 18:56] markfields opened #5740 "Document key telemetry events and errors to aid in troubleshooting"
### Issue Category

- Missing page/section/topic

### Details

Internally at Microsoft, we maintain "TSGs" or Troubleshooting Guides to help during investigation of errors in the system. These should be published on the docs site in some form. Here are some examples of what to consider including:

* Key telemetry events for main scenarios (Container load, Summarize, Request routing)
* Error propag

[2021-04-07 21:30] anthony-murphy opened #5747 "Shared String: getPositionOfNextTile"
## Feature
This is a minor improvement on findTile where we are hoping to save time. A common operation on tile markers is to consider them as a collection and ask questions about their positions. For example, for paragraph tile markers, a common question is “does this range contain any paragraph tile markers”? Others may wish to find the position of the next table cell marker, for example, to ext

[2021-04-07 21:31] anthony-murphy opened #5748 "Shared String: findTile to accept an array of tile labels"
## Feature
A common scenario is to find the closest tile from a variety of labels. For example, in the case of extending the selection again, we would wish to find the next paragraph mark tile, or a table cell mark, or a section break mark. The idea would be for findTile to return the first marker that has any of the tile labels given.

[2021-04-07 22:12] arinwt commented on #5617
Planning to resolve this issue from the "adding telemetry" stage outlined in this issue: #5222

[2021-04-07 23:20] Czhang0727 opened #5749 "Return File information directly with in load info"
Currently we have some complex implementation on "Get filename". It require two calls through SPO apis.
It will better if we could have filename directly returned from the loadComponentInXYZ

Ref:
FluidFramework/contracts.ts at main · microsoft/FluidFramework (github.com)
FluidFramework/odspDriverUrlResolverForShareLink.ts at main · microsoft/FluidFramework (github.com)

[2021-04-08 02:01] vladsud opened #5751 "We attempt to upload summary more often than we generate it, suggesting retry logic kicks in when summarizer is offline and already gone"
This is not urgent, but worth addressing soon (let's say in June).
Compare results of these two queries:

Office_Fluid_FluidRuntime_Performance
| where Data_eventName contains "GenerateSummary_end" or Data_eventName contains "GenerateSummary_cancel"
| summarize count(), sum(Data_totalBlobSize)

	237,694 	23,856,049,936

This is actual bits attempted to upload:

Office_Fluid_FluidRuntime_Performanc

[2021-04-08 02:45] jatgarg commented on #5292
So one of the pitfalls in scheduler that I found was that should be causing lot of op traffic was that lets say we have 10 client in a document and the current leader leaves, then all the other 9 clients would send "null" for all tasks assigned to that client in order to make it available to other clients.

Sol: I am thinking of adding some randomization on "removemember" task in scheduler where i

[2021-04-08 02:55] vladsud commented on #5292
Correct me if I got it wrong, but I believe that (based on memory)
1. All clients would send null, and then send their own clientID attempting to own that task. So that's 2x traffic required.
2. When client is catching up and processes a bunch of ops, for each leave op that lost leadership it will send null, when it can avoid it and send it only when it gets connected.

So I think these are the tw

[2021-04-08 03:18] vladsud commented on #5288
Closing it, as most of the items are addressed, as remaining smaller issues are around to track incremental progress.
\# 2 "Too many ops from directories" is believed to be only related to V1 tables and not to impact prod scenarios.

[2021-04-08 03:18] #5288 closed

[2021-04-08 06:17] vladsud commented on #5523
Resolving as fixed via https://github.com/microsoft/FluidFramework/pull/5703.
All of the work is done with exception of actual parallel fetch logic - that will happen a bit later.

[2021-04-08 06:17] #5523 closed

[2021-04-08 16:13] ChumpChief commented on #5292
You can probably skip the null write altogether by adding a little more client-side logic.  There's no public exposure of the assigned clientId for a given task, so there's no real penalty for leaving a stale clientId in the CRC (all clients can calculate that it's stale on the client side and treat it as equivalent to null).

[2021-04-08 17:23] anthony-murphy commented on #5701
looks like sharepoint isn't going to implement this, and will need #5545 instead, so we don't need to do this work

[2021-04-08 17:23] #5701 closed

[2021-04-08 18:24] skylerjokiel commented on #5729
@IvoCurado , I'm really excited to see your interest in SPFx + Fluid. Currently don't have any formal integration between the two. Within Microsoft we are exploring opportunities between the two products and we believe there are multiple compelling scenarios. Thanks for your patients and definitely stay tuned. We are hoping to release more information about these technologies will be integrated in

[2021-04-08 19:47] vladsud opened #5756 "Fetch can report URIs in error messages"
This query shows we are trapping URIs in our telemetry:

union office_fluid_ffautomation_error
| where Data_buildId == 21333
| summarize count() by Data_eventName, Data_message, Data_error

fluid:telemetry:Container:ContainerWarning
Service busy/throttled: Fetch error: FetchError: request to https://a830edad9050849829j20060312.sharepoint.com/_api/v2.1/drives/b!Uz0BCJ....
 failed, reason: connect E

[2021-04-08 19:49] anthony-murphy commented on #5756
There is a related problem in deltaManger.emitDelayInfo where we manually craft the error message, and don't use our safe property extraction methods. this also leads to loosing the call stack

[2021-04-08 20:18] arinwt opened #5758 "Handle floating fetchSnapshot promise in ODSP driver"
In `getVersions` within OdspDocumentStorageManager, if we have a cached snapshot already, we don't `await` the `fetchSnapshot` promise, which leads to unhandled promise rejections when it fails. Specifically, we are seeing server 404s failing and not being handled.

I think at minimum, we can add an else case to disregard the rejection (since the inner function does already do some logging on erro

[2021-04-08 20:21] tylerbutler commented on #5679
Are there any back-compat issues with existing drivers? I.e. if the driver doesn't enforce the new behavior? Maybe that's not a problem because the server is already responding with a 4xx response with or without the header?

[2021-04-08 20:33] anthony-murphy commented on #5545
closing as duplicate of #5679

[2021-04-08 20:33] #5545 closed

[2021-04-08 20:34] anthony-murphy commented on #5679
i don`t think so. currently the file just won't open, as join session will fail, and the container will close. this change will allow the container to stay open in storage only mode

[2021-04-08 20:44] #5756 closed

[2021-04-08 20:52] Czhang0727 commented on #5749
@AndreiZe , would you help to involve who may know the domain knowledge. I know we discussed this for a while, and we really wanna to make it happen.

[2021-04-08 21:25] vladsud opened #5761 "Batch processing in ContainerRuntime may not process batch in one JS turn"
Code in ScheduleManager carefully tries to ensure that batches are processed in uninterrupted fashion.
It ensures that op processing is paused until full batch is available on the client.

However, it can't prevent some entity from pausing op processing half way through the batch, thus breaking the batch.
There needs to be some mechanism ensuring that can't happen.

[2021-04-08 22:03] vladsud opened #5762 "Signal are lost on load path"
Our signal story is not ideal. While we do not provide very strong guarantee around them (clients that are disconnected do not receive any), there is a need for at least some level of SLA being available to be able to do anything useful with them. One such guarantee - signals are not lost while connection is in place. That, coupled with clients (and server) re-broadcasting valuable info on new cli

[2021-04-08 22:03] vladsud commented on #5762
@skylerjokiel - FYI

[2021-04-08 22:18] leeviana commented on #5749
To clarify, the ask it to put this info on the odspResolvedUrl info

[2021-04-08 23:52] jatgarg commented on #5292
@ChumpChief I think we cannot leave stale clientId in the CRC as it has to be reassigned to a new client.

[2021-04-08 23:54] jatgarg commented on #5292
@vladsud For your second point, as I can see when we receive removeMember event we only send null when the client is Active.
One problem that I see with oldest member being assigning tasks to other clients is that then it should now whether that client wants to run that task or not. Although I agree that it can at least send null and then all client won't have to send null.
In my PR, I am trying t

[2021-04-09 00:00] #5720 closed

[2021-04-09 01:19] vladsud commented on #5292
What Matt is saying (I think) is that there can be an "interpretation" layer on top of DDS that replaces (in its projection to next layer only) all clientIDs that are not in quorum with nulls. That way there is no reason at all to send nulls, as every client would have same interpretation layer and would instantly get that same message that it became null.

And yes, you are correct that either kno

[2021-04-09 10:26] VineetAg125 commented on #5679
### Response Details:

**HTTP Status code:** 400 Bad Request

**Header Key:** X-Session-Forbidden

**Possible Header Values:**
- PRESERVED_FILE(When file is present in preservation library)
- MODERATION_ENABLED_LIST(When file is present in a list with "Content Approval" Enabled)
- FILE_REQUIRES_CHECKOUT(When file is present in a list with "Requires Checkout" Enabled)

**Response Body:**
`{
"error"

[2021-04-09 10:49] vinitisingh commented on #5679
### Response Details:

**HTTP Status code:** 400 Bad Request

**Header Key:** X-Session-Forbidden

**Possible Header Values:**
- PRESERVED_FILE(When file is present in preservation library)
- MODERATION_ENABLED_LIST(When file is present in a list with "Content Approval" Enabled)
- FILE_REQUIRES_CHECKOUT(When file is present in a list with "Requires Checkout" Enabled)

**Response Body:**
`{ "error"

[2021-04-09 13:39] IvoCurado commented on #5729
@skylerjokiel , Thanks for the answer. Looking forward to see that integration.

[2021-04-09 13:39] #5729 closed

[2021-04-09 16:16] astegmaier commented on #5478
Thanks for putting this together - I'm new to the fluid framework, and this was useful to help me start wrapping my head around it.

One problem I found that it is broken with the latest versions of the `@fluid-experimental` packages (currently `0.37.4`). I tried fixing the version of each package to `0.36.1`, and it worked.

It looks like the new packages have a different import style for `Fluid`

[2021-04-09 16:22] anthony-murphy commented on #5679
@vinitisingh in the above response body I assume that `code` is actually a numeric code. If so, can you share  the numeric code for `invalidRequest`

[2021-04-09 16:34] vinitisingh commented on #5679
The `code` in response body is not a numeric code. The actual failure reason will come in the response header `X-Session-Forbidden` @anthony-murphy

[2021-04-09 16:34] anthony-murphy commented on #5563
@markfields I don't think we should do more than log it in the pipeline. we should bias towards debugging via our production logs, and if they are not enough, then they should be improved. i worry if we make it too easy to access the file we will bias towards that crutch, and not be in a good position to diagnose issue from logs.

[2021-04-09 16:41] anthony-murphy commented on #5679
interesting. do you know what the numeric http status code will be for the response then?

[2021-04-09 16:44] vinitisingh commented on #5679
Since it will be a 400 Bad Request, it should be 400

[2021-04-09 16:45] anthony-murphy commented on #5679
I also now see that at the top! Thanks!

[2021-04-09 16:46] vinitisingh commented on #5679
Just an FYI, these API changes are not checked-in yet, will update once they are checked-in.

[2021-04-09 17:18] anthony-murphy opened #5771 "Support Client Providing Protocol Tree in Summaries and Server-Side Verification"
## Feature
Currently the protocol tree is generated and controlled by the server. This can create issues if the server and client are uncoordinated due to other issues. This can lead to divergent quorums which can cascade into a lot of issues, including permanent data corruption.

The current design also forces the ordering service (scribe) to make addition storage calls to write the protocol tree

[2021-04-09 17:20] anthony-murphy commented on #5771
@vladsud @tanviraumi @GaryWilber @curtisman @marcmasmsft

[2021-04-09 17:21] anthony-murphy commented on #5771
Open question, should the server also validate the quorum proposal, as these can influence the code loaded by clients, so could also be considered secutity critical.

[2021-04-09 17:30] anthony-murphy commented on #5771
Ideally, we can make this very efficient for the server, as scribe should just need to store a single hash for the quorum at each quorum message (join/leave/propose/reject). this can then easily be mapped into based on the attributes sequence number. scribe would then just need to hash the incoming quorum, and compare it to its own hash for the seq. This list should be able to be truncated at leas

[2021-04-09 17:58] markfields commented on #5617
Quick comment here - One incident I looked at happened over the weekend, when the volume of summaries dropped, so noise from a single document overwhelmed the signal and tripped the alert.  So another strategy may be to add logic to the alert to include a minimum overall volume? On the other hand, simpler is way better so needs some more thought.

[2021-04-09 19:04] markfields commented on #5756
Related: #4908

[2021-04-09 19:05] markfields opened #5774 "Fix deltaManger.emitDelayInfo error logging"
There is a related problem in deltaManger.emitDelayInfo where we manually craft the error message, and don't use our safe property extraction methods. this also leads to losing the call stack

_Originally posted by @anthony-murphy in https://github.com/microsoft/FluidFramework/issues/5756#issuecomment-816117941_

Related to #4908

[2021-04-09 19:05] markfields commented on #5756
I opened #5774 for @anthony-murphy 's deltaManger.emitDelayInfo case.

[2021-04-09 19:43] jatgarg commented on #5292
oh okay. Got the point now. Thanks for explaining.
Yes, makes sense for this issue. Will close the issue with above PR and then we can analyze later.

[2021-04-09 19:49] markfields commented on #5563
That's fine, totally agree on wanting our team to be fluent in our logs and for the logs to be able to stand alone.

[2021-04-09 19:53] #5292 closed

[2021-04-09 20:07] markfields commented on #5696
Yeah good catch, updated the original comment to say "if check and throw".

[2021-04-09 20:26] vladsud commented on #5771
I do not know if we have appetite here, but I'd use the opportunity to remove quorumValues (either completely, or tracking by server) and promote code key to its own value (in some form or shape). This would require (non-back compat) changes, but I believe it's wrong idea to have such a global entity (available to anybody to poke around).

Excluding "code" from server tracking allows summary to ov

[2021-04-09 21:30] markfields commented on #5679
@vinitisingh - This is minor feedback, but can we consider dropping the `X-` prefix? See second paragraph here:  https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers

[2021-04-09 22:27] phanivaranasi commented on #5648
I have mentioned my repository details as well, kindly could you fork and look into it.
https://github.com/phanivaranasi/hello-world-react-fluid

[2021-04-09 23:14] tanviraumi commented on #5771
Just to clarify, the proposal is to upload the ".protocol" tree along with the app summary. And then when scribe sees the summary op, it will download the ".protocol" and match with its own in memory state? If they matches, scribe commits it immediately. Otherwise, it nacks and closes the session?

Did not get the hashing part. Are we suggesting scribe to keep a rolling hash of its protocol state.

[2021-04-09 23:31] tylerbutler commented on #5648
@phanivaranasi Thanks for reminding me about your repo. You mentioned that you based your code on the brainstorm sample. Is this the one you're referring to? <https://github.com/microsoft/FluidExamples/tree/main/brainstorm>

If so, then I think the problem is that the package versions you're using do not match the ones in the brainstorm example. When I update the dependencies in your package.json

[2021-04-09 23:32] anthony-murphy commented on #5771
@vladsud I agree. I also don't think its that bad right now. I think quorum could easily just become a specialized structure that only support `code` for now. If we need a generalized quorum we could easily add it as a dds.

@tanviraumi yes. that sounds right.

My though was that scribe tracks the rolling hash, and matches it to a hash of the protocol it computes. This gives us the most similar gu

[2021-04-09 23:39] tanviraumi commented on #5771
@anthony-murphy Great! I am imagining scribe will check the entire .protocol field, which will include quorum proposals and values as well.

Let's take the rolling hash as a future work item.

[2021-04-12 13:10] jcmoore opened #5783 "Add test automation that promotes defensive access of localStorage"
* Edit 1: added eslint recommendation and comment on nodejs consideration

## Work Item
**Describe the outcome you expect**
This intends to track follow-ups to #5585 and #5588 -- access to `window.localStorage` can not be guaranteed so the Fluid ought to load/run successfully without it.  Tests might be written to preserve this characteristic.  It might also be worth considering normalization of a

[2021-04-12 13:21] vinitisingh commented on #5679
Sure Mark. Header name changed to `Session-Forbidden`

[2021-04-12 16:45] anthony-murphy commented on #5346
@jatgarg i'm assigning this to you, as its related to #5444

[2021-04-12 19:26] #5717 closed

[2021-04-12 19:31] nimgup opened #5786 "Get random user name from InsecureTinyliciousTokenProvider"
## Feature
**Is your feature request related to a problem? Please describe.**
Currently, when using the Tinylicious server with [InsecureTinyliciousTokenProvider](https://github.com/microsoft/FluidFramework/blob/main/packages/drivers/tinylicious-driver/src/insecureTinyliciousTokenProvider.ts), we only get a UUID as user.id. Other user-related fields are missing - user.name, user.email. Also, unlik

[2021-04-12 20:54] #5563 closed

[2021-04-13 17:14] anthony-murphy opened #5794 "Remove IParsedUrl and parseUrl From Loader"
## Work Item
IParsedUrl and parseUrl bring implicit assumptions about url format to the loader. this should be fully abstracted by the url resolver pattern. Likely this means adding a `pathAndQuery` property to FluidResolvedUrl

The parsing of doc id is done in this PR #5791

[2021-04-14 00:07] ksbrar commented on #5179
Added sections for corruptions and processing errors (current extent of data integrity tracking) to the reliability report.

[2021-04-14 00:07] #5179 closed

[2021-04-14 14:44] DLehenbauer opened #5805 "SharedMatrix: Should not re-emit revertibles during reconnection"
## Describe the bug
On reconnection, the 'setCell()' op is re-emitted by SharedMatrix as the op is replayed.  (i.e., the subscriber sees the IRevertible twice: once for the original 'setCell()' call and again when it's replayed.)

### To Reproduce
Perform a 'setCell()' operation while in a disconnected state.
Reconnect.

### Expected behavior
IRevertible is emitted for original 'setCell()' operati

[2021-04-14 17:12] markfields commented on #5300
Lots of work has happened here, and this issue itself isn't providing any value, we're just taking care of it.  e.g. @wes-carlson did a ton of work here on ODSP tests, and @curtisman improved the pipeline.

[2021-04-14 17:12] #5300 closed

[2021-04-14 17:13] markfields commented on #5057
@agarwal-navin did you do some work here recently? Any PRs to mention here for future reference?

[2021-04-14 17:15] agarwal-navin commented on #5057
#5686 - This refactored DataStoreRuntime to add some basic tests.

[2021-04-14 17:45] agarwal-navin opened #5807 "Plumb "unreferenced" flag in downloaded summary from ODSP driver to runtime"
The "unreferenced" flag from the getLatest summary needs to be sent to the runtime. This will be used to return 404 when an unreferenced data store is requested externally.

[2021-04-14 17:57] DLehenbauer opened #5808 "SharedMatrix: Ops transmitted during reconnection phase are adjusted incorrectly"
## Describe the bug
The row/col targets of 'setCell()' ops are adjusted incorrectly on the 2nd reconnection attempt leading to data loss.

## More Info
The cause of the issue is that SharedMatrix previously advanced 'localSeq' when resubmitting ops. If the initial submission fails, and the 1st reconnection also fails, the 2nd reconnection attempt replays the ops that were resubmitted during the 1s

[2021-04-14 18:06] DLehenbauer opened #5809 "SharedMatrix: Op resubmission replaces IFluidHandle with serialized form"
## Describe the bug
There is a short window of time where setting IFluidHandles into SharedMatrix cells seems to initially work, but the handles later are converted to their serialized form?

### To Reproduce
During reconnection, setCell() with an IFluidHandle.  Later, retrieving the cell value returns the serialized from `{ type: "__fluid_handle__", url: ".." }`.

Only reproduces during this narr

[2021-04-14 18:08] dcakirkaya commented on #5493
I had a similar error (`connected` property not found) when I upgraded to 0.37.4 from 0.34.3, and figured it's because the moved `getTinyliciousContainer` returns an `IContainer` instead of `Container`, and these `connected` and `isDirty` properties are not available on `IContainer` interface.

BEFORE:
[code]

NOW:
[code]

Would be nice to have these properties on IContainer as well.

[2021-04-14 18:46] dcakirkaya opened #5810 "Tinylicious: Document data is lost across Tinylicious sessions"
## Describe the bug

The document data does not seem to be persisted across different Tinylicious sessions.

### To Reproduce

Can be reproduced in any of the [FluidExamples](https://github.com/microsoft/FluidExamples/), like this:

1. change directory to e.g `draft-js` example, open two terminals.
2. npm run start:server
3. npm run start:client
4. Browse to localhost:8080, create a new document (

[2021-04-14 19:54] skylerjokiel commented on #5478
Thanks @astegmaier . You are correct 0.37 introduced some breaking changes. I'm closing this issue for now since it's no longer functional and we will work to publish the next version.

We've also addressed the tinylicious issue in version 0.37.

[2021-04-14 20:39] #5805 closed

[2021-04-14 20:54] celsoaguiar commented on #5810
humm, correct me if I'm wrong but, in the examples, tinylicious is what's keeping that data alive across clients. If you kill tynilicious, away goes your data. For it to work as you want, you'd have to store it yourself in some DB outside Fluid and on a new session initialize tinylicious w/ your previous state.

[2021-04-14 20:58] skylerjokiel commented on #5762
@vladsud , we have yet to expose signals to 3rd parties through the new developer model. It's been on my mind but it's on critical path for any Public Preview currently. We haven't explored presence from the 3P perspective much but currently our examples use DDSes to save and store user location state.

My current thinking is to stay the course and not make signals blocking for any Public Preview

[2021-04-15 02:00] #5648 closed

[2021-04-15 18:54] #5732 closed

[2021-04-15 19:53] #5615 closed

[2021-04-16 14:43] DLehenbauer commented on #5809
Fixed by #5813.

[2021-04-16 14:43] #5809 closed

[2021-04-16 14:58] DLehenbauer commented on #5810
That's correct.  See the 'Storage' section of the Tinylicious README for info on how to enable persistent storage. ([here](https://github.com/microsoft/FluidFramework/tree/main/server/tinylicious#storage)).

[2021-04-16 14:58] #5810 closed

[2021-04-17 00:14] dcakirkaya commented on #5810
@DLehenbauer I'm already aware of that [Storage section](https://github.com/microsoft/FluidFramework/blob/main/server/tinylicious/README.md#storage), and I had already set it to false, it [still behaved the same](https://stackoverflow.com/questions/67029805/how-to-persist-fluid-document-data-between-tinylicious-sessions).

Should I open a new bug ?

PS. The readme refers to a config.json with a br

[2021-04-19 14:36] vladsud commented on #5762
Find with me - this issue was not intended as we need to address it now, more of - things are not working well and need to be re-evaluated.

I think we should also critically look at original motivations and if they are valid or have better solutions. The motivations were:
- COGS - adding ops from clients that are mostly viewing
- Last edited: not changing who changed file last if user is only vie

[2021-04-19 15:15] DLehenbauer commented on #5810
@dcakirkaya - Ah..  I see.  Yeah, I would recommend opening a new issue _just_ to make sure that the next person skimming new issues doesn't see the question about 'db.inMemory: true' and stop reading too soon.

@thea-exe - It would be nice to change 'server/tinylicious/README.md' so that the text 'see config.json' is a link to the Tinylicious config.json file ([here](https://github.com/microsoft/

[2021-04-19 16:43] micahgodbolt commented on #5478
@astegmaier thanks for the feedback. I've ran into the tinylicious order issue too, though we've resolved that in current releases where the ports don't overlap any longer. Working right now on an upgraded demo that'll reflect those new changes

[2021-04-19 16:52] micahgodbolt commented on #5478
@reinvanleirsberghe you aren't missing anything....this "isNew" approach is the easiest way we've found to simulate the creation of new documents without adding a bunch of boilerplate UI to the demo. Fluid is all about co-authoring a specific "document" and in most applications there will be a very specific 'creation' UI vs 'file open' UI (or new game, join game). We totally understanding this dev

[2021-04-19 17:51] skylerjokiel opened #5849 "Remove public getDataObject from fluid-static RootDataObject"
The `getDataObject` function is remaining public on `RootDataObject` that needs to be remove. It can simply be removed.

https://github.com/microsoft/FluidFramework/blob/main/experimental/framework/fluid-static/src/containerCode.ts

[2021-04-19 19:06] anthony-murphy commented on #5771
@tanviraumi and @GaryWilber what's the best way to start staging this work? will the server support the client sending the protocol tree right now? what will scribe do? Trying to think about how to break this work down, and start getting pieces of it scheduled

[2021-04-19 20:58] SamBroner commented on #5849
@thea-exe, I thought this may be a good issue as well!

We no longer need this method on the Data Object because the FluidContainer has the same functionality.

I direct linked to the method that can be removed.
 https://github.com/microsoft/FluidFramework/blob/67448f5b5f6ecc05ad6adb9055d9a073a8edb8b1/experimental/framework/fluid-static/src/containerCode.ts#L139

[2021-04-19 22:00] sumedhb1995 opened #5853 "Cleanup uses of getContainer once service-specific client packages are available"
With the move to have service-specific client packages to manage connections to Tinylicious, Routerlicious, ODSP, etc., the examples that are consuming get-container currently need to be switched to use the new packages instead.

This PR introduces the changes to add in tinylicious-client
https://github.com/microsoft/FluidFramework/pull/5838

With those changes, the examples currently using Tinyli

[2021-04-20 00:11] tanviraumi commented on #5771
Thinking out loud, I think the steps roughly look like the following:

1) Add a flag (I prefer an object with flag as a field for future changes) to ISummaryContent (https://github.com/microsoft/FluidFramework/blob/main/server/routerlicious/packages/protocol-definitions/src/protocol.ts#L183). Flag will be true for requests where .protocol was already uploaded by the client.

2) Scribe needs to be

[2021-04-20 00:51] GaryWilber commented on #5771
@tanviraumi 2 and 4 in a single PR sounds fine. I think we could finish those before the client finishes number 3.
Do you imagine adding that new flag/field as a param in the [writeClientSummary](https://github.com/microsoft/FluidFramework/blob/5a7f48d9fec84f9ed195ca331e5cb397079e1307/server/routerlicious/packages/lambdas/src/scribe/interfaces.ts#L39) method?

@marcmasmsft Do we need to change any

[2021-04-20 04:55] tanviraumi commented on #5771
The method takes the 'op' already as a param. So we can just extract the flag from it. Yeah combining 2 and 4 sounds fine to me as well. We can even combine 1, 2, and 4 and just run ahead of client. Should be easy to make it back and forward compatible.

[2021-04-20 05:04] tanviraumi commented on #5762
Thanks for kicking it off! I think we should be really clear about when and how to use signal, especially for 3rd party developers. We should also clarify what "Audience" means and how it's different from Quorum. May be provide a unified API that hides Quorum and Audience, and provide one unified membership API?

Another important aspect for 3rd party developer is the cost model. How much we shoul

[2021-04-20 10:39] vinitisingh commented on #5679
The recommended pattern for Vroom APIs is to throw specific vroom exceptions for each scenario. This means for storageOnly mode, JoinSession will throw three different VroomException, one for each scenario : PreservedFile/ModerationEnabledLibrary/FileRequiresCheckout.

**With this change, the specific errorCode will come in response body(inside `code`) and there will not be any custom response hea

[2021-04-20 13:40] vladsud commented on #5762
Audience is secondary in this discussion, but I think it's hard to impossible to combine audience and quorum, unless we are willing to provide unified ordering for the two in some way.

[2021-04-20 17:04] vladsud commented on #5538
@jatgarg, any chance you have time to help me here in next 5-7 business days?
The core of the work here is to convert payload we get from Container when creating new file (ISummaryTree) to a snapshot (IOdspSnapshot), such that we can push it into cache and could reuse on next boot.

[2021-04-20 18:02] jatgarg commented on #5538
@vladsud yes sure. So should I write an api say in odsp-driver to convert the snapshot?

[2021-04-20 18:57] jatgarg opened #5866 "Data Corruption due to distributed ordering service. (Follow up)"
## Describe the bug
The original bug is described here: [Data corruption: Client runtime can't properly track op acks in presence of distributed ordering service architecture](https://github.com/microsoft/FluidFramework/issues/4399)

For fixing the issue, we implemented the logic to wait for 90sec(default) to wait for leave op before moving to connected state with new clientId even if we have not

[2021-04-20 18:58] jatgarg commented on #5866
fyi: @vladsud @anthony-murphy @tanviraumi @GaryWilber @curtisman

[2021-04-20 19:18] anthony-murphy commented on #5866
Additionally, I don't think a timeout ever makes sense here. It should just be part of the protocol that the client needs to wait for it's own leave before its truly connected, anything else can lead to corruption issues. if the leave takes to long we should work on making that faster and not have the client unsafely proceed.

[2021-04-20 19:53] jatgarg commented on #4603
Deduped a lot here: https://github.com/microsoft/FluidFramework/pull/5122.

[2021-04-20 19:53] #4603 closed

[2021-04-20 19:54] vladsud commented on #5866
Is this a guess, or there is actual data supporting this claim?
Can you please post stats / queries pointing out how many times we hit timeout, and how many times we actually see duplicate ops in those cases?

[2021-04-20 20:30] anthony-murphy commented on #5866
I believe the original fix went in 0.37, but we're still seeing messageClientIdShouldHaveLeft any of which could be corruptions:

Data_docId | Column1 | set_Data_hostName | set_Data_loaderVersion
-- | -- | -- | --
iTrsm2r5fc%2BOSN3TkfanHFGYns%2Fp%2BZnvHMfF6lQTL3o%3D |   | [ "Office.com" ] | [ "0.34.1" ]
nLHcLBrJ3Unz9z1iaBC%2F9JslN46r36z12gLLhEi2HEY%3D |   | [ "Office.com" ] | [ "0.34.1" ]
FVDhiOnG

[2021-04-20 20:36] anthony-murphy commented on #5866
I really don't understand how this was even supposed to work, as we know the server has a 5min timeout to send leaves. from the data we can see no client ever successfully waited for their leave (below). We need to be strict in this case, and work on optimizing leave message time. Anything else leaves gaps that can lead to corruption

Office_Fluid_FluidRuntime_Performance
| where Data_eventName ha

[2021-04-20 20:40] jatgarg commented on #5866
The result of this query is empty
union Office_Fluid_FluidRuntime_*
    | where Event_Time > ago(30d)
    | where Data_eventName has "WaitBeforeClientLeave_end"
    | where Data_leaveReceived == true
    | summarize by Data_docId
Means we didn't received leave op when we were waiting and already received join op.

[2021-04-20 20:40] jatgarg commented on #5866
ohh Tony already had results for that.

[2021-04-20 20:50] jatgarg commented on #5866
Also The results of the query:
let docs =
    union Office_Fluid_FluidRuntime_*
    | where Event_Time > ago(30d)
    | where Data_eventName has "WaitBeforeClientLeave_end"
    | summarize by Data_docId
    | where isnotempty(Data_docId)
;
union Office_Fluid_FluidRuntime_Error
| where Data_message == "messageClientIdShouldHaveLeft"
| where Data_docId in (docs)
| project Data_docId, Data_loaderVers

[2021-04-20 20:51] tylerbutler opened #5870 "Docs PR builds should only run when source branch is in the main repo"
The PR docs site deployment requires access to the main repo secrets, which are not granted to PRs generated from forks. We can probably fix it by adding some conditional logic to the GitHub action.

[2021-04-20 20:56] vladsud commented on #5866
That's precisely why I'm asking for more data - up until recent post by Jatin there was no data on overlap of those two circles - timeouts and data corruptions. Meaning that we can get rid of timeout, wait for a month to get new data and be in exactly same position as today.

I glanced at some of the WaitBeforeClientLeave_end sessions and they all seem to follow "Nack: Nonexistent client" disconne

[2021-04-20 20:57] anthony-murphy commented on #5866
Office_Fluid_FluidRuntime_Error
| where Data_message == "messageClientIdShouldHaveLeft"
| summarize make_set(Data_hostName), make_set(Data_loaderVersion) by Data_docId, unixtime_milliseconds_todatetime(Data_messageTimestamp)

[2021-04-20 21:07] anthony-murphy commented on #5870
I wonder if these steps should be move to a CI build/release, rather than a PR trigger, so it only runs on committed content

[2021-04-20 21:50] tylerbutler commented on #5870
The value of the PR trigger is that it builds and deploys a version of fluidframework.com so we can review changes in the site context. That's more critical for (a) changes that require the site to be built, like JS fixes and storybook integration stuff, and (b) bigger scope changes where we want a long-running branch with a "staging site".

[2021-04-21 15:01] ksbrar commented on #5426
It turns out that the example errors above that caused a lot of duplication issues went away with shortcodes (https://github.com/microsoft/FluidFramework/pull/5619).

However, digging into the long tail of errors there are still cases of duplication or empty errors that can be fixed, so I will use this issue to log some of those cases.

[2021-04-21 16:09] himanshu007-creator commented on #5849
Hi i would like to work on this issue.

[2021-04-21 16:34] anthony-murphy opened #5881 "Make all retry times to be milliseconds everywhere"
Personally, I'd prefer all the times to be milliseconds everywhere, and rather rename getRetryDelayFromError and make it return milliseconds (and fix couple places).

Note - same problem exists in getFileLink.

_Originally posted by @vladsud in https://github.com/microsoft/FluidFramework/pull/5873#r617142141_

[2021-04-22 02:23] vladsud commented on #5538
PR referenced above is big part of a solution. What's missing is adding end-to-end caching and testing

[2021-04-22 03:50] vladsud opened #5895 "Too many fluid:telemetry:OdspDriver:getVersions_cancel events"
I've been looking at telemetry from COGS perspective (i.e. number of events), and this stood up:

union Office_Fluid_FluidRuntime_*
| where Data_eventName contains "fluid:telemetry:OdspDriver:GetVersions"
| where Data_eventName contains "_cancel"
| where Data_error == "Fetch error: TypeError: Failed to fetch"
| summarize count() by Data_eventName, Data_hostName

fluid:telemetry:OdspDriver:getVersi

[2021-04-22 13:55] vinitisingh commented on #5679
The API changes are checked in and have reached SPDF.

[2021-04-22 15:50] vladsud commented on #4793
This issue is addressed by https://github.com/microsoft/FluidFramework/pull/5773, as well as 0.38 port - https://github.com/microsoft/FluidFramework/pull/5850

[2021-04-22 15:50] #4793 closed

[2021-04-22 16:30] #5736 closed

[2021-04-22 16:32] agarwal-navin opened #5899 "Add local storage flag for turning on GC test mode"
Add a local storage flag for turning on "runGCInTestMode" which deletes unreferenced data store contexts as soon as GC runs.

[2021-04-22 16:51] anthony-murphy opened #5900 "Add flag to ISummaryContent to specify if .protocol is part of client summary"
Add a flag (I prefer an object with flag as a field for future changes) to ISummaryContent (https://github.com/microsoft/FluidFramework/blob/main/server/routerlicious/packages/protocol-definitions/src/protocol.ts#L183). Flag will be true for requests where .protocol was already uploaded by the client.

_Originally posted by @tanviraumi in https://github.com/microsoft/FluidFramework/issues/5771#iss

[2021-04-22 16:52] anthony-murphy opened #5901 "Update Scribe to honor ISummaryContext protocol included flag"
Scribe needs to be updated to check the flag and for now, ignore the ".protocol" part of the client tree where flag is set to true.

flag to be added as part of #5900

_Originally posted by @tanviraumi in https://github.com/microsoft/FluidFramework/issues/5771#issuecomment-822872101_

[2021-04-22 16:53] anthony-murphy opened #5902 "Client upload ".protocol" as part of summary"
Client will start uploading ".protocol" and set flag to true.

_Originally posted by @tanviraumi in https://github.com/microsoft/FluidFramework/issues/5771#issuecomment-822872101_

[2021-04-22 16:54] anthony-murphy opened #5903 "Validate client provided .protocol in scribe"
Scribe can now run validation. if .protocol validation passes, it does not re-upload the same thing anymore and just commits the summary (this part is different between push and r11s since r11s always adds .logTail and .serviceProtocol but that part is already abstracted). If validation fails, it starts nacking.

_Originally posted by @tanviraumi in https://github.com/microsoft/FluidFramework/issu

[2021-04-22 16:55] anthony-murphy commented on #5771
I went ahead and created an item for each part of the plan:
- [ ] #5900
- [ ] #5901
- [ ] #5902
- [ ] #5903

[2021-04-22 17:47] #5574 closed

[2021-04-22 18:29] micahgodbolt commented on #5494
closing this down as set sunset KVpair

[2021-04-22 18:29] #5494 closed

[2021-04-22 18:32] micahgodbolt opened #5904 "0.38 CRA-Demo Script and Feedback"
# @fluid-example/cra-demo 0.38 release

get here: [aka.ms/fluid-cra](https://aka.ms/fluid-cra)
[goto demo](#issuecomment-825089542)
Review of feedback from [0.36](https://github.com/microsoft/FluidFramework/issues/5478) demo

## Version 0.38 Demo Changes

1. Changed to JS version of create-react-app
2. `createContainer` now accepts named `initialObjects` via config removing the need to create/get

[2021-04-22 18:33] micahgodbolt commented on #5904
# @fluid-example/cra-demo
This is an experimental learning tutorial demonstrating an integration between [`create-react-app`](https://create-react-app.dev/) and Fluid.

[2021-04-22 18:36] micahgodbolt commented on #5478
Closing this issue as we're moving on with 0.38 https://github.com/microsoft/FluidFramework/issues/5904

[2021-04-22 18:37] #5478 closed

[2021-04-22 20:17] #5808 closed

[2021-04-22 21:02] jatgarg commented on #5866
One problem is referred in above issue. One more is:
So I have analyzed a some sessions and seems like we are receiving removeMember event before the disconnected event and that is why we always timeout as timer is not shutdown by leave as that has already occurred before even starting the timer. I think this could happen in case server initiating the disconnection where we first receive the remov

[2021-04-22 21:49] anthony-murphy commented on #5866
could this be a situation like a laptop close. where the local state doesn't change, but the server kicks the client out, but on laptop open we somehow fetch ops before we know we are disconnected

[2021-04-22 22:17] jatgarg commented on #5866
Maybe but I do see a time gap of couple of mins whenever we receive this server nack: non existent client and then we receive the disconnected event. So seems like that it is wrong assumption that we will receive removeMember after disconnect. So if we receive removeMember before disconnect then we need to take that into account and not wait for it.

[2021-04-22 23:39] tanviraumi commented on #5900
Closed with #5909

[2021-04-22 23:39] #5900 closed

[2021-04-22 23:40] tanviraumi commented on #5901
Closed with #5909

[2021-04-22 23:40] #5901 closed

[2021-04-23 00:29] tanviraumi commented on #5866
Thats a great find! Its possible to receive a removeMember event before you see disconnect. Given that websockets can be flaky and load balancers are still not perfect with keeping websocket connection alive, it's possible that client thinks it's connected but server thinks they are disconnected. This also explains the nack message because deli already considers you gone so it will nack any furthe

[2021-04-23 03:11] vladsud commented on #5866
I think forcing disconnect on client's own leave op makes sense.
That will keep the rest of the state more consistent as well.

@jatgarg, how do you know that we received leave op and minutes later receive Nonexistent client nack? I believe we do not have enough telemetry here to make such conclusion. Is this from local testing?

@tanviraumi, is this condition due to ODSP reusing sockets? Cause ot

[2021-04-23 05:20] tanviraumi commented on #5866
r11s does not reuse socket. @GaryWilber will know more about reusing sockets. I can see how it can happen seconds later but not sure how it can happen after minutes. Push uses a separate code path for handling websockets so @GaryWilber can probably explain better.

[2021-04-23 06:12] hedasilv opened #5915 "Make Historian use IRedisParameters from routerlicious once new r11s public package is available"
## Work Item
**Describe the outcome you expect**
In a recent PR (insert PR link here), Redis code was updated to include TTL/expiry for some keys that did not have any TTL. We updated Redis commands to use Multi for transactions.

A new interface, `IRedisParameters`, was introduced to aid in specifying Redis parameters such as the key expiry when setting up Redis clients. The interface is used in

[2021-04-23 13:13] #5895 closed

[2021-04-23 13:24] vladsud opened #5917 "Move InsecureUrlResolver to better place"
Move InsecureUrlResolver to driver-utils or some similar place.
packages/runtime should have zero references to IUrlResolver or IResolvedUrl.

[2021-04-23 17:11] anthony-murphy opened #5921 "Unified Configuration Management System"
## Feature
Currently the framework lacks a unified configuration management system. Many of our layers take an options bag which allows some level of configuration however this system is lacking, as it often requires a code change to change configuration values. This serves us ok for things like testing but works less well for deployed applications where ideally config is easier to change than cod

[2021-04-23 17:11] anthony-murphy commented on #5921
Some experimentation: https://github.com/microsoft/FluidFramework/pull/5691

[2021-04-23 17:15] anthony-murphy commented on #5921
One option i'd considered in tying this into our logging system, so the logger also supports configuration management. The benefits is that this is already something that can be injected, and the code is already instrumented for it. However it does feel like it doesn't quite belong and is outside the abstraction the logger is meant to provide

[2021-04-23 17:16] anthony-murphy commented on #5921
releate to #5783

[2021-04-23 17:56] jatgarg commented on #5171
So for this I am thinking of adding an api on odsp document service factory which will take resolvedUrl as an argument. This resolved url will be used to attach to storage and fetch the "latest snapshot"/trees latest call and then store it in the persistent cache. @vladsud @christiango

[2021-04-23 18:01] christiango commented on #5171
That sounds reasonable, would be good to have a quick design proposal written down and run it by the expected consumers of the API. I believe the most prominent place where this would be used is to load meeting notes 5 minutes before a meeting, so we'd want to run the plan by Michael, Jade, and some teams folks.

As an FYI Michael is taking over Fluid performance from me, so we should loop him in

[2021-04-23 18:05] #5899 closed

[2021-04-23 18:30] anthony-murphy commented on #5689
Right now we have similar but different concepts with term and epoch, and this will add a third with the rolling hash. I don't have a deep understanding of them all, but i think with epoch + rolling hash we may be able to drop term

[2021-04-23 20:04] vladsud commented on #5171
I'd try to make it stand-alone (i.e. not using factory for actual code), such that it's possible to tree shake all the code and leave the minimal amount of code in host. Note that this code will be bundled into app, and run outside of iFrame.
I think expectation on using URL resolver is Ok here, as different host might have different URI schemas and use different resolvers, so core functionality s

[2021-04-23 21:17] jatgarg commented on #5866
@vladsud "how do you know that we received leave op and minutes later receive Nonexistent client nack? I believe we do not have enough telemetry here to make such conclusion. Is this from local testing?"
Ans: No the issue was that we received the nack first and then the disconnected event. We can deduce this because we listened to removeMember event and log something based off that. Also the time

[2021-04-23 23:52] kcurlett commented on #5749
Adding that this will also be useful for Outlook. We sometimes do not know the file type and end up showing the wrong icon, which leads to mis-matched branding. So this fix will help multiple teams if it is implemented.

[2021-04-24 02:28] #5576 closed

[2021-04-24 14:21] #5698 closed

[2021-04-26 19:49] jatgarg commented on #4811
"When URI is too long (or always with POST), we should move only token into headers, and leave epoch and other key arguments in query string" - Yes we already follow that.

[2021-04-26 19:53] jatgarg commented on #4811
Closing the issue with above PR as we won't be moving blobs call to post as that would make it non browser cacheable and we want that for blobs.

[2021-04-26 19:55] #4811 closed

[2021-04-26 20:00] #5807 closed

[2021-04-26 20:10] agarwal-navin commented on #5157
We are sending the `unreferenced` flag to SPO with #5816. The "waterline" is now controlled by the runtime. Closing this task as we have tests which are running GC and sending these flags.

[2021-04-26 20:10] #5157 closed

[2021-04-26 21:27] curtisman commented on #5917
May be `test-driver-utils`?

[2021-04-26 22:05] #5577 closed

[2021-04-26 22:08] vladsud opened #5940 "GetDeltas_OpProcessing incorreclty tracks op processing time"
GetDeltas_OpProcessing telemetry event incorrectly tracks amount of time to process ops.
This is obvious from looking at telemetry, where most of the time it takes 0 seconds to process ops.
That's because enqueueMessages() only pushes ops into the queue, queue is drained asynchronously.

In addition to not have good data here, it also points to a fact that we might have a problem described in http

[2021-04-27 00:26] markfields commented on #5655
@anthony-murphy I'm closing this after looking at it with fresh eyes. I'm just not sure of the utility here.

Both uncaught exceptions and unhandled rejections will cause a test to fail. So if anything we could try to add a Kusto log whenever a test fails?  Honestly I'm not sure how we're utilizing the Kusto logs for e2e tests.  If you have been getting value from them (as opposed to the stress te

[2021-04-27 00:26] #5655 closed

[2021-04-27 00:38] markfields opened #5946 "Use "reason" field for Summarizer logs instead of "message""
Let's try to converge on "reason" as a common field across events, and avoid using "message" since it's vague/antiquated (now we have structured logs!)

[2021-04-27 00:41] markfields opened #5947 "Ensure build version for shortcode asserts is explicit in the logs"
Shortcodes can change from build to build. So on its own a shortcode may not be enough to indicate where the error occurred.

Furthermore, different parts of the code can be at different builds in a single session (e.g. loader v. runtime), and there's no indication of which layer a tagged line is in.

Proposal: Add an address space to the shortcodes that indicates which layer it's from, so we can

[2021-04-27 00:44] markfields commented on #5947
@vladsud, @anthony-murphy, @curtisman  - This feels really important for our GA release to me.  I think it's a quick fix - Implement `assert` in each "layer" (loader, runtime, driver?) and `|` in a tag like 0x1000, 0x2000 or 0x3000 for each layer so the shortcodes don't overlap across layers, and we know which `fooVersion` field to check in the logs.

Or would it work to import `packageVersion` in

[2021-04-27 00:46] curtisman commented on #5947
I thought short code are checked in and won't change version to version?   What does the work flow looks like right now?

[2021-04-27 00:48] markfields commented on #5947
I'll have to look again at how it works. I'm imagining a scenario where a tagged assert is deleted from one layer and an untagged assert is added somewhere else, and reuses that tag.  Maybe that can't happen.

Ok here's a more realistic scenario - some code gets copied from one layer to another, tags and all.

[2021-04-27 15:01] vladsud commented on #5947
I do not think adding layer tag would help. It might scope the problem (if it exists) to smaller problem, but fundamentally it does not change the problem of moving code around or copying inside one layer.

If problem exists, I'd look into minimizing it in tagger, i.e.
- for removed tags, do not reuse them for some time (this requires some kind of storage / database)
- for duplicated tags, use pri

[2021-04-27 16:35] anthony-murphy commented on #5947
We don't reuse tag in and they are globally unique. Currently we scan the code base to find the highest, and increment from there. if the n largest are removed we would end up reusing those. if we are worried about that scenario, we can start stamping the last number is file somewhere.

[2021-04-27 16:40] agarwal-navin commented on #5566
@vladsud I added a runtimeoption and localStorage flag that can be enabled to delete unreferenced data stores as soon as GC runs. Is there anything else we need to do for this or can I close this one?

[2021-04-27 16:42] anthony-murphy commented on #5947
I'm personally not too worried about the highest code reuse problem. for it to happen a code would need to be added and removed before another code is added. this seems unlikely, and in that case the original code wasn't around very long

[2021-04-27 16:46] anthony-murphy opened #5954 "Figure out OOM issues With Code Coverage and Re-enable"
Figure out OOM issues With Code Coverage and Re-enable

_Originally posted by @anthony-murphy in https://github.com/microsoft/FluidFramework/pull/5945#r621404978_

[2021-04-27 16:48] anthony-murphy commented on #5954
FYI @curtisman @heliocliu @vladsud @DLehenbauer

[2021-04-27 17:28] agarwal-navin opened #5956 "unreferenced flag in summary format conversion APIs"
`summary-utils` has APIs that convert between different summary formats - ISummaryTree, ISnapshotTree and ITree. The `unreferenced` flag needs to be preserved during this conversion.

[2021-04-27 18:03] anthony-murphy commented on #5954
[code]

[2021-04-27 18:18] agarwal-navin commented on #5566
Talked to Vlad. The runtime option that we currently have is good enough for this. Closing this out.

[2021-04-27 18:18] #5566 closed

[2021-04-27 19:08] anthony-murphy commented on #5444
@jatgarg how much work is it to just pull out the code?  That's my preference for now, and would be good to do in may. @vladsud  has also mentioned that if we decided to bring it back, we'd likely do it at another layer that is more reusable, so that's why i don't think we should keep this code.

[2021-04-27 19:09] anthony-murphy commented on #4940
if we remove blob debupping as part of #5444 is this work done?

[2021-04-27 19:15] jatgarg commented on #5444
Not much work to remove the code. Yes, I think I can take this in may.

[2021-04-27 19:28] vladsud commented on #4940
I think so

[2021-04-27 20:18] chensixx commented on #5654
right now uncaught exceptions are already handled in `.catch` block. Mark and I decided to add logging of unhandled promise rejections.

[2021-04-27 21:25] agarwal-navin opened #5969 "GC telemetry to log GC stats and find issues"
Add GC related telemetry that will help find issues and log GC stats (such as amount of content deleted in a document).
For example, no of data stores deleted, total summary size and size of deleted content.

[2021-04-27 21:30] markfields commented on #5544
@vladsud I propose we close this based on my last two comments.  Or do you still have concerns?

[2021-04-27 21:31] jatgarg commented on #5171
Created this PR so that we can discuss on the PR itself. Emailing Michael and some other people as I could not add them to the above PR.

[2021-04-27 21:34] markfields commented on #5560
When `ITelemetryBaseLogger` is updated to support tags, we should also add an optional flag to it indicating the host's implementation supports them.  If this is unset, then we need to continue scrubbing and returning plain old telemetry props as a back-compat measure.

[2021-04-27 21:46] agarwal-navin opened #5970 "Tests for 'unreferenced' flag returned by server"
The 'unreferenced' flag is returned by ODSP in `getLatest`. Write tests to validate that we get that back as expected.

[2021-04-27 22:11] markfields commented on #4940
Closing this then... (getting May Reliability items in order)

[2021-04-27 22:11] #4940 closed

[2021-04-27 22:12] vladsud commented on #5544
I think that's fine, but I have a feeling that we need to move scrubbing out to host sooner than later (maybe separate issue to track it?).
Consider scenario where our (FF) logger is sandwiched between 3rd party DDS / data store that extends tags with 3rd party tags and 3rd party host that handles those tags.
This feels similar to extensibility of errorCodes, where each layer is free to create the

[2021-04-27 22:44] anthony-murphy commented on #5881
@chensixx can you take a look at this. basically we use seconds in some places, and milliseconds in others, we should just use milliseconds everywhere.

[2021-04-27 22:48] markfields commented on #5123
@vladsud, @curtisman - updating milestone to Next...

[2021-04-27 23:04] anthony-murphy commented on #5946
can this move to next?

[2021-04-27 23:06] anthony-murphy commented on #5102
i don't think this will fit in may, moving to june unless there is strong need for this. also, i think some of the improvement @arinwt is working on will be needed for this anyway

[2021-04-27 23:56] #5654 closed

[2021-04-28 00:11] markfields commented on #5947
Ok.  I am willing to close this.  The scenario where we'd be stuck is if someone cuts and pastes and then changes the condition but keeps the shortcode.  We should keep an eye out for this in PRs - don't reuse shortcodes if you're materially changing the condition.

I'm trying to think about where dev docs for this should go.  Maybe the repo wiki...?

[2021-04-28 00:11] #5947 closed

[2021-04-28 00:12] markfields opened #5976 "Real Service Tests - Use multiple user accounts to work around throttling."

[2021-04-28 00:14] markfields opened #5977 "Automate the Daily Report for internal team metrics tracking"
On the FF team at Msft, we manually query for top metric health each day.  This should be automated, including both MS Office usage data and our own synthetic data.

[2021-04-28 17:00] znewton opened #5980 "Add IDisposable to IDocumentStorageService"
## Work Item
**Describe the outcome you expect**

DeltaManager should be able to use any IDocumentStorageService as its top level storage service, but currently RetriableDocumentStorage is required to be the top level so that `dispose` can be called. We should make all doc storage services "disposable" to increase flexibility.

**Approach**

1. Extend IDisposable from IDocumentStorageService
2. Ad

[2021-04-28 18:09] #5488 closed

[2021-04-28 18:50] curtisman commented on #3515
@skylerjokiel assigning to you for tracking.

[2021-04-28 19:34] markfields commented on #5774
The goal is for the `IThrottlingWarning` created in `emitDelayInfo` to be a legit `LoggingError` with the callstack preserved from the incoming `ICriticalContainerError`.  Easiest way might to use `createContainerError` and then clone the resulting object and modify the `errorType` and copy `stack` from the original error.

[2021-04-28 23:22] markfields commented on #5544
@vladsud Issue #5560 is already tracking the update to `ITelemetryBaseLogger` that would move tag handling to the host.

[2021-04-28 23:50] #5774 closed

[2021-04-29 00:14] markfields commented on #5544
After further discussion, we are updating the tag to be `string` (see #5962) so that should ameliorate this specific compatibility concern.  Consumers of the tags may choose to import an enum from one package or another that they believe has been used to tag props, but it won't be enforced in the type on the API.

[2021-04-29 00:14] #5544 closed

[2021-04-29 00:54] rsullivan00 opened #5988 "Tinylicious reuses state in temp folder between processes"
### Issue Category

- Incorrect/Outdated information
  - [**Link to page**](https://github.com/microsoft/FluidFramework/blob/cd3c8a8f3419f0dd3f68fba4f73024dfad4a12e8/server/tinylicious/README.md)

### Details

Tinylicious seems to not actually run "in memory" in the way I would interpret that part of the documentation. When I:

- Run `npx tinylicious` (runs version `tinylicious@0.4.21640`)
- Add s

[2021-04-29 17:35] anthony-murphy commented on #5679
Just learned some things. Code and message should always be safe to log, and innerError may not always exist, so we shouldn't use it

[2021-04-29 18:08] #5030 closed

[2021-04-30 15:45] vladsud opened #5994 "ODSP: Sharing link redemption need to have fall back"
Today, when we call TreesLatest, we support workflow where sharing link is provided such that ODSP could redeem it and return TreesLatest in one call.
Due to some issues, redeem portion of the process could fail and return 403, if person A who opened a document never opened any sharing link shared by user B who produced that link.
The ask is for 403 to always try old flow to redeem link ourselves

[2021-04-30 16:21] vladsud commented on #5994
Here is the spec for original work:
https://microsoft-my.sharepoint-df.com/:w:/p/hanfliu/EdTC38G80f1PqDqk72Olj7IBFpilu2BfaFkJPAzfY2EXGg

And I'm realizing that maybe initial work was never implemented in the first place? In that case, it's not really a bug (yet), more as FYI, and we need to open original work issues

[2021-04-30 16:36] jbissat opened #5995 "Implement single URL request for file creation + sharing link (ODSP)"
ODSP now has a single URL we can hit to do file creation and to get the sharing link back.
Note that the two-link approach needs to be preserved for the cases where sharing link redemption fails (see item https://github.com/microsoft/FluidFramework/issues/5994)

[2021-04-30 17:34] markfields commented on #5679
@anthony-murphy are those semantics true for all ODSP error responses, or just Vroom, or just this case, or what?  I've poked around various error responses before hoping to learn that kind of thing...

[2021-04-30 17:35] markfields commented on #5774
Nice turnaround on this @ksbrar !

[2021-04-30 17:36] markfields commented on #5946
Yeah whatever

[2021-04-30 17:47] markfields opened #5997 "@types/node version doesn't match documented min supported Node version"
Our main docs page https://fluidframework.com/start/quick-start/ says Fluid supports 12.17 and later. But we are importing @types/node v 12.19 (see #5796) so we could quietly introduce a dependency on a 12.19 feature new since 12.17. I haven't looked at the release notes to know what that delta is like, but IMO we should keep these two versions in sync.

cc @curtisman @tylerbutler @DLehenbauer

[2021-04-30 17:48] anthony-murphy commented on #5679
right now not all our fluid apis follow the above format, but they have a desire to move to it, in which case it will apply, but we need to update case by case as they update. not sure if there is plan/timeline, or if well bundle with other changes like this. @marcmasmsft

[2021-04-30 18:05] markfields commented on #5679
Ok cool. @marcmasmsft if you can share any documentation to these APIs and their error responses that would be super helpful, I'm going to be working on cleaning up our error handling/logging this summer.

[2021-04-30 18:32] tylerbutler commented on #5997
I don't think this is a practical concern for 12.17 vs 12.19, but I agree that being explicit and consistent about these deps.

[2021-04-30 19:50] agarwal-navin opened #6001 "Provide APIs to construct handles that contain 2 parts - base that points to GC node, and tail that participates only on object resolution"
Today, `IFluidHandle` is a reference to a fluid object. They are used to serialize the fluid object and they participate in GC. We need another lightweight handle (extended fluid handle) that is not a reference to a fluid object but to an object / path within the fluid object.
This extended handle has an underlying IFluidHandle and a relative path within the fluid object. For getting the object re

[2021-04-30 19:50] agarwal-navin commented on #6001
@vladsud FYI. Can you please add / update the description as required.

[2021-04-30 20:22] markfields opened #6004 "Document that DataStore / DDS ids will be logged (with a tag)"
_Originally posted by @vladsud in https://github.com/microsoft/FluidFramework/pull/5986#discussion_r622696737_

[2021-04-30 21:14] DLehenbauer opened #6006 "Re-enable 'test:realsvc' on Tinylicious after addressing stability issues"
## Describe the bug
Not specific to code coverage.  Running `test:realsvc` often fails 1 or 2 tests from AgentScheduler and/or DetachedContainer.

This was blocking `ci:test:coverage` and consequently publishing and downstream ODSP tests, so I've modified 'test:report' in the root package.json to exclude 'test:realsvc' for now.

### To Reproduce
Steps to reproduce the behavior:
1. `npm run test:re

[2021-04-30 21:23] vladsud commented on #6001
I think a bit more background is due :)

Handles provide mechanism to aid with serialization. They make it possible for a graph of objects to be serialized and restored (loaded) on remote machines - that's their primary purpose. In addition to that, handles are participating in GC.

We looked at couple scenarios:
1. Internal & external URIs/handles poking into sub-items of IFluidObject, like maybe

[2021-04-30 21:24] vladsud commented on #6001
@curtisman , @anthony-murphy, @tylerbutler  - FYI.
Added design required to talk on Monday about it.

[2021-04-30 21:31] vladsud commented on #6001
One thing to add - IFluidExHandle  maybe implemented completely outside of FF code base as a bunch of code and new custom structure. The only problem with this approach is that each place that resolves it would need to use static function to resolve it, i.e.

interface IFluidExHandle {
    handle: IFluidHandle;
    uriTail: string;
}

const handle = map.get<IFluidExHandle>("key");
const foo = awai

[2021-04-30 21:35] anthony-murphy commented on #6001
I think i agree with everything here, but i don't know why we need to serialize the uri tail separately. My thought is GC parses the path, looks at the path parts, looks for GC able elements. right now that will only be data store, but down the line maybe there is an interface to same something participates in GC.

[2021-04-30 21:36] anthony-murphy commented on #6001
these are also all internal paths, external path never participate in GC. they if an external path want to participate in GC is should be routed to a handle based on internal paths

[2021-04-30 21:45] vladsud commented on #6001
If we think about it as a general system, then I think GC can't make assumptions here. I.e. if I have handle that that maps to /A/B, and /A exists, but /A/B does not, are we sure we want to keep /A forever? I feel like it's responsibility of the target (data store) to say "I'm /A, there is /A/C, everything else - I do not care, it does not exists and does not hold me alive" vs. "I'm /A and any sub

[2021-04-30 22:01] anthony-murphy commented on #6001
I was thinking the same thing, but drew the opposite conclusion. I would say that for all paths, things higher in the path control the lifecyle of things lower in the path, regardless of if they are dds, nested data stores (which does exist yet), or some other construct. so in your example, A owns B and C, and will be is control of how things like GC are or are not delegated to things below it. Fr

[2021-04-30 22:42] skylerjokiel commented on #5510
We should be tracking this in FFX ADO

[2021-04-30 22:42] #5510 closed

[2021-05-01 01:12] #4610 closed

[2021-05-01 01:12] #4640 closed

[2021-05-01 01:12] #4736 closed

[2021-05-01 01:12] #4737 closed

[2021-05-01 01:12] #4738 closed

[2021-05-01 01:12] #4739 closed

[2021-05-01 01:12] #4740 closed

[2021-05-01 01:12] #4741 closed

[2021-05-01 01:12] #4742 closed

[2021-05-01 01:12] #4743 closed

[2021-05-01 01:12] #4744 closed

[2021-05-01 01:12] #4745 closed

[2021-05-01 01:12] #4798 closed

[2021-05-01 01:12] #4847 closed

[2021-05-01 01:55] skylerjokiel commented on #5849
@himanshu007-creator , thanks for reaching out. I've assigned this issue to you. Look forward to your contribution 😃

[2021-05-03 16:22] #5870 closed

[2021-05-03 16:29] timeshift92 opened #6012 "$mol Destributed framework"
## Feature
**Is your feature request related to a problem? Please describe.**

Hello, I saw this framework, and I wanted to show you another open source project on a clean typescript, if possible, it allows you to work in a distributed manner and also has its own collector that can tree shake

**Describe the solution you'd like**
Microsoft can be implemented this framework
https://github.com/hyoo-

[2021-05-03 17:56] dineshkwal opened #6015 "Document the behavior of createSubDirectory if the same name subdir already exists."
### Issue Category
- Can't find an answer to a specific question

### Details

https://fluidframework.com/docs/apis/map/shareddirectory/#map-shareddirectory-createsubdirectory-Method
`SharedDirectory::createSubDirectory` doesn't document what is the behavior when the same subdir already exists. Does it return the existing subdir in that case or creates a new subdir instead?

[2021-05-03 17:58] hedasilv opened #6016 "Rethink how to log DocumentID in the server to avoid logging Customer Content (CC)"
## Work Item
Rethink how to log `DocumentID` in the server to avoid logging Customer Content (CC)

**Approach**
Currently, we log `DocumentID` in many parts of the server code. `DocumentID` is an important dimension in our logs for investigation and reporting. However, given the way it is created currently, `DocumentID` is considered Customer Content and there are many restrictions on how to handl

[2021-05-03 18:21] tylerbutler commented on #5995
@vladsud @jbissat Does this have the same delivery "deadline" as #5994?

[2021-05-03 18:27] tylerbutler commented on #6012
@timeshift92 Thanks for sharing this! Since this doesn't represent an issue, it will be closed soon, but we do review closed issues for feature requests and suggestions.

[2021-05-03 19:29] anthony-murphy commented on #5427
rough prioritization:

Top:
-	Programmability: Ability to iterator over shared intervals
-	Programmability: get and remove interval based on an id
-	Functionality: Support multiple intervals on a range
-	Functionality: Support well nested and non-well nested intervals

Next:
-	Programmability: Event on property changes on shared intervals
-	Move ends of interval (no insert and delete so change coa

[2021-05-03 20:23] jatgarg opened #6018 "Refactor code and reuse common parts between prefetchSnapshot and fetchSnapshotCore() in odsp driver"
Refactor code and reuse common parts between prefetchSnapshot function and fetchSnapshotCore().
This will allow handling future complexity (features similar to redeeming sharing link - we would need to change them in both places, and there is good chance we will forget).

_Originally posted by @vladsud in https://github.com/microsoft/FluidFramework/pull/5968#discussion_r621633359_

[2021-05-03 20:37] chensixx commented on #5881
Am I changing to milliseconds everywhere? or only places with retries?

[2021-05-03 20:42] jatgarg commented on #5881
Yes, retry times is one of them which may be in seconds. We want to convert functions like "getRetryDelayFromError" to return millisseconds. The other one is Throttling error time.

[2021-05-03 20:42] #5171 closed

[2021-05-04 00:50] vladsud commented on #5994
Actually, both fetchSnapshot() & fetchSnapshotCore() have this code, so it's already in:

        if (this.redeemSharingLink) {
            formParams.push(`sl: ${this.redeemSharingLink}`);
        }

And per discussion with Ben, that's GA blocker, so we need to add fallback logic and get it into 0.39 ASAP.
@jatgarg , any chance you can take care of it?

[2021-05-04 00:52] jatgarg commented on #5994
Yes, I will work on it from tomorrow.

[2021-05-04 01:05] vladsud opened #6020 "Code size: Impact of odsp-doclib-utils to odsp-driver is too large"
From the work for prefetch API (https://github.com/microsoft/FluidFramework/issues/5171), it sounds like odsp-doclib-utils brings 3.5Kb of minimized code impact to this API, and I assume to any other odsp-driver areas (error handling code is likely the only code at play in both cases).

This seems too high, and potentially points to very inefficient tree shaking.
It would be great to look deeper i

[2021-05-04 15:15] vladsud commented on #5995
@tylerbutler , not that I'm aware of, but @jbissat  would have more data here.
It's a new feature, so I think it's just too late to try to bring it in through release process - it should land whenever it is ready, Jade is working on it as I understand.

[2021-05-04 18:21] #5636 closed

[2021-05-04 18:46] markfields commented on #5997
@tylerbutler @DLehenbauer - that PR addresses yet another place the Node version comes into play, namely what version is actually installed. I should have called that out in the issue, but nevertheless the original point of this issue isn't addressed here.

I'm ok if we punt on it (or leave this issue closed) but wanted to be clear.

I think a proper "fix" here would involve some policy checks to

[2021-05-04 18:51] markfields commented on #5326
@vladsud I didn't get to wrap this up before going on leave. it sounds like the URL is actually still logged, from your PR comments, so diagnostics in the short term is unblocked while there's no specific privacy issue since we don't have 3P code loaded in 1P experiences. I'll address this when I'm back in June, unless you or someone else finds it urgent and does something this month.

[2021-05-04 19:00] #6012 closed

[2021-05-04 21:00] anthony-murphy opened #6026 "FetchMissingDeltas Incorrectly closing containers on some paths"
It's not clear from the logs which code path this is happening on, but eventually we close the container due to a getDeltas failure for ops 65-70 when we've already got those ops from the initial ops on the delta stream.

timestamp [UTC] | name | itemType | customDimensions | category | eventName | error | containerId
-- | -- | -- | -- | -- | -- | -- | --
5/4/2021, 6:19:37.129 PM | fluid:telemetry

[2021-05-04 21:05] vladsud opened #6027 "Container closes without proper error."
We do see in telemetry "**Storage service disposed!!**" errors.
Looking closer, most of these happen through _**fluid:telemetry:Container:ContainerClose**_
And looking at number of sessions, most of them are result of failure to fetch snapshot (**_fluid:telemetry:OdspDriver:ObtainSnapshot_cancel_**). Some of them have specific error (like 404), but many have empty error.

So it sounds like two thi

[2021-05-04 21:10] vladsud commented on #6026
I believe this is related to https://github.com/microsoft/FluidFramework/issues/5692

[2021-05-04 21:50] DLehenbauer commented on #5997
I see your point that we're still not strictly synchronized, but I think we've at least improved:

* We recommend user's install the latest 12.x release
* Minor node revisions are non-breaking (i.e., don't remove APIs).

Code that compiles should also run.  Developers who want to introduce usage of new APIs can bump '@types/node' as needed.

No objection if you want to reopen, but going further fe

[2021-05-04 21:58] vladsud commented on #6001
So here is modification of a proposal based on Monday's discussion, leveraging same "explicit" model (i.e. runtime does not guess on what parts of URI map to GC node):

1. Handles created through **IFluidHandleContext** mechanism (today's main way of creating handles, you can trace all code paths via generateHandleContextPath) are representing nodes in the GC system as well. By default (99% of the

[2021-05-04 22:06] agarwal-navin commented on #6001
An observation based on what's happening in the Boehmia / Scriptor repo and something we might want to consider in the design process - They are storing a handle whose `absolutePath` is `\scriptorId?start=x&end=y` and I believe the expectation is that this should mark the underlying Scriptor component as referenced from GC perspective.
Using # 2 from the above post will solve this problem but then

[2021-05-05 00:33] tanviraumi opened #6033 "Deprecation of existing flag (storage)"
Currently, a Fluid client receives an existing flag after connecting to the ordering service. We used to have it for two reasons: code proposal and component instantiation. Given that we handle those scenarios differently now, client should not need to rely on the dependency anymore.

From @vladsud: We must ensure though that all code paths are removed from loader that assume creation of files thr

[2021-05-05 00:54] vladsud commented on #6001
First, we should mark absolutePath as readonly :)
Second, we should fix their code to be correct based on a proposal (or future proposal we agree upon), in a back compat way.
How things were written before TAPP does not matter, as files created after TAPP are in right format for GC to work correctly.
Does this address it?

[2021-05-05 16:10] markfields commented on #5997
@tylerbutler can we update the docs to say Fluid requires/recommends the latest LTS of v12?

[2021-05-05 16:40] agarwal-navin opened #6036 "Remove the code in PropertyDDS that updates IFluidHandle's absolutePath"
PropertyDDS updates the absolutePath of the underlying DDS's handle. A handle's absolutePath should not be changed once the handle is created. For the requirements of the PropertyDDS, a new handle should be created with the new path instead.
The absolutePath is updated in the following places:
https://github.com/microsoft/FluidFramework/blob/b6edb3837490e774efb15c0030d55f322bc06a62/experimental/Pr

[2021-05-05 18:30] #873 closed

[2021-05-05 18:42] #5444 closed

[2021-05-05 19:58] tylerbutler commented on #5997
@markfields We did say that at some point in the past, but when the (very unusual) change had to be made to depend on something 12.17+, we snapped to that version and updated the docs to say that.

I think the general statement is that you should use the latest 12.x version available, but you MUST use at least 12.17 since we have a hard dependency on it. And then be explicit about what version our

[2021-05-05 20:31] vladsud opened #6045 "Reduce impact of telemetry when offline"
Example:

union Office_Fluid_FluidRuntime_*
| where Data_hostCorrelationId == "7483eb05-7d71-46e2-be2f-a70f7a15c80a"
| project Event_Sequence, Event_Time, Data_eventName, Data_error, Data_reason

We see these events in 8 second frequency:

fluid:telemetry:OdspDriver:GetWebsocketToken_GetToken_start
fluid:telemetry:OdspDriver:JoinSession_GetToken_start
fluid:telemetry:OdspDriver:GetWebsocketToken_G

[2021-05-05 21:51] vladsud commented on #5940
Note - there are two events with same GetDeltas_OpProcessing name. One in DeltaManager does not correct time well.
One in container runtime only fires when we get empty queue, but looking at telemetry it has a lot of data so it's sufficient to use in analyzes

[2021-05-05 22:01] markfields commented on #5997
Totally agree with all that. But what about the case where someone has NOT updated past 12.17 (and we claim to support that configuration) but then we perhaps inadvertently introduce a dependency on 12.19+? This is what I'm trying to mitigate.

Granted, most people shouldn't be in this situation for the exact reason you brought up about minor version bumps - it's safe to minor bump a dependency wi

[2021-05-05 22:28] vladsud opened #6050 "Move NoDeltaConnection out of deltaManager into driver layer"
I feel like (with addition of https://github.com/microsoft/FluidFramework/pull/6008/files) we are adding more concepts that DeltaManager needs to know about, which is against it being simple and small, and move complexities into up & down the stack (driver and container runtime).

Looking at how it is used, I believe it can be returned from driver and remove any need for DeltaManager to know about

[2021-05-05 22:37] markfields commented on #5997
In other words, "non-breaking" only applies one-way. But this may only matter for Server? For client bits, not sure how the node dependencies come into play relative to different webpacked bundles, etc.

[2021-05-06 01:20] jbissat commented on #5995
@tylerbutler I don't believe it does - @jatgarg #5994 should go in ASAP to avoid issues but this is not as urgent, correct?

[2021-05-06 01:43] jatgarg commented on #5995
I don't think this has any urgent deadline. Now with #5994 too, we will add this asap but this(5994) no hotfix anymore as the host will add a fallback for now at their end as driver change would take time to propagate.

[2021-05-06 03:15] markfields commented on #5997
Anyway, feel free to close after all, just wanted to communicate my point better.

I still think the cleanest solution is to bump the documented min supported version whenever we update the @types/node package (which can be less frequent than minor bumps of the real dependency), and that aside I want us to rightly set expectations in the docs about supported configurations. Is it more complex than

[2021-05-06 19:21] agarwal-navin opened #6064 "Fix: assert in `DataStores::deleteUnusedRoutes` is incorrect"
It asserts that we the gcOptions have `runGCInTestMode`. However, GC test mode can be enabled via local storage flag too.

[2021-05-06 22:19] tylerbutler commented on #6015
@ChumpChief Can you answer this?

[2021-05-07 00:04] ChumpChief opened #6068 "Property demos breaking incremental build"
I'm seeing the following build/pack every time using `npm run build:fast` despite no changes:

- `@fluid-experimental/schemas`
- `@fluid-experimental/property-inspector`
- `@fluid-experimental/property-inspector-table`
- `@fluid-experimental/partial-checkout`

I looked briefly and noticed the following that seemed suspicious, but couldn't find an immediate fix:

- schemas and property-inspector-ta

[2021-05-07 00:34] ChumpChief opened #6069 "Potential eventual consistency issues with SharedDirectory subdirectory deletion/creation"
Assume a subdirectory `/foo` and supposing two users do the following:

User1: Sets key `"bar"` to value `"baz"` inside subdirectory "/foo"
User2: Deletes subdirectory `/foo`
User2: Creates a new subdirectory `/foo`

// At this point, User1 sees 1 key in `/foo` and User2 sees 0 keys, which is OK since the messages have not been ordered/transmitted yet.

*Messages for the above are ordered and tran

[2021-05-07 01:01] ksbrar opened #6070 "Possible lint/uniformity issue with trailing commas."
## Describe the bug
Noticed by @vladsud in https://github.com/microsoft/FluidFramework/pull/5962#discussion_r624246579. I haven't looked into it yet, but potentially we are not consistently enforcing trailing commas?

[2021-05-07 02:50] tylerbutler commented on #6070
Fwiw, this the current config for the comma dangle rule:

[code]

[2021-05-07 06:50] jatgarg commented on #4782
I changed the cancel event to be an error. Also, for attach network call in driver, I added retries in container.ts if there is some error.
Also I don't think we close the container on attach failure?

[2021-05-07 06:55] jatgarg commented on #4817
We removed blob deduping code in odsp driver, so no need to do anything for this issue. so closing it.

[2021-05-07 06:55] #4817 closed

[2021-05-07 15:30] vladsud commented on #4782
Are you saying that even on critical (non-retryable error), we would not close container? That seems wrong.
If we do close container, can you please check that SPO correlation ID propagates to container close event?

[2021-05-07 17:43] #6015 closed

[2021-05-07 17:44] vladsud commented on #6069
DDS implementations are essentially OT algorithms, and thus the complexity is square of number of operations that are supported (actual types of OPs). Two generic questions:
- Are we simplifying by reducing number of operations supported?
- Are we testing every combination x ordering of them?

[2021-05-07 18:51] tanviraumi opened #6073 "Separating protocol from service packages"
The goal is to extract “protocol-base” and “protocol-definition” packages from the service monorepo. We will create a top level “protocol” folder and move these two packages there (just like the common folder).

Once done, service and client can take a dependency on the published packages. The pros are, we will only bump those packages when needed and breaking changes will be easier to track. The

[2021-05-07 18:51] tanviraumi commented on #6073
FYI @GaryWilber

[2021-05-10 18:12] tylerbutler commented on #6073
I think you should also include updates to fluid-build to account for the new repo layout.

[2021-05-10 18:15] tanviraumi commented on #6073
Great point! Updated the description

[2021-05-10 19:37] #6064 closed

[2021-05-10 20:02] #6018 closed

[2021-05-10 20:08] anthony-murphy commented on #5438
this looks done to me: https://github.com/microsoft/FluidFramework/blob/main/server/tinylicious/README.md#port

[2021-05-10 20:16] vladsud opened #6082 "Stress tests are too noisy: fluid:telemetry:SummaryStatus:Behind"
Result:
A lot of fluid:telemetry:SummaryStatus:Behind errors.
it would be great to figure out what's going on and make it less noisy.

You can use [this commit](https://github.com/vladsud/FluidFramework/commit/fc70cfac23b96c16dff976166eb248196855f534) from [this branch](https://github.com/vladsud/FluidFramework/tree/ScalableTests_NoNoise) to see all the other changes that help keep it reasonable.

[2021-05-10 20:19] vladsud opened #6083 "Stress tests are too noisy: Asserts in taskManager.ts"
Result: A lot of these asserts are hit:
                assert(pendingOp !== undefined, 0x07b /* "Unexpected op" */);
                assert(pendingOp !== undefined, 0x07d /* "Unexpected op" */);
It would be great to figure out what's going on and make it less noisy.

You can use [this commit](https://github.com/vladsud/FluidFramework/commit/fc70cfac23b96c16dff976166eb248196855f534) from [this bra

[2021-05-10 20:21] vladsud opened #6084 "Stress tests are too noisy: warnings about deprecated leader election"
Result: A lot of these warnings are on screen:
            console.warn("ContainerRuntime with AgentScheduler built-in is deprecated, "
                + "see BREAKING.md for more details and migration instructions");

It would be great to figure out how not to have them on the screen (maybe stress test runner should not print them?)

You can use [this commit](https://github.com/vladsud/FluidFrame

[2021-05-10 20:28] anthony-murphy commented on #6082
i'm aware of this and need to investigate i. this should only fire when a container has had more than 3000 ops without summary attempted

[2021-05-10 21:29] vladsud opened #6086 "Stress tests: Too many uploadSummaryWithContext / 404 failures, suggesting we use incorrect handle references?"
union Office_Fluid_FluidRuntime_*
| where Data_eventName contains "uploadSummaryWithContext_cancel"
| where Data_error contains "404"
| summarize count() by Data_eventName

This query currently gives me only 668 hits (over last 30 days), so not that large.

But ODSP stress test hit over 3K of these errors in a single test run.
And that's the only error we are currently hitting in this test run.
@G

[2021-05-10 22:07] vladsud commented on #6086
@anthony-murphy - FYI (in case you are looking at summarization failures)

[2021-05-11 01:23] vladsud commented on #6086
Interesting fact - we see very few of these errors on rerun.
Gary said that prior run was at the same time an SPDF deployment for push was running, it may have caused some delays in the storage processing logic due to servers stopping/starting. Still does not explain why it results in 404, and that same workflow does happen in production so real scenarios are affected as well, I assume.

[2021-05-11 16:38] #5664 closed

[2021-05-11 18:01] danielroney opened #6107 "Shared Interval Programmability: Ability to iterator over shared intervals"
## Work Item
**Describe the outcome you expect**

Iteration over the contents of an IntervalCollection will be supported by an iterator object. The object returned by the [Symbol.iterator] method will support JS-style for...of. We'll also support iterating, either forward or backward, over all intervals in the collection with a given start or end position. Iterator objects that support this "speci

[2021-05-11 18:11] danielroney opened #6108 "Shared Interval: Programmability: get and remove interval based on an id"
**Describe the outcome you expect**

Users (e.g., Word) can get and remove individual Interval by supplying the Interval's ID.

**Approach**

Each Interval is given a unique ID (uuid) when it's added to a collection. There are API's to discover the ID of an interval, fetch an interval from a collection by ID, and remove an interval from collection by ID.

**Open questions**

Performance goals aren

[2021-05-11 18:19] danielroney opened #6109 "Shared Interval: Functionality: Support multiple intervals on a range"
**Describe the outcome you expect**

Whereas we currently keep at most one interval with a given (start, end) in the collection, we'll now allow any number of intervals with the same (start, end). The local delete(start, end) operation will now delete _all_ intervals with the given (start, end).

**Approach**

The interval ID will be used as a third key to break ties, so collections will still hav

[2021-05-11 18:22] danielroney opened #6110 "Shared Interval: Functionality: Support well nested and non-well nested intervals"
**Describe the outcome you expect**
Intervals in a collection are all visited by iteration, in the expected order, regardless of nesting, overlapping, etc.

**Approach**

**Open questions**

**Additional context**
https://github.com/microsoft/FluidFramework/issues/5427

**Acceptance criteria**

[2021-05-11 18:27] danielroney opened #6111 "Shared Interval: Programmability: Event on property changes on shared intervals"
**Describe the outcome you expect**

We will provide a hook that can be used to execute user code when an Interval's properties change, as a result of either a local or a remote op.

**Approach**

The event will be associated with an IntervalCollection. The data passed to the event will be the current (changed) state of the interval and a structure containing the previous values of the changed pro

[2021-05-11 21:24] DLehenbauer opened #6116 "API: Consider eliding internal methods from *.d.ts"
## Work Item
API-extractor omits APIs tagged with `@internal` when generating documentation.  However, these APIs still appear in the published *.d.ts files.

@taylorsw04 tells me that in addition to extracting documentation, API-Extractor can produce a filtered *.d.ts that elides internal methods.

Currently, SharedTree is the primary user of `@internal` in our code base, although there is light

[2021-05-11 21:47] taylorsw04 commented on #6116
https://api-extractor.com/pages/overview/demo_rollup/ :)

[2021-05-12 01:06] anthony-murphy commented on #5771
@tanviraumi  and @GaryWilber I've been looking into the client side portion of this, and i'm wondering how important the flag in the summary op is which was added here: #5909, alternately, is this a permanent thing, or just something for staging while we roll this out?

 I ask, as i think we can handle most of this at the loader layer if the op isn't super important, which right now seems like a c

[2021-05-12 01:15] #4782 closed

[2021-05-12 06:01] tanviraumi commented on #5771
The flag was mostly for staging. A quick way for server to know whats coming. But r11s can live without it since we download the top level tree anyway and can check whether ".protocol" already exists. Not sure whether Push does the same. FYI @GaryWilber

[2021-05-12 16:22] anthony-murphy commented on #5771
great. i can def get it there for staging, but it will break the separation of concerns in the design i'm considering. Also, do we have a plan for server side support? I'd like to start testing, ideally with local-server or tinylicious

[2021-05-12 18:00] #5679 closed

[2021-05-12 19:20] curtisman commented on #6116
Typescript already has a [`--stripInternal`](https://www.typescriptlang.org/tsconfig/#stripInternal) flag.   However, quite a bit of our `@internal` functions are still cross package, and I don't think it will work for dependent package if you strip them out.

[2021-05-12 20:08] danielroney opened #6121 "Shared Interval: Control stickiness of interval ends at shared string modification time"
**Describe the outcome you expect**

**Approach**

**Open questions**

**Additional context**
https://github.com/microsoft/FluidFramework/issues/5427

**Acceptance criteria**

[2021-05-12 20:10] danielroney opened #6122 "Shared Interval: move ends of interval; no insert and delete so change coalesce"
**Describe the outcome you expect**

Provide an API that changes the start and/or end of an interval as a single operation.

**Approach**

IntervalCollection.change(id: string, start?: number, end?: number) takes the ID of the interval and the desired start and end. The API changes the range of the interval with the given ID, possibly creating a new interval with the desired range, inserting it in

[2021-05-12 22:22] vladsud commented on #6027
Keeps causing a lot of trouble and misunderstanding as it pops up into a lot of alerts, queries, so bumping priority by moving into May

[2021-05-12 23:40] jatgarg commented on #5690
But this would only take into account size set per data store. The problem we had was the number of data stores in the snapshot. So individual data store size could be within the limit but the total snapshot could be big. So maybe we have a limit and try adding data stores to that and when we reach that limit, then we upload that many data stores in one tree and use its handle returned in the fina

[2021-05-13 00:06] vladsud commented on #5690
Right, we should group multiple data stores until we hit a limit, and flush either before or after adding last data store (or maybe flush that last data store separately)
I.e. if the limit is 4Mb, then
- 0.5 +5 -> flush 0.5 + 5, or 5 and keep 0.5 (continue accumulate).
- 0.5 + 3 + 1 + 2 -> flush 0.5 + 3 + 1, reset accumulation with 2.

[2021-05-13 00:45] ChumpChief commented on #6084
I think this might be resolved by my recent change to the options matrix plus flipping the flag default, confirming now.
https://github.com/microsoft/FluidFramework/pull/5833/files#diff-646225b0acb58b92a0fa191e720c3a93141c9b9eeeb67d19a450ab170d082de2L44

[2021-05-13 13:53] curtisman commented on #6006
I believe this is caused by port exhaustion because of TIME_WAIT delay on TCP sockets disconnection.

[2021-05-13 15:18] DLehenbauer opened #6128 "Offline blob uploads Phase 2 - Support "offline" blob uploads with detached container"
This item will track Phase 2 of this effort, comprised of:
- [x] #6521 Change ODSP workflow when attaching with blobs
- [x] #6522 Tests for new creation flow
- [x] #6523 Implement redirection for detached blob URLs
- [x] #6524 Tests for Blob redirection

--original issue description--
Our recommended path for offline document creation using a detached container does not currently work with SharedT

[2021-05-13 16:42] anthony-murphy commented on #5771
@GaryWilber could you let me know if the flag in the op is really needed. I've been doing some testing with odsp driver, and it seems to just work. If we don't need to flag, then staging is basially a no-op. i can just push a new loader with no runtime changes, and as that gets picked up, clients will start sending protocol trees

[2021-05-13 18:03] GaryWilber commented on #5771
@anthony-murphy I think we would want the flag. Today Push will always add the protocol tree to the commit. The flag would instruct us to stop doing that and instead validate what the client provided. Did you test it on a real SPO file and it worked?

[2021-05-13 19:16] vladsud opened #6139 "We report HTTP response to telemetry, privacy / COGS impact concerns"
_Update: See comment below for latest info on what's going on here:  https://github.com/microsoft/FluidFramework/issues/6139#issuecomment-895296765_

-------------------------------------------------------------------------------------

@wes-carlson - FYI

Here is the error I hit in stress tests.
I can't figure out where in the code we set response property.
And https://github.com/microsoft/FluidF

[2021-05-14 00:28] vladsud commented on #6139
Thanks Wes for tracking it here is how it gets there:

https://github.com/microsoft/FluidFramework/blob/4aeb50159e94175bb5c63a30eedee8ba04796471/packages/utils/odsp-doclib-utils/src/odspErrorUtils.ts#L136

https://github.com/microsoft/FluidFramework/blob/4aeb50159e94175bb5c63a30eedee8ba04796471/packages/drivers/odsp-driver/src/odspUtils.ts#L110

[2021-05-14 03:01] vladsud commented on #6084
@ChumpChief , yes confirming it's resolved. Leaving to you to resolve it :)

[2021-05-14 15:54] ChumpChief commented on #6084
Done, thanks for confirming!

[2021-05-14 15:54] #6084 closed

[2021-05-14 18:01] anthony-murphy opened #6151 "Remove Connect to Storage From DeltaManger, and Move creation flow to container"
i investigated this, and it's not feasible without breaking the existing separation of concerns, as it would required getting the protocol handler into the delta manager. The existing abstraction is incorrect, as i don't think the containers storage should be controlled by delta manager at all, it's unclear why delta manger is involved in it's creation flow at all because it never even uses the st

[2021-05-14 20:04] DLehenbauer opened #6157 "realsvc: re-enable 'pendingOps' suite"
## Describe the bug
The 'pendingOps' suite usually passes on my local machine, but regularly fails when enabled in CI.

Initially, many tests failed with a timeout at 2s.  I tried increasing the timeout to 20s, at which point I began uncovering the assertion failures.

To move forward with re-enabling realsvc coverage, I ended up disabling this suite.

### To Reproduce
Remove the below code from '

[2021-05-14 20:54] tylerbutler opened #6158 "API report return type flips order during build"
@tylerbutler any idea why this keeps flip flopping? seen in it my changes as well

__Originally posted by @anthony-murphy in https://github.com/microsoft/FluidFramework/pull/6106#discussion_r632758224__

[2021-05-14 21:21] danielroney opened #6159 "GC reference check doesn't update on first summarize after component delete"
The first summary after deleting a component does not update the deletedGCNodes count. the count doesn't update until the next summary, which requires some other change to the document to trigger.

- [x] #6228
- [x] #6229
- [x] #6230

[2021-05-14 21:57] vladsud opened #6160 "Lack of PerformanceEvent's _start events makes it hard to diagnose / debug issues by developers"
PerfornanceEvent constructor has these defaults now:

[code]

I.e. no start: true.
This was done earlier to reduce impact on telemetry COGS.
We still want this change, however it proved very difficult to do local debugging of async processes (like summarization) when no start events are printed to console.

I think we need a mechanism to enable them.

What I'd propose is that there is a mechanism

[2021-05-14 23:14] #5994 closed

[2021-05-15 00:02] #5261 closed

[2021-05-17 17:34] #6151 closed

[2021-05-17 20:38] #4595 closed

[2021-05-17 21:10] ChumpChief commented on #1403
I think this was satisfied by #4556

[2021-05-17 21:10] #1403 closed

[2021-05-17 22:38] ChumpChief opened #6169 "Build sample for proposeCodeDetails()"
`IContainer.proposeCodeDetails()` allows hosts to propose new code to an existing container.  We have tests for this, but no sample.  We should add a new sample (prob under /examples/hosts/codeUpgrade or similar) that illustrates how to use it properly across the various scenarios (minor upgrade, major upgrade, refreshing the DOM/view after upgrade, etc.).

[2021-05-17 22:41] ChumpChief commented on #6169
E.g. for starters could just have a button to click to make the proposal and either console log what's going on or spit it out in the DOM.

[2021-05-18 00:15] tanviraumi opened #6170 "Move protocol-base to common folder."
Checkout #6073 and #6167 for more context.

While the protocol-base contains some definitions that should should move to protocol-def, it still holds some implementations (e.g., Quorum) that are shared between client and server for protocol specific guarantees. The question is: should we move protocol-base to common folder (along with protocol-def) or we have a better alternative?

[2021-05-18 00:21] tanviraumi commented on #6170
@curtisman @anthony-murphy

[2021-05-18 03:33] vladsud opened #6171 "Storage stress tests explode after hitting fluid:telemetry:SummaryManager:SummariesDisabled"
I can't figure out quickly why this event is generated in the middle of the stress run.
But once this event fires (and it reliably fires in the run), the run explodes as we immediately hit 10K ops limit.

Would appreciate some help here, as that might block ODSP scalability tests (on the path to GA).

[2021-05-18 03:43] vladsud commented on #6171
You would need https://github.com/microsoft/FluidFramework/pull/6172 to get through.
And possibly https://github.com/microsoft/FluidFramework/pull/6168

[2021-05-18 16:33] anthony-murphy commented on #6170
I was thinking about this, and i'm not sure protocol-base belongs in a separate layer. As it doesn't have any requirements beyond any other dds, and the interface is fixed via the protocol definitions change. There may be value is decoupling server and client, but that would require more than just protocol-base given the routerlicious driver reuses a bunch of the server's code

[2021-05-18 17:24] tanviraumi commented on #6170
I think there is a difference between other service packages used by client (e.g., services client) and protocol-base. Other service packages contains utils and libraries that both client and service share (e.g., shared rest client code).

Protocol-base contains code that affects data and protocol. For example, quourm code that runs in scribe and client. It also contains some shared summary creati

[2021-05-18 17:26] vladsud commented on #6171
Fixed by above mentioned PR

[2021-05-18 17:26] #6171 closed

[2021-05-18 17:36] ChumpChief opened #6178 "Container should be IDisposable instead of using close pattern"
Similar to #4700, we should be consistent with our API surface.  Additionally, the public close/dispose method should not take an error argument (this is coming from the host, whose errors we can't rationalize and they can't rationalize how we might respond to the error).

[2021-05-18 18:04] SamBroner commented on #6073
Should we also move @fluidframework/gitresources? It's also included in the runtime.

[2021-05-18 18:13] ksbrar commented on #5561
Three PRs:
* Move tagging types to common-definitions - DONE: https://github.com/microsoft/FluidFramework/pull/6165
* Update common-utils - DONE: https://github.com/microsoft/FluidFramework/pull/5962
* Update server and client - TODO: waiting on upcoming plans for 0.40 and common-definitions being pulled out of rest of monorepo versioning.

[2021-05-18 18:15] ksbrar commented on #5426
Some errors are duplicated because they have a secondary message attached, though they boil down to the same event. Examples:
* "Error 403" vs "Error 403 (Forbidden)"
* "Error 404" vs "Error 404 (Not Found)"

In some of these cases, we have two occurrences because of the fact that we join the "performance" and "error" event tables in Kusto to track errors. These should be dealt with via better que

[2021-05-18 19:30] anthony-murphy commented on #6170
i don't disagree, but it's really no different than any other dds if you consider the server just another client. i don't see unique challenges here, and there is a cost associated with moving it. this is very different than our definitions which break compatibility between layers of the stack if they are changed.

[2021-05-18 20:12] tanviraumi commented on #6170
The difference with any other DDS is, service takes a dependency on this DDS for booting up. Especially now that client will start writing quorum for push and push will have to start their service based on that.

I am not sure what additional cost you are referring to with this move.

[2021-05-18 20:17] tanviraumi commented on #6170
Also I feel like we are talking about different types of compatibility. For protocol-base, I am not concerned about interface compatibility. We can move most of those to protocol-def anyway. I am mostly concerned about summary data compatibility and want us to be more deliberate before changing.

[2021-05-18 23:57] vladsud opened #6185 "Move runWithRetry from container level to driver-utils"
See this PR for discussion: https://github.com/microsoft/FluidFramework/pull/6168

[2021-05-19 00:14] tylerbutler opened #6186 "Move last-edited-experimental to @fluid-experimental"

[2021-05-19 03:06] vladsud opened #6188 "Remove wait<> on directory and map, since they are hard to debug if they cause deadlock due to runtime being disposed"
[ChumpChief] Per conversation below, the current plan is to remove the wait methods from map and directory.  For current customers, we can publish a helper function snippet in BREAKING.md they can pick up to match existing functionality, with encouragement to consider timeouts/telemetry/failure logic appropriate to the customer's scenario.

- [x] Deprecate the APIs and remove all local usage from

[2021-05-19 15:36] vladsud opened #6190 "TaskManager does not handle properly disconnected state"
Connection can be lost at any event, between any async operations.
More over, it can be lost after point in time where TaskManager was used, but before ops coming from such interactions had a chance to be sent. Because of that, there is no way to move responsibility to handle connectivity state to end users, each DDS (including TaskManager) should work correctly across such transitions and abstrac

[2021-05-19 16:04] vladsud opened #6191 "ISharedCounter to implement set() operation"
I find it pretty limiting that the only thing you can do with ISharedCounter is InterlockedAdd equivalent.
For it to be powerful DDS, it needs to support at least a bit more from the arsenal of atomic operations (see std::atomic in C++, or Interlocked* APIs in Windows).

In particular, I think set(), and CompareAndSwap (CAS) are the two operations that would be great to add.
Otherwise we will see

[2021-05-19 17:05] ChumpChief commented on #6190
Chatted with Vlad to get some more info.  He pointed out this logic in the stress tests that is unpleasant for a customer to write as an example of a scenario that could be made easier:
https://github.com/microsoft/FluidFramework/blob/main/packages/test/test-service-load/src/loadTestDataStore.ts#L228

Note that `TaskManager` does not (at least currently) attempt to make any guarantees about the ac

[2021-05-19 17:28] #6157 closed

[2021-05-19 19:07] anthony-murphy commented on #6128
can someone expand the scenarios here? is it just detached? what about serialize? same session only? different sessions?

[2021-05-19 19:45] tylerbutler commented on #5988
@skylerjokiel Who's the best person to take a look at this?

[2021-05-19 20:01] tylerbutler commented on #6068
@DLehenbauer @arno-123 Do you have suggestions for who can look at this more closely?

[2021-05-19 20:03] DLehenbauer commented on #6068
I'll take it.

[2021-05-19 20:43] arno-123 commented on #6068
@nedalhy PTAL

[2021-05-19 21:12] agarwal-navin opened #6199 "Test that ODSP returns the unreferenced flag correctly in getLatest"
After we upload a summary to ODSP with data stores marked as unreferenced, we need to verify that the summary returned by the server in getLatest() has the correct unreferenced flags.

We have GC tests that uploads summary with unreferenced flag and loads a new client with the summary returned in getLatest() - https://github.com/microsoft/FluidFramework/blob/main/packages/test/test-end-to-end-test

[2021-05-19 21:21] vladsud commented on #2841
I think we should add two configs:
1. Loader at 0.39 and everything else latest
2. Loader + Driver at 0.39, and everything else - latest

Where 0.39 is the fixed version that does not change over time

[2021-05-19 21:29] vladsud commented on #5123
Assigning to June per discussion with Wes

[2021-05-19 22:48] anthony-murphy commented on #6082
@vladsud i think you fixed this. correct? or is it still happening even after your changes

[2021-05-19 23:16] danielroney opened #6203 "ExternalRequest flag should be ignored on pre-GC docs"
We are currently throwing a 404 when the ExternalRequest flag is being used against pre-GC documents

[2021-05-20 00:29] coclauso commented on #6128
Hi @anthony-murphy, thanks for looking at this.  Here's more information about this scenario (along with some thinking of what a solution might look like)--hopefully it will address some of the questions.

The scenario we'd like to support is as follows--the host allows editing a detached container, and relies on ExternalContainer.serialize() along with some other storage option of its choice (e.g

[2021-05-20 00:36] coclauso commented on #6128
Also--another couple of quick comments:
1. Currently it's a pattern with odsp-driver for new container instances to allow the user to edit the container locally in a detached state before it's sync'ed to odsp.  This means that if the user does anything in this window that triggers blob upload, currently it would cause a failure.  Am imagining that a solution to the above problem could be leveraged

[2021-05-20 13:03] vladsud commented on #6082
Well, sort of. I fixed two issues that were causing really long waits between summaries.
I think main ("ci" profile) is Ok.
I can easily hit this issue with higher loads.

Either way, I think it's fine to close it, but it's not fully gone - I think we would need to continue to push stress tests to their limits, and work with ODSP on speeding up whole summarization process, as it's (overall, from n

[2021-05-20 13:03] #6082 closed

[2021-05-20 17:15] chensixx commented on #5881
The remaining `retry` are in a few categories:
1. server packages - no change
2. odsp packages - no change
3. loader package, mainly `createGenericNetworkError` and `IThrottlingError` - okay to change?
4. r11s driver: `restWrapper` and `errorUtils` - okay to change?
5. protocol.ts - no change

@anthony-murphy @znewton does this look correct?

[2021-05-20 17:36] vladsud opened #6207 "Parse correctly ODSP Error facets"
Per ODSP discussion today, this code need to be adjusted to look at the most innerError structure, per this document:

https://microsoft-my.sharepoint-df.com/:fl:/p/hammondpang/ERHuWAarf8REt-Vke5WIUm8Bf-42VNb55XBSrjAbcJL-fw?e=DRD71L

Today's code:
[code]

[2021-05-20 17:36] vladsud commented on #6207
@anthony-murphy  - FYI

[2021-05-20 18:39] anthony-murphy commented on #6207
It's more incomplete than incorrect. the data in #5679 is true for those errors right now, but they've provided more guidance on how these types of errors should be parse in general. this will ensure they don't break us, and allow us to have code for general error handling.

[2021-05-20 21:06] curtisman commented on #6188
We should review all "wait" functionality to see if they are really needed (and get rid of them) or add abort to them.

[2021-05-20 21:51] tylerbutler commented on #3515
This was fixed as far as I can tell.

[2021-05-20 21:51] #3515 closed

[2021-05-20 22:10] ChumpChief commented on #6188
I'm still in favor of removing `.wait()`s :)

[2021-05-20 22:10] tanviraumi commented on #6170
Can we get a resolution on this? @SamBroner reminded me that we also have "gitresources" package which defines storage specific interfaces. I think we should move that one as well. If reusing common seems awkward, we can move all three into a top level protocol folder.

[2021-05-21 04:38] curtisman commented on #6188
Definitely what I prefer as well.  Just need to make sure to have alternative for scenarios that currently relies on waits.

[2021-05-21 16:18] andre4i opened #6212 "Extract delay() implementation into common-utils"
See [comment](https://github.com/microsoft/FluidFramework/pull/6209#discussion_r637022652) here: https://github.com/microsoft/FluidFramework/pull/6209.

There are a couple of places where the `delay` implementation is the same, it makes sense to make it reusable.

[2021-05-21 16:43] vladsud opened #6213 "Too frequent summaries without user activity: recovery not successful on first failed attempt"
Marcelo reported too frequent summaries without doing anything with the doc.

union Office_Fluid_FluidRuntime_*
| where Data_docId == "PXZGCPl6KyU8t5PNPR6CPlrupW79zPmeFEhVmo72pGQ%3D"
| where Data_eventName == "fluid:telemetry:Summarizer:Running:GenerateSummary_end"
| project Data_eventName, Event_Time, Data_message, Data_refSequenceNumber

Looking at telemetry, I do so something weird, for example

[2021-05-21 16:49] andre4i commented on #6185
Fixed by https://github.com/microsoft/FluidFramework/pull/6209

[2021-05-21 16:49] #6185 closed

[2021-05-21 16:49] vladsud commented on #6213
@arinwt, to give a bit more perspective - this file is unique as it enables certain flights in storage that modify storage behavior. They are not related to summarization (only to how data is stored on back-end) and it should not impact summarization process. But, there is always a chance for bugs, so what we are looking for is your initial assessment if issues are more likely due to existing code

[2021-05-21 17:06] vladsud commented on #5603
Two changes went in to address this issue - [one on the client](https://github.com/microsoft/FluidFramework/pull/6112/files), one on the server.

[2021-05-21 17:06] #5603 closed

[2021-05-21 17:08] vladsud commented on #6026
Same as https://github.com/microsoft/FluidFramework/issues/5603, addressed per stress tests where we could reliable hit it with some level of workload (I believe TAP10)

[2021-05-21 17:08] #6026 closed

[2021-05-21 17:10] vladsud commented on #6001
@agarwal-navin, do you need any help here?

[2021-05-21 17:12] vladsud commented on #5264
Telemetry in this space has been considerable changed lately.
Also we found (through stress tests) couple bugs in client & server in this space.
https://github.com/microsoft/FluidFramework/issues/5603 is the key issue that has reference to PR that addressed key issues

[2021-05-21 17:12] #5264 closed

[2021-05-21 17:15] vladsud commented on #5692
Addressed by https://github.com/microsoft/FluidFramework/pull/5687

[2021-05-21 17:15] #5692 closed

[2021-05-21 17:19] anthony-murphy opened #6214 "Enable Optional Error Type: DriverErrorType and ContainerErrorType"
There is currently no safe way to add a new DriverErrorType within a release, as they cannot be added as optional. If we tried to add it in a dot build it would not exist in the older, and fully exist in the newer this would result in compile and runtime errors if code written against the newer were used with the older, this breaks our back compat guarantees.

https://github.com/microsoft/FluidFra

[2021-05-21 17:22] vladsud commented on #5866
Note - I once was able to hit it in stress tests. Which suggests the issue is likely not fully addressed.
I highly doubt that we would hit a time-out (i.e. that would be a reason for error), for couple reasons:
- Most of my recent runs are just 1-min runs (I do not remember for sure in which run I hit it though).
- The connection from my home to end point is pretty good :) It's possible that packe

[2021-05-21 17:40] anthony-murphy commented on #6214
I think we probably want these to become `as const` objects:
https://www.typescriptlang.org/docs/handbook/enums.html

[2021-05-21 17:43] anthony-murphy commented on #6214
`const enum` could be another good option:
https://www.typescriptlang.org/docs/handbook/enums.html

[2021-05-21 17:43] anthony-murphy commented on #6214
Fyi @DLehenbauer and @vladsud

[2021-05-21 17:46] anthony-murphy commented on #6214
Both `as const` and `const enum` will result in inlining, which has good and bad properites. we could also just switch from `enum` to object `{foo?: "bar"}` which will not inline, but does support optional members

[2021-05-21 18:31] anthony-murphy commented on #5866
We hit this is prod, @jatgarg has a theory.

[2021-05-21 18:32] vladsud commented on #6033
@andre4i - this is related, but not exactly the same as the item I've described to you. But it gives some extra background of area.

@skylerjokiel - this particular item needs someone to access current state of UTs / automation and ability to remove legacy paths that we should not be using (creation of files on the fly by calling loader.resolve(). Curtis' team unlikely to have time here any time s

[2021-05-21 18:35] jatgarg commented on #5866
Imo we hit a rare case where noop caused us to throw data corruption error. So when the issue occurred in prod, we did not wait for leave op because our check said that we have received acks for all of our ops. But we don't check acks for trailing noops in delta manager.
`    public shouldJoinWrite(): boolean {
           // We don't have to wait for ack for topmost NoOps. So subtract those.

[2021-05-21 18:35] vladsud commented on #5618
@jatgarg , any chance you can help me with this in June?
I do not have good feeling on where to add this telemetry. It might be in container runtime, or it might be a property on TreesLatest, or maybe summarizer can add property to one of its events (and maybe report both total number of data stores and number of summarized data stores).
One way or another - I do not want extra event (for COGS rea

[2021-05-21 19:07] tanviraumi commented on #6033
FYI @GaryWilber for visibility

[2021-05-21 20:04] #5346 closed

[2021-05-21 20:05] jatgarg commented on #5866
I think we can cherry-pick this change to 0.39 also?

[2021-05-21 20:05] vladsud commented on #6212
It shows up in different forms:

[2021-05-21 20:15] anthony-murphy commented on #5866
I think it is fine to cherry-pick, but i wouldn't release. if we have to release for another reason this will get bundled, but the issue is pretty minor and low probability.

[2021-05-21 20:30] chensixx commented on #5640
question: what is run supposed to return?

[2021-05-21 20:32] ksbrar commented on #6160
@vladsud I can take this on.

[2021-05-21 20:39] anthony-murphy commented on #5640
the stress runner should return a non-zero error code on failure. probably just look for that

[2021-05-21 20:40] agarwal-navin opened #6223 "Remove returning GC data in summarize - Part 1"
With #6252, if GC is enabled, the GC data generated by `getGCData` is stored in the GC blob in summary.
The GC data returned by summarize needs to be removed. However, we keep it now for back-compat so that documents running old version of container runtime can still get the GC data in summarize to store in the GC blob in summary.

This issue tracks removal of all usages of gcData in summarize so

[2021-05-21 20:47] chensixx commented on #5640
are we still targeting tinylicious/local driver. or just any driver

[2021-05-21 21:06] vladsud commented on #6160
Super - thanks! Might be worth running the design by Monday's meeting, just to make sure folks had a chance to provide feedback (and learn about this new capability if we go with it)

[2021-05-21 21:06] anthony-murphy commented on #5640
either works. tinylicious is probably easier. should just need to start the stress test from a mocha test in like the mini mode and ensure it exits with a 0 exit code.

[2021-05-21 21:37] chensixx commented on #5640
wait, isn't  orchestratorProcess already doing "takes arguments, and returns"? what should I add to main?

[2021-05-21 21:38] agarwal-navin commented on #6001
The absolutePath is now marked as readonly. Bohemia is not updating it in the Scriptor code which was the main concern. They have another place that does this but I created a bug to fix that. So, we can punt this to June since we have other high priority GC items in May.

[2021-05-21 21:41] anthony-murphy commented on #5640
this work is about adding a test that runs a very small stress run to ensure we don't break the stress test themselves. you shouldn't need to modify the stress test. just add a mocha test that run it.

[2021-05-21 22:01] tylerbutler commented on #6214
Are the options roughly equivalent in terms of intellisense/developer experience in VSCode?

[2021-05-21 22:01] chensixx commented on #5640
so a new test file that is similar to nodeStressTest.ts but in mini mode and with tinylicious driver? also checking the exit code is 0

[2021-05-21 22:09] anthony-murphy commented on #6214
@tylerbutler  they should be

[2021-05-21 22:37] anthony-murphy commented on #5640
no. not similar to node stress test you should run  nodeStressTest from the test either. i think it should actually spawn a new node process and run nodeStressTest.js with the necessary arguments

[2021-05-21 22:42] anthony-murphy commented on #5881
looks like ThrottlingError  implements IThrottlingWarning which is in driver definitions, so you can make the class take ms, but it will still need to expose retryAfterSeconds

[2021-05-24 16:25] agarwal-navin opened #6228 "MergeTree doesn't include deleted handles in GC data until the min seq# moves past the op's seq#"
Deleted segments in MergeTree are stored in a tombstone blob. These are not included in the GC data when summarizing. Once the min seq# moves past the seq# of ops in this tombstone blob, only then these ops are applied and are part of the GC data.

This is causing deleted tables (and other components) in fluid preview / office.com canvas to still show up in search results until other operations ha

[2021-05-24 16:27] agarwal-navin opened #6229 "SharedMatrix doesn't include deleted handles in GC data until the min seq# moves past the op's seq#"
When a row or column is deleted from a table in fluid preview / office.com document, the deleted components in it still show up in search until more operations happen in the SharedMatrix rows / columns.

This is because deleted segments in the underlying MergeTree are stored in a tombstone blob. These are not included in the GC data when summarizing. Once the min seq# moves past the seq# of ops in

[2021-05-24 16:31] agarwal-navin opened #6230 "Don't store GC data returned by summarize() in GC blob in summary"
Currently, GC is run on the GC data returned by `getGCData`. However, `summarize` runs after `getGCData` and it also returned GC data. This is what is stored in the GC blob in summary. The reason for this is outlined here - https://github.com/microsoft/FluidFramework/pull/6208#issuecomment-845422017.
This will result in discrepancies when the logic for generating GC data differs in `getGCData` and

[2021-05-24 16:59] arinwt commented on #6213
@vladsud, I can give some context here. The specific series of 3 summaries you mentioned are caused by bug #5636, and fixed in #4981, but that isn't deployed until 0.40.

The first summary in the series (ref seq 1137) was the first attempt by that summarizer client after connecting, like you said. As soon as it finished generating the summary and submitting the "summarize" op, the runtime un-pause

[2021-05-24 17:14] vladsud commented on #6213
Thanks for explaining! Feel free to resolve if it's fixed already.

[2021-05-24 20:13] tylerbutler commented on #5762
@skylerjokiel Do you think we need to figure this out in May/June?

[2021-05-24 20:18] tylerbutler commented on #5629
@tanviraumi Are you working on/thinking about this?

[2021-05-24 20:18] tylerbutler commented on #5629
@vladsud Tagging you as well.

[2021-05-24 20:20] tylerbutler commented on #5279
Moving to June since we're hitting higher-pri issues at the moment.

[2021-05-24 20:31] tylerbutler commented on #4810
@agarwal-navin @arinwt Do you think there's more design thought/planning required here? If so, when do you plan to be ready to execute?

[2021-05-24 20:51] arinwt commented on #6213
Yeah the bug itself should be fixed in 0.40, but like I said in this doc there are only 2 times that this bug occurred. So if we are observing "too many" summaries in this doc, the rest of the summary attempts should be normal.

[2021-05-24 21:03] vladsud commented on #5629
@tanviraumi, @GaryWilber, Do we have any stats on the server side how effective coalescing in terms of COGS? If not, I'd assume that means we do not care about it. :) And that would mean - # 1 is the way to go. Thoughts?

Reference to code - **CollabWindowTracker**, current policy is at least 2 second and 300 ops between noops, so coalescing should be rather rare. Plus we service should be pushing

[2021-05-24 21:41] agarwal-navin commented on #4810
Yes, I think this does need some designing work. Currently, we are both busy with some high priority work. I think we should look at this in June. @arinwt, what do you think?

[2021-05-24 21:45] chensixx commented on #5881
oh I see. i didn't notice the IThrottlingWarning in container definitions. So maybe just don't change any more places?

[2021-05-24 22:32] agarwal-navin opened #6237 "Update snapshots tests under `packages/test/snapshots` to use summarize instead of snapshot"
The snapshot tests use `snapshot` API which has been deprecated. It should use instead use the `summarize` API which has more functionality (such as running garbage collection, support for re-using summaries, etc.) and is kept up-to-date.

[2021-05-25 16:00] znewton opened #6245 "Move PrefetchDocumentStorageService into the driver layer"
## Work Item
**Describe the outcome you expect**

The PrefetchDocumentStorageService should be implemented in driver-utils and instantiated within drivers as needed (i.e. r11s-driver), rather than within the Loader, as suggested by @vladsud in #6236.

**Approach**

Move PrefetchDocumentStorageService to drivers-utils and remove policy check logic in the loader. Also, remove caching policy from IDo

[2021-05-25 18:03] agarwal-navin opened #6247 "Re-summarize and re-generate GC data when GC version of the file changes"
This is to handle scenarios where we find a bug with GC and increment the GC version of the file. We need to re-generate GC data and re-summarize the file so that it has updated (and correct) GC data from that point on. Basically, we will consider the GC data before this new version to be incorrect.

[2021-05-25 18:07] agarwal-navin opened #6248 "loadInitialGCSummaryDetails in SummarizerNodeWithGC is not reentrant"
If `loadInitialGCSummaryDetails` is called while it is generating the initial GC data, it will end up generating it again. This should not have an functional impact because the data generated will be the same. But it needs to be fixed nonetheless.

[2021-05-25 18:16] #6213 closed

[2021-05-25 20:33] anthony-murphy opened #6253 "Remove debug dependency from client packages"
## Work Item
Many of our client package still depend directly on the debug package, and emit some log that way. We should remove the direct debug logger, and move logging to our logger. Only telemetry until should keep it's debug dependency, as it has the debug logger registered by the loader.

- [ ] Delete all debug files: https://github.com/microsoft/FluidFramework/blob/main/packages/dds/cell/sr

[2021-05-25 21:15] #6228 closed

[2021-05-25 23:51] #6230 closed

[2021-05-26 00:40] #6229 closed

[2021-05-26 00:41] #6159 closed

[2021-05-26 03:35] vladsud opened #6260 "Word ask: Ability to control summarization process"
- [x] #7603
- [x] #7604
- [x] #7605
- [x] #7606

Here is my understanding / recollection of today's discussion re requirements:
1. None of regular clients should be ever summarizers (same as disabling summaries through setting _generateSummaries_ to false and OCS server rejecting posting a summary in case malicious client overwrites it).
2. OCS (server) client needs to be a summarizer. It may cras

[2021-05-26 17:39] micahgodbolt opened #6263 "0.40 CRA-Demo Script and Feedback"
# @fluid-example/cra-demo 0.40 release

get here: [aka.ms/fluid-cra](https://aka.ms/fluid-cra)
[goto demo](#issuecomment-825089542)
Review of feedback from [0.38](https://github.com/microsoft/FluidFramework/issues/5904) demo

## Version 0.40 Demo Changes

1. Fluid-static and get-container are merged together into client specific packages
2. `Fluid.init(new TinyliciousService());` replaced with `Ti

[2021-05-26 17:40] micahgodbolt commented on #6263
# @fluid-example/cra-demo
This is an experimental learning tutorial demonstrating the integration of Fluid into [`create-react-app`](https://create-react-app.dev/).

Concepts you will learn:
1. How to integrate Fluid into a React application
2. How to run and connect your application to a local Fluid service (Tinylicious)
3. How to create and get Fluid Containers and collaborative objects
4. How t

[2021-05-26 18:01] tylerbutler opened #6264 "Sequence package readme should be published on fluidframework.com"
The [sequence readme](https://github.com/microsoft/FluidFramework/blob/main/packages/dds/sequence/README.md) should be published on the website so it's easier to find.

[2021-05-26 18:48] tylerbutler opened #6267 "Mark SparseMatrix as obsolete in TSDocs"
SparseMatrix is obsolete.  I'd consider omitting SparseMatrix from the README.  Its replacement (SharedMatrix) is better in every way.

_Originally posted by @DLehenbauer in https://github.com/microsoft/FluidFramework/pull/6265#discussion_r640034764_

[2021-05-26 18:58] anthony-murphy commented on #5618
@jatgarg if we have a clear idea of where to add this telemetry @chensixx should be able to get it added.

[2021-05-26 19:02] jatgarg commented on #5618
I will take a look and update here.

[2021-05-26 19:08] anthony-murphy commented on #6207
Moving this onto @chensixx plate, as i think we'll need @wes-carlson help with #6128

[2021-05-26 19:43] jatgarg commented on #5618
We can do it in ContainerRuntime, but for that seems like we need to add another event as I could not find any to which we can add to. While summarization, we don't summarize everything, we only summarize the dirty ones. So feels like at this point we can add it to trees/latest telemetry as that would be natural place to add.

[2021-05-26 20:39] vladsud commented on #5618
Summarization process (as a whole) has access to all data stores, including those that are not summarized due to incremental summaries. So I think it's useful to have that data point there (also helps to see how effective is our incremental story).

Here are couple places where we can add it:
1. Driver: fluid:telemetry:OdspDriver:uploadSummary_end or fluid:telemetry:OdspDriver:uploadSummaryWithCon

[2021-05-26 21:09] vladsud opened #6272 "Collection of 1.0 items to consider"
## Background
The goal of this issue / epic is to track and organize all the potential issues we would want to review, prioritize, and possibly implement for 1.0 release.
Note that 1.0 release is not necessarily tied to particular goal or date (this should be defined outside of this issue). In context of this issue, 1.0 really means long-term support and graduation of "beta". Today, while we do ou

[2021-05-26 21:29] vladsud commented on #4813
I believe there should be no such direct capability, and instead we should address the short comings in particular areas. For example:
1. Quorum is the only DDS that does not do proper retries. It's not the problem of forcing initial connection to "write", it's the problem of failing on losing connection (and having retry baked into it or having a layer on top that does it).
2. The other area wher

[2021-05-26 21:34] anthony-murphy commented on #4813
I've come around on this and fully agree. we can just close this.

[2021-05-26 21:34] #4813 closed

[2021-05-26 21:53] vladsud opened #6274 "Quorum cleanup: hide abilities to make/access arbitrary proposal values"
The `Quorum` currently permits users to store arbitrary key/value data via the proposal mechanism.  This is undesirable as it limits our flexibility in updating the code proposal mechanism, and we don't have a good schema upgrade story for the data stored within.  Instead, developers should create and use their own DDSs for arbitrary data storage.

This work tracks hiding access to the proposals f

[2021-05-27 00:13] anthony-murphy opened #6281 "Add Snapshot Format Tests to Quorum in Protocol Base"
## Work Item
We test snapshot format in client, but not in server. so quorum can regress and we don't catch it until integrate time.

[2021-05-27 00:40] pleath commented on #6107
Fixed by https://github.com/microsoft/FluidFramework/pull/6202.

[2021-05-27 00:40] #6107 closed

[2021-05-27 01:19] alpaix opened #6283 "Code upgrade flow is broken"
Our code upgrade flow implies each code proposal represents a code constraint the code loader should satisfy when matching an actual runtime module to get loaded by the container.
In reality, the container uses the older cached constraint rather then actual loaded module capability when processing the new code proposal to determine whether the container should be terminated.
![code-propose-min](ht

[2021-05-27 01:39] vladsud commented on #6191
I've marked "design required" to make sure we run it by wider group that it's a good change to have, but also if we want to limit wit set() only or want to add more methods.
Otherwise it's likely good first issue for someone who want to familiarize with DDSs. It's a bit more work than with other first issues, but someone new can be guided to success here.

I'm not sure June milestone is correct -

[2021-05-27 01:58] vladsud commented on #5749
@Czhang0727, @leeviana, can someone work directly with ODSP to make that happen?

That said, I'll point out that with both client & Prague Graph layer in ODSP involved in caching of snapshots, the only guarantee the system can provide is that you are getting back the name of the file that it was called some amount of time ago (which is likely counted in many days). Plus there is likely no way to r

[2021-05-27 02:05] vladsud commented on #6283
@arinwt , @anthony-murphy - please triage

[2021-05-27 02:15] vladsud commented on #5608
Code was refactored and these events are gone - resolving.

[2021-05-27 02:15] #5608 closed

[2021-05-27 02:20] vladsud commented on #5599
This is now "**0x1a6**" error (so query above needs to be adjusted accordingly).
There are 9K hits (over 30 days) now in Kusto - it's substantial growth over last 2 months.
Can this be triaged soonish, please?

[2021-05-27 02:35] vladsud commented on #5153
@SamBroner, I might not fully understand the proposal, but there is no notion of DDS at storage level. There is only runtime package and ops + snapshots. How things are organized below is up to that code to interpret. There is no way to filter ops based on a path in container, as only container runtime can reason about meaning of op content.

Not sure what is partial checkout, but we already have

[2021-05-27 02:40] vladsud commented on #5114
I'd suggest accepting a "policy" object at Loader creation that controls certain aspects of each container in the loader and has visibility to new containers being created. This would simplify logistics around caching, for example. Today, we expose certain capabilities (like Container.forceReadonly, or pausing ops loading on boot) that have global impact (i.e. impact cached version of container th

[2021-05-27 02:43] vladsud commented on #5016
@jatgarg, the item on SPO side is marked as "Removed". Can you please follow up on what are next steps here?

[2021-05-27 02:45] vladsud commented on #5014
Is this same as https://github.com/microsoft/FluidFramework/issues/1539 ?

[2021-05-27 02:51] vladsud commented on #4909
@agarwal-navin - this feels like non-stop ask in light of GC work. Are there dups?
Also this is part of request in https://github.com/microsoft/FluidFramework/issues/6260
Should can we close as dup?

@arinwt - FYI

[2021-05-27 03:00] vladsud commented on #4795
Current state:
1. ODSP driver will cache ops up to a limit (controlled by host, default 5K).
2. When the limit is hit, it deletes all the cached info about this file and stops caching any more ops.
3. We have exposed stand-alone API to prefetch file.

So really, the only thing that is missing here is one of the two (or maybe both):
- A signal that # 2 has happened. Host can use # 3 at various poin

[2021-05-27 03:01] vladsud commented on #4795
Oh, we can also bake some solution as a policy into driver (i.e. no new APIs). That's likely the easiest path.

[2021-05-27 03:04] vladsud commented on #4792
@anthony-murphy - are you planning to take a look soonish? If not, I'd rather close it :)
The priority of that item dropped a bit with latest improvements in ODSP storage (it's less sensible now to edge count) and upcoming blob aggregation. Might be still good change if it's not that hard, but if it's a ton of work, it's probably worth punting.

[2021-05-27 03:06] vladsud commented on #4691
I think it should be now easy to do and without complications, so marking as good first issue, but it's worth double checking.

[2021-05-27 03:07] vladsud commented on #4788
@wes-carlson , is it worth closing it? We will come back to it whenever interest from app comes back, I'm not sure there is value in keeping it around.

[2021-05-27 03:09] vladsud commented on #4673
@tanviraumi - please triage and assign as appropriate. I believe this is r11s only.

[2021-05-27 03:12] vladsud commented on #4659
@montselozanod, @anthony-murphy, should this item be closed? If not, can you please clarify what work it tracks?

[2021-05-27 03:17] vladsud commented on #4634
Punting, we no longer do deduping on client.

[2021-05-27 03:17] #4634 closed

[2021-05-27 03:18] vladsud commented on #4634
Also blob aggregation would make it noop anyway

[2021-05-27 03:18] vladsud commented on #4633
Punting, we no longer do deduping on client.

[2021-05-27 03:20] vladsud commented on #4619
@alpaix - we should either find a way to propose a solution or close it, IMHO. Are you in position to raise a PR with proposal?

[2021-05-27 03:21] vladsud commented on #4617
Punting till better times. There is no scenario where we need it now, and ODSP snapshots are optimized where passing all the data becomes really not that big of an issue (as it's small). Plus aggregated blobs make it even less of an issue.

[2021-05-27 03:21] #4617 closed

[2021-05-27 04:53] agarwal-navin commented on #4909
IMO, there are 3 different types of APIs needed for testing summaries:
1. An API to generate summary which can then be analyzed if needed. It will run locally and the summary is not sent to the server. This is what the current `summarize` API on container runtime can be used for and we have tests that do this. We should make this more easily accessible though.
2. An API to generate summary when ne

[2021-05-27 15:53] #5904 closed

[2021-05-27 16:07] anthony-murphy commented on #6283
The current sliding window requires full back compat, such that v2.0 always satisfies v1.0. The expectation is that the client who is upgrading to v2.0 loads that version, then issues the code proposal to upgrade, thus kicking out the 1.0 clients.

We have  #5012  filed. As part of this on load of v2.0 package the context will know it is v2.0.  Currently the code loader itself need to track this m

[2021-05-27 16:17] anthony-murphy commented on #4792
I think we should just close this, as this would be a format breaking change for shared string, which would also affect things like search, so does not seem worth it.

[2021-05-27 16:17] #4792 closed

[2021-05-27 16:18] anthony-murphy commented on #4659
I'd love a framework package for generating sequential ids, as it seems generally useful.

[2021-05-27 16:34] zagriswo commented on #6260
@vladsud thanks - I think that accurately captures the ask. The only additional note that I'd add is that I don't think we'd use the existing signals/timers as mentioned in the third requirement.

[2021-05-27 16:59] vladsud commented on #4591
Punt for now, we can always come back to it

[2021-05-27 16:59] #4591 closed

[2021-05-27 17:22] DLehenbauer opened #6288 "SharedMatrix/UndoRedo: Error thrown in edge case using test implementation of UndoRedoStackManager"
## Describe the bug
While testing SharedMatrix with GC, @agarwal-navin encountered an error when an undo operation took the matrix back to its state of 0-rows and 0-cols without having first issued a '.closeCurrentOperation()'.

Probably low impact.  Also probably a trivial fix.

### To Reproduce
Navin saved his test repo [here](https://github.com/agarwal-navin/FluidFramework/blob/4d35463fb6834289

[2021-05-27 18:07] #4963 closed

[2021-05-27 18:37] znewton opened #6292 "Add single-payload summary upload support to Routerlicious"
## Work Item
**Describe the outcome you expect**

Driver should be able to send a single Summary payload to the service, where it will be stored.

**Approach**

1. Enable single-payload summary uploads from client (#6291)
2. Add single-payload summary endpoint to Historian
3. Add summary endpoint to Gitrest where it will be taken apart and stored the same way summaries were before being a single-p

[2021-05-27 18:40] znewton commented on #5540
Completed in #5605

[2021-05-27 18:40] #5540 closed

[2021-05-27 19:23] vladsud commented on #4541
The API is correct assuming that the purpose of its existence is to answer the question "should I submit ops or should I continue to operate in detached state where local changes result in no ops and no local state tracking".
If you look at repo, 99% of usage is though this.isAttached(), i.e. it should be private API, and likely renamed to better reflect the intention of API.
There is some value f

[2021-05-27 19:31] vladsud commented on #4519
**So some history:**
We added infinite retries for all storage operations, as long as errors are retryable.
That caused a serious bug in ODSP as TreesLatest call is made only once, and then (on retry) we fallback to getVersion, getSnapshotsTree and loading blobs one by one, tanking perf and possibly breaking document.
So code was changed not to retry on that path, plus I changed code in TreesLates

[2021-05-27 19:53] alpaix commented on #4619
Will take a look

[2021-05-27 20:25] vladsud commented on #4283
All of the exceptions that happen during op processing eventually reach DeltaManager handler that closes container with that error - that's how we see these asserts from quorum in the first place (asserts are exceptions).

Quorum should not have direct access to Container. We could propagate an interface / callback, but that seems unnecessary to me. I'd rather standardize on signature / type of ex

[2021-05-27 20:29] vladsud commented on #4194
This is partially addressed by using createResponseError, responseToException, exceptionToResponse, requestFluidObject
I.e. if callers are leveraging these helpers, then mostly the underlying mechanism is not visible to them, and exception information (including stack) is preserved through transformations. But that requires people to use them, and I see continuously people write same boiler plate

[2021-05-27 20:32] vladsud commented on #4102
@markfields, @arinwt - this is rather old item. Is it still relevant? If yes, and we expect to address it soon, we should put it into some milestone. Otherwise, should it be punted / resolved?

[2021-05-27 20:33] vladsud commented on #4092
We should either commit to make some progress here or punt

[2021-05-27 20:38] vladsud commented on #4065
I believe there is actually no specific follow up here (after rereading original thread and comments).
Also with https://github.com/microsoft/FluidFramework/issues/6245 fixed, this becomes non-issue at all, as this policy disappears from the list.
So I'm closing it, but please let me know if I got it wrong or you have objections!

[2021-05-27 20:38] #4065 closed

[2021-05-27 20:44] vladsud commented on #3990
This is great idea, but this issue has been around for a long time without any movement. So we either figure out how to make it into the plan for the next 6 months, or punt.
Given that it feels like 3P is the place where it might be most interesting, @skylerjokiel - is this something that your team is interested to put resources into some resasonable time frame? If not, let's close it.

[2021-05-27 21:00] vladsud commented on #4449
This is not really in our plans. This is great discussion and maybe something we get to some day, but we are trying to keep our issue list relevant / clean of discussions, i.e. only keep things that we realistically could do in reasonable amount of time (let's say 6 months).

[2021-05-27 21:03] vladsud commented on #3995
No more skeleton snapshots, and we already record all the properties we need currently, so closing

[2021-05-27 21:03] #3995 closed

[2021-05-27 21:04] vladsud commented on #3994
Pretty old item, not much movement, and I'd guess - very little chance that we will do anything in next 6 months.
@anthony-murphy - punt?

[2021-05-27 21:06] vladsud commented on #3996
I believe as long as we generate an error telemetry event every time we can't generate real summary, we are find.
We need to log package path and given that I can find only one reference where we use TelemetryDataTag.PackageData in telemetry (unrelated), I guess we do not have right telemetry in place to help developers address the issue.

@arinwt - could you please add instructions on where is th

[2021-05-27 21:26] vladsud commented on #3969
The goal of this task is to add yielding into the process.
[code]
And then sprinkling
[code]
in various places in the code.

For example, likely first (and only) starting point to add that yield would be in FluidDataStoreContext.summarizeInternal(), i.e. give foreground tasks a chance to execute some code in between summarizer processing data stores.

Note that in worst case, we slow down summariz

[2021-05-27 21:27] vladsud commented on #3970
@agarwal-navin, can you please glance and comment on what's remains here. Or should we close it as done?

[2021-05-27 21:30] vladsud commented on #3928
@heliocliu, @arinwt - we should either have a plan here or punt.
Bundling is something that container author controls (not FF), so other than laying out code in certain way and providing some info to container developers on what functionality / packages to split into separate chunks, I'm not sure what else we can do.
Is is the expectation that we will use dynamic imports in our code and define "su

[2021-05-27 21:32] vladsud commented on #3893
@tylerbutler - any update / action plan to address it? It's rather old task with no action

[2021-05-27 21:34] tylerbutler commented on #3893
@vladsud Good callout. This is on my list of next things in the API docs. I'll update the milestone. We don't have a plan but we will.

[2021-05-27 21:35] agarwal-navin commented on #3970
This is tracking the concept of `root` in DDS not data stores (I am guessing that's what you assumed?). We still need this in order to start collecting DDSs.

[2021-05-27 21:37] vladsud commented on #3865
@GaryWilber, @marcmasmsft - any chance you can help driving it across SPO/PUSH?
I.e. it's easy for us to provide containerID (as an example) to all SPO APIs, such that server (if needed) could stitch all events together and track user across API calls. We would need someone on your side to design that (i.e. tell us how to propagate this info - it can be as simple as query param / header on all fet

[2021-05-27 21:39] heliocliu commented on #3928
@vladsud @arinwt Given the context of the original issue my vote would be to punt because there isn't already a plan in this area nor does it seem we're going to invest in making one any time soon.  Optimization around chunking on the ffx side doesn't sound trivial, and it's not clear at the moment this is the best way to approach the broader issue.

[2021-05-27 21:39] vladsud commented on #3833
This is already done. Driver API is changed to ask for all ops at once, and it does proper retries and back off logic (as part of driver implementation).
Let me know if I miss something.

[2021-05-27 21:39] #3833 closed

[2021-05-27 21:42] vladsud commented on #3928
Ok, closing. We can always reactivate once we have more concrete plan here.
@christiango - FYI, in case you disagree (or could more clearly articulate expectations and priority)

[2021-05-27 21:42] #3928 closed

[2021-05-27 21:45] #4788 closed

[2021-05-27 21:50] Abe27342 opened #6297 "Allow file permissions to change at runtime in OdspDriver"
## Feature
**Is your feature request related to a problem? Please describe.**

Our team is working on an application built on fluid which uses [odsp-driver](https://github.com/microsoft/FluidFramework/tree/main/packages/drivers/odsp-driver/src) for its backing storage. We have noticed that when a user's write permissions get revoked while they have a document open, it takes 5 minutes before that i

[2021-05-27 21:54] vladsud commented on #3331
I believe this is a punt. Mostly because we learned the hard way that going too far with this approach makes things worse - system limps along, but perf starts going down quickly, and complexity is too high, making more room for errors.
@arinwt - please reactivate if you disagree.

[2021-05-27 21:54] #3331 closed

[2021-05-27 21:55] vladsud commented on #3622
Really old issue. Any plan to move forward, or should we punt it?

[2021-05-27 22:01] GaryWilber commented on #3865
I'll let Marcelo speak about the SPO side of it.

For Push, we could reuse nonce depending on what the string is. If we use containerId, we need to be sure that the container will only be connecting with a single client at a time. So it might be cleaner to add a new property to the `IConnect` message such as `containerId` or `correlationId`. And we would start logging that in the push telemetry.
S

[2021-05-27 22:44] tylerbutler opened #6300 "Move react package to @fluid-experimental"

[2021-05-27 22:45] tylerbutler opened #6301 "Move react-inputs package to @fluid-experimental"

[2021-05-27 23:06] #6186 closed

[2021-05-27 23:09] vladsud opened #6302 "webpack loader: add ability to add latency, disconnect clients"
Our internal developers use webpack loader as a way to test internal changes (focusing on manual testing).
However, it's hard to use that flow to test concurrency. Unless you are using some external tools (Dev Tools, fiddler?) you can't easily inject delays, and thus you can't easily observe impact of concurrent changes.

I really love how it's done for CodeMirror, where [their sample ](https://co

[2021-05-27 23:16] vladsud commented on #3591
@SamBroner , @skylerjokiel - we need a plan to either address it or remove samples (or maybe document all limitations).
I think assessment is required in terms of - it's just a leaf bug, or the approach is wrong and we are going to see bugs like that in other areas.

I have not looked too deeply here, but CodeMirror & ProseMirror support OT natively, and in this case the right solution seems to be

[2021-05-27 23:16] vladsud commented on #3757
Really old issue. If we have no plan here, should we punt?

[2021-05-27 23:22] #5617 closed

[2021-05-27 23:29] vladsud commented on #3711
@tylerbutler , I believe one of your latest PRs did an overview of DDS and might be good way to resolve it.
@leeviana - if I step back, the question is similar to "what JS object I can use for my scenario?" And I think there is no way to write a doc like that :) I feel like we need all the primitives, grouped by types (i.e. one type - DDS), and maybe some samples / educational articles?

[2021-05-27 23:32] vladsud commented on #3588
@micahgodbolt, any reason to keep this issue, given that's external?
Trying to keep our backlog clean :)

[2021-05-27 23:37] vladsud commented on #3512
Links changed, here is the one: https://fluidframework.com/docs/apis/aqueduct/dataobject/
I see only this for O, and nothing for other arguments:

Generics: O - represents a type that will define optional providers that will be injected S - the initial state type that the produced data store may take during creation E - represents events that will be available in the EventForwarder

Here is how it

[2021-05-27 23:41] vladsud commented on #3444
I believe all problems mentioned in this thread are already addressed.

First, the main problem is fixed:

        // Check if we already processed our own join op through delta storage!
        // we are fetching ops from storage in parallel to connecting to ordering service
        // Given async processes, it's possible that we have already processed our own join message before
        // conne

[2021-05-27 23:41] #3444 closed

[2021-05-27 23:51] vladsud commented on #3312
Is this same as #1539 - Proposal: Quorum: reliable workflow ?

Other items that look related:
#1280 - Fluid Framework helper utility for proposing code
#5014 - Encapsulate waiting for write connection in Container.proposeCodeDetails
#3280 - Remove workaround in 'contextReolad.spec.ts' and 'upgradeManager.spec.ts' test around quorum proposal

@arinwt , @anthony-murphy - can you please take a look?

[2021-05-27 23:54] leeviana commented on #3711
Yeah, that would be a good start, at least a place someone can go to for a list of primitives would be a good starting point for pointing people towards.

[2021-05-28 00:13] jbissat commented on #4795
Vlad, if the document goes through this 5K ops then cache deletion scenario, then gets reloaded - does that second load populate the cache with the snapshot again?
Also what is the pre-fetch API, and is it being used yet?

[2021-05-28 01:20] vladsud commented on #6033
Coping relevant comments from #1943 and closing it as dup of this task:

This does not allow us to always start with view-only connection - see big comment above that line:
    const connectionArgs: IConnectionArgs = { mode: "read" };

We should simply remove this code (of loading file without snapshot) and always connect as view-only (or rather, rely on correct defaults, i.e. not specify anything

[2021-05-28 01:20] vladsud commented on #1943
That's same as #6033, closing and copying relevant comment to it

[2021-05-28 01:20] #1943 closed

[2021-05-28 01:23] vladsud commented on #3429
Relates item - #6033
@andre4i , assigning to you. This item needs to be broken into individual work items (i.e. instantiateRuntime(), creation of Data store, creation of DDS).

[2021-05-28 01:24] vladsud commented on #3745
I'm hearing that this transition is not trivial. Unless we are planning to do it in next 6 months, I'd propose to close this issue.

[2021-05-28 01:26] vladsud commented on #4795
Yes, every load would refresh cache with new snapshot.
prefetchLatestSnapshot() was added recently to use minimum amount of code and be called outside of iframe, such that host case pre-populate cache with latest snapshot.

[2021-05-28 01:32] ChumpChief commented on #3745
Seems fair.

[2021-05-28 01:32] #3745 closed

[2021-05-28 01:36] vladsud commented on #3711
https://github.com/microsoft/FluidFramework/blob/main/docs/content/docs/advanced/dds-anatomy.md
https://github.com/microsoft/FluidFramework/blob/main/docs/content/docs/data-structures/overview.md
https://github.com/microsoft/FluidFramework/blob/main/docs/content/docs/concepts/dds.md

I even found "Picking the right data structure" title in last doc!

@tylerbutler , content looks broken at end of d

[2021-05-28 01:37] vladsud commented on #5214
There seems to be related PR from Tyler: https://github.com/microsoft/FluidFramework/pull/5684

[2021-05-28 02:24] vladsud commented on #3132
@DLehenbauer, I believe it's time to close this issue. Today, message is required (it's not optional), but related later by tag. I'm not a big fan of it as is (as it's equivalent to forcing me to write a message on every IF statement), but I think this ship has sailed.

[2021-05-28 02:34] vladsud commented on #2763
@jatgarg - is this item still relevant?

[2021-05-28 02:35] vladsud commented on #2757
@anthony-murphy , is this still relevant?
Since we did not do this task till now, maybe time to punt?

[2021-05-28 02:35] vladsud commented on #2754
@ChumpChief , is this item still relevant?

[2021-05-28 02:41] vladsud commented on #2841
This is being addressed by PR https://github.com/microsoft/FluidFramework/pull/6240

[2021-05-28 02:46] vladsud commented on #2696
@DLehenbauer, @anthony-murphy, can you please make progress - either agree on next step or punt?
It's not worth sitting on it for a year :)

[2021-05-28 02:55] vladsud commented on #2676
@DLehenbauer, I wonder if it matters that much.
On websocket, it seems like it's more important to fit it into single IP packet - I think number of bytes there is secondary.
Storage compresses ops in big chunks (at least ODSP), so it compresses very well (If I'm not mistaken, when we fetch ops, 2K ops is on average results in 70-80K compressed payload).

I've looked into couple compression schemas

[2021-05-28 02:56] vladsud commented on #2676
Either way, we should either have a plan to improve here, or punt

[2021-05-28 06:58] vladsud commented on #2251
I believe decision was made to abandon similar approach for DDSs as it was hard to impossible to make it happen.
Main issue tracking discussions: https://github.com/microsoft/FluidFramework/issues/136
Closing, please reactivate if disagree

[2021-05-28 06:58] #2251 closed

[2021-05-28 07:00] vladsud commented on #364
#136 (main issue discussing this topic) arrived to conclusion that it's won't fix.
Closing this one as well - please reactivate if you disagree / I got it wrong.

[2021-05-28 07:00] #364 closed

[2021-05-28 07:01] vladsud commented on #363
#136 (main issue discussing this topic) arrived to conclusion that it's won't fix.
Closing this one as well - please reactivate if you disagree / I got it wrong.

[2021-05-28 07:01] #363 closed

[2021-05-28 07:04] vladsud commented on #1792
Issue #5738 looks into a bunch of options in the space and I believe arrives to conclusion that we need to implement deep cloning (semantically at least), not freezing / making things readonly.
I'd propose we use #5738 to continue this discussion and close this one as a dup of it.
Please reactivate if disagree.

[2021-05-28 07:04] #1792 closed

[2021-05-28 07:22] vladsud commented on #2200
Pretty old item, would be great to at least move forward with full proposal, or punt.

I believe the problem is about how to deal with references (URIs) on clipboard and similar scenarios, where there is a need to encode reference to an object and resolve it in some container.

Can there be extra info on the clipboard to answer this question? Like document ID?
That said, does docId reflect ODSP ve

[2021-05-28 07:23] vladsud commented on #2109
@jatgarg, can you please take a look at what actually needs to be done here (if anything)?
Can you please categorize it here?
Or resolve if nothing needs to be done.

[2021-05-28 07:29] vladsud commented on #1997
I believe this is already addressed. Here is how code looks today:
[code]

[2021-05-28 07:29] #1997 closed

[2021-05-28 07:33] vladsud commented on #82
@anthony-murphy , that's the oldest active issue in our repo!
Is it still relevant?

[2021-05-28 14:18] DLehenbauer commented on #3132
Tagged asserts is a reasonable compromise.

[2021-05-28 14:18] #3132 closed

[2021-05-28 15:15] ChumpChief commented on #2754
Yes as far as the goal of removing the value type infrastructure in map, though I've been thinking a potentially easier route forward would be to first split the kernel and move the value type support over to sequence, rather than trying to eliminate the dependency immediately.

[2021-05-28 15:55] vladsud commented on #765
@arinwt, is this already addressed? That's an old bug, and I believe we no longer have issues with timers here, but worth confirming.

[2021-05-28 15:58] vladsud commented on #699
@DLehenbauer, can you please take a look if this item is still worth having? You addressed some of these problems lately for all code that deals with handles, right?

[2021-05-28 16:03] vladsud commented on #1895
@anthony-murphy, is this issue still needed? I glances at the discussion for 5 seconds and I'm not sure what it is about.
If we want to keep it, can you please add more descriptive description?

[2021-05-28 16:03] arinwt commented on #765
I did address the excessive restarts within summarizer code using `restart()` in #770, so yes I think we can close this. There may be other places in our code that aren't using the optimized restart function, but it would only matter if they are excessive.

[2021-05-28 16:03] #765 closed

[2021-05-28 16:06] Zlatkovsky commented on #4795
@vladsud , it certainly feels like from a host's/developer's perspective, they would just want the cache to work. An eventing solution whereby a host needs to listen to "we purged the cache" event and request that cache to be filled again feels like unnecessary work on the host's part: if we fired the event and if we know how to fetch the latest cache, shouldn't we just do it for them?

So yeah, I

[2021-05-28 16:14] vladsud commented on #1836
This is FluidDataStoreRegistry now in same container-runtime package

[2021-05-28 16:18] arinwt commented on #3969
This makes sense to me. Do we already see perf issues for the oldest client when forming a big summary?

For something like this it might be nice to have an object we can reference for time-based yields. Something where we start a timer and invalidate a flag every `n` ms, then yield at next opportunity. Some sample code:

[code]

Where the long running work has some checks in it like so:
[code]

T

[2021-05-28 16:19] vladsud commented on #1817
This particular page is gone. And I can't easily find where it moved (if it moved)
@tylerbutler - can you please glance? I'll close this issue as no longer valid, but if you believe it's worth having it, please reactivate and add more content.

[2021-05-28 16:19] #1817 closed

[2021-05-28 16:22] arinwt commented on #4102
If this really just means safe summary, I guess it could be useful to have more clear information in the telemetry. Otherwise, if it means differential summary, we should probably close it until further notice. @markfields can answer that.

Even if it is the first case, it would be more of a nice-to-have as it's currently possible with some digging to determine the code paths to some extent. I'll

[2021-05-28 16:24] vladsud commented on #4102
Thanks! I'll mark it as won't fix for bot to close if there is no activity (I think it closes within 2 weeks, and Mark should be around)

[2021-05-28 16:30] vladsud commented on #1905
All methods are async:
    protected async initializingFirstTime(props?: S): Promise<void> { }
    protected async initializingFromExisting(): Promise<void> { }
    protected async hasInitialized(): Promise<void> { }

I believe adding more more method that is async but factory does not wait for would be very confusing, as (on initial look) it would not be clear how it differs from hasInitialized.

[2021-05-28 16:30] #1905 closed

[2021-05-28 16:33] vladsud commented on #1840
I believe the core problem  is well represented in #1839. Closing.

[2021-05-28 16:33] #1840 closed

[2021-05-28 16:37] leeviana commented on #3711
Yes this looks good to me! It's a little weird to me that there is an "introducing DDS" page in the "concepts" bucket (but not in the DDS bucket) here: https://fluidframework.com/docs/concepts/dds/ and then an "overview of DDSes" here: https://fluidframework.com/docs/data-structures/overview/

Maybe some restructuring or at least linking between the pages would be beneficial?

[2021-05-28 16:37] vladsud opened #6307 "Implement automatic won't fix / closing workflow for issuer in repo"
Background - discussion:

I got to old issues, and pretty much for every old issue (over a year, I think we have ~200 of them) I either resolve it, or ask a person if it's still needed and if there is a plan to move it forward, and add "status: no recent activity" label to it.
The bot can do the same, and close issue if there is no movement.
I know many other open source repos do it, and close iss

[2021-05-28 16:39] vladsud commented on #1791
@arinwt , is this still interesting task? I think code accounts for any old client, including summarizer, so this issue is fixed?

[2021-05-28 17:01] arinwt commented on #1791
We are already working on this anyway when changing elected summarizer client #5222. I will close it when I make that change.

[2021-05-28 17:14] vladsud commented on #1733
Related: #5251, #1839

[2021-05-28 17:15] vladsud commented on #1708
@tanviraumi , @anthony-murphy , can you please triage? We either need a plan to make it happen or punt - no need to keep old issues around.

[2021-05-28 17:17] vladsud commented on #1707
This is dup of #2465

[2021-05-28 17:17] #1707 closed

[2021-05-28 17:17] vladsud commented on #2465
Please see some details from #1707

[2021-05-28 17:21] vladsud commented on #1653
@agarwal-navin, can you please update this issue with latest status? I.e. a lot of time has passed, hard to say the level of relevance prior discussions have to current state.

[2021-05-28 17:24] vladsud commented on #1614
@ChumpChief - is this still relevant? Any plan to attack it? If no immediate plan, propose to close.
Either way, would be great to add some pointers. It's hard to access what this issue is about.
I'll mark it as won't fix for bot to close if there is no activity for a while.

[2021-05-28 17:27] vladsud commented on #1564
I believe this is a dup of #4165

[2021-05-28 17:27] #1564 closed

[2021-05-28 17:29] vladsud commented on #1556
Tactical fix was implemented. I believe we got rid of buffer as well. There might be more to do here, but given no activity for a year, closing.

[2021-05-28 17:29] #1556 closed

[2021-05-28 17:29] vladsud commented on #1541
I believe such move was done.

[2021-05-28 17:29] #1541 closed

[2021-05-28 17:30] vladsud commented on #1540
Punting, as we deprecated this package and replacement was built by Daniel.

[2021-05-28 17:30] #1540 closed

[2021-05-28 17:31] ChumpChief commented on #1614
Seems fine to close.

[2021-05-28 17:31] #1614 closed

[2021-05-28 17:34] vladsud commented on #1524
I do not see createIntevalCollection method, but I do not see anything related to handles on IntervalCollection either.
@DLehenbauer, @anthony-murphy - are we still planning to address it?
I'll mark won't fix for bot to close this issue if there is no activity.

[2021-05-28 17:36] vladsud commented on #1448
Closing old issues that had no activity, and no plan to attack in nearest future.
That said, this topic might pop up into the view soon, as Word might need something like that.
Note that transactions assumes roll back of some sorts, if we do not need rollback, then I'd argue we do not need transactions (beyond what batches offer today)

[2021-05-28 17:36] #1448 closed

[2021-05-28 17:37] vladsud commented on #1447
@tylerbutler - feels like we should either make small doc change or close this old issue.

[2021-05-28 17:39] vladsud commented on #1446
I'd want to punt this given that we are not investing into matrix 1.0 (which is deprecated).
@anthony-murphy - if we are planning to make changes here, can you please put a bit better description such that it can truly be called "good first issue" that I'm about to mark it?

[2021-05-28 17:40] vladsud commented on #1426
I'll close this one as there is no activity. If discussions pick up in this space (especially for sourced iframes), we can always reactivate

[2021-05-28 17:40] #1426 closed

[2021-05-28 17:43] vladsud commented on #1419
@anthony-murphy, is there a value in keeping this item active? I'll mark won't fix for bot to close unless there is some activity.

[2021-05-28 17:44] vladsud commented on #1406
This code changes million times over last year, and I believe we no longer have issues here.

[2021-05-28 17:44] #1406 closed

[2021-05-28 17:45] vladsud commented on #1333
No activity, marking as won't fix

[2021-05-28 17:46] vladsud commented on #1316
@ChumpChief, any plan to address it in near future? If not, we should close

[2021-05-28 17:47] vladsud commented on #1291
No activity for a long time, I do not even know if the issue is relevant. Marking won't fix, please comment if you disagree.

[2021-05-28 17:49] vladsud commented on #1284
@arinwt , I'm not sure what's the scenario here. What do you mean by extra calls?
I'll mark it as won't fix as it had no activity for a year. Please comment if you want to keep it around.

[2021-05-28 17:49] ChumpChief commented on #1316
I think these are sufficiently documented at this point (there are more samples now).

[2021-05-28 17:49] #1316 closed

[2021-05-28 17:51] vladsud commented on #1239
I believe this is essentially a dup of #136 and we made a decision to punt it.
Please reactivate if you disagree

[2021-05-28 17:51] #1239 closed

[2021-05-28 17:57] vladsud commented on #698
It feels like it should not be that hard to do, given that we pause ops (or could pause outbound) and can always check that outboud is empty before submitting summary op. Or something like that.
@arinwt - is this something you can take a look, design and describe such that someone else can pick it up? Seems like it might be good first issue, if we have proper instructions.

[2021-05-28 17:59] vladsud commented on #521
Closing, as this issue seems like served its purpose.

[2021-05-28 17:59] #521 closed

[2021-05-28 18:00] vladsud commented on #512
Closing as we did not make any progress over 1.5 years!

[2021-05-28 18:00] #512 closed

[2021-05-28 18:00] vladsud commented on #498
Closing, as no progress over 1.5 years.

[2021-05-28 18:00] #498 closed

[2021-05-28 18:02] vladsud commented on #416
@anthony-murphy, we should either figure out how to make progress on it, or cut.

[2021-05-28 18:05] vladsud commented on #318
A lot of things have changed (including op processing becoming non-async).
I believe we do not realize data stores until they are absolutely needed.
Closing all really old issues (this one is 1.5 years old)

[2021-05-28 18:05] #318 closed

[2021-05-28 18:07] vladsud commented on #249
Closing all really old issues. This one is 1.5 years old!

[2021-05-28 18:07] #249 closed

[2021-05-28 18:09] vladsud commented on #193
@skylerjokiel - is this something we need to account for in 1.0 for 3rd parties?

[2021-05-28 18:11] vladsud commented on #26
Closing, due to no activity. We should either make it happen or punt.
Personally, I do not think it's such a big deal.

[2021-05-28 18:11] #26 closed

[2021-05-28 18:12] vladsud commented on #42
No clue what this issue is about, and it's almost 2 years old.
If we want to keep it, please add some useful description.

[2021-05-28 18:12] #42 closed

[2021-05-28 18:17] vladsud commented on #85
2 year old item. Still relevant? Marking as won't fix for bot to close if there is no activity.

[2021-05-28 18:19] vladsud commented on #78
This issue is 2 years old. Closing. @anthony-murphy - if we need some cleanup due to not supporting registers right now, please open separate issue,

[2021-05-28 18:19] #78 closed

[2021-05-28 18:23] vladsud commented on #835
That's 1.5 year old task. I believe we currently do not support dynamic component loading. Whenever we get there, we will need to re-access. Closing

[2021-05-28 18:23] #835 closed

[2021-05-28 18:23] vladsud commented on #1214
I'd hope that the issue described here was long fixed.
@anthony-murphy , @DLehenbauer , can you please take a look?

[2021-05-28 18:26] vladsud commented on #1193
Closing this issue.
#5192 tracks more generic usage of AbortSignal across all waiting APIs.
#6188 tracks improving or getting rid of wait() method.

[2021-05-28 18:26] #1193 closed

[2021-05-28 18:27] vladsud commented on #5192
Related items (or sub-items to consider):
#1193 - Add optional AbortSignal to Map.wait
#1192 - IContainerRuntime*.get*DataStoreRuntime: Supply optional AbortSignal for cases where we wait
#1191 - Use AbortSignal for container loading cancelation

[2021-05-28 18:28] vladsud commented on #1157
Related: https://github.com/microsoft/FluidFramework/issues/3591
IMHO, we should either make it production quality or cut

[2021-05-28 18:29] vladsud commented on #1100
Closing. We do not impose policy here (or rather default one - same fast connection), but there are a lot of controls provided to host to do what host believes is right here.

[2021-05-28 18:29] #1100 closed

[2021-05-28 18:31] vladsud commented on #1069
@anthony-murphy , @tylerbutler , can we move it somewhere to docs and close the issue? It has been around for 1.5 years mostly without any changes.

[2021-05-28 18:31] vladsud commented on #1051
I did it recently (maybe as recent as 0.40) - compat layer boundaries only use ITelemetryBaseLogger.

[2021-05-28 18:31] #1051 closed

[2021-05-28 18:32] vladsud commented on #1041
@ChumpChief , can you please glance? I think we can close this item :)

[2021-05-28 18:35] vladsud commented on #1034
I'm not sure where you see the problem. I believe it's totally fine RE multiple calls, and it is definitely gets hit in stress tests running node. I think it would be great to check that window exists and is an object, but that seems not causing any pain?
Feels like not worth having this issue (or we should just address whatever needs to be addressed).
Marking won't fix for bot to close it if ther

[2021-05-28 18:36] vladsud commented on #1032
@DLehenbauer , is this still relevant?

[2021-05-28 18:37] vladsud commented on #1008
@anthony-murphy , any plan to make it into reality some day? Or should we close?

[2021-05-28 18:38] vladsud commented on #950
Can't find either of the symbols. I believe I saw some cleanup PR some time ago.
Closing.

[2021-05-28 18:38] #950 closed

[2021-05-28 18:39] vladsud commented on #931
Yes, it's a dup and not worth keeping.

[2021-05-28 18:39] #931 closed

[2021-05-28 18:39] vladsud commented on #896
Closing as there was no activity for 1.5 years. I believe we do have some samples in this space.

[2021-05-28 18:39] #896 closed

[2021-05-28 19:54] vladsud commented on #3711
@tylerbutler - would appreciate if you can follow up here and we can resolve it

[2021-05-28 19:56] vladsud commented on #1071
Given that we did not make any progress here for almost 1.5 years, closing. Good idea, but if it becomes higher priority, we can always reactivate

[2021-05-28 19:56] #1071 closed

[2021-05-28 19:58] vladsud commented on #895
Marking as won't fix as we did not make direct progress here for last 1.5 years.
I believe some of the 3P work partially tries to address that?

[2021-05-28 20:04] vladsud commented on #86
2 year old issue. @DLehenbauer, @anthony-murphy, we need to either have a plan or punt. Marking as won't for bot to close it if we are not making any progress.

[2021-05-28 20:14] vladsud commented on #860
Given that we made no progress here over last 1.5 years, marking it as won't fix.

[2021-05-28 20:16] bmeersma commented on #3622
@vladsud I don't think we can punt this. @tylerbutler can you please help drive this to closure? Thanks.

[2021-05-28 20:23] vladsud commented on #3969
One thing to consider - I believe yielding in data store layer is likely noop, because I believe we would do Promise.all() somewhere when kicking off summaries for each data store (this code was used to be in ConainerRuntime, I believe it's somewhere in summary node). I.e. if they all will yield at the same time.

That's just a theory based on how I think code works :)
If so, yielding needs to mov

[2021-05-28 20:52] tanviraumi commented on #1708
@curtisman I believe some of this already happens today. We do publish images with build numbers. Although we may not patch older versions?

[2021-05-28 21:19] curtisman commented on #1708
Correct.  We are tagging images with version number and latest.
But I didn't follow the recommendation above for the floating tag for major an major.minor.
We can probably close this for now unless there is a demand for it.

[2021-05-28 21:19] #1708 closed

[2021-05-28 22:37] jbissat opened #6315 "Improve how errors are returned from container functions"
Currently attach throws when called on a closed container. This isn't necessarily a problem for the host, but it gets reported as an error in our reliability scores. The host can check the string of the message to ignore this, but this is likely not the best approach (looking for a string of "0x0d5" for instance).

We could have a better system for returning errors (than having to look up the erro

[2021-05-29 00:28] jbissat commented on #4795
I agree with Michael that having the host listen and trigger seems unnecessary, since we know already that they want to cache things.

FYI with the modeling I had done (not running in Fluid, but using the indexdb to push data similar to the format we use in fluid (I copied the add item code basically), if I push in parallel 100 arrays containing 100 ops each (an op being 650 bytes), it takes about

[2021-05-30 22:00] #4449 closed

[2021-05-30 23:00] #3990 closed

[2021-05-31 02:00] #3757 closed

[2021-05-31 02:00] #3588 closed

[2021-05-31 02:00] #3512 closed

[2021-05-31 02:00] #3493 closed

[2021-05-31 05:00] #2696 closed

[2021-05-31 05:00] #2676 closed

[2021-05-31 08:00] #2109 closed

[2021-05-31 08:00] #2025 closed

[2021-05-31 08:00] #82 closed

[2021-05-31 17:00] #1895 closed

[2021-05-31 17:00] #1799 closed

[2021-05-31 17:00] #699 closed

[2021-05-31 19:00] #4102 closed

[2021-05-31 19:00] #1524 closed

[2021-05-31 19:00] #1419 closed

[2021-05-31 19:00] #1333 closed

[2021-05-31 19:00] #1332 closed

[2021-05-31 19:00] #1284 closed

[2021-05-31 19:00] #1034 closed

[2021-05-31 19:00] #85 closed

[2021-05-31 19:00] #77 closed

[2021-05-31 20:00] #1653 closed

[2021-05-31 20:00] #1447 closed

[2021-05-31 20:00] #1446 closed

[2021-05-31 20:00] #1069 closed

[2021-05-31 20:00] #1032 closed

[2021-05-31 20:00] #416 closed

[2021-05-31 22:00] #895 closed

[2021-05-31 22:00] #860 closed

[2021-05-31 22:00] #86 closed

[2021-06-01 14:01] jvoels commented on #6315
The core feedback here seems to be "error/exception scenarios should have better usability".

I think of the case we're looking at as "Invalid Operation Exception - Cannot call method 'attach' on closed container" - to which the framework is likely entitled to leverage.

I don't actually agree at a glance with setting methods to undefined to indicate they cannot be called. I would think this has c

[2021-06-01 15:12] micahgodbolt commented on #6307
this sounds like a great idea.

[2021-06-01 17:08] anthony-murphy commented on #6253
I'm not worried about package size. Right now lots of packages have a debug dependency, some don't use it, some log trivial things that just bloat our bundle size, and some log things that should go to telemetry.

In general, unified our logging story around the telemetry logger so i'd rather remove the redundant debug logger. if some package has a strong need for it i'm not against including it,

[2021-06-01 17:12] chensixx commented on #5977
Report is complete and published but unable to refresh due to an error. I'm working with the power bi support team to resolve the issue.

[2021-06-01 17:12] anthony-murphy opened #6321 "Remove Merge Tree Registers"
## Work Item
Related to #78. They are not currently supported, and we have no plans to immediately complete the support. so we should just remove what is currently there

[2021-06-01 17:14] chensixx commented on #5977
link : https://msit.powerbi.com/groups/9ce27575-2f82-4689-abdb-bcff07e8063b/reports/2ec09d3e-12d4-4642-bbb6-0e02e6971ca2/ReportSection

[2021-06-01 17:14] anthony-murphy commented on #6321
releated to #6272

[2021-06-01 17:19] anthony-murphy commented on #1214
This never got completely fixed. If I remember correctly, we needed #1008 and #1009 for the right fix, as it breaks existing undo redo implementations, but i need to re-examine, as there have been other changes that could help here.

[2021-06-01 17:26] anthony-murphy commented on #6050
This makes sense to me. I'd like to see NoDeltaStream just removed and for the deltamanger to support undefined connection likely via something like you describe above but we need to produce a design for how the driver communicates this

[2021-06-01 17:30] micahgodbolt commented on #6307
Typically we close "no recent activity" issues after 3 days. If you want a 2 week window for closing 'stale' issues, we need a different tag like "status: stale", and we can close those after 2 weeks. Does that work?

[2021-06-01 17:31] anthony-murphy commented on #3648
related to #6128

[2021-06-01 17:57] anthony-murphy commented on #6315
short codes are used by asserts. This probably shouldn't be an assert, as I don't want consumers coupling to specific short codes.

If we just change this to an Error with a message like you call out above would that be enough?

[2021-06-01 19:31] An631 commented on #6315
The problem I would like us to find a solution to is how do we make it clear to implementors that these attach calls might fail if done in a closed container. The solutions I've heard so far are these:

1. We document this behavior and explain how things need to be done by developers to avoid the problem. The **main drawback** of this is that if the developer doesn't check this documentation, then

[2021-06-01 21:59] #5881 closed

[2021-06-01 23:00] DLehenbauer commented on #6068
It's 100% us. :)

Fix in #6326.

[2021-06-02 16:30] vladsud commented on #6307
Some human need to add "no recent activity" label to start the process. This issue is about no human involvement. I.e. after some amount of time (let's say 6 months) if issue was not touched, add that label to start the process.

Also IMHO 3 days for "no recent activity" & "won't fix" is too short. I've marked a lot of items with these labels on Friday, and they all got closed on Monday (long week

[2021-06-02 16:37] jatgarg commented on #2763
Will take a look soon.

[2021-06-02 16:54] danielroney opened #6330 "Permanently delete unreferenced content to reduce Fluid file size and complexity (GC Sweep)"
## Work Item
**Describe the outcome you expect**
The GC process marks content as unreferenced so that it does not appear in secondary experiences or search, but the content still exists in the underlying files. This work addresses the removal of the content from the underlying file.

**Approach**
- Content will be deleted 30 days after it was last referenced
- The deletion will be triggered by the

[2021-06-02 16:56] jatgarg commented on #5866
Closing this as we are not seeing any new instances after latest and noop changes after monitoring for a month.

[2021-06-02 16:56] #5866 closed

[2021-06-02 17:08] jatgarg commented on #5618
Assigning it to see as per discussion. @chensixx

[2021-06-02 17:10] vladsud commented on #6045
Looking at the recent data, this is pretty low in priority (in terms of COGS / number of events), so punting

[2021-06-02 17:10] #6045 closed

[2021-06-02 17:35] jatgarg commented on #5016
They are planning to change the wire format for the response. So this is now on halt for this and will be done as per the new format. Looking for new issue id.

[2021-06-02 17:37] vladsud commented on #5016
Got it! This issue is basically needs https://github.com/microsoft/FluidFramework/issues/4589 to be resolve first.

[2021-06-02 17:40] jatgarg commented on #5690
Going to present the design in coming Monday meeting.(6/7/21)

[2021-06-02 17:46] tylerbutler commented on #6307
This was a side effect of other decisions, not the intent. We intended for "no recent activity" to be automated - that's one reason the bot removes it when the issue is updated. That said, I think it's useful to be able to distinguish between "this expired" and "someone thought about this and made a decision to ignore it." The GitHub Ui does tell you who applied the labels, but it's hard to see.

[2021-06-02 17:49] tylerbutler commented on #6307
Thinking about this more, what do you think about making "no recent activity" into a resolution, like we do for Won't Fix? "resolution: too old"?

[2021-06-02 17:57] vladsud commented on #5699
Closing, as I believe I got it wrong in terms of interpretation of data.
ADO bug has the following comment from Marcelo:

Closing this; file is back in healthy state.
There were several issues at play:
File not summarizing due to bad quorum - fixed in PUSH/ client
No limit on temporary summaries (channels) - changed to 2 max
Total number of snapshots reduced from 10 to 3

[2021-06-02 17:57] #5699 closed

[2021-06-02 18:03] vladsud commented on #6307
Sounds reasonable to me.

[2021-06-02 18:06] #5640 closed

[2021-06-02 18:06] sumedhb1995 opened #6332 "Use requestFluidObject to fetch root data object in TinyliciousClient"
Currently, TinyliciousClient fetches its root data object by manually submitting a request on the container (https://github.com/microsoft/FluidFramework/blob/f84b3bf8c526383aca5b1f666b772740290ddead/experimental/framework/tinylicious-client/src/TinyliciousClient.ts#L80). This should instead be converted to use the utility function `requestFluidObject`, which is specifically for fetching `IFluidObj

[2021-06-02 18:24] vladsud commented on #5940
I remove event in delta manager that was incorrect, and left one in runtime

[2021-06-02 18:24] #5940 closed

[2021-06-02 18:45] jatgarg commented on #5751
@vladsud As I am checking the stats for last 30 days, it seems insignificant. 482K(Generate Summary end) vs 484(upload summary end/cancel). As I can see, we already handle cancellation on summarizer container close because when retrying we check whether the storage service is disposed. If yes, then we don't retry.

[2021-06-02 18:49] pleath commented on #6110
This seems to work properly. Word will confirm once they have a package containing the change for #6107.

[2021-06-02 18:56] tylerbutler commented on #4329
@agarwal-navin Have these DDSes been reviewed to see if they need handle support? Should there be some type-level way of expressing this? E.g. DDSes like this implement ICantStoreHandles or something like that?

[2021-06-02 19:02] agarwal-navin commented on #4329
I don't think the have. The idea behind this work item is that if a DDS does not support handles, we should have some way of validating that the data being stored is not a handle. I am not sure how we enforce that but this work is about coming up with that plan.
For example, a new DDS added should either support handles or not and we should make sure the right thing happens when data is added to t

[2021-06-02 19:49] jatgarg commented on #5690
The natural solution is to upload the summary into parts based on some heuristics. The metrics which are worth considering are:
1.)	**Number of blobs –** This metric really determines the size of summary and as blobs mostly constitute the size of the summary. According to telemetry, 99 percentile for number of blobs in uploaded summary is 650, 99.9 is 4800 and 100 is 38K blobs.
2.)	**Number of nod

[2021-06-02 20:09] vladsud commented on #5751
Sounds great, let's close it then!

[2021-06-02 20:09] #5751 closed

[2021-06-02 23:43] vladsud commented on #5690
Thanks for sharing! Some number of questions / observations:
1. I assume that any intermediate result is lost if summarizing client loses connection, and needs to start over, as it does not know if data it uploaded is still relevant. That's worth calling out explicitly.
2. We need to clearly spell out how server will communicate to client that handle we are using (for previous part) is no longer v

[2021-06-03 00:36] narinderberi commented on #6267
@tylerbutler could you please assign this to me. Thanks!

[2021-06-03 00:36] narinderberi commented on #6321
@anthony-murphy could you please assign this to me? Thanks!

[2021-06-03 01:47] ChumpChief commented on #6191
I'm not particularly a fan of this idea -- the SharedCounter doesn't have any real customers, so IMO its primary value is [illustrating an alternative approach ](https://fluidframework.com/docs/advanced/dds-anatomy/#conflict-avoidance) to conflict resolution (ensuring the op vocabulary is order-agnostic).

If we wanted such a data structure I think it would be better to implement as a specialized

[2021-06-03 18:12] vladsud commented on #6191
Here is the place where it would be useful:
https://github.com/microsoft/FluidFramework/blob/main/packages/test/test-service-load/src/loadTestDataStore.ts#L145

It feels like we position it as an example of the area that has (for all practical purposes) only one solution, i.e. I have hard time coming up with any other example of DDS or scenario where order would not matter.

New DDS is fine, but I

[2021-06-03 18:39] DLehenbauer commented on #6288
@agarwal-navin - Bug was legit.  Thanks for capturing the repo!

[2021-06-03 18:39] #6288 closed

[2021-06-03 18:41] agarwal-navin commented on #6288
I think you closed it by mistake?

[2021-06-03 18:44] DLehenbauer commented on #6288
Already fixed.  :-)

PR #6341

[2021-06-03 18:51] agarwal-navin commented on #6288
Awesome :-)

[2021-06-03 18:56] #5758 closed

[2021-06-03 19:02] jatgarg commented on #5690
1.) and 2.) If the process of uploading summary gets halted in between due to connection loss, then the uploaded part will just be garbage collected at server. "channel" trees are only valid until the next snapshot tree "channel" or "container" gets created on server. So the new client will join and start uploading summary and the previous uploaded incomplete tree will just be garbage collected.
3

[2021-06-03 19:05] jatgarg opened #6342 "Storage handling in detach container across layers."
Please note that addressing this issue properly will likely mean introduction of storage object where previously we have not had one.
Note that we were already pretty bad at managing when we have storage and when we do not have it and transitions. I've added this comment in code- it's easy to see here by adding assert and hitting it right away:
[code]

It would be great to re-evaluate how we deal

[2021-06-03 20:25] vladsud commented on #5690
Not looking at blob sizes will result in very uneven batches. Consider common case of really large text data store (Scriptor) and a lot of small data stores (table 10x10). Number of nodes in each data store is roughly the same, but total payload size is vastly different.
Also given that we are moving toward aggregated blobs, number of nodes would be even more uniform across data stores.
I think mu

[2021-06-03 20:29] agarwal-navin opened #6344 "instanceOf in DeltaManager::opHandler does not always work in iframes"
`instanceOf` in the following code in DeltaManager returns "not an array" in certain cases. Specifically, in case of Bohemia's Demo host, using sourceless iframe recreates this bug.
In this scenario, the driver is instantiated outside of an iframe but used inside the iframe which seems to be creating this mismatch. We should not be using `instanceOf` as we have faced problems with it being inconsi

[2021-06-03 20:30] vladsud commented on #6342
Thanks for opening the issue! It would be great to populate it with your observations on how system works today RE these states (has no storage, has storage) and transitions, layer by layer (container runtime, data store, dds).
Are there any UTs we can write upfront to ensure that we capture all the interesting side-effects that have to stay the same as we modify the system, such that we increase

[2021-06-03 20:34] agarwal-navin commented on #6344
`instanceOf` doesn't seem to work inside iframe - https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/isArray.
We should use Array.isArray instead.

[2021-06-03 21:23] chensixx commented on #6207
question: what is the odsp error structure? is it like this?
`
{

    "e": {
        "code": "aaaaaa",
        "response": {
                "code": "bbbbbb"
                     "error": {
                        "code": "ccccccc"
                     }
                },
        "message": "ddddddd"
        }
}
`

[2021-06-03 21:24] chensixx commented on #6207
if so, i'm checking every layer and setting `code` to be the one in each layer then use `switch()` on it?

[2021-06-03 21:24] andre4i opened #6346 "Remove `existing` state from Fluid Framework - loader"
(work in progress)

See https://github.com/microsoft/FluidFramework/issues/3429 for details.

The goal here is to:
- mark the API as deprecated
- remove the state from `Container`, `ContainerContext` and refactor as appropriate.

[2021-06-03 21:29] andre4i opened #6347 "Remove `existing` state from Fluid Framework - runtime"
(work in progress)

See https://github.com/microsoft/FluidFramework/issues/3429 for details.

The goal here is to:
- mark the API as deprecated
- remove the state from `ContainerRuntime`, `FluidDataStoreRuntime`, `FluidDataStoreContext` and refactor as appropriate.

[2021-06-03 21:33] andre4i opened #6348 "Remove `existing` state from Fluid Framework - framework"
(work in progress)

See https://github.com/microsoft/FluidFramework/issues/3429 for details.

The goal here is to remove the state usage from the [framework layer](https://github.com/microsoft/FluidFramework/blob/main/docs/PACKAGES.md#framework) with regards to using the upstream dependencies and refactor as appropriate (split creation vs loading).

[2021-06-03 21:34] anthony-murphy commented on #6207
the above document has the format. i would  create a new function that takes an error and a list of potential codes. the function would walk the error codes, and see if any of the potential codes exist

[2021-06-03 21:35] andre4i opened #6349 "Remove `existing` state from Fluid Framework - API"
(work in progress)

See https://github.com/microsoft/FluidFramework/issues/3429 for details.

The goal here is to remove APIs related to the `existing` state from the codebase, which have been previously marked as deprecated.

[2021-06-03 21:36] vladsud commented on #6207
I think there are couple steps related to this item:
1. First, it makes sense for central code (fetchHelper or likely createOdspNetworkError) to do any kind of common parsing and expose result to all callers in some structured way.
   - I do not know if it's worth it, but we can consider for OdspError type to have facetErrorCode property, such that code referenced above (from connectToDeltaStream)

[2021-06-03 21:37] chensixx commented on #6207
i thought the document is just examples.
With this line ` code = e?.response ? JSON.parse(e?.response)?.error?.code : undefined;`
I imagine that's the structure of the error? but i wasn't sure if each layer (`e`, `response`, `error`) has `.code`

[2021-06-03 21:41] ChumpChief commented on #6191
At a glance, that scenario should probably not be using a counter, and should be using a cell anyway.  The only normal call to increment is guarded behind `haveTaskLock` so it seems to explicitly NOT the want the compounded op application that counter provides.

Also is that reset condition ever met?  I'm looking at `runnerProcess()` and it looks like an unreachable condition?  Maybe I'm missing s

[2021-06-03 21:42] vladsud commented on #6207
It's more like this:

[code]

[2021-06-03 21:43] chensixx commented on #6207
makes sense!

[2021-06-03 22:18] jatgarg commented on #6342
So the observation is that in loaded container, we always have storage. For detached container, the container/runtime, datastores contexts/runtimes never use or make any call to storage. For local channels in detached container, we do read read blobs from storage but we always expect the blobs to be already there in blobs from the snapshot and hence the calls does not make to actual storage and it

[2021-06-03 22:20] jatgarg commented on #6342
So if we like pass a storage service like Blob cache storage service with blobs already present from detached snapshot(draft), and then replace the internal storage service used within BlobCacheStorageService with actual storage on attach, it should just work.

[2021-06-03 22:23] #6344 closed

[2021-06-03 22:24] anthony-murphy commented on #6207
I believe the advice was not to look at a specific point, like first, or last, but instead just search the stack fo the error we are concerned with, as otherwise changes in their inheritence tree can result in breaking us